<% case diagnostic_result %>
  <% when 0..9 %>
    <% if category == Activity::ONLINE_CATEGORY %>
      <span class="ncce-activity-list__item-activity light-blue-bg recommendation">
        <span class="recommendation__title">Our recommendation</span>
        <span class="recommendation__text">You might also like to consider an online course "Teaching Programming in Primary Schools". This will enable you to understand key programming concepts and apply them using Scratch. The course is designed to take four weeks to complete, studying for 2 hour each week. Further information can be found here:</span>
        <span class="recommendation__link"><%= link_to 'Teaching Programming in Primary Schools', 'https://www.futurelearn.com/invitations/ncce/teaching-programming-primary-school/hqlykfbf6h3xsnvl6ejaf5r22tn064g', class: 'ncce-link ncce-link--contrast' %></span>
      </span>
    <% elsif category == Activity::FACE_TO_FACE_CATEGORY %>
      <span class="ncce-activity-list__item-activity light-blue-bg recommendation">
        <span class="recommendation__title">Our recommendation</span>
        <span class="recommendation__text">A great place to start would be to complete the one day "Primary programming and algorithms" course, which will enable you to develop your understanding of programming and algorithms. You will also discover engaging ways to help pupils use computational thinking. Further information can be found here:</span>
        <span class="recommendation__link"><%= link_to 'Primary programming and algorithms', 'https://www.stem.org.uk/cpd/ondemand/445946/primary-programming-and-algorithms', class: 'ncce-link ncce-link--contrast' %></span>
      </span>
    <% end %>
  <% when 10..29 %>
    <% if category == Activity::ONLINE_CATEGORY %>
      <span class="ncce-activity-list__item-activity light-blue-bg recommendation">
        <span class="recommendation__title">Our recommendation</span>
        <span class="recommendation__text">You could consider the online "Programming 101: An Introduction to Python for Educators" course, which will introduce you to text based programming. During this four week programme (two hours per week), you will implement basic programming concepts and learn the basics of creating programs with Python. More information can be found here</span>
        <span class="recommendation__link"><%= link_to 'Programming 101: An Introduction to Python for Educators', 'https://www.futurelearn.com/courses/programming-101', class: 'ncce-link ncce-link--contrast' %></span>
        <span class="recommendation__text">You may also be interested in the "Scratch to Python: Moving from Block to Text based Programming" online course. This course will teach you how to apply the thinking and programming skills you’ve learnt in Scratch to text-based programming languages like Python. The course is designed to take four weeks to complete, studying for 2 hour each week.  Further information can be found here:</span>
        <span class="recommendation__link"><%= link_to 'Scratch to Python: Moving from Block to Text based Programming', 'https://www.futurelearn.com/invitations/ncce/block-to-text-based-programming/jmp6y0jyukvdmht6foid2vswlti1lrv', class: 'ncce-link ncce-link--contrast' %></span>
      </span>
    <% end %>
<% end %>
