<%= render 'pages/certification/hero' %>
<div class="ncce-programmes-activity">
  <div class="govuk-width-container">
    <div class="govuk-main-wrapper govuk-main-wrapper">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h1 class="govuk-heading-m">Well done! You have completed the programme</h1>
          <p class="govuk-body-m">Your activities are just being checked and we'll let you know by email when your certificate has been awarded.</p>
        </div>
      </div>
      <div class="primary-certificate__complete">
        <ul class="govuk-list ncce-activity-list ncce-activity-list--programme" role="list">
          <li class="ncce-activity-list__item ncce-activity-list__item--incomplete">
            <span class="ncce-activity-list__item-text">
              Wait 7 days for us to check all your stuff and then we will award your certificate
            </span>
          </li>
        </ul>
        <%= render 'programmes/primary-certificate/achievement_list_complete' %>
      </div>
    </div>
  </div>
</div>


