<% meta_tag :title, 'Primary certificate - Teach Computing' %>
<% meta_tag :url, request.original_url %>
<%= render 'pages/certification/hero' %>
<div class="ncce-programmes-activity">
  <div class="govuk-width-container">
    <div class="govuk-main-wrapper">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">
          <p class="govuk-body-l">Welcome to the Teach primary computing programme! To complete your primary certificate you’ll need to work through the activities below.</p>
        </div>
      </div>
      <%= render 'programmes/bursary-info' %>
      <%= render 'programmes/primary-certificate/achievement_list' %>
    </div>
  </div>
</div>
