<%= render 'pages/certification/hero' %>
<div class="ncce-programmes-activity">
  <div class="govuk-width-container">
    <div class="govuk-main-wrapper">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">
          <p class="govuk-body-l">Welcome to the Teach primary computing programme! You’ve taken your first step towards becoming a better teacher.</p>
        </div>
      </div>
      <%= render 'programmes/primary-certificate/achievement_list' %>
    </div>
  </div>
</div>
