<% meta_tag :title, t('.page_title') %>
<% meta_tag :url, request.original_url %>

<%= render CmsPageTitleComponent.new(title: "Your Teach primary computing certificate progress") %>

<div class="light-grey-bg">
  <%= render ProgressBarComponent.new(current_user, @programme) %>
  <%= render UserProgrammeCourseBookingsWithAsidesComponent.new(courses: @user_courses, programme: Programme.primary_certificate, aside_slug: "primary-dashboard-cpd-section") %>
</div>
