<% meta_tag :title, t('.page_title') %>
<% meta_tag :url, request.original_url %>

<%= render CmsPageTitleComponent.new(title: "Your Teach primary computing certificate progress") %>

<div class="light-grey-bg">
  <%= render ProgressBarComponent.new(current_user, @programme) %>
  <%= render UserProgrammeCourseBookingsWithAsidesComponent.new(courses: @user_courses, programme: Programme.primary_certificate, aside_slug: "primary-dashboard-cpd-section") %>
  <% @community_groups.each_with_index do |group, index| %>
    <% title = index == 0 ? "Step two: Putting it into practice" : "Step three: Sharing with others" %>
    <%= render PrimaryDashboardProgrammeActivityGroupComponent.new(title:, programme_activity_group: group, community_achievements: @community_achievements,  aside_slug: "primary-dashboard-cpd-section") %>
  <% end %>
</div>
