---
http_interactions:
- request:
    method: post
    uri: https://staging-curriculum.teachcomputing.org/graphql
    body:
      encoding: UTF-8
      string: '{"query":"mutation GraphQL__Client__OperationDefinition_47168049224260
        {\n  addNegativeUnitRating(id: \"63ba977a-0b50-43f5-ae98-5c4bc8c113b5\", userStemAchieverContactNo:
        \"achieverid\") {\n    id\n  }\n}","operationName":"GraphQL__Client__OperationDefinition_47168049224260","variables":{}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"daf795c9ae369c1f6972d4c3c44d1fa0"
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"addNegativeUnitRating":{"id":"b849d81f-3348-47bb-a086-3aa586b8cc3d"}}}'
  recorded_at: Tue, 29 Sep 2020 23:09:10 GMT
recorded_with: VCR 6.0.0
