<div class="sorted-hubs-component__displaying" id="sorted-hubs">
  <div>
    <p class="govuk-body govuk-!-margin-bottom-0">
      <%= t('.displaying_html', location: @formatted_address) %>
    </p>
  </div>
  <div>
    <p class="govuk-body govuk-!-margin-bottom-0">
      <%= link_to t('.clear_link'), hubs_path, class: "ncce-link sorted-hubs-component__clear"  %>
    </p>
  </div>
</div>
<% @sorted_hubs.each do |hub| %>
  <div class="sorted-hubs-component__hub">
    <div class="sorted-hubs-component__distance">
      <p class="govuk-body-s sorted-hubs-component__distance-text">
        <%= t('.hub_distance_html', distance: hub.distance.round(1)) %>
      </p>
    </div>
    <div>
      <%= render HubComponent.new(hub: hub) %>
    </div>
  </div>
<% end %>
