<ul class="govuk-list ncce-activity-list ncce-activity-list--programme" role="list">
  <li class="list__item">
    <span class="list__item-text">Take the diagnostic to find out where you need support</span>
		<span class="list__item-button"><%= link_to 'Take the diagnostic', cs_accelerator_diagnostic_path(Activity.cs_accelerator_diagnostic_tool.id), class: 'govuk-button button button--small' %></span>
  </li>
  <li class="list__item">
    <span class="list__item-text">Complete an online or a face to face course</span>
  </li>
  <li class="list__item">
    <span class="list__item-text">Complete a face to face course</span>
  </li>
  <li class="list__item">
    <span class="list__item-text">Pass the test</span>
  </li>

</ul>
<h2 class="govuk-heading-s">Complete all of the following activities:</h2>
<%= render 'cs_changes/achievements' %>
<%= render 'cs_changes/exam' %>