  <div class="ncce-csa-dash__objective">
    <div class="dash-badge-component">
      <%= image_tag badge_image_url, class: 'dash-badge-component__badge', alt: '' %>
      <p class="govuk-body-s dash-badge-component__content">
        <%= t('dash_badge_component.congratulations.html', badge_link: (link_to t('dash_badge_component.link.text'), badge_url, class: 'ncce-link')) %>
      </p>
    </div>
  </div>
