.dash-badge-component {
  align-items: center;
  border: 10px solid $foam;
  display: flex;
  flex-direction: column;

  @include govuk-media-query($from: tablet) {
    flex-direction: row;
  }

  &.i-belong {
    border: none;
  }
}

.dash-badge-component-fixed-width {
  margin-left: 10%;

  @include govuk-media-query($from: desktop) {
    margin-left: 3.5%;
    width: 54.5%;
  }
}

.dash-badge-component__badge {
  margin: 10px;
  max-height: 112px;
  max-width: 112px;
}

.dash-badge-component__content {
  margin: 15px;

  @include govuk-media-query($from: tablet) {
    margin: 0 22px;
  }
}

