.hub-search-component {
  align-items: flex-start;
  background-color: $concrete;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 14px 16px;

  @include govuk-media-query($from: desktop) {
    align-items: flex-end;
    flex-direction: row;
    padding: 14px 20px 18px 20px;
  }
}

.hub-search-component__inputs {
  margin-right: 20px;
  width: 100%;
}

.hub-search-component__textfield {
  margin-bottom: 12px;

  @include govuk-media-query($from: desktop) {
    margin-bottom: 0;
  }
}

.hub-search-component__label {
  display: inline-block;
  line-height: 1.2rem;
  margin-bottom: 10px;

  @include govuk-media-query($from: desktop) {
    margin-bottom: 12px;
  }

}

.hub-search-component__button {
  padding: 0.6rem 1rem;
  margin-bottom: 0;
}
