<%= form_with url: hubs_path(anchor: 'sorted-hubs'), method: :get, class: 'govuk-!-margin-bottom-3', id: 'hub-location-form', local: true do %>
  <div class="hub-search-component">
    <div class="hub-search-component__inputs">
      <%= label_tag :location, t('.search_label'), class: 'govuk-body-s ncce-label hub-search-component__label' %>
      <%= text_field_tag :location, @location, placeholder: t('.placeholder'), class: 'govuk-input ncce-search-input hub-search-component__textfield' %>
    </div>
    <div>
      <%= submit_tag t('.button_text'), class: 'govuk-button button button--inline hub-search-component__button', data: { disable_with: false } %>
    </div>
  </div>
<% end %>
