<div class="ncce-dashboard-activity">
  <div class="govuk-width-container">
    <div class="govuk-main-wrapper">
      <h2 class="govuk-heading-m">Your activity</h2>
      <ul class="govuk-list ncce-activity-list" role="list">
        <% @achievements.each do |achievement| %>
          <li class="ncce-activity-list__item ">
            <span class="screen-reader-only">Completed:</span>
            <span class="ncce-activity-list__item-text"> <%= achievement.activity.title %> </span>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
