<div class="ncce-dashboard-courses">
  <div class="govuk-width-container">
    <div class="govuk-main-wrapper">
      <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
              <h2 class="govuk-heading-s">Interested in teaching Computer Science at GCSE level?</h2>
              <p class="govuk-body">If you don’t have a computing qualification, you may be eligible for a bursary towards your training.
              <span class="govuk-body"><%= link_to 'Check your bursary availability', bursary_path, class: 'ncce-link' %></span>
              </p>
              <h2 class="govuk-heading-s">Need help find a suitable course?</h2>
              <p class="govuk-body">If you need help finding a course tha t's suitable for you,
              use our diagnostic tool to identify the areas of subject knowledge
              where you need most support.
              </p>
              <p class="govuk-body-s"><%= link_to 'Use the diagnostic tool', cs_accelerator_diagnostic_path(Activity.cs_accelerator_diagnostic_tool.id), class: 'govuk-button button--aside', role: 'button', draggable: 'false', target: :_blank %></p>
            </div>
            <div class="govuk-grid-column-one-third">
              <img src="/images/dashboard/questions.png" alt="Three question marks" class="ncce-dashboard__image"/>
            </div>
        </div>
    </div>
  </div>
</div>
