<div class="ncce-dashboard-activity">
  <div class="govuk-width-container">
    <div class="govuk-main-wrapper">
      <h2 class="govuk-heading-m">Your courses</h2>
        <% if @achievements.size.positive? %>
          <ul class="govuk-list ncce-activity-list" role="list">
            <% @achievements.each do |achievement| %>
              <li class="ncce-activity-list__item ncce-activity-list__item--dashboard">
                <span class="screen-reader-only">Completed:</span>
                <span class="ncce-activity-list__item-text"> <%= link_to achievement.activity.title, '/', class: 'govuk-link ncce-link' %></span>
								<span class="ncce-activity-list__item--dashboard-tags">
									<span class="ncce-activity-list__item--dashboard-tags--course">Label</span>
									<span class="govuk-body-s ncce-activity-list__item--dashboard-tags-date">Completed on: Date</span>
								</span>
              </li>
            <% end %>
          </ul>
        <% else %>
          <p class="govuk-body">When you have completed an online or face to face course they will appear here.</p>
          <%= link_to 'Find a course', courses_path, class: 'govuk-button button' %>
        <% end %>
    </div>
  </div>
</div>
