<div class="ncce-dashboard-enroll">
  <div class="govuk-width-container">
    <div class="govuk-main-wrapper">
      <div class="govuk-grid-row ncce-">
          <div class="govuk-grid-column-two-thirds ncce-dashboard-enroll__icon">
            <p class="govuk-body">Get your National Centre for Computing Education certificate in</p>
            <h2 class="govuk-heading-m">GCSE computer science subject knowledge</h2>
            <p class="govuk-body-s">Certification Awarded by BCS, The Chartered Institute for IT and accredited by Royal Academy of Engineering.</p>
          </div>
          <div class="govuk-grid-column-one-third">
            <%= link_to 'Find out more & enroll', '#', class: 'govuk-button ncce-button__pink', role: 'button', draggable: 'false' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
