<% if current_user && programme.user_enrolled?(current_user) %>
  <% case  current_user.programme_enrolment_state(programme.id) %>
    <% when 'enrolled' %>
      <span class="govuk-body-m status-block">You are enrolled</span>
    <% when 'pending' %>
      <span class="govuk-body-m status-block-light">Programme complete</span>
    <% when 'complete' %>
      <span class="govuk-body-m status-block-light status-block__icon">Certificate awarded</span>
    <% end %>
<% else %>
	<span class="govuk-body-m status-block-light">Not enrolled</span>
<% end %>
