---
http_interactions:
- request:
    method: post
    uri: https://staging-curriculum.teachcomputing.org/graphql
    body:
      encoding: UTF-8
      string: '{"query":"mutation GraphQL__Client__OperationDefinition_47168049691640
        {\n  updateRating(id: \"10e4b009-ede5-4a49-98d9-4dad4326e739\", comment: \"This
        is a test\") {\n    __typename\n  }\n}","operationName":"GraphQL__Client__OperationDefinition_47168049691640","variables":{}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"6236cf3fa2afd0b31d6226737d627909"
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"updateRating":{"__typename":"Rating"}}}'
  recorded_at: Tue, 29 Sep 2020 23:09:10 GMT
recorded_with: VCR 6.0.0
