.numbered-points {
  list-style: none;
  counter-reset: numbered-points-counter;
  padding-left: 40px;
  
  li{
    counter-increment: numbered-points-counter;
    position: relative;
    margin-bottom: 15px;
    padding-left: 15px
  }

  li::before {
    content: counter(numbered-points-counter);
    font-family: $font-family-body;
    background: $purple;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    display: inline-block;
    line-height: 2rem;
    color: white;
    text-align: center;
    margin-right: 15px;
    position: absolute;
    left: -2.5rem;
    top: calc(50% - 1rem);
  }
}