$alto: #d8d8d8;
$aluminum: #979797;
$amour: #f7e0f1;
$black: #000000;
$blue-light: #acdad8;
$blue: #4c43c5;
$box-shadow: rgba(0, 0, 0, 0.1);
$concrete: #F5F5F5;
$deep-cerulean: #007fa2;
$hyper-link-blue: #1D70B8;
$dixie: #e7a615;
$egg-white: #ffeec3;
$foam: #DDFEFF;
$grey-dark-x: #130019;
$grey-storm: #554759;
$grey-x-light: #e3e2f3;
$grey: #e0e0e0;
$grey-light: #dddddd;
$grey-mid: #cccccc;
$hero-goldenrod: #fad160;
$hero-terracotta: #e67d6e;
$jaffa: #f47c31;
$karry: #ffe7d2;
$lavender-light: #e6e5f3;
$lilly-white: #ebebeb;
$light-blue: #E4F8FF;
$mid-gray: #5c5d6d;
$pink: #de01a5;
$purple-dark: #120540;
$purple: #1C0F5F;
$scarpa-flow: #575868;
$tapestry: #a94e91;
$white: #ffffff;
$isaac: #FFC000;
$ncce-grey: #F0F5F4;
$lime-green: #59FF69;
$green: #4FA88B;
$orange: #FF8300;
$red: #ea3345;
$ncce-highlight: #F8F8F8;
$brand-yellow: #ffc000;
$light-green: #8BFF96;

$govuk-text-colour: $grey-dark-x;
$govuk-button-text-colour: $grey-dark-x;

$plain-hero-color: $concrete;
$action-color: $hyper-link-blue;
$primary-cert-color: $lime-green;
$secondary-cert-color: $lime-green;
$primary-cert-color: $lime-green;
$a-level-color: $lime-green;
$i-belong-cert-color: $orange;

.deep-cerulean-bg {
  background-color: $deep-cerulean;
}
.dixie-bg {
  background-color: $dixie;
}

.hero--dixie-bg {
  background-color: $dixie !important;
}

.hero--green-bg {
  background-color: $green !important;
}

.orange-bg {
  background-color: $orange;
}

.jaffa-bg {
  background-color: $jaffa;
}

.hero--jaffa-bg {
  background-color: $jaffa !important;
}

.hero--orange-bg {
  background-color: $orange !important;
}

.light-blue-bg {
  background-color: $foam;
}

.border-blue {
  border: 3px solid $hyper-link-blue;
}

.border-green {
  border: 3px solid $lime-green;
}

.light-grey-bg {
  background-color: $ncce-grey;
}

.purple-bg {
  background-color: $purple-dark;
  color: $white;
}

.lime-green-bg {
  background-color: $lime-green;
}


.tapestry-bg {
  background-color: $tapestry;
}

.isaac-bg {
  background-color: $isaac;
}

.tapestry-fg {
  color: $tapestry;
}

.white-bg {
  background-color: $white;
}

.foam-bg {
  background-color: $foam;
}

.lime-green-bg {
  background-color: $lime-green;
}

.choices-bg {
  background-color: $light-blue;
}

@mixin status_block() {
  background-color: $purple;
  color: $white;
  font-weight: bold;
  padding: 2px 12px;
  width: fit-content;
}

@mixin status_block_light() {
  @extend .status-block;
  background-color: $white;
  color: $grey-dark-x;
}
