.ncce-link,
a[class=''],
a:not([class]) {
  font-family: $font-family-body;

  &:link,
  &:visited {
    color: $hyper-link-blue;
  }
  &:hover {
    color: $grey-dark-x;
  }
  &:focus {
    background-color: transparent;
    color: $grey-dark-x;
  }
  &:active {
    background-color: transparent;
    color: $grey-dark-x;
  }


}

.ncce-link--on-dark {
  &:link {
    color: $white;
  }
  &:visited {
    color: $white;
  }
  &:hover {
    color: $white;
  }
  &:focus {
    color: $white;
    box-shadow: 0 -2px $brand-yellow, 0 2px $brand-yellow;
  }
  &:active {
    color: $ncce-grey;
  }
}

.purple-bg {
  .ncce-link {
    &:link {
      color: $white;
    }
    &:visited {
      color: $white;
    }
    &:hover {
      color: $white;
    }
    &:focus {
      color: $white;
      box-shadow: 0 -2px $brand-yellow, 0 2px $brand-yellow;
    }
    &:active {
      color: $ncce-grey;
    }
  }
}

.white-bg {
  .ncce-link {
    &:link,
    &:visited {
      color: $hyper-link-blue;
    }
    &:hover {
      color: $grey-dark-x;
    }
    &:focus {
      background-color: transparent;
      color: $grey-dark-x;
    }
    &:active {
      background-color: transparent;
      color: $grey-dark-x;
    }
  }
}

.ncce-link__icon {
  height: 30px;
  margin-right: 10px;
  vertical-align: middle;
  width: 30px;
  &--footer {
    height: 20px;
    width: 20px;
  }
}

.ncce-link--heading {
  font-family: $font-family-heading;
  font-weight: 500;
}

.ncce-link--emph {
  font-weight: 700;
}

.ncce-link--small {
  font-size: 14px;

  @include govuk-media-query($from: tablet) {
    font-size: 16px;
  }
}
