.govuk-heading-m,
.govuk-heading-l,
.govuk-heading-xl,
.heading-generic {
  color: $grey-dark-x;
  font-family: $font-family-heading;
  font-weight: 500;
}

.purple-bg {
  .govuk-heading-s,
  .govuk-heading-m,
  .govuk-heading-l,
  .govuk-heading-xl,
  .heading-generic,
  .govuk-body {
    color: $white;
  }
}

.govuk-heading-s {
  color: $grey-dark-x;
  font-family: $font-family-body;
  font-weight: 500;
}

.govuk-heading-s--objectivity {
  font-family: $font-family-heading;
  font-weight: 400;
}

.govuk-heading-xs {
  color: $grey-dark-x;
  font-family: $font-family-body;
  font-weight: 700;
  font-size: 16px;
}

.govuk-body {
  line-height: 1.45;
}
.govuk-body,
.govuk-body-s,
.govuk-body-m,
.govuk-body-l {
  color: $grey-storm;
}

.govuk-list--ncce li {
  margin-bottom: 12px;

  &:last-child {
    margin-bottom: 0;
  }
}

.screen-reader-only {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.ncce-inside-list {
  list-style: none;
  list-style-position: inside;
  padding-left: 0;

  li::before {
    background: $grey-dark-x;
    border-radius: 50%;
    bottom: 4px;
    content: ' ';
    display: inline-block;
    height: 4px;
    margin-right: 2px;
    position: relative;
    width: 4px;
  }
}
