<% presenters[:activities].each do |presenter| %>
  <%= render 'certificates/pathways/community_achievement', presenter: presenter %>
<% end %>
<% if presenters[:hidden_activities].present? %>
  <div data-controller='expander'>
    <li class="ncce-activity-list__item ncce-activity-list__item--no-gap">
      <p class="govuk-body govuk-!-margin-bottom-0">
          <button data-action="expander#toggleAll"
                  data-expander-target="expanderButton"
                  aria-expanded="true"
                  class="govuk-body expander__button"
                  data-event-action="click"
                  data-event-label="Show additional courses"
                  data-event-category="CSA enrolled">
              <strong><%= t('.hidden_activity_title') %></strong>
          </button>
      </p>
    </li>
    <div data-expander-target="expander" class="expander">
      <% presenters[:hidden_activities].each do |presenter| %>
        <%= render 'certificates/pathways/community_achievement', presenter: presenter %>
      <% end %>
    </div>
  </div>
<% end %>
