<div class="hero">
  <div class="govuk-width-container">
    <div class="govuk-main-wrapper hero__wrapper">
      <div class="text-certificate-hero__wrapper">
        <div class="text-certificate-hero__area--text">
          <h1 class="govuk-heading-l"><%= @pathway.title %></h1>
          <p class="govuk-body hero__text">Certificate awarded by BCS, The Chartered Institute for IT</p>
        </div>
      </div>
    </div>
  </div>
</div>

