<div class='recommended-courses-wrapper'>
  <% if pathway.present? %>
    <div data-controller='expander'>
      <p class="govuk-!-margin-top-0">
          <button data-action="expander#toggleAll"
                  data-expander-target="expanderButton"
                  start-expanded="true"
                  aria-expanded="true"
                  class="govuk-body expander__button recommended-courses-wrapper_expander-button"
                  data-event-action="click"
                  data-event-label="Show additional courses"
                  data-event-category="CSA enrolled">
              <strong><%= defined?(title) ? title : t('.courses_intro.html') %></strong>
          </button>
      </p>

      <div data-expander-target="expander" class="expander">
        <% recommended_activities.each do |pa| %>
          <%= render CpdCourseComponent.new(current_user: @current_user, programme_activity: pa) %>
        <% end %>
        <p class='govuk-body govuk-!-margin-top-4 govuk-!-margin-bottom-0'><%= t('.other_formats') %></p>
      </div>
    </div>
  <% end %>

  <div class="ncce-pathway-courses__buttons">
    <%= link_to t('.all_courses_button'),
      courses_path(certificate: @programme.slug), class: 'govuk-button button--inverted button govuk-!-margin-bottom-0',
      data: { event_action: 'click', event_category: event_category, event_label: 'View all certificate courses' } %>
  </div>
</div>
