<div data-controller='expander' class="ncce-csa-dash__section ncce-csa-dash__section-padded">
  <p class="govuk-body supplementary-courses__header">Want to go the extra mile?
      <button data-action="expander#toggleAll"
              data-expander-target="expanderButton"
              aria-expanded="true"
              class="govuk-body expander__button"
              data-event-action="click"
              data-event-label="Show additional courses"
              data-event-category="CSA enrolled">
          View <strong>additional courses</strong>
      </button>
  </p>

  <div data-expander-target="expander" class="expander">
    <% supplementary_activities.each do |sa| %>
      <div class="ncce-pathway-courses__course supplementary-courses__course">
        <p class="ncce-pathway-courses__link">
          <%= link_to sa.title, course_path(id: sa.stem_activity_code, name: sa.slug), class: 'ncce-link' %>
        </p>

        <div class="ncce-flex__space-between">
          <p class="ncce-pathway-courses__location <%= activity_icon_class(sa) %> govuk-!-margin-top-0">
            <%= activity_type(sa) %>
          </p>

          <% if @current_user.achievements.find_by_activity_id(sa.activity_id) %>
            <strong class="govuk-tag ncce-pathway-courses__status ncce-courses__tag">
              <%= @current_user.achievements.find_by_activity_id(sa.activity_id).complete? ? 'Completed' : 'In progress' %>
            </strong>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
