<div class='mailer__content'>
  <p class='govuk-body'>Dear <%= @user.first_name %>,</p>
  <p class='govuk-body'>Congratulations! We are delighted to confirm that you can take the final test</p>
</div>
