<div class='mailer__content'>
  <p class='govuk-body'>Dear <%= @user.first_name %>,</p>
  <p class='govuk-body'>We are delighted to confirm that you have achieved the National Centre for Computing Education certificate in GCSE computer science subject knowledge.</p>
  <p class='govuk-body'><%= link_to 'Get your certificate', programme_certificate_url(slug: @programme.slug), class: 'govuk-button button' %></p>
  <p class='govuk-body'>You can also download a copy of your certificate from your dashboard on <%= link_to "teachcomputing.org", cs_accelerator_url %>.</p>
  <p class='govuk-body'>Congratulations on your achievement and please contact <%= mail_to 'info@teachcomputing.org', 'info@teachcomputing.org', class: 'ncce-link' %>  if you have any questions.
</div>
