<div class='mailer__content'>
  <p class='govuk-body'>Dear <%= @user.first_name %>,</p>
  <p class='govuk-body'><strong>Congratulations on passing your test!</strong></p>
  <p class='govuk-body'>You've achieved your national qualification in GCSE computer science subject knowledge.</p>
  <p class='govuk-body'>Continue your journey by logging in to get your certificate, share your success and continue your professional development.</p>
  <p class='govuk-body'><%= link_to 'Log in now', certificate_cs_accelerator_certificate_url, class: 'govuk-button button' %></p>
  <p class='govuk-body'>Any questions?</p>
  <p class='govuk-body'>Please contact <%= mail_to 'info@teachcomputing.org', 'info@teachcomputing.org', class: 'ncce-link' %>.</p>
</div>
