<div class='mailer__content'>
  <p class='govuk-body'>Dear <%= @user.first_name %>,</p>
  <p class='govuk-body'><strong>Congratulations on passing your test!</strong></p>
  <p class='govuk-body'>You've achieved your accredited certificate in Key stage 3 and 4 computer science subject knowledge.</p>
  <p class='govuk-body'>Continue your journey by logging in to get your certificate and discover next steps for your professional development. </p>
  <p class='govuk-body'><%= link_to 'Log in now', certificate_cs_accelerator_certificate_url, class: 'govuk-button button' %></p>
  <p class="govuk-body">Share your achievement with friends and colleagues by adding your new digital badge to your social media and email.</p>
  <p class='govuk-body'>Take your development further by enrolling and/or progressing through our <%= link_to 'Teach secondary computing certificate', secondary_certificate_url, class: 'ncce-link' %>, showing your continuous commitment to teaching this key subject.
  <p class='govuk-body'>Any questions?</p>
  <p class='govuk-body'>Please contact <%= mail_to 'info@teachcomputing.org', 'info@teachcomputing.org', class: 'ncce-link' %>.</p>
</div>
