<div class='mailer__content'>
  <p class='govuk-body'>Welcome <%= @user.first_name %>, we are delighted to have you on board!</p>

  <p class='govuk-body'>You've successfully enrolled on our Key Stage 3 and GCSE Computer Science subject knowledge certificate, and we look forward to guiding you on your journey to achieving this nationally recognised accreditation. This certificate is awarded by BCS, The Chartered Institute for IT.</p>

  <p class='govuk-body'>Now you're enrolled on the programme, you'll find all of the resources and support you need on your <%= link_to 'personal dashboard', dashboard_url, class: 'ncce-link' %>, including our <%= link_to 'handbook', gcse_and_ks3_handbook_url, class: 'ncce-link' %>, which will walk you through what to expect as you progress.</p>

  <p class='govuk-body'><strong>Next steps...</strong></p>
  <ol class="govuk-list govuk-list--number">
    <li>Complete our short questionnaire to assess your confidence and subject knowledge</li>
    <li>Explore your personalised dashboard which shows you the learning pathway and courses we recommend you take</li>
    <li>Complete a minimum of ten hours of CPD</li>
    <li>Use our mock test to check what you've learnt</li>
    <li>When you're ready, take and pass the test to receive your certificate</li>
  </ol>

  <p class='govuk-body'>
    <%= link_to 'Explore your dashboard', cs_accelerator_certificate_url, class: 'govuk-button button' %>
  </p>

</div>
