<div class='mailer__content'>
  <p class='govuk-body'>Dear <%= @user.first_name %>,</p>

  <p class='govuk-body'>Thank you for participating in our CPD and choosing to
    start your learning journey with Teach Computing. We just wanted to let you
    know that in doing so, you have already taken a big step towards achieving
    our national training certificate in GCSE computer science.</p>

  <p class='govuk-body'><strong>About the Computer Science Accelerator
      Programme</strong></p>

  <p class='govuk-body'>This programme will help you to develop the subject
    knowledge to teach this high demand subject across the curriculum. Tailor
    your training to suit your level of experience, choosing from a wide
    range of online and live remote courses.</p>

  <p class='govuk-body'>
    <%= link_to 'Browse our courses', courses_url(certificate: @programme.slug), class: 'govuk-button button' %>
  </p>


  <p class='govuk-body'>
    Join the programme for free today and receive immediate access to your own
    personal dashboard, enabling you to track your progress towards completing
    the programme.
  </p>

  <p class='govuk-body'>
    <%= link_to 'Get started', cs_accelerator_url, class: 'govuk-button button' %>
  </p>

  <p class='govuk-body'><strong>Need more information?</strong></p>

  <p class='govuk-body'>If you would like more information about the programme
    or your next steps, contact our
    <%= mail_to 'CSChampionSupport@stem.org.uk', 'Computer Science Champions', class: 'ncce-link' %>
    for guidance and support.
  </p>
</div>
