<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <div class="govuk-body bursary-info__item">
            <p class="bursary-info__item-text">You may be eligible for a bursary to support your training if you are a primary teacher in a state-funded school in England
            </p>
            <p class="bursary-info__item-text-activity"><%= link_to 'Find out more', bursary_path, class: 'ncce-link ncce-link--contrast', role: 'button', draggable: 'false' %></p>
        </div>
    </div>
</div>
