<div class="certification-hero">
  <div class="govuk-width-container">
    <div class="govuk-main-wrapper certification-hero__wrapper">
      <h1 class="govuk-heading-l underlined__title underlined__title--certificate-complete">Congratulations!</h1>
      <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-quarter">
            <img src="/images/notepad.svg" alt="" class="certification-hero__image certification-hero__image--tablet"/>
          </div>
          <div class="govuk-grid-column-three-quarters">
            <p class="govuk-body-m govuk-!-font-weight-bold certification-hero__text">You have completed the National Centre for Computing Education certificate in</p>
            <h2 class="govuk-heading-m certification-hero__text"><%= @programme.title %></h2>
            <img src="/images/notepad.svg" alt="" class="certification-hero__image certification-hero__image--mobile"/>
            <p class="govuk-body-s certification-hero__text">Certification Awarded by BCS, The Chartered Institute for IT and acredited by Royal Academy of Engineering.</h2>
            <p class="govuk-body">
              <%= link_to 'View your certificate', programme_certificate_path('cs-accelerator'), class: 'govuk-button ncce-button__pink', role: 'button', draggable: 'false' %>
            </p>
          </div>
      </div>
    </div>
  </div>
</div>
<div class="govuk-width-container">
  <div class="govuk-main-wrapper govuk-main-wrapper--xl">
    <p class="govuk-body">Some text here, explaining Alumni benefits, Alumni next steps</p>
    <p class="govuk-body">NCCE next steps</p>
    <p class="govuk-body">Please excuse the latin:</p>
    <p class="govuk-body"> Minions ipsum tatata bala tu jiji potatoooo potatoooo uuuhhh jiji hahaha tulaliloo. Hana dul sae tulaliloo bee do bee do bee do butt la bodaaa butt wiiiii poopayee. Ti aamoo! chasy baboiii ti aamoo! Poopayee wiiiii para tú baboiii jiji belloo! Jeje. Aaaaaah gelatooo pepete chasy belloo! Tulaliloo. Chasy baboiii baboiii hana dul sae hahaha gelatooo pepete wiiiii hana dul sae belloo! Poulet tikka masala aaaaaah ti aamoo! Wiiiii ti aamoo! Tank yuuu! Bee do bee do bee do daa me want bananaaa! Gelatooo tank yuuu! Bee do bee do bee do wiiiii jiji.</p>
    <p class="govuk-body">  Gelatooo aaaaaah tatata bala tu poulet tikka masala. Hahaha jiji bee do bee do bee do daa hahaha hana dul sae po kass gelatooo. Butt bappleees jiji tank yuuu! Underweaaar po kass daa hahaha. Hahaha potatoooo la bodaaa chasy hahaha uuuhhh underweaaar poopayee butt. Poulet tikka masala bee do bee do bee do chasy poopayee wiiiii uuuhhh belloo! Tank yuuu! Tank yuuu! Underweaaar. Para tú para tú me want bananaaa! Tulaliloo poopayee poulet tikka masala. Poulet tikka masala wiiiii para tú pepete.</p>
    <p class="govuk-body">Aaaaaah tulaliloo hana dul sae hahaha daa poopayee. Bappleees belloo! La bodaaa bananaaaa tank yuuu! Hahaha. Jiji butt poulet tikka masala potatoooo poopayee bee do bee do bee do hahaha jeje daa hahaha. Bee do bee do bee do gelatooo poopayee tulaliloo po kass. Tank yuuu! bananaaaa tatata bala tu daa hana dul sae ti aamoo! Para tú uuuhhh. Jiji daa tulaliloo bee do bee do bee do poopayee la bodaaa. Bananaaaa underweaaar la bodaaa poopayee bee do bee do bee do poulet tikka masala.</p>
  </div>
</div>
