<div class="certification-hero">
  <div class="govuk-width-container">
    <div class="govuk-main-wrapper certification-hero__wrapper">
      <h1 class="govuk-heading-l underlined__title underlined__title--certificate-complete">Congratulations!</h1>
      <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-quarter">
            <img src="/images/notepad.svg" alt="" class="certification-hero__image certification-hero__image--tablet"/>
          </div>
          <div class="govuk-grid-column-three-quarters">
            <p class="govuk-body-m govuk-!-font-weight-bold certification-hero__text">You have completed the National Centre for Computing Education certificate in</p>
            <h2 class="govuk-heading-m certification-hero__text"><%= @programme.title %></h2>
            <img src="/images/notepad.svg" alt="" class="certification-hero__image certification-hero__image--mobile"/>
            <p class="govuk-body-s certification-hero__text">Certification Awarded by BCS, The Chartered Institute for IT and acredited by Royal Academy of Engineering</p>
            <p class="govuk-body">
              <%= link_to 'View your certificate', '#', class: 'govuk-button ncce-button__pink', role: 'button', draggable: 'false' %>
            </p>
          </div>
      </div>
    </div>
  </div>
</div>
<div class="govuk-width-container">
  <div class="govuk-main-wrapper govuk-main-wrapper--xl">
    <h1 class="govuk-heading-m">Your next steps:</h1>
    <h2 class="govuk-heading-s">Certification</h2>
    <p class="govuk-body">You have the option to download your GCSE subject knowledge certificate, or, if you would like to receive a hard-copy version, please <%= mail_to 'info@teachcomputing.org', 'contact us' %> to arrange the awarding of your certificate at a local CAS Community of Practice meeting.</p>
    <h2 class="govuk-heading-s">Next steps</h2>
    <p class="govuk-body">Once you’ve successfully completed the Computer Science Accelerator Programme, you will be able to participate for free in our four day face-to-face course, Outstanding teaching of GCSE Computer Science. This course counts towards the National Centre for Computing Education secondary certificate, which is coming soon.</p>
    <h2 class="govuk-heading-s">Tell us what you think</h2>
    <p class="govuk-body">We hope that you have enjoyed learning with us and that this is having a positive impact on your teaching. To make this programme as useful as possible, we would love to hear <%= mail_to 'info@teachcomputing.org', 'your feedback' %>!</p>
  </div>
</div>
