<div class="govuk-width-container">
  <div class="govuk-main-wrapper">
    <%# Render partial in here %>
    <h1 class="govuk-heading-l"><%= @programme.title %></h1>
    <%# End Render partial in here %>

  </div>
</div>
<%= render "programmes/#{@programme.slug}" %>
