<div class="light-grey-bg">
  <div class="govuk-width-container">
		 <div class="govuk-main-wrapper ncce-announcement_wrapper">
				<div class="ncce-announcement__container">
					<span class="govuk-tag ncce-courses__tag ncce-announcement__tag">ANNOUNCEMENT</span>
					<div class="ncce-announcement__copy">
						<p class="govuk-body govuk-!-margin-bottom-0"></p>
					</div>
    		</div>
		</div>
  </div>
</div>
