<aside class="govuk-phase-banner ncce-announcement__container">
  <div class="govuk-width-container">
    <p class="govuk-phase-banner__content"><strong class="govuk-tag govuk-phase-banner__content__tag ">
  Announcement
  </strong>
      <span class="govuk-phase-banner__text">
        Face to face courses are cancelled due to concerns related to coronavirus. Find out more here.
      </span>
    </p>
  </div>
</aside>
