<div class="govuk-phase-banner ncce-feedback">
  <p class="govuk-phase-banner__content ncce-feedback__content"><strong class="govuk-tag govuk-phase-banner__content__tag ">
  Beta
</strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your
      <a class="govuk-link ncce-fedback__link" href="mailto:info@teachcomputing.org">feedback</a> will help us to improve it.
    </span>
  </p>
</div>
