<footer class="govuk-footer ncce-footer" role="contentinfo">
  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-half">
        <h3 class="govuk-heading-m govuk-!-width-two-thirds ncce-footer__heading">National Centre for Computing Education</h3>
      </div>
      <div class="govuk-grid-column-one-half ncce-footer__links">
        <ul class="govuk-footer__list ncce-footer__list">
          <li class="govuk-footer__list-item">
            <a class="govuk-footer__link ncce-link__on-dark" href="#1">
              Jobs
            </a>
          </li>
        </ul>
        <ul class="govuk-footer__list">
          <li class="govuk-footer__list-item">
            <a class="govuk-footer__link ncce-link__on-dark" href="mailto:info@teachcomputing.org" target="_top">
              Contact
            </a>
          </li>
          <li class="govuk-footer__list-item">
            <a class="govuk-footer__link ncce-link__on-dark" href="/privacy.html">
              Privacy
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
