<footer class="govuk-footer ncce-footer" role="contentinfo">
  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h3 class="govuk-heading-m govuk-!-width-one-half ncce-footer__heading">National Centre for Computing Education</h3>
      </div>
      <div class="ncce-footer__links">
        <ul class="govuk-footer__inline-list">
          <li class="govuk-footer__inline-list-item">
            <a class="govuk-footer__link ncce-footer__list--link" href="#">
              Jobs
            </a>
          </li>
          <li class="govuk-footer__inline-list-item">
            <a class="govuk-footer__link ncce-footer__list--link" href="mailto:info@teachcomputing.org" target="_top">
              Contact
            </a>
          </li>
          <li class="govuk-footer__inline-list-item ncce-footer__list--item">
            <a class="govuk-footer__link ncce-footer__list--link" href="#">
              Privacy
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
