<footer class="govuk-footer ncce-footer" role="contentinfo">
  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-half">
        <h3 class="govuk-heading-s ncce-footer__heading">
          <a href="/" class="govuk-footer__link ncce-footer__link--homepage">National Centre for<br>Computing Education</a>
        </h3>
      </div>
      <div class="govuk-grid-column-one-half ncce-footer__links">
        <ul class="govuk-footer__inline-list ncce-footer__nav">
          <li class="govuk-footer__inline-list-item">
            <a class="govuk-footer__link ncce-link__on-dark" href="/about">
              About Us
            </a>
          </li>
          <li class="govuk-footer__inline-list-item">
            <a class="govuk-footer__link ncce-link__on-dark" href="mailto:info@teachcomputing.org" target="_top">
              Contact
            </a>
          </li>
          <li class="govuk-footer__inline-list-item ncce-footer__list--item">
            <a class="govuk-footer__link ncce-link__on-dark" href="/privacy">
              Privacy
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
