<div class="light-grey-bg">
  <div class="govuk-width-container">
		 <div class="govuk-main-wrapper ncce-notice_wrapper">
				<div class="ncce-notice__container">
					<span class="govuk-tag ncce-courses__tag ncce-notice__tag">ANNOUNCEMENT</span>
					<div class="ncce-notice__copy">
						<h2 class="govuk-heading-s">We have adapted our programmes to enable you to participate from home:</h2>
						<ul class="govuk-body govuk-list govuk-list--bullet">
							<li><%= link_to 'Access CPD:', courses_path, class: 'ncce-link' %>live remote and online courses for teaching Key Stages 1-4.</li>
              <li><%= link_to 'Discover home teaching:', '/home-teaching/', class: 'ncce-link' %> a timetable of high-quality, free, computing activities for students of all ages.</li>
            	<li><%= link_to 'Explore home learning:', 'https://blog.teachcomputing.org/computing-resources-for-home-learning/', class: 'ncce-link' %> a collection of resources to educate and support young people.</li>
          	</ul>
					</div>
    		</div>
		</div>
  </div>
</div>
