<div class="light-grey-bg">
  <div class="govuk-width-container">
		 <div class="govuk-main-wrapper ncce-notice_wrapper">
				<div class="ncce-notice__container">
					<span class="govuk-tag ncce-courses__tag ncce-notice__tag">ANNOUNCEMENT</span>
					<div class="ncce-notice__copy">
						<p class="govuk-body"><strong>COVID-19 restrictions:</strong> Current restrictions mean most face-to-face course bookings are on hold until further notice. Our <%= link_to 'wide range of remote and online courses', 'https://teachcomputing.org/courses', class: 'ncce-link' %> are not impacted by these restrictions. You can also visit <%= link_to 'our home teaching page', 'https://teachcomputing.org/home-teaching', class: 'ncce-link' %> to see an extensive list of free, high quality materials for teachers and parents.</p>
					</div>
    		</div>
		</div>
  </div>
</div>
