<div class="light-grey-bg">
  <div class="govuk-width-container">
		 <div class="govuk-main-wrapper ncce-notice_wrapper">
				<div class="ncce-notice__container">
					<span class="govuk-tag ncce-courses__tag ncce-notice__tag">ANNOUNCEMENT</span>
					<div class="ncce-notice__copy">
						<h2 class="govuk-heading-s">We have adapted our programmes to enable you to participate from home:</h2>
						<ul class="govuk-body govuk-list govuk-list--bullet">
							<li>Explore <%= link_to 'live remote training and online courses', courses_path, class: 'ncce-link' %> for Key Stages 1-4.</li>
              <li>Discover a collection of <%= link_to 'resources and partner websites', 'https://teachcomputing.org/home-teaching/', class: 'ncce-link' %> that support home learning.</li>
          	</ul>
						<p class="govuk-body">
              <%= link_to 'Read our full statement', 'https://blog.teachcomputing.org/coronavirus-update/', class: 'ncce-link ncce-link--contrast' %>
          	</p>
					</div>
    		</div>
		</div>
  </div>
</div>
