<div class="light-grey-bg">
  <div class="govuk-width-container">
		 <div class="govuk-main-wrapper ncce-notice_wrapper">
				<div class="ncce-notice__container">
					<span class="govuk-tag ncce-courses__tag ncce-notice__tag">ANNOUNCEMENT</span>
					<div class="ncce-notice__copy">
						<p class="govuk-body">
              <strong>Education recovery:</strong> Explore our <a href='/education-recovery'>curated collection of CPD, resources and support</a>.<br>
              <strong>Online courses:</strong> FutureLearn are changing what data they store as part of GDPR on 20 Oct 2021. <a href='https://blog.teachcomputing.org/futurelearn-changes-which-may-impact-your-online-course-activity'>You may need to take action</a>.
            </p>
					</div>
    		</div>
		</div>
  </div>
</div>
