<div class="light-grey-bg">
  <div class="govuk-width-container">
		 <div class="govuk-main-wrapper ncce-notice_wrapper">
				<div class="ncce-notice__container">
					<span class="govuk-tag ncce-courses__tag ncce-notice__tag">ANNOUNCEMENT</span>
					<div class="ncce-notice__copy">
						<p class="govuk-body">We are currently experiencing intermittent issues with bookings for remote and face to face courses. If you are seeing an error message when booking, please email <%= mail_to 'info@teachcomputing.org', 'info@teachcomputing.org', class: 'ncce-link'%>, or call us on 01904 328 300.</p>
					</div>
    		</div>
		</div>
  </div>
</div>
