<div class="light-grey-bg">
  <div class="govuk-width-container">
		 <div class="govuk-main-wrapper ncce-notice_wrapper">
				<div class="ncce-notice__container">
					<span class="govuk-tag ncce-courses__tag ncce-notice__tag">COVID19</span>
					<div class="ncce-notice__copy">
						<h2 class="govuk-heading-s">National Centre for Computing Education update</h2>
						<ul class="govuk-body govuk-list govuk-list--bullet">
							<li>Find out about changes to our offer and the support we are developing for teachers, schools and families.</li>
          	</ul>
						<p class="govuk-body">
              <%= link_to 'Read our full statement', 'https://blog.teachcomputing.org/coronavirus-update/', class: 'ncce-link ncce-link--contrast' %>
          	</p>
					</div>
    		</div>
		</div>
  </div>
</div>
