<div class='govuk-width-container'>
  <div class='govuk-main-wrapper'>
    <h2 class='govuk-heading-l ncce-confidence__heading'>Get more confident with computing</h2>
    <div class='ncce-confidence__grid'>
      <div class='ncce-confidence__grid-col1'>
        <div class='ncce-confidence__panel'>
          <div class='ncce-confidence__panel-header'>
            <div class='ncce-confidence__icon-container'>
              <img src='/images/home/courses_icon.svg' class='ncce-confidence__icon' alt=''>
            </div>
            <h3 class='govuk-heading-m ncce-confidence__sub-heading'>Courses</h3>
          </div>
          <p class='govuk-body'>
            Discover our range of professional development courses, designed to help you teach computing from key stages 1 to 4.
          </p>
          <p class='govuk-body'>
            <%= link_to 'Browse our courses', courses_path, class: 'ncce-link ncce-link--emph' %>
          </p>
        </div>
      </div>
      <div class='ncce-confidence__grid-col2'>
        <div class='ncce-confidence__panel'>
          <div class='ncce-confidence__panel-header'>
            <div class='ncce-confidence__icon-container'>
                <img src='/images/home/bursaries_icon.svg' class='ncce-confidence__icon' alt=''>
            </div>
            <h3 class='govuk-heading-m ncce-confidence__sub-heading'>Bursaries</h3>
          </div>
          <p class='govuk-body'>
            We offer financial support to state-funded schools and colleges across England.
          </p>
          <p class='govuk-body'>
            <%= link_to 'Check your eligibility', bursary_path, class: 'ncce-link ncce-link--emph' %>
          </p>
        </div>
      </div>
      <div class='ncce-confidence__grid-col3'>
        <div class='ncce-confidence__panel'>
          <div class='ncce-confidence__panel-header'>
            <div class='ncce-confidence__icon-container'>
                <img src='/images/home/teaching_resources_icon.svg' class='ncce-confidence__icon' alt=''>
            </div>
            <h3 class='govuk-heading-m ncce-confidence__sub-heading'>Teaching Resources</h3>
          </div>
          <p class='govuk-body'>
            Over 500 hours of free curriculum resources to help you teach computing at key stages 1 to 4.
          </p>
          <p class='govuk-body'>
            <%= link_to 'Browse our teaching resources', curriculum_key_stages_path, class: 'ncce-link ncce-link--emph' %>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
