<div class="govuk-width-container">
	<div class="govuk-main-wrapper">
		<div class="temp">
			<div class="image-temp">
				<img
					srcset="/images/hero/hero-lg.svg 1024w,
									/images/hero/hero-md.svg 640w,
									/images/hero/hero-sm.svg 320w"
					sizes="(min-width: 16em) 90.3vw, 100vw"
					src="/images/hero/hero-sm.svg"
					class=""
					alt="Pic alt to be filled" />
			</div>
			<div class="text-temp">
				<h1 class="govuk-heading-l hero-heading--home-temp">Helping you <br>teach computing</h1>
				<p class="govuk-body">We offer teachers:</p>
				<ul class="govuk-list govuk-list--bullet" role="list">
					<li>courses and accreditation</li>
					<li>bursaries for training</li>
					<li>free curriculum teaching resources</li>
					<li>community support and more</li>
				</ul>
				<%= link_to('Join for free', '', class: 'govuk-button button')  %>
				<%= link_to 'About us', '', class: 'govuk-button button' %>
			</div>
		</div>
	</div>
</div>

