<div class="isaac-bg">
  <div class="govuk-width-container">
    <div class="govuk-main-wrapper govuk-!-padding-8"> 
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third">
          <%= link_to about_isaac_computer_science_path do %>
            <%= image_pack_tag 'media/images/logos/isaac-logo-purple.svg', alt: t('.image_alt'), class: 'isaac-card-component__logo' %>
          <% end %>
        </div>
        <div class="govuk-grid-column-two-thirds govuk-!-padding-left-7">
          <p class="govuk-body">
            <%= t('.text.html', 
              gcse_link: link_to('GCSE', '/gcse-revision', class: 'ncce-link isaac-card-component__link', data: tracking_data('Isaac GCSE')),
              a_level_link: link_to('A level', '/a-level-computer-science', class: 'ncce-link isaac-card-component__link', data:  tracking_data('Isaac CS'))) %>
          </p>
          <%= link_to t('.link.text'), about_isaac_computer_science_path, class: 'isaac-card-component__link govuk-body' %>

        </div>
      </div>
    </div>
  </div>
</div>
