.isaac-card-component {
  display: flex;
  flex-direction: column;
  @include govuk-media-query($from: tablet) {
    flex-direction: row;
  }

  &__title {
    color: black;
  }

  &__logo {
    max-width: 100%;
    margin-top: 0;
    margin-bottom: 10px;

    @include govuk-media-query($from: tablet) {
      width: 308px;
      margin-top: 20px;
      margin-bottom: 0;
    }

  }

  &__description {
    color: $black;
    @include govuk-media-query($from: tablet) {
      margin-right: 70px;
    }
    @include govuk-media-query($from: desktop) {
      margin-right: 90px;
    }
  }

  &__link {
    font-weight: 700;
    &:link,
    &:visited {
      color: $black;
    }
    &:hover {
      color: $mid-gray;
    }
    &:focus {
      background: $grey-dark-x;
      color: $white;
      outline-color: none;
    }
    &:active {
      background: $grey-dark-x;
      color: $white;
    }
  }
}