.careers-week__testimonials {
  display: grid;
  grid-row-gap: 1.5 * $logo-block-mobile;
  @include govuk-media-query($from: desktop) {
    grid-column-gap: 30px;
    grid-row-gap: 1.5 * $logo-block;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
 }
