.courses__container {
  margin: 0 auto;

	@include govuk-media-query($from: tablet) {
		column-gap: 2rem;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
	}
}

.course {
	align-items: flex-start;
	background-color: $white;
	box-shadow: 0 0 5px $box-shadow;
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	justify-content: start;
	margin-bottom: $logo-block-mobile;
	overflow: hidden;
	padding: 1rem;
}

.course-details {
	border: 1px solid $concrete;
	margin-bottom: 1.5rem;
	padding: 1rem 1rem 0 1rem;
}

.course-details__icons {
	display: flex;
	flex-direction: column;
	margin-top: 0.5rem;
}