.ncce-courses {
	&__course {
		padding: 1rem 0;
	}

	&__meta {
		background: $ncce-pink-light;
		display: flex;
		line-height: 1.6;

		span {
			display: block;
			margin: 1rem;
		}
	}
}

// Shift up to generic component?
.ncce-courses-aside {
	background-color: $ncce-dark-y-grey;
	padding: 1rem;

	&__text {
		color: $ncce-white;
	}

	&__link {
		color: $ncce-white;
		&:hover {
			color: $ncce-grey-x-light;
		}
	}
}

.ncce-courses__meta--icon {
	font-weight: bold;
	padding-left: 1rem;
	width: 40px;
	background-image: image-url('map-pin.png');

	background-position: left top;
	background-repeat: no-repeat;
	background-size: 14px;
	padding-left: 1.8rem;

	@include govuk-media-query($from: tablet) {
		background-size: 16px;
		width: 25%;
	}
}
