.curriculum__title {
  font-weight: 400;
  line-height: 1.75rem;
}

.curriculum__line {
  border: 0.0625rem solid $concrete;
  margin-bottom: 1.625rem;
}

.curriculum__list--item {
  background-color: $concrete;
  border-left-color: $jaffa;
  border-left-style: solid;
  border-left-width: 0.5625rem;
  font-weight: 500;
  margin-bottom: 1rem !important;
  padding: 1.3rem;
}

.curriculum__list--item-purple {
  border-left-color: $tapestry;
}

.curriculum__list--item-orange {
  border-left-color: $jaffa;
}

.resources__wrapper {
  padding-top: 3.125rem;
}

.curriculum__tiles {
  margin-top: 2.75rem;
  padding-bottom: 1.375rem;

  @include govuk-media-query($from: tablet) {
    display: grid;
    grid-column-gap: 1rem;
    grid-row-gap: 1.5rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
  }

  @include govuk-media-query($from: desktop) {
    grid-template-columns: 1fr 1fr 1fr;
    padding-bottom: 3.75rem;
  }
}

.curriculum__tile {
  background-image: image-url('unit.svg');
  background-position: 1.25rem center;
  background-repeat: no-repeat;
  background-size: 2.2rem;
  border: 0.125rem solid $aluminum;
  border-radius: 0.5rem;
  height: 1.6rem;
  margin-bottom: 0.9375rem;
  padding: 2.2rem 0;
  padding-left: 5.5rem;
  padding-right: 1.25rem;

  @include govuk-media-query($from: tablet) {
    align-items: center;
    display: flex;
  }

  @include govuk-media-query($from: desktop) {
    background-size: 3rem;
    margin-bottom: 0;
  }
}

.curriculum__tile--heading {
  font-weight: 500;
  margin-bottom: 0;
}

.curriculum__label {
  background-color: $grey-dark-x;
  color: $white;
  font-weight: bold;
  margin: 0;
  padding: 0.3rem 0.675rem;
  width: fit-content;
  width: -moz-fit-content;
  @include govuk-media-query($from: desktop) {
    padding: 0.5rem 1rem;
  }
}

.rating_page {
  display: none;
  width: 100%;

  .row {
    flex: 1 0 auto;
  }

  @include govuk-media-query($from: tablet) {
    flex-direction: column;
  }

  @include govuk-media-query($from: desktop) {
    flex-direction: row;
  }
}

.rating_page.row {
  margin-bottom: 0;
}

.rating_page--rows {
  flex-direction: column;
}

.rating_page--current {
  display: flex;
}

.curriculum__rating {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  min-height: 3rem;
  background-color: $foam;
  padding: 1rem;

  textarea {
    height: 6rem;
    margin: 0.6rem 0;
  }

  img {
    width: auto !important;
  }
}

.curriculum__rating--text {
  margin: 0;

  @include govuk-media-query($from: tablet) {
    text-align: center;
  }

  @include govuk-media-query($from: desktop) {
    text-align: left;
  }
}

.curriculum__rating--text.row {
  text-align: center;
  margin: 0;
}

.curriculum__rating--text-only {
  text-align: center;
  margin: 0;
  width: 100%;
}

.curriculum__rating--thumb {
  cursor: pointer;
  width: auto;
  margin: 0.1rem 0 0 0;
  flex: 1 0 auto;
  text-align: center;

  a {
    transition: all 0.2s ease-in-out;
  }

  a:hover {
    transform: scale(1.2);
  }

  @include govuk-media-query($from: tablet) {
    margin-top: 0.5rem;
  }

  @include govuk-media-query($from: desktop) {
    margin-top: 0.3rem;
  }
}

.curriculum__rating--thumb-up {
  margin-right: 1.7rem;

  @include govuk-media-query($from: tablet) {
    margin-right: 3.6rem;
  }

  @include govuk-media-query($from: desktop) {
    margin-right: 0.8rem;
  }
}

.curriculum__rating--thumb-up:hover {
  filter: invert(58%) sepia(96%) saturate(435%) hue-rotate(45deg)
    brightness(93%) contrast(107%);
}

.curriculum__rating--thumb-down:hover {
  filter: invert(25%) sepia(64%) saturate(5006%) hue-rotate(1deg)
    brightness(99%) contrast(84%);
}

@media screen and (prefers-reduced-motion: reduce) {
  .curriculum__rating--thumb {
    transform: none;
  }

  .curriculum__rating--thumb:hover {
    transform: none;
  }
}
