.padded-box {
  margin: 20px 0;
  padding: 0.8125rem;
  @include govuk-media-query($from: tablet) {
    margin: 0;
  }
  img,
  video {
    width: 100%;
    margin-bottom: 20px;
  }
}

.padded-box__title {
	background-image: image-url('bulb.svg');
	background-position: left 0;
	background-repeat: no-repeat;
	background-size: 2.5rem;
	font-weight: 500;
	line-height: 1.5625rem;
	margin-bottom: 1.8rem !important;
	padding-left: 3rem;

	@include govuk-media-query($from: desktop) {
		background-image: none;
		margin-bottom: 2.5rem !important;
		padding-left: unset;
	}
}

.padded-box__feedback {

  @include govuk-media-query($from: desktop) {
		padding-left: 4rem;
	}

}

.padded-box--resources {

		padding: 1rem;

  @include govuk-media-query($from: desktop) {
		background-image: image-url('bulb.svg');
		background-position: 1rem 4.5rem;
		background-repeat: no-repeat;
		background-size: 4.3rem;
		margin-top: 6.25rem;
		padding: 2rem;
	}
}
