.padded-box {
  margin: 20px 0;
  padding: 0.8125rem;
  @include govuk-media-query($from: tablet) {
    margin: 0;
  }
  img,
  video {
    width: 100%;
    margin-bottom: 20px;
  }
}

.padded-box__title {
	font-weight: 500;
	line-height: 1.5625rem;
}

.padded-box__feedback {
	margin-top: 1rem;
  background-image: image-url('bulb.svg');
  background-position: left center;
  background-repeat: no-repeat;
  background-size: 3rem;
	padding-left: 4rem;
}

