.padded-box {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.padded-box:before {
  @include govuk-media-query($from: tablet) {
    content: '';
    background-image: url('document.svg');
    background-position: 2rem 1.3rem;
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 70%;
    height: 5rem;
    width:  5rem;
  }
}

.padded-box-item--left {
  width: 100%;
  flex: 1 1 60%;
}

.padded-box-item--right {
  flex: 1 1 30%;
  text-align: right;

  @include govuk-media-query($until: desktop) {
    text-align: left;
    margin-top: 0.5rem;
  }
}

.padded-box-item__title{
  font-size: 1.2rem;

  @include govuk-media-query($until: 600px) {
    font-size: 1rem;
  }
}

.padded-box-item__text, .padded-box-item__title {
  margin: 0;
  width: 100%;
}
