.padded-box {
  margin: 20px 0;
  padding: 0.8125rem;
  @include govuk-media-query($from: tablet) {
    margin: 0;
  }
  img,
  video {
    width: 100%;
    margin-bottom: 20px;
  }
}

.padded-box__title {
	font-weight: 500;
	line-height: 1.5625rem;
	margin-bottom: 1.8rem !important;

	@include govuk-media-query($from: desktop) {
		margin-bottom: 2.5rem !important;
	}
}

.padded-box--resources {
		padding: 1rem;
		padding-left: 4rem;
		padding-top: 3rem;

  @include govuk-media-query($from: desktop) {
		margin-top: 2.2rem;
		padding: 2rem;
	}
}
