.text-photo-hero {
  display: grid;
  grid-row-gap: 20px;
  grid-template-areas: "photo" "text";
  grid-template-rows: 1fr auto;
  padding: 10px;
  @include govuk-media-query($from: desktop) {
    grid-column-gap: 20px;
    grid-row-gap: 0;
    grid-template-areas: "text photo";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    padding: 10px 10px 10px 30px;
  }

  &__block--text {
    align-self: center;
    grid-area: text;
    @include govuk-media-query($from: desktop) {
      .govuk-heading-l {
        font-size: 3.5vw;
      }
      .govuk-body-l {
        font-size: 2vw;
      }

      & > *:last-child {
        margin-bottom: 0;
      }
    }
    @include govuk-media-query($from: 1000px) {
      .govuk-heading-l {
        font-size: 2.25rem;
      }
      .govuk-body-l {
        font-size: 1.5rem;
      }
    }
  }

  &__block--photo {
    grid-area: photo;
    img {
      width: 100%;
      @include govuk-media-query($from: desktop) {
        display: block;
        height: 100%;
      }
    }
  }
}

.padded-top {
  padding-top: 0.8125rem;
}

.padded-box {
  margin: 20px 0;
  padding: 0.8125rem;
  @include govuk-media-query($from: tablet) {
    margin: 0;
  }
  img,
  video {
    width: 100%;
    margin-bottom: 20px;
  }
}

.testimonial {
  padding-top: 50px;
  @include govuk-media-query($from: tablet) {
    padding-top: 0;
  }
  &__text {
    background-color: $white;
    border-radius: 10px;
    padding: 10px;
    @include govuk-media-query($from: tablet) {
      padding: 18px;
    }
  }
  &__bio {
    padding: 0 10px 0 10px;
    @include govuk-media-query($from: tablet) {
      padding: 0 18px 0 18px;
    }
  }
  &__image {
    float: left;
    margin-right: 5px;
  }
}

