{
enabled: true,
extends: [
"stylelint-config-recommended-scss",
"./node_modules/prettier-stylelint/config.js"
],
plugins: [
"stylelint-order",
"stylelint-scss"
],
rules: {
block-no-empty: null,
block-opening-brace-newline-after: "always-multi-line",
block-closing-brace-newline-before: "always-multi-line",
declaration-block-single-line-max-declarations: 1,
order/order: [
"custom-properties",
"declarations"
],
order/properties-alphabetical-order: true
}
}