
.cms-full-width-banner-row {
  &.has-border {
    .govuk-main-wrapper {
      border-bottom: 2px solid $ncce-grey;
    }
  }
}

.cms-button-container {
  align-items: flex-start;
}

.cms-full-width-banner__heading {
  margin-bottom: 20px;
}

.cms-full-width-banner {
  display: flex;
  flex-direction: row;

  &.right-align {
    flex-direction: row-reverse;
  }

  @include govuk-media-query($until: tablet) {
    flex-direction: column;

    &.right-align {
      flex-direction: column;
    }
  }

  &__media {
    flex: 0 0 calc(100% * 1/3);
    position: relative;

    &--cover {
      .cms-image {
        img {
          object-fit: cover;
        }
      }
    }

    &--contain {
      .cms-image {
        img {
          object-fit: contain;
        }
      }
    }

    &--icon {
      flex: 0 0 50px;

      .cms-image {
        justify-content: center;
        img {
          width: 30px;
          height: auto;
        }
      }
    }

    &--with-flag {
      position: absolute;
      top: 0;
      left: 5px;
      height: 97px;
      width: 79px;
      display: block;
      background-image: url("../images/logos/i_belong_flag.svg");
      background-size: 100%;
      background-repeat: no-repeat;
    }

    &--with-flourish {
      position: relative;

      &-left,
      &-right {
        position: absolute;
        bottom: 0;
        height: 163px;
        width: 162px;
        display: block;
        background-image: url("../images/components/cms/full_width_banner_component/flourish.svg");
      }

      &-left {
        left: 0;
      }

      &-right {
        right: 0;
        transform: scaleX(-1);
      }
    }

    .cms-image {
      display: flex;
      width: 100%;
      height: 100%
    }

    img {
      width: 100%;
      height: 100%;
    }

  }

  &__content {
    flex: 1 1 calc(100% * 2/3);
    padding: 20px 20px;

    .govuk-button {
      min-width: 300px;
    }
  }
}
