<div class="govuk-grid-column-one-third">
  <div class="ncce-aside ncce-diagnostic__aside ncce-diagnostic__aside-question-<%= step_index(@steps, @step) %>">
    <h2 class="govuk-heading-m ncce-aside__title">Enrolment questionnaire</h2>
    <p class="govuk-body-s">This short questionnaire is designed to help understand your existing subject knowledge. We can then recommend the right learning pathway and courses for you to take as part of this programme.</p>
    <p class="govuk-body-s">Don't worry, this isn't a test, and there are no right or wrong answers.</p>
  </div>
</div>
