<div class="hub-region-component">
  <h2 class="govuk-heading-m hub-region-component__heading">
    <%= @hub_region.name %>
  </h2>

  <%= render HubComponent.with_collection(@hub_region.hubs) %>
</div>
