<div class="govuk-width-container">
  <div class="govuk-main-wrapper govuk-main-wrapper--xl">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class='govuk-heading-l'>Press Releases</h1>
        <h2 class='govuk-heading-s'><%= link_to 'Top computer scientist chosen to lead National Centre for Computing Education', simon_peyton_jones_chair_ncce_path, class: 'ncce-link ncce-link--heading' %></h4>
        <p class="govuk-body-l">Leading computer scientist Simon Peyton Jones appointed chair of new National Centre for Computing Education.</p>
        <p class='govuk-body govuk-!-font-size-14'>18 March 2019</p>
      </div>
    </div>
  </div>
</div>
