<div class="govuk-width-container">
  <div class="govuk-main-wrapper govuk-main-wrapper--xl">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <h1 class='govuk-heading-l ncce-press-archive__title'>Press Releases</h1>
        <div class='ncce-press-archive'>
          <div class='ncce-press-archive__item'>
            <div class='ncce-press-archive__item-content'>
              <div class='ncce-press-archive__item-title'>
                <h4 class='govuk-heading-s'><%= link_to 'Press example', '', class: 'ncce-link ncce-press-archive__item-link' %></h4>
              </div>
              <div class='ncce-press-archive__item-description'>
                <p class="govuk-body">
                  This is an example press blurb
                </p>
              </div>
              <div class='ncce-press-archive__item-date'>
                <p class='govuk-body govuk-!-font-size-14'>01 March 2019</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
