
<div class="govuk-grid-column-one-third ncce-primary-diagnostic__hidden">
  <div class="ncce-aside ncce-diagnostic__aside">
    <h2 class="govuk-heading-m ncce-aside__title">Enrolment questionnaire</h2>
    <p class="govuk-body-s">This questionnaire is designed to give you some ideas of how to start your learning journey with the NCCE and give you direction towards the courses that might be of most use to you.
    </p>
    <p class="govuk-body-s">Nobody else will see the results so please feel free to be as honest as you can in your answers.</p>
  </div>
</div>
