
<div class="govuk-width-container">
  <div class="govuk-main-wrapper govuk-main-wrapper--xl">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l ncce-about__title">Primary Computing Diagnostic</h1>
      </div>
      <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-m">Introduction</h2>
        <p class="govuk-body-l">This diagnostic tool is designed to give you some ideas of how to start your learning journey with the NCCE and give you direction towards the courses that might be of most use to you.  Nobody else will see the results so please feel free to be as honest as you can in your answers.</p>
        <%= link_to 'Get Started', next_wizard_path, class: 'govuk-button ncce-button__pink' %>
      </div>
    </div>
  </div>
</div>
