.non-bordered-card-component {
  position: relative;
  background-color: $white;
  padding: 0.5em 0;

  > *:last-child {
    margin-bottom: 0;
  }

  .ncce-link {
    font-weight: bold;
  }
}

.non-bordered-card-component__image-wrapper {
  margin-bottom: 12px;
  max-height: 175px;
  overflow: hidden;
  position: relative;

  @include govuk-media-query($from: tablet) {
    margin-bottom: 8px;
    max-height: unset;
  }
}

.non-bordered-card-component__image {
  width: 100%;
}
