.blog-preview {
  display: flex;
  flex-direction: column;
  gap: 15px;

  &__image {
    img {
      width: 100%;
      height: auto;
      object-fit: cover;
    }
  }

  @include govuk-media-query($from: tablet) {
    flex-direction: row;

    &__image {
      flex: 0 0 35%;
      img {
        width: 100%;
        height: auto;
        object-fit: cover;
      }
    }
  }

  &__content {
    flex: 1 1 auto;
  }

  &-date p {
    font-weight: 700;
  }
}