.provider-logos-component {
  border-top: solid 1px #CCCCCC;
  padding: 1rem 0;

  &__no-top-border {
    border-top: unset;
    padding: 0;
  }

  &__logo-wrapper {
    display: inline-flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    align-self: center;
    margin-bottom: 0;
  }

  img {
    height: 43px;
    width: auto;
  }

  &--dashboard {
    border-top: none;
    padding-bottom: 0;

    img {
      height: 30px;
      width: auto;
    }
  }
}
