.horizontal-card-component {
  &__wrapper {
    display: flex;
    padding: 28px;
    align-items: center;
    background-color: white;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);

    &--ribbon {
      &-lime-green {
        border-left: solid 9px $lime-green;
      }
      &-pink {
        border-left: solid 9px $pink;
      }
      &-orange {
        border-left: solid 9px $orange;
      }
      &-yellow {
        border-left: solid 9px $brand-yellow;
      }
    }

    @include govuk-media-query($until: desktop) {
      flex-direction: column;
    }
  }

  &__content {
    flex: 2;
    margin-right: 16px;
  }

  &__image {
    flex: 1;
    border-left: 2px solid $ncce-grey;
    padding-left: 16px;

    @include govuk-media-query($until: desktop) {
      border-left: 0px;
      padding-left: 0px;
    }
  }

  &__icon-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include govuk-media-query($until: desktop) {
      margin-bottom: 15px;
      justify-content: space-evenly;
    }
  }

  &__icon-block {
    display: flex;
    align-items: center;
    flex: 1;

    @include govuk-media-query($until: desktop) {
      flex: auto;
    }
  }

  &__icon-text {
    margin-left: 10px;

    @include govuk-media-query($until: desktop) {
      margin-left: 5px;
    }
  }
}
