.ncce-hero {
	background-image: url(/images/dots.svg);
	background-position: calc(100% - -110px) 0%;
	background-repeat: no-repeat;
	background-size: 100%;
	margin: 5px 0;
	@include govuk-media-query($from: tablet) {
		background-position: top right;
		background-size: 500px;
		margin: 15px;
	}

	@include govuk-media-query($from: desktop) {
		background-size: 800px;
	}

	br {
		display: none;

		@include govuk-media-query($from: tablet) {
			display: block;
		}
	}
}

.ncce-hero__heading {
	background-image: url(/images/line.png);
	background-position: left bottom;
	background-repeat: no-repeat;
	background-size: 95%;
	padding-bottom: 25px;
	padding-top: 70px;
	@include govuk-media-query($from: tablet) {
		background-position: bottom left;
		background-size: 72%;
		font-size: 48px;
		padding-top: 90px;
	}
}

.ncce-hero__button {
	background-color: $ncce-pink;
	box-shadow: 0 4px 0 $ncce-dark-pink;
	font-size: 19px;
	font-weight: bold;
	margin: 0;
	padding: 12px 25px;

	&:hover {
		background-color: $ncce-black;
		box-shadow: 0 4px 0 $ncce-black;
		outline-color: $ncce-black;
	}
	&:focus {
		background-color: $ncce-black !important;
		color: $ncce-white !important;
		outline-color: $ncce-black !important;
	}

	@include govuk-media-query($from: desktop) {
		margin-bottom: 20px;
	}
}

.ncce-hero__button--link,
.ncce-hero__button--link:visited {
	color: $ncce-white !important;
	font-weight: bold;
	text-decoration: none;
}
