.ncce-hero {
	margin: 5px 0;
	@include govuk-media-query($from: tablet) {
		margin: 15px;
	}

	br {
		display: none;

		@include govuk-media-query($from: tablet) {
			display: block;
		}
	}
}

.ncce-hero__button {
	background-color: $ncce-dark-grey;
}

.ncce-hero__button--link,
.ncce-hero__button--link:visited {
	color: $ncce-white !important;
	font-weight: bold;
	text-decoration: none;
}
