.ncce-mailing {
	background-color: $ncce-grey-y-light;
	padding-bottom: 30px;
	padding-top: 20px;

	@include govuk-media-query($from: tablet) {
		padding-bottom: 30px;
		padding-top: 40px;
	}
}

.ncce-mailing__button {
	background-color: $ncce-dark-grey;
	box-shadow: 0 4px 0 $ncce-grey;
	font-size: 19px;
	font-weight: bold;
	margin: 0;
	padding: 12px 25px;

	&:hover {
		background-color: $ncce-black;
		box-shadow: 0 4px 0 $ncce-black;
		outline-color: $ncce-black;
	}
	&:focus {
		background-color: $ncce-black !important;
		color: $ncce-white !important;
		outline-color: $ncce-black !important;
	}

	@include govuk-media-query($from: desktop) {
		margin-bottom: 20px;
	}
}

.ncce-mailing__label {
	font-weight: bold;
}

.ncce-mailing__input {
	border: none;
}

.ncce-mailing__footnote {
	font-size: 14px;
	a {
	}
}

.ncce-mailing--link {
	color: $ncce-black !important;
	line-height: 3rem;
}
