.ncce-mailing {
	background-color: $ncce-grey-y-light;
	padding-bottom: 2rem;
	padding-top: 2rem;

	@include govuk-media-query($from: tablet) {
		padding-bottom: 3rem;
		padding-top: 3rem;
	}
}

.ncce-mailing__button {
	background-color: $ncce-dark-grey;
	box-shadow: 0 4px 0 $ncce-dark-grey;
	font-size: 19px;
	font-weight: bold;
	margin: 0;
	padding: 12px 25px;

	&:hover {
		background-color: $ncce-black;
		box-shadow: 0 4px 0 $ncce-black;
		outline-color: $ncce-black;
	}
	&:focus {
		background-color: $ncce-black !important;
		color: $ncce-white !important;
		outline-color: $ncce-black !important;
	}

	@include govuk-media-query($from: desktop) {
		margin-bottom: 2rem;
	}
}

.ncce-mailing__label {
	font-weight: bold;
}

.ncce-mailing__input {
	border-color: #979797;
	border-width: 1px;
	border-style: solid;
}

.ncce-mailing__footnote {
	font-size: 14px;
}

.ncce-mailing--link {
	color: $ncce-black !important;
	line-height: 3rem;
}

.ncce-mailing--link-privacy {
	color: $ncce-black !important;
}
