.c-sign-up {
	margin: 5px 0;
	@include govuk-media-query($from: tablet) {
		margin: 15px;
	}

	br {
		display: none;

		@include govuk-media-query($from: tablet) {
			display: block;
		}
	}
}

.c-sign-up--button {
	background-color: $ncce-dark-grey;
	font-weight: bold;
}

.c-sign-up--link {
	color: $ncce-white;
}

.c-sign-up__aside {
	background-color: $ncce-grey-light;
	padding-bottom: 1.5rem;
}

.c-sign-up__aside--button,
.c-sign-up__aside--button:visited {
	background-color: none;
	color: #333333;
}

.c-sign-up__list {
	list-style: none;
}

.c-sign-up__list--item {
	list-style: none;
	margin-bottom: 1rem;
	padding-left: 2rem;
	position: relative;

	&:before {
		color: $ncce-dark-grey;
		content: '\2022';
		display: inline-block;
		font-size: 1.6rem;
		font-weight: 700;
		left: 0;
		line-height: 1.1;
		position: absolute;
		text-align: center;
		bottom: 1rem;
		width: 2rem;
	}

	&:last-child {
		margin-bottom: 2rem;
	}
}
