.ncce-sign-up {
	background-color: $ncce-lavender;

	br {
		display: none;

		@include govuk-media-query($from: tablet) {
			display: block;
		}
	}
}

.ncce-sign-up--button {
	background-color: $ncce-dark-grey;
	font-weight: bold;
}

.ncce-sign-up--link {
	color: $ncce-white;
}

.ncce-sign-up__aside {
	background-color: $ncce-grey-dark;
	padding: 1.5rem 1rem;
}

.ncce-sign-up__aside p {
	color: $ncce-white !important;
}

.ncce-sign-up__aside--link,
.ncce-sign-up__aside--link:visited {
	background-color: none;
	color: $ncce-white !important;
}

.ncce-sign-up--link-white,
.ncce-sign-up--link-white:visited {
	color: $ncce-white !important;
	text-decoration: none;
}

.ncce-sign-up__list {
	list-style: none;
}

.ncce-sign-up__list--item {
	list-style: none;
	margin-bottom: 1rem;
	padding-left: 2rem;
	position: relative;

	&:before {
		color: $ncce-dark-grey;
		content: '\2022';
		display: inline-block;
		font-size: 1.6rem;
		font-weight: 700;
		left: 0;
		line-height: 1.1;
		position: absolute;
		text-align: center;
		top: -0.3rem;
		width: 2rem;
	}

	&:last-child {
		margin-bottom: 2rem;
	}
}
