.cms-full-width-image-banner {
  background-repeat: no-repeat;
  background-size: cover;
  aspect-ratio: 7/2;
  min-height: 100px;

  @include govuk-media-query($until: tablet) {
    aspect-ratio: 3/2;
  }

  &__overlay {
    width: 30%;
    min-width: 235px;
    max-width: 300px;
    background-color: $light-blue;
    padding: 15px;
    top: 0;
    margin: 0;
    position: absolute;

    &--right {
      right: 15px;
    }

    &--left {
      left: 15px;
    }
  }

  .govuk-grid-column-full {
    position: relative;
  }
}