.home-teaching, .pedagogy {
  img,
  video {
    margin-bottom: 20px;
    width: 100%;
  }
}

.subject-practitioners {
  table tr td {
    border-bottom: none;
  }

  .kg-image-card {
    img {
      max-width: 150px;
      display: block;
      margin: 0 auto;
    }
  }
}

// fixes for Ghost CMS image sizes
.kg-image-card img {
  width: 100%;
  height: auto;
}
