.home-teaching,
.pedagogy {
  img,
  video {
    margin-bottom: 20px;
    width: 100%;
  }
}

// fixes for Ghost CMS image sizes
.kg-image-card img {
  width: 100%;
  height: auto;
}

.cms-colour-theme {
  $colors: (
    "standard": $lime-green,
    "i-belong": $orange,
    "isaac": $brand-yellow
  );

  $sides: ("left", "right", "top", "bottom");

  &__border {
    @each $name, $color in $colors {
      @each $side in $sides {
        &--#{$name}-#{$side} {
          border-#{$side}: solid 9px $color;
        }
      }
    }
  }
}


.tc-row {
  display: flex;
  flex-direction: row;
  padding: 0 40px;
  gap: 20px;

  @include govuk-media-query($until: desktop) {
    flex-direction: column;
    gap: 0px;
  }

  .tc-row-two-thirds {
    flex: 1 1 calc(100% * 2/3);
  }

  .tc-row-one-third {
    flex: 1 1 calc(100% * 1/3);
  }
  
}