<div class="certification">
  <div class="shadow_card card--dashboard card--dashboard--a-level">
		<%= render 'dashboard/programme-enrolment-status', programme: programme %>
    <h3 class="govuk-heading-m card__heading">
      <span class="ncce-link ncce-link--heading">A level computer science certificate</span>
    </h3>
    <div class="card--dashboard--content">
      <ul class="govuk-list govuk-list--bullet">
        <li>subject knowledge test</li>
        <li>suggested courses and resources to support your development</li>
        <li>accredited by BCS</li>
      </ul>
			<%= render 'dashboard/enrolment-status', programme: programme %>
    </div>
  </div>
</div>
