<div class="certification">
	<div class="shadow_card card--dashboard card--dashboard--cs-accelerator">
		<%= render 'dashboard/programme-enrolment-status', programme: programme %>
			<h3 class="govuk-heading-m card__heading">
				<%= link_to csa_programme_title, cs_accelerator_path, class: 'ncce-link ncce-link--heading' %>
			</h3>
		<div class="card--dashboard--content">

			<ul class="govuk-list govuk-list--bullet">
				<li>complete KS3 and GCSE Computer Science subject knowledge courses and pass a test to get your certificate</li>
				<li>resources to find the right courses for you</li>
				<li><%= link_to 'subsidies', '/funding', class: 'ncce-link' %> for eligible schools</li>
			</ul>
			<%= render 'dashboard/enrolment-status', programme: programme %>
			</div>
		</div>
</div>
