<div class="certification">
	<div class="shadow_card card--dashboard card--dashboard--secondary">
		<%= render 'dashboard/programme-enrolment-status', programme: programme %>
			<h3 class="govuk-heading-m card__heading">
				<%= link_to 'Teach secondary computing', secondary_certificate_path, class: 'ncce-link ncce-link--heading' %>
			</h3>
		<div class="card--dashboard--content">
			<ul class="govuk-list govuk-list--bullet">
				<li>put your subject knowledge into classroom practice</li>
				<li>blended course and activity programme</li>
				<li>gain practical skills to help you confidently teach</li>
			</ul>
			<%= render 'dashboard/enrolment-status', programme: programme %>
		</div>
	</div>
</div>
