<div class="ncce-aside">
  <h2 class="govuk-heading-s">
    Subject Expert support
  </h2>
  <p class="govuk-body-s ncce-bursary-aside__text">
    Our Computing Hubs provide support and mentoring to help you complete the Subject knowledge certificate
  </p>
  <p class="govuk-body-s ncce-bursary-aside__link">
    <%= link_to 'Contact your local hub', '/hubs',
        class: 'ncce-link ncce-link--contrast',
        data: { event_action: 'click',
                event_category: @landing_page.event_tracking_category,
                event_label: 'Email CS Champions' }
    %>
  </p>
</div>
