<div class="ncce-aside">
  <h2 class="govuk-heading-s">
    CS Champions
  </h2>
  <p class="govuk-body-s ncce-bursary-aside__text">
    Our team provide support and mentoring to help you complete the Computer Science Accelerator programme.
  </p>
  <p class="govuk-body-s ncce-bursary-aside__link">
    <%= link_to 'Email our CS Champions', 'mailto:CSChampionSupport@stem.org.uk', class: 'ncce-link ncce-link--contrast' %>
  </p>
</div>
