<div class="govuk-width-container">
  <div class="govuk-main-wrapper">
     <div class="govuk-grid-row govuk-!-margin-top-7">
        <div class="govuk-grid-column-two-thirds">
          <h2 class="govuk-heading-l"> Contributing partners </h2>
          <p class="govuk-body"> Our educational <a href="/contributing-partners">partners</a> offer complementary programmes that enrich and enhance the curriculum, bringing computing and computer science to life.</p>
        </div>
        <div class="govuk-grid-column-full">
          <%= render NonBorderedCardsComponent.new(@landing_page.contributing_partners) %>
        </div>
      </div>
  </div>
</div>
