<div class="ncce-aside">
  <h2 class="govuk-heading-s">
    Contributing partners
  </h2>
  <p class="govuk-body-s ncce-bursary-aside__text">
    Our educational partners, including
    <%= link_to 'Code Club', 'https://codeclub.org/en/start-a-code-club',
      class: 'ncce-link',
      data: { event_action: 'click',
              event_category: @landing_page.event_tracking_category,
              event_label: 'Code club' }
    %>
    and
    <%= link_to 'STEM Ambassadors', 'https://www.stem.org.uk/stem-ambassadors',
    class: 'ncce-link',
    data: { event_action: 'click',
            event_category: @landing_page.event_tracking_category,
            event_label: 'STEM Ambassadors' }
    %>,
    offer complementary programmes that support teachers and students.
  </p>
  <p class="govuk-body-s ncce-bursary-aside__link">
    <%= link_to 'Meet our contributing partners', contributing_partners_path,
      class: 'ncce-link',
      data: { event_action: 'click',
              event_category: @landing_page.event_tracking_category,
              event_label: 'Contributing partners' }
    %>
  </p>
</div>
