<div class="govuk-width-container">
  <div class="govuk-main-wrapper govuk-!-padding-0">
    <div class="govuk-grid-row govuk-!-margin-bottom-0">
      <div class="govuk-grid-column-full govuk-!-margin-bottom-0 dedicated-pages">
        <p class="govuk-body govuk-!-margin-bottom-0">
          <strong>We also have dedicated pages for:</strong>
        </p>
        <% if show_secondary_link %>
          <%= link_to 'Secondary senior leaders', secondary_senior_leaders_path,
            class: 'govuk-button button button--inverted dedicated-pages--button' %>
        <% else %>
          <%= link_to 'Primary senior leaders', '/primary-senior-leaders',
            class: 'govuk-button button button--inverted dedicated-pages--button' %>
        <% end %>
        <%= link_to 'Early careers teachers', '/early-career-teachers',
          class: 'govuk-button button button--inverted dedicated-pages--button' %>
      </div>
    </div>
  </div>
</div>
