<div class="govuk-width-container">
  <div class="govuk-main-wrapper govuk-!-padding-0">
    <div class="govuk-grid-row govuk-!-margin-bottom-0">
      <div class="govuk-grid-column-full dedicated-pages">
        <p class="govuk-body-s dedicated-pages--intro">
          <strong>We also have dedicated pages for:</strong>
        </p>
        <% if @landing_page.secondary? %>
          <%= link_to 'Secondary senior leaders', '/secondary-senior-leaders',
            class: 'govuk-button button button--small button--inverted dedicated-pages--button',
            data: { event_action: 'click', event_category: @landing_page.event_tracking_category, event_label: 'Senior leaders' }
          %>
        <% else %>
          <%= link_to 'Primary senior leaders', '/primary-senior-leaders',
            class: 'govuk-button button button--small button--inverted dedicated-pages--button',
            data: { event_action: 'click', event_category: @landing_page.event_tracking_category, event_label: 'Senior leaders' }
          %>
        <% end %>
        <%= link_to 'Early careers teachers', '/early-career-teachers',
          class: 'govuk-button button button--small button--inverted dedicated-pages--button',
          data: { event_action: 'click', event_category: @landing_page.event_tracking_category, event_label: 'Early careers' }
        %>
      </div>
    </div>
  </div>
</div>
