<div class="isaac-bg">
  <div class="govuk-width-container">
    <div class="govuk-main-wrapper">
      <div class="isaac">
          <%= image_pack_tag 'media/images/isaac-logo.svg', alt: 'Isaac computer science logo', class: 'isaac__logo' %>
          <div class="isaac__description">
            <p class="govuk-body">
              Isaac Computer Science is our free online learning programme for
              <strong>A level</strong> computer science teachers and students.
              Access our time-saving learning materials that cover the full OCR and AQA curriculums.
            </p>
            <%= link_to 'Discover Isaac Computer Science','/a-level-computer-science', class: 'ncce-link isaac__link'  %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
