<div class="ncce-aside block-bottom-margin">
  <h2 class="govuk-heading-s">
    Subject knowledge assessments
  </h2>
  <p class="govuk-body-s ncce-bursary-aside__text">
    Evaluate your students’ knowledge with our free, online, self-marking assessments.
    Each topic includes a pre and post teaching multiple-choice assessment.
  </p>
  <p class="govuk-body-s ncce-bursary-aside__link">
    <%= link_to 'View assessments', 'https://eedi.com/projects/teach-computing', class: 'ncce-link' %>
  </p>
</div>
