<div class="light-grey-bg">
  <div class="govuk-width-container">
    <div class="govuk-main-wrapper">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h2 class="govuk-heading-l">We're here to help</h2>
          <p class="govuk-body-l">
            Your local network of expert computing support.
          </p>
        </div>
      </div>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <div class="lp-support__cards">
              <div class="lp-support__card white-bg">
                <div>
                  <h2 class="govuk-heading-m">
                    Computing Hubs
                  </h2>
                  <p class="govuk-body">
                    Providing local training and support for teachers across England,
                    our Computing Hubs are led by schools and colleges with an
                    exceptional track record in teaching computing.
                  </p>
                </div>
                <%= link_to 'Meet your local hub', '/hubs',
                  class: 'button govuk-button govuk-!-margin-bottom-0',
                  data: { event_action: 'click',
                          event_category: @landing_page.event_tracking_category,
                          event_label: 'Local hub' }
                %>
              </div>
              <div class="lp-support__card white-bg">
                <div>
                  <h2 class="govuk-heading-m">
                    Communities of Practice
                  </h2>
                  <p class="govuk-body">
                    These local networks of computing teachers are forums to share
                    expertise, resources and best practice. Run by Computing at School (CAS).
                  </p>
                </div>
                <%= link_to 'Join a community', 'https://community.computingatschool.org.uk/communities',
                  class: 'button govuk-button govuk-!-margin-bottom-0',
                  data: { event_action: 'click',
                          event_category: @landing_page.event_tracking_category,
                          event_label: 'CAS' }
                %>
              </div>
              <div class="lp-support__card white-bg">
                <div>
                  <h2 class="govuk-heading-m">
                    Subject Matter Experts (SMEs)
                  </h2>
                  <p class="govuk-body">
                    Our computing specialists offer fully-funded consultancy and
                    guidance to schools and colleges who meet
                    <%= link_to 'our eligibility criteria', '/bursary#subject',
                      class: 'ncce-link axe-skip-a11y-test',
                      data: { event_action: 'click',
                              event_category: @landing_page.event_tracking_category,
                              event_label: 'SME eligibility' }
                      %>.
                    They’ll work with you to develop a tailor-made action plan.
                  </p>
                </div>
                <%= link_to 'Contact your local SME',
                  'https://forms.gle/adouhmFe9QvaTeBPA',
                  class: 'button govuk-button govuk-!-margin-bottom-0',
                  data: { event_action: 'click',
                          event_category: @landing_page.event_tracking_category,
                          event_label: 'SME contact' }
                %>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
