.ncce-certs {
  display: grid;
  grid-template-columns: auto;
  @include govuk-media-query($from: tablet) {
    grid-template-columns: 1fr 1fr;
  }
}

.ncce-certs__col1-container {
  display: table;
  height: 100%;
  @include govuk-media-query($from: tablet) {
    padding-right: 60px;
  }
  @include govuk-media-query($from: desktop) {
    padding-right: 100px;
  }
}

.ncce-certs__col1 {
  display: table-cell;
  vertical-align: middle;
}

.ncce-certs__certificate {
  background: $white;
  margin-bottom: 10px;
  padding: 15px 15px 1px 15px;
  @include govuk-media-query($from: tablet) {
    padding: 20px 20px 5px 20px;
  }
  &--primary {
    border-left: 13px solid $primary-cert-color;
  }
  &--secondary {
    border-left: 13px solid $secondary-cert-color;
  }
}
