.ncce-confidence {
}

.ncce-confidence__grid {
  display: grid;
  grid-template-columns: auto;
  @include govuk-media-query($from: tablet) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.ncce-confidence__heading {
  display: none;
  @include govuk-media-query($from: tablet) {
    display: block;
    text-align: center;
  }
}

.ncce-confidence__panel {
  margin-bottom: 2rem;
  @include govuk-media-query($from: tablet) {
    width: 95%;
  }
}

.ncce-confidence__grid-col2 {
  display: flex;
  justify-content: center;
}

.ncce-confidence__grid-col3 {
  display: flex;
  justify-content: flex-end;
}

.ncce-confidence__icon-container {
  background-color: $concrete;
  border-bottom: 3px solid $deep-cerulean;
  margin-bottom: 1rem;
  padding: 8px 0;
  text-align: center;
}

.ncce-confidence__icon {
  width: 106px;
}
