.ncce-hero {
  background-color: $hero-goldenrod;
  background-image: url(/images/home/polka-yellow-bg.svg);
  overflow: hidden;
}

.ncce-hero__wrapper {
  padding-bottom: 0;
}

.ncce-hero__image {
  mask-image: url('/images/home/squiggle-shape.svg');
  -webkit-mask-image: url('/images/home/squiggle-shape.svg');
  mask-size: cover;
  -webkit-mask-size: cover;
  position: relative;
  width: 100%;

  @include govuk-media-query($from: tablet) {
    margin-left: -18%;
    width: 120%;
  }

  z-index: 20;
}

.ncce-hero__long-shadow {
  position: relative;
  margin-top: 40px;

  @include govuk-media-query($from: tablet) {
    left: -20px;
  }

  &:before {
    background-color: $hero-terracotta;
    content: "";
    height: 101%;
    left: -800px;
    position: absolute;
    top: 800px;
    transform: skewY(-45deg);
    transform-origin: top left;
    width: 800px;
  }

  &:after {
    background-color: $hero-terracotta;
    content: '';
    height: 800px;
    left: 0;
    position: absolute;
    top: 100%;
    transform: skewX(-45deg);
    transform-origin: top left;
    width: 100%;
  }
}

.ncce-hero__heading {
  background-color: $white;
  border: 6px solid $black;
  font-family: $font-family-heading;
  font-weight: bold;
  font-size: 8.4vw;
  line-height: 1;

  @include govuk-media-query($from: tablet) {
    font-size: 4vw;
  }

  @include govuk-media-query($from: 1024px) {
    background-image: url('/images/home/splash-pink.svg');
    background-position: 11.5rem 0.15rem;

    @-moz-document url-prefix() {
      background-position: 12rem 0.15rem;
    }

    background-repeat: no-repeat;
    background-size: 7.5rem;
    border: 9px solid $black;
    font-size: 2.8em;
    line-height: 1.2;
  }

  margin-bottom: 10px;
  padding: 10px;
}

.ncce-hero__cta--desktop {
  display: none;

  @include govuk-media-query($from: tablet) {
    display: block;
  }

  @include govuk-media-query($until: desktop) {
    margin-bottom: 40px;
  }

  position: relative;
}

.ncce-hero__cta--mobile {
  margin-bottom: 25px;

  @include govuk-media-query($from: tablet) {
    display: none;
  }

  position: relative;
}

.ncce-hero__body {
  color: $black;
  font-size: 1.25rem;
  margin-bottom: 20px;

  @include govuk-media-query($from: tablet) {
    padding-right: 60px;
  }

  @include govuk-media-query($from: 1024px) {
    font-size: 1.5rem;
  }
}

.ncce-hero__button {
  margin-bottom: 40px;
}

.ncce-hero__maintenance {
  background-image: image-url('dots.svg');
  background-position: calc(100% - -110px) 0%;
  background-repeat: no-repeat;
  background-size: 100%;



  @include govuk-media-query($from: tablet) {
    background-position: top 0 right -48px;
    background-size: 800px;
    margin: 1.5rem auto;
  }


}
