.ncce-hero {
  background-blend-mode: multiply;
  background-color: #FAD160;
	background-image: url(/images/dots.svg);
  overflow: hidden;
}

.ncce-hero__wrapper {
  padding-bottom: 0;
}

.ncce-hero__image {
  margin-bottom: 20px;
  position: relative;
  width: 100%;
}

.ncce-hero__long-shadow {
  position: relative;

  &:before {
    background-color: #E67D6E;
    content: "";
    height: 101%;
    left: -400px;
    position: absolute;
    top: 400px;
    transform: skewY(-45deg);
    transform-origin: top left;
    width: 400px;
  }

  &:after {
    background-color: #E67D6E;
    content: '';
    height: 400px;
    left: 0;
    position: absolute;
    top: 100%;
    transform: skewX(-45deg);
    transform-origin: top left;
    width: 100%;
  }
}

.ncce-hero__heading {
  border: 6px solid black;
  padding: 0.465em;
  background-color: white;
  font-size: 1.7rem;
  margin-bottom: 20px;


	// @include govuk-media-query($from: tablet) {
	// 	background-position: bottom left;
	// 	background-size: 72%;
	// 	font-size: 48px;
	// 	padding-top: 5rem;
  // }
}

.ncce-hero__cta--desktop {
  display: none;
  @include govuk-media-query($from: tablet) {
    display: initial;
  }
  position: relative;
}

.ncce-hero__cta--mobile {
  @include govuk-media-query($from: tablet) {
    display: none;
  }
  position: relative;
}

.ncce-hero__body {
  font-size: 1.25rem;
}
