.ncce-jobs-container {
	background-color: $concrete;
	padding-bottom: 2rem;
	padding-top: 2rem;

	@include govuk-media-query($from: tablet) {
		padding-bottom: 3rem;
		padding-top: 3rem;
	}
}

.ncce-jobs__heading {
	margin-bottom: 1rem;
}

.ncce-jobs__image {
	margin-bottom: 1.5rem;
	width: 50%;

	@include govuk-media-query($from: tablet) {
		width: 75%;
	}
}

.ncce-jobs__list {
	margin-bottom: 25px;
}

.ncce-jobs__list-item {
	margin: 0.8rem 0;
}
