.ncce-stay-in-touch {
	background-color: $ncce-dark-purple;
	background-image: none;
	padding-bottom: 30px;
	padding-top: 20px;

	@include govuk-media-query($from: tablet) {
		background-image: url(/images/triangle-background.jpg);
		background-position: top right;
		background-repeat: no-repeat;
		background-size: 50%;
		padding-bottom: 30px;
		padding-top: 40px;
	}
}

.ncce-stay-in-touch__label {
	color: $ncce-white;
	font-weight: bold;
}

.ncce-stay-in-touch__input {
	border: none;
}

.ncce-stay-in-touch__heading,
.ncce-stay-in-touch__body {
	color: $ncce-white;
}

.ncce-stay-in-touch__footnote {
	font-size: 0.875rem;
	color: $ncce-white;

	a {
		color: $ncce-white;
	}
}

.ncce-stay-in-touch__list {
	margin-top: 40px;
	@include govuk-media-query($from: tablet) {
		margin-top: 19rem;
		margin-left: 5rem;
	}
}

.ncce-stay-in-touch__list > li {
	margin-bottom: 20px;

	.ncce-link {
		padding: 5px 0;
	}
}
