.ncce-news-and-updates {
  margin-bottom: 1rem;
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	margin-top: 1.5rem;

	@include govuk-media-query($from: tablet) {
    margin-bottom: 0;
		grid-gap: 15px;
		grid-template-columns: repeat(2, 1fr);
  }
}

.ncce-news-and-updates__body {
	font-size: 16px;
}

.ncce-news-and-updates__panel {
	margin-bottom: 1.5rem;

	&:last-child {
		margin-bottom: 0;
  }

  .ncce-link {
    font-family: "Objectivity Bold", sans-serif;
  }

	@include govuk-media-query($from: tablet) {
		margin-bottom: 0;
	}
}

.ncce-news-and-updates__heading {
  margin-bottom: 1rem;
  grid-column-start: 1;
  grid-column-end: 2;

  @include govuk-media-query($from: tablet) {
    grid-column-end: 1;

    .govuk-heading-l {
      margin-bottom: 0;
    }
	}
}

.ncce-news-and-updates__date {
	margin-bottom: 0;
	margin-top: 0.5rem;
}

.ncce-news-and-updates__image {
	width: 100%;
}

.ncce-news-and-updates__archive-link {
  display: none;

  @include govuk-media-query($from: tablet) {
    display: block;

    .ncce-link {
      margin-top: 0.5rem;
      float: right;
    }
	}
}
