.ncce-offering__container {
  background-image: url(/images/polka-teal-bg.svg);
  background-repeat: repeat-x;
  background-position: 0% 10%;
  background-color: $ncce-blue-light;

  @include govuk-media-query($from: tablet) {
    background-position: 0% 25%;
  }
}

.ncce-offering {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  margin-top: 20px;
  @include govuk-media-query($from: 800px) {
		grid-gap: 15px;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 3%;
  }
}

.ncce-offering__aside {
  grid-column-start: 1;
  grid-column-end: 1;
  background-color: $ncce-dark-purple;
  border-radius: 24px;
  padding: 24px;
  margin-bottom: 40px;

  @include govuk-media-query($from: 800px) {
    grid-column-start: 1;
    grid-column-end: 3;
    margin-left: -24px;
  }
}

.ncce-offering__aside-highlight {
  font-weight: bold;

  @include govuk-media-query($from: tablet) {
    background-image: url(/images/underline-pink.svg);
    background-position: left bottom;
    background-repeat: no-repeat;
    background-size: 100%;
    padding-bottom: 5px;
  }
}

.ncce-offering__aside-text {
  color: $ncce-white;
  margin-bottom: 0;
}

.ncce-offering__heading {
  font-size: 19px;

  @include govuk-media-query($from: tablet) {
    display: flex;
    align-items: flex-end;
    min-height: 50px;
    margin-bottom: 15px;
	}
}

.ncce-offering__link {
  background-image: url(/images/arrow-pink.svg);
  background-position: left center;
  background-repeat: no-repeat;
  display: inline-block;
  font-weight: bold;
  padding-left: 40px;
}

.ncce-offering__panel {
  margin-bottom: 30px;

	&:last-child {
		margin-bottom: 10px;
  }

	@include govuk-media-query($from: 800px) {
    grid-area: auto;
    grid-row-start: 2;
	}
}
