<div class='mailer__content'>
  <p class="govuk-body">Dear <%= @user.first_name %>,</p>
  <p class="govuk-body">
  Congratulations on your progress towards completing the I Belong: encouraging girls into computer science programme. Now that your school has undertaken a range of activities to improve girls’ participation in computer science, consolidate your learning by engaging in professional development. <em>The Encouraging girls into GCSE computer science</em> course will help you reflect on what you’ve done so far and plan and explore different strategies to use inside and outside the classroom. It’s free to attend if you work in a state-funded school or college, which means there is no limit to the number of teachers in your school who can benefit from this course.
  </p>
  <%= link_to 'Book the course', course_url('CP440'), class: 'govuk-button button' %>
  <p class="govuk-body">Most importantly, by completing the programme, your school will achieve a nationally recognised certificate recognising its commitment to improving girls’ uptake of computer science.</p>
  <p class="govuk-body"><strong>Need more support?</strong></p>
  <p class="govuk-body">
    Go to your
    <%= link_to 'dashboard', i_belong_url %>
    to browse all recommended activities from the I Belong programme.
  </p>
</div>
