<div class='mailer__content'>
  <p class="govuk-body">Dear <%= @user.first_name %>,</p>

  <p class="govuk-body">Thank you for participating in the I Belong programme. Your activities are currently being reviewed, and we will keep you updated by email on the outcome and when your school’s certificate has been awarded. </p>

  <p class="govuk-body"><strong>Follow-up student attitude surveys</strong></p>

  <p class="govuk-body">Now you have nearly completed the programme, don’t forget to issue your follow-up <%= link_to("student attitude surveys", i_belong_student_survey_url) %>. This data can help you to understand the overall impact of your interventions. As part of an anonymised data set, it will also help the National Centre for Computing Education to understand the impact of the I Belong programme.</p>

  <p class="govuk-body">In your original email, entitled ‘Your student attitude survey links,’ you can access the follow-up survey and report link, or request this by emailing <a href="mailto:info@teachcomputing.org">info@teachcomputing.org</a>.</p>

</div>
