<div class='mailer__content'>
  <p class="govuk-body">Dear <%= @user.first_name %>,</p>

  <p class="govuk-body">
    Thank you for recently signing up to I Belong: encouraging girls into computer science. We hope you have already started to explore and take advantage of our resources.
  </p>

  <p class="govuk-body">
    As part of the programme, and if you are teaching key stage 3 specifically, you can access ready-made <a href="https://ncce.io/student-survey">student surveys</a> designed to help you understand your cohorts' attitudes and perceptions of computing and computer science. Each survey link comes with a report link unique to you, enabling you to analyse the data and helping you design student interventions. Follow-up surveys are available on programme completion to help you understand the impact of your interventions.
  </p>

  <p class="govuk-body"><strong>Request your survey links today</strong></p>

  <p class="govuk-body">To obtain your survey links, please visit our <a href="https://ncce.io/student-survey">student surveys page</a> on Teach Computing.</p>

  <p class="govuk-body"><strong>Need some help?</strong></p>

  <p class="govuk-body">For support, email <a href="mailto:info@teachcomputing.org">info@teachcomputing.org</a>.</p>
</div>
