
<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <% table_columns.each do |column| %>
        <th class="govuk-table__header"><%= column %></th>
      <% end %>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <% table_data.each do |row| %>
      <tr class="govuk-table__row">
        <% row.each do |cell| %>
          <td class="govuk-table__cell"><%= cell %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>