<div class="govuk-width-container">
	<div class="govuk-main-wrapper">
		<div class="govuk-grid-row">
			<div class="light-blue-bg padded-box padded-box__margin">
				<p class="govuk-body-l">Help us make these resources better</p>
				<%= link_to 'Provide your feedback', '', class: 'govuk-button button' %>
				<p class="govuk-body-s">Or email us at <%= link_to 'resourcesfeedback@raspberrypi.org', 'mailto:resourcesfeedback@raspberrypi.org', class: 'govuk-link ncce-link' %></p>
			</div>
		</div>
	</div>
</div>
