<div class="light-blue-bg padded-box govuk-!-margin-top-5">
	<div class="padded-box__feedback">
		<h3 class="govuk-heading-m padded-box__title">Help us make these resources better</h3>
		<%= link_to 'Provide your feedback', '', class: 'govuk-button button button--small button--curriculum' %>
		<p class="govuk-body govuk-!-margin-top-3">Or email us at <%= link_to 'resourcesfeedback@raspberrypi.org', 'mailto:resourcesfeedback@raspberrypi.org', class: 'govuk-link ncce-link' %></p>
	</div>
</div>
