<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-quarter">
		<div class="card--orange card--resource">
			<h3 class="govuk-heading-s"><%= link_to 'Key stage 1 resources', '', class: 'govuk-link ncce-link' %></h3>
			<p class="govuk-body-s"><strong>Year 1-2</strong>, Age 5-7</p>
		</div>
  </div>
  <div class="govuk-grid-column-one-quarter">
		<div class="card--orange card--resource">
			<h3 class="govuk-heading-s"><%= link_to 'Key stage 2 resources', '', class: 'govuk-link ncce-link' %></h3>
			<p class="govuk-body-s"><strong>Year 3-6</strong>, Age 7-11</p>
		</div>
  </div>
  <div class="govuk-grid-column-one-quarter">
		<div class="card--purple card--resource">
			<h3 class="govuk-heading-s"><%= link_to 'Key stage 3 resources', '', class: 'govuk-link ncce-link' %></h3>
			<p class="govuk-body-s"><strong>Year 7-9</strong>, Age 11-14</p>
		</div>
  </div>
  <div class="govuk-grid-column-one-quarter">
		<div class="card--resource card--purple ">
			<h3 class="govuk-heading-s"><%= link_to 'Key stage 4 resources', '', class: 'govuk-link ncce-link' %></h3>
			<p class="govuk-body-s"><strong>Year 10-11</strong>, Age 14-16</p>
		</div>
  </div>
</div>
