<% meta_tag :title, 'Curriculum - Teach Computing' %>
<% meta_tag :url, request.original_url %>
<%= render 'hero' %>
<div class="govuk-width-container">
	<div class="govuk-main-wrapper">
		<div class="govuk-grid-row">
			<div class="govuk-grid-column-three-quarters">
				<p class="govuk-body-l">World-class lesson plans, unit guides and teacher guides to help you teach computing <strong>teach computing</strong>.</p>
				<p class="govuk-body-l">Choose resources by key stage</p>
			</div>
		</div>
		<%= render 'resources' %>
		<%= render 'feedback' %>
	</div>
</div>

