<% meta_tag :title, 'Primary certificate - Teach Computing' %>
<% meta_tag :url, request.original_url %>
<%= render 'hero' %>
<div class="ncce-programmes-activity">
  <div class="govuk-width-container">
    <div class="govuk-main-wrapper">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">
          <p class="govuk-body-l">Our Teach Computing Curriculum brings world-class lesson plans, unit guides and teacher guides to help you  <strong>teach computing</strong>.</p>
					<p class="govuk-body-l">Choose resources by age group</p>
        </div>
      </div>
			<%= render 'resources' %>
    </div>
  </div>
</div>
