<% meta_tag :title, 'Curriculum teaching resources' %>
<% meta_tag :description, 'Curriculum resources contain everything you need to teach computing at key stages 1 to 4. Content is free to access, and has been created by subject experts.' %>
<% meta_tag :url, request.original_url %>
<%= render 'hero' %>
<div class="govuk-width-container">
	<div class="govuk-main-wrapper">
		<div class="govuk-grid-row">
			<div class="govuk-grid-column-three-quarters">
				<p class="govuk-body-l">Our curriculum contains everything you need to teach computing at key stages 1 to 4, including lesson plans, slides, worksheets, homework and assessment.</p>
				<p class="govuk-body">All of the content is completely free to access, and has been created by subject experts, based on the latest pedagogical research and teacher feedback.</p>
				<p class="govuk-body">It also provides an innovative progression framework where computing content (concepts, knowledge, skills, and objectives) has been organised into interconnected networks we call learning graphs.</p>
				<p class="govuk-heading-m curriculum__title">Choose resources by key stage</p>
			</div>
		</div>
		<%= render partial: 'key_stages', locals: { key_stages: @key_stages } %>
		<%= render 'curriculum/feedback' %>
	</div>
</div>

