.community-activity-component {

  .community-activity-component__content{
    padding: 1.25rem 1.125rem;
    display: flex;
    flex-direction: column;
  }

  .community-activity-component__rejected {
    background-color: $red;
    padding: 1.25rem 1.125rem;

    .community-activity-component__rejected-text {
      color: $white !important;
    }

  }
}

.community-activity-component__objective {
  align-items: flex-start;
  background-color: $white;
  display: flex;
  flex-direction: row;

  @include govuk-media-query($until: tablet) {
    flex-direction: column;
  }

  .ihavedonethis {
    align-self: center;

    .button {
      width: 100%;
      align-self: center;
      grid-row: 3;
      margin-bottom: 1rem;
      text-align: center;

      @include govuk-media-query($from: tablet) {
        width: 100%;
      }
    }
  }
}

.community-activity-component__objective-button {
  width: auto;
  grid-row: auto;
  grid-column: 2;
  align-self: top;

  @include govuk-media-query($until: tablet) {
    grid-column: 1;
  }
}

.community-activity-component__completed_badge_container {
  display: flex;
  width: 100%;
  justify-content: flex-end;

  @include govuk-media-query($from: tablet) {
    text-align: right;
    width: auto;
  }
}

.community-activity-component__objective-button-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;

  @include govuk-media-query($from: tablet) {
    flex: 0 1 250px;
    align-items: flex-end;
  }

  .progress-component {
    width: 100%;
  }
}

.community-activity-component__objective-text {
  background: none;
  padding-left: 0;
  flex: 1 1 auto;

  @include govuk-media-query($until: tablet) {
    margin-bottom: 0.5rem;
  }

  @include govuk-media-query($from: tablet) {
    margin-right: 1.7rem;
    font-size: 1.188rem;
    line-height: 1.45rem;
  }
}

.community-activity-component__completed-badge {
  border: solid 2px #E6A614;
  font-weight: bold;
  font-size: 0.9em;
  text-align: center;
  padding: 2px 8px;
  width: auto;
  display: inline-block;

  @include govuk-media-query($until: tablet) {
    margin-bottom: 1rem;
    width: 99%;
    padding: 2px 0;
  }
}


.community-activity-component__description {
  font-size: 1rem;
  grid-column: 1;
  padding: 0.7rem;
  background-color: $foam;

  @include govuk-media-query($from: tablet) {
    grid-column-end: 3;
    margin-top: 1rem;
    grid-row: 2;
  }
}

.i-belong-dashboard {

  border-bottom: 2px solid $ncce-grey;

  .community-activity-component__objective {
    margin-bottom: 10px;
  }

  .community-activity-component__objective-text {
    align-self: start;

    @include govuk-media-query($from: tablet) {
      margin-right: 0;
    }
  }

  .community-activity-component__description {
    background-color: $white;
    padding: 0;
    margin-top: 0;
  }

  .community-activity-component__completed-badge {
    padding: 10px 0;
    display: inline-block;
    margin-bottom: 1rem;
    min-width: 196px;
  }

  .community-activity-component__content {
    padding: 1.25rem 0rem;
  }

  .govuk-button {
    padding: 10px 0;
    margin-bottom: 10px;

    @include govuk-media-query($from: tablet) {
      width: 200px;
    }
  }
}
