
<div class="programme-assignments">
  <% field.data.each do |programme_activity| %>
    <div class="programme-assignment">
      <%= programme_activity.programme.title %>
      <% if programme_activity.programme_activity_grouping %>
          - (<%= programme_activity.programme_activity_grouping.title %>)
      <% end %>
    </div>
  <% end %>
</div>
