<p class="govuk-body-m"><%= t('.introduction.html') %></p>

<% if user_programme_enrolment.message_flags_primary_pathway_migrated %>
  <%= render ModalComponent.new(
    title: 'Updates to your primary certificate pathway',
    expanded: true
  ) do |component| %>
    <% component.with_body do %>
      <p class="govuk-body">
        We have recently updated our Primary computing certificate pathways to better align to your development needs and goals. You are now enrolled on the updated pathway, but can still change to an alternative pathway at any point.
      </p>
      <p class="govuk-body">
      For any questions about the primary certificate, get in touch:
      <%= link_to 'info@teachcomputing.org', 'mail:info@teachcomputing.org' %>
      </p>
    <% end %>
    <% component.with_close_button do %>
      <%= link_to destroy_message_flags_primary_pathway_migrated_user_programme_enrolments_path, method: :delete do %>
        <div class="icon-close"></div>
      <% end %>
    <% end %>
  <% end %>
<% end %>
