<%= render AsideComponent.new(
  title: 'Teachers following this pathway will contribute to improving:'
) do |component| %>
  <% component.with_body do %>
    <ul class="govuk-body-s">
      <% pathway.improvement_bullets.each do |bullet| %>
        <li><%= bullet %></li>
      <% end %>
    </ul>
    <p class="govuk-body-s">
      <%= pathway.improvement_cta.html_safe %>
    </p>
  <% end %>
<% end %>
