<div class="certification-progress">
  <p class="govuk-body-m govuk-!-font-weight-bold pink-text"><img src="/images/notepad.svg" alt="" class="certification-hero__image--dashboard"/>Completed!</p>
  <p class="govuk-body-s govuk-!-font-weight-bold">The National Centre for Computing Education certificate in</h2>
  <h3 class="govuk-body-l govuk-!-font-weight-bold govuk-!-margin-bottom-3"><%= link_to programme.title, programme_complete_path(programme.slug), class: 'ncce-link' %></h3>
</div>
