<div class="certification-hero">
    <div class="govuk-width-container">
      <div class="govuk-main-wrapper govuk-main-wrapper--xl">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-third">
              <img src="/images/notepad.svg" alt="" class="certification-hero__image certification-hero__image--tablet"/>
            </div>
            <div class="govuk-grid-column-two-thirds">
              <h1 class="govuk-heading-s certification-hero__text">Enrol on the National Centre for Computing Education certificate in</h1>
              <h2 class="govuk-heading-m certification-hero__text"><%= programme.title %></h2>
              <img src="/images/notepad.svg" alt="" class="certification-hero__image certification-hero__image--mobile"/>
              <p class="govuk-body-s certification-hero__text">Certification Awarded by BCS, The Chartered Institute for IT and acredited by Royal Academy of Engineering.</h2>
              <p class="govuk-body">
                <%= link_to 'Find out more & enrol', cs_accelerator_path, class: 'govuk-button ncce-button__pink', role: 'button', draggable: 'false' %>
              </p>
            </div>
        </div>
      </div>
    </div>
  </div>