<div class="certification-hero <%= programme.slug %>">
  <div class="govuk-width-container">
    <div class="govuk-main-wrapper certification-hero__wrapper">
      <img src="/images/<%= programme.slug %>/certificate-icon.svg" alt="" class="certification-hero__image"/>
      <div class="certification-hero__content">
        <h1 class="govuk-heading-m certification-hero__heading"><%= programme.title %></h2>
        <p class="govuk-body-s certification-hero__text">Certification Awarded by BCS, The Chartered Institute for IT</h2>
        <p class="govuk-body">
          <%= link_to 'Find out more & enrol', "/#{programme.slug}", class: 'govuk-button ncce-button__pink', role: 'button', draggable: 'false' %>
        </p>
      </div>
    </div>
  </div>
</div>
