<div class="certification">
  <div class="govuk-width-container">
    <div class="govuk-main-wrapper">
      <h2 class="govuk-heading-m">Your certificates</h2>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <% current_user.programmes.each do |programme| %>
            <% if programme.user_completed?(current_user) %>
              <%= render "dashboard/programmes/complete", programme: programme %>
            <% else %>
              <%= render "dashboard/programmes/progress", programme: programme %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
