<div class="hero hero--plain">
  <div class="govuk-width-container">
    <div class="govuk-main-wrapper hero__wrapper">
      <span class="govuk-body-m hero__status">User-related status</span>
      <div class="hero__heading-wrapper">
        <h1 class="govuk-heading-l hero__heading">Page title</h1>
        <!--<p class="govuk-body-s hero__text">Certification awarded by BCS, The Chartered Institute for IT</p>-->
      </div>
    </div>
  </div>
</div>

<div class="hero hero--center-glyph">
  <div class="govuk-width-container">
    <div class="govuk-main-wrapper hero__wrapper">
      <!--<span class="govuk-body-m hero__status">You are enrolled</span>-->
      <div class="hero__heading-wrapper">
        <h1 class="govuk-heading-m hero__heading">Welcome to our website, we hope you like it, please stay a while and browse</h1>
        <!-- <p class="govuk-body-s hero__text">Certification awarded by BCS, The Chartered Institute for IT</p> -->
      </div>
    </div>
  </div>
</div>

<div class="hero hero--<%= @programme.slug %> hero--bottom-glyph">
  <div class="govuk-width-container">
    <div class="govuk-main-wrapper hero__wrapper">
      <% if current_user && @programme.user_enrolled?(current_user) %>
        <span class="govuk-body-m hero__status">You are enrolled</span>
      <% end %>
      <div class="hero__heading-wrapper">
        <h1 class="govuk-heading-l hero__heading"><%= @programme.title %></h1>
        <p class="govuk-body-s hero__text">Certification awarded by BCS, The Chartered Institute for IT</p>
      </div>
    </div>
  </div>
</div>

<div class="hero hero--secondary-certificate hero--center-glyph">
  <div class="govuk-width-container">
    <div class="govuk-main-wrapper hero__wrapper">
      <% if current_user && @programme.user_enrolled?(current_user) %>
        <span class="govuk-body-m hero__status">You are enrolled</span>
      <% end %>
      <div class="hero__heading-wrapper">
        <h1 class="govuk-heading-l hero__heading">Teach Secondary Computing</h1>
        <p class="govuk-body-s hero__text">Certification awarded by BCS, The Chartered Institute for IT</p>
      </div>
    </div>
  </div>
</div>

<div class="hero hero--cs-accelerator hero--bottom-glyph">
  <div class="govuk-width-container">
    <div class="govuk-main-wrapper hero__wrapper">
      <% if current_user && @programme.user_enrolled?(current_user) %>
        <span class="govuk-body-m hero__status">You are enrolled</span>
      <% end %>
      <div class="hero__heading-wrapper">
        <h1 class="govuk-heading-l hero__heading">Teach GCSE Computing</h1>
        <p class="govuk-body-s hero__text">Certification awarded by BCS, The Chartered Institute for IT</p>
      </div>
    </div>
  </div>
</div>
