<div class="certification-hero">
  <div class="govuk-width-container">
    <div class="govuk-main-wrapper govuk-main-wrapper--xl">
      <div class="govuk-grid-column-one-quarter">
        <img src="/images/notepad.svg" alt="Get involved" class="ncce-jobs__image"/>
      </div>
      <div class="govuk-grid-column-two-thirds">
        <h1>The National Centre for Computing Education certificate in</h1>
        <h2>GCSE computer science subject knowledge</h2>
        <h2>Certification Awarded by BCS, The Chartered Institute for IT and acredited by Royal Academy of Engineering.</h2>
      </div>
    </div>
  </div>
</div>

<%= render 'pages/certification/hero' %>

