<div class="certification-hero <%= @programme.slug %>">
  <div class="govuk-width-container">
    <div class="govuk-main-wrapper certification-hero__wrapper">
      <img src="/images/<%= @programme.slug %>/certificate-icon.svg" alt="" class="certification-hero__image"/>
      <div class="certification-hero__content">
        <% if current_user && @programme.user_enrolled?(current_user) %>
          <span class="govuk-body-m certification-hero__enrolled"><strong>You are enrolled</strong></span>
        <% end %>
        <h1 class="govuk-heading-m certification-hero__heading"><%= @programme.title %></h1>
        <p class="govuk-body-s certification-hero__text">Certification awarded by BCS, The Chartered Institute for IT</h2>
      </div>
    </div>
  </div>
</div>



