<div class="certification-hero">
  <div class="govuk-width-container">
    <div class="govuk-main-wrapper govuk-main-wrapper--xl">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column">
          <div class="govuk-grid-column-one-quarter">
            <img src="/images/notepad.svg" alt="" class="certification-hero__image"/>
          </div>
          <div class="govuk-grid-column-two-thirds">
            <h2 class="govuk-heading-s certification-hero__text">The National Centre for Computing Education certificate in</h2>
            <p class="govuk-heading-m certification-hero__text">GCSE computer science subject knowledge</p>
            <p class="govuk-body-s certification-hero__text">Certification Awarded by BCS, The Chartered Institute for IT and acredited by Royal Academy of Engineering.</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



