<div class="pathway-wrapper light-grey-bg">
  <h2 class="govuk-heading-s">Choose a pathway</h2>
  <p class="govuk-body">Are you an aspiring computer science teacher, or are you unsure which courses support your development objectives? Our learning pathways are designed for teachers at different levels and provide a set of recommended courses to help you get started.</p>
  <ul class="govuk-list">
    <% Pathway.ordered_by_programme('subject-knowledge').each do |pathway| %>
      <li class="pathway__item">
        <%= link_to pathway.title, pathway.pdf_link, class: 'govuk-link ncce-link icon-resources' %>
        <span class="pathway__item--pdf">PDF</span>
      </li>
    <% end %>
  </ul>
  <p class="govuk-body">You can also tailor your learning, selecting from our wide range of courses to increase your subject knowledge. </p>
  <p class="govuk-body">This may be a good option if you are self-motivated and already have a good understanding of computer science.</p>
	<%= link_to 'Browse our courses', courses_url(certificate: @programme.slug), class: 'govuk-button button' %>
</div>
