<div class="pathway-wrapper">
  <ol class="pathway">
    <li class="pathway__step">
      <h2 class="govuk-heading-s pathway__step-title">
        <span class="pathway__step-circle">
        </span>
          Register & plan</h2>
        <p class="govuk-body"><%= link_to 'Create an account', login_url, :class => 'ncce-link' %> and discover courses suited to you using our diagnostic tool</p>
    </li>
    <li class="pathway__step">
      <h2 class="govuk-heading-s pathway__step-title">
        <span class="pathway__step-circle">
        </span>
          Participate</h2>
        <p class="govuk-body">Complete 40 hours of CPD, both online and local to you</p>
        <p class="govuk-body-s">(Your release time is covered, paid to your school after completion of face-to-face courses)</p>
    </li>
    <li class="pathway__step">
      <h2 class="govuk-heading-s pathway__step-title">
        <span class="pathway__step-circle">
        </span>
          Complete</h2>
        <p class="govuk-body">Complete your learning programme by carrying out a short test</p>
        <p class="govuk-body-s">(Any extra funding support is paid to your school after completion of the test)</p>
    </li>
    <li class="pathway__step">
      <h2 class="govuk-heading-s pathway__step-title">
        <span class="pathway__step-circle">
        </span>
          Reflect</h2>
        <p class="govuk-body">Embed new ideas in the classroom and see increased impact</p>
    </li>
  </ol>
</div>
