<% if current_user && programme.user_enrolled?(current_user) %>
  <% case  current_user.user_programme_enrolments.find_by(programme_id: programme.id).current_state %>
    <% when 'enrolled' %>
      <span class="govuk-body-m status-block">You are enrolled</span>
    <% when 'pending' %>
      <span class="govuk-body-m status-block">Programme complete</span>
    <% when 'complete' %>
      <span class="govuk-body-m status-block">Certificate awarded</span>
    <% end %>
<% end %>
