<div class="govuk-width-container">
  <div class="govuk-main-wrapper govuk-main-wrapper--xl">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column">
        <div class="govuk-grid-column-two-thirds">
          <h1 class="govuk-heading-l">Boost in computing support for local schools</h1>
          <p class="govuk-body-s">3 April 2019</p>
          <img src="/images/computing-teacher.jpg" alt="" class="ncce-news__item-image"/>
          <p class="govuk-body-l">We are delighted to announce our first regional delivery network, which has been established to support our vision of a world-leading computing education for every young person in England.
          </p>
          <p class="govuk-body">The network comprises of 10 Regional Delivery Partners, who are working in partnership with the National Centre to ensure teachers of computing across all key stages are able to access a range of exciting and engaging continuing professional development (CPD) opportunities locally.
          </p>
          <p class="govuk-body">The new Regional Delivery Partners are:</p>

          <ul class="govuk-list govuk-list--bullet">
            <li>Birmingham City University</li>
            <li>E2BN – East of England Broadband Network</li>
            <li>Edge Hill University</li>
            <li>Merseygrid Ltd (MGL)</li>
            <li>University of Hertfordshire</li>
            <li>University of Plymouth</li>
            <li>University of Roehampton</li>
            <li>University of Southampton</li>
            <li>University of Sunderland</li>
            <li>University of York</li>
          </ul>
          <p class="govuk-body">The Regional Delivery Partners will provide a comprehensive programme of support for local schools and colleges until the end of the Summer term, and are already running computing courses at various venues in their local area.</p>
          <p class="govuk-body"> “We are excited to widen our offer of support for teachers through our new regional network, providing national coverage for the National Centre across the country. Working together, we can help teachers access the right support, resources and guidance wherever they are.” Louise Ishani, Programme Manager, National Centre for Computing Education</p>
          <p class="govuk-body">A network of Computing Hubs will be announced later in the term, led by schools and colleges with an exceptional track record in teaching computing. The Hubs will deliver CPD from the start of the next academic year.</p>

          <h2 class="govuk-heading-s">Get involved</h2>
          <p class="govuk-body">To browse courses local to you, visit <%= link_to 'https://teachcomputing.org/courses','https://teachcomputing.org/courses', class: 'ncce-link' %>.</p>
        </div>
      </div>
    </div>
  </div>
</div>
