.lp-courses {
  display: grid;
  grid-template-columns: auto;

  @include govuk-media-query($from: tablet) {
    column-gap: 36px;
    grid-template-columns: 1fr 1fr;
  }
  @include govuk-media-query($from: desktop) {
    column-gap: 36px;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.lp-courses__intro {
  margin-bottom: 32px;
}

.lp-courses__course {
  margin-bottom: 36px;
  position: relative;

  &:last-of-type {
    margin-bottom: 0;
  }
}

.lp-courses__image {
  margin-bottom: 12px;
  width: 100%;
  @include govuk-media-query($from: tablet) {
    margin-bottom: 8px;
  }
}

.lp-courses__featured {
  background: $grey-dark-x;
  color: $white;
  font-weight: bold;
  left: 0;
  padding: 7px 12px 7px 8px;
  position: absolute;
  top: 0;
}

.lp-courses__details {
  background: $concrete;
  line-height: 20px;
  margin-bottom: 3px;
  padding: 10px;
}

.lp-courses__type,
.lp-courses__duration {
  display: inline-block;
  font-weight: bold;
  margin-bottom: 0;
}

.lp-courses__time {
  display: inline-block;
  font-weight: bold;
  margin-bottom: 0;
  margin-left: 20px;
}
