.lp-support__cards {
  display: grid;
  grid-template-columns: auto;


  @include govuk-media-query($from: tablet) {
    column-gap: 24px;
    grid-template-columns: 1fr 1fr;
  }

  @include govuk-media-query($from: desktop) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.lp-support__card {
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 16px;
  padding: 16px 11px;

  @include govuk-media-query($from: tablet) {
    margin-bottom: 24px;
    padding: 22px;
  }
}

.lp-support__card--bordered {
  border-top: 8px solid $jaffa;
}


