.lp-testimonials {
  background-color: hsla(193, 100%, 32%, 0.1);
  display: flex;
  margin-bottom: 48px;
  padding: 24px 20px;
}

.lp-testimonials__testimonial {
  margin-right: 30px;
}

.lp-testimonials__testimonial:last-of-type {
  margin-right: 0;
}

.lp-testimonials__testimonial-bio {
  padding: 0;
}

.lp-testimonials__testimonial-bio-text {
  margin-left: 12px;
}
