.lp-testimonials {
  background-color: hsla(193, 100%, 32%, 0.1);
  display: grid;
  grid-template-columns: auto;
  padding: 30px 15px 0;

  @include govuk-media-query($from: desktop) {
    column-gap: 30px;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 48px;
    padding: 24px 20px;
  }
}

.lp-testimonials__testimonial-bio {
  padding: 0;
}

.lp-testimonials__testimonial-bio-text {
  margin-left: 12px;
}
