.lp-testimonials {
  display: grid;
  grid-template-columns: auto;
  padding: 30px 0 0;

  @include govuk-media-query($from: tablet) {
    column-gap: 30px;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 32px;
  }

  @include govuk-media-query($from: desktop) {
    column-gap: 30px;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 48px;
    padding: 24px 0;
  }
}

.lp-testimonials__testimonial{
  display: none;
  @include govuk-media-query($from: desktop) {
    display: block;
  }
}

.lp-testimonials__testimonial:first-of-type{
  display: block;
}

.lp-testimonials__testimonial:not(:last-of-type){
  @include govuk-media-query($from: tablet) {
    display: block;
  }
}

.lp-testimonials__testimonial-bio {
  padding: 0;
}

.lp-testimonials__testimonial-bio-text {
  margin-left: 12px;
  strong {
    display: block;
    margin-bottom: .25rem;
  }
}
