<ul class="govuk-list ncce-activity-list ncce-activity-list--programme" role="list">
  <li class="ncce-activity-list__item ncce-activity-list__item--incomplete">
    <span class="ncce-activity-list__item-text">Complete an online course</span>
    <a class="govuk-button ncce-button__blue--deep nccce-button__recommendation" href="/">Start an online course</a>
    <span class="recommendation">
        <span class="recommendation__title">Our recomendation</span>
        <span>Teaching Programming in Primary School will help you understand key programming concepts and apply them using Scratch.</span>
    </span>
  </li>
</ul>