<% meta_tag :title, 'The essential toolkit for secondary computing teachers' %>
<% meta_tag :description, 'Training and inspiration that grows your confidence, transforms your teaching and brings your lessons to life.' %>
<% meta_tag :url, request.original_url %>
<% meta_tag :image, image_url('/images/secondary-teachers/hero.jpg', skip_pipeline: true) %>
<% meta_tag :image_alt, 'Secondary Teachers - Teach Computing' %>
<%= render 'pages/certification/hero', full_width: true %>
<div class="light-grey-bg">
	<div class="govuk-width-container">
		<div class="govuk-main-wrapper govuk-main-wrapper--xl">
			<div class="govuk-grid-row">
				<div class="govuk-grid-column-two-thirds">
        <div class="cs-accelerator__intro-text">
					<h2 class="govuk-heading-s">Welcome back to the Computer Science Accelerator Programme!</h2>
          <p class="govuk-body">Continue your journey towards feeling confident about teaching GCSE computer science.</p>
        </div>
          <h2 class="govuk-heading-s">Your activities</h2>
				</div>
				<div class="govuk-grid-column-two-thirds">
          <div class="cs-accelerator__courses-prompt">
            <p class="govuk-body">You can do as much training as you like as part of this programme</p>
            <%= link_to 'Book or join a course today', courses_path(certificate: @programme.slug), class: 'govuk-button button govuk-!-margin-bottom-0' %>
          </div>
					<%= render 'programmes/cs-accelerator/activity-list' %>
				</div>
				<div class="govuk-grid-column-one-third">
					<%= render 'programmes/cs-accelerator/aside' %>
				</div>
			</div>
		</div>
	</div>
</div>
