<% meta_tag :title, 'CS Accelerator - Teach Computing' %>
<%= render 'pages/certification/hero', full_width: true %>
<div class="ncce-programmes-activity">
  <div class="govuk-width-container">
    <div class="govuk-main-wrapper">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <h2 class="govuk-heading-l ncce-programmes-activity__title">Your
            progress</h2>
        </div>
      </div>
      <%= render 'programmes/cs-accelerator/achievement_list' %>
    </div>
  </div>
</div>
