.ncce-dashboard-activity {
  background-color: $concrete;
  padding-bottom: 30px;
  padding-top: 0;
}

.ncce-activity-list--programme {
  margin-bottom: 60px;
}

.ncce-activity-list__item {
  background-color: $white;
  display: grid;
  grid-template-rows: auto auto auto;
  grid-row-gap: 10px;
  align-items: start;
  padding: 0.5rem 1.125rem 1.125rem;
  @include govuk-media-query($from: tablet) {
    padding-bottom: 0.5rem;
  }

  border-bottom-width: 2px;
  border-bottom-color: $lavender-light;
  border-bottom-style: solid;
  margin-bottom: 0 !important;

  &:first-child {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
  }

  &:last-child {
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom: 0;
  }

  @include govuk-media-query($from: tablet) {
    grid-template-columns: 3fr auto;
    grid-template-rows: auto auto;
    padding: 1.25rem 1.125rem;
  }

  .button {
    align-self: right;
    grid-row: 3;
    @include govuk-media-query($from: tablet) {
      grid-row: 1;
    }
  }
}

.ncce-activity-list__item-text {
  align-self: center;
  background-image: image-url('tick-blue.svg');
  background-position: left top;
  background-repeat: no-repeat;
  background-size: 1.2rem;
  font-size: 1.188rem;
  grid-row: 1;
  grid-column: 1;
  margin-bottom: 10px;
  margin-top: 3px;
  padding-left: 2rem;

  @include govuk-media-query($from: tablet) {
    background-size: 1.9rem;
    line-height: 1.9rem;
    margin-bottom: 0;
    padding-left: 2.8rem;
  }
}

.ncce-activity-list__item-indent {
  margin-left: 2rem;

  @include govuk-media-query($from: tablet) {
    margin-left: 2.8rem;
  }
}

.ncce-activity-list__item-activity {
  @extend .ncce-activity-list__item-indent;
  font-size: 1rem;
  grid-row: 2;
  grid-column: 1;
  padding: 0.7rem;
  @include govuk-media-query($from: tablet) {
    width: 37vw;
  }
}

.ncce-activity-list__item--incomplete {
  // grid-template-rows: 2fr auto;

  // @include govuk-media-query($from: tablet) {
  //   grid-template-columns: 2fr auto;
  // }

  .ncce-activity-list__item-text {
    background-image: image-url('incomplete-achievement.svg');
  }
}

.ncce-activity-list__item--inprogress {
  grid-template-rows: 2fr auto;

  .ncce-activity-list__item-text {
    background-image: image-url('incomplete-achievement.svg');
  }
}

.ncce-activity-list__remove {
  grid-template-columns: 2fr auto;
}

.ncce-activity-list__item--position {
  position: relative;
}

.ncce-activity-list__item-remove {
  font-size: 0.7em;
  margin-top: 0.6em;
}

.ncce-activity-links {
  display: flex;
  flex-direction: column;
  text-align: center;
  position: relative;

  &--progressive {
    @include govuk-media-query($from: tablet) {
      flex-direction: row;
      justify-content: center;
    }
  }

  @include govuk-media-query($from: tablet) {
    width: 100%;
    margin: 0 auto;
  }

  &-search {
    background-image: image-url('search-dashboard.svg');
    background-position: left center;
    background-repeat: no-repeat;
    background-size: 1.2rem;
    padding-left: 1.5rem;
    margin-right: 1em;
    font-size: 1rem;
    font-weight: 700;

    @include govuk-media-query($until: tablet) {
      line-height: 3rem;
      background-size: 1rem;
    }

  }

  &-add-button {
    all: inherit;
    cursor: pointer;
    border: 0;
    display: inline-flex;

    background-image: image-url('add-dashboard.svg');
    background-position: left center;
    background-repeat: no-repeat;
    background-size: 1.2rem;

    @include govuk-media-query($until: tablet) {
      background-size: 1rem;
    }

    padding-left: 1.5rem;
    font-size: 1rem;
    font-weight: 700;
    text-decoration: underline;

    color: $blue-link;

    &:hover {
      color: $pink;
    }

    &:focus {
      color: $white;
      background-color: $pink;
      outline-color: $pink;
    }

    &:active {
      background-color: $pink;
      color: $white;
    }
  }
}

.ncce-collapsible-activity {
  margin-top: -3.8rem;

  &--progressive {
    position: absolute;
    margin-top: 3.5rem;

    @include govuk-media-query($from: tablet) {
      margin-top: auto;
    }

    @include govuk-media-query($from: desktop) {
      right: 4rem;
      width: 30rem;
    }
  }

  box-sizing: border-box;
  max-width: 100%;
  padding: 1rem;



  background-color: $white;
  box-shadow: 5px 5px 0 $box-shadow;
  text-align: left;

  &__title-button {
    all: inherit;

    box-sizing: border-box;
    display: block;
    width: 100%;
    margin: 0.5rem 0 2rem 0;
    padding-left: 1.5rem;

    background-image: image-url('add-dark.svg');
    background-position: left center;
    background-repeat: no-repeat;
    background-size: 1.2rem;
    font-size: 1rem;
    font-weight: 700;
    color: $grey-dark-z;
    text-align: left;
    cursor: pointer;
    border: 0;

    &:hover {
      text-decoration: underline;
    }

    @include govuk-media-query($from: tablet) {
      background-image: image-url('add-dark.svg'), image-url('close-blue.svg');
      background-position: left center, right, center;
      background-repeat: no-repeat, no-repeat;
      background-size: 1.2rem, 1.2rem;
    }
  }
}

.ncce-activity-form__select {
  margin-bottom: 1rem;
}

.ncce-activity-form__button {
  margin-top: 1rem;
  width: 100%;
}

.ncce-activity-list__tag {
  text-transform: none;
  margin-bottom: 0.7rem;
  width: auto;
  float: left;

  @include govuk-media-query($from: tablet) {
    float: none;
    margin-bottom: 0;
  }
}

.ncce-activity-list__course {
  @include govuk-media-query($until: tablet) {
    float: left;
    clear: both;
  }
}
