.certification__container {
  display: grid;
  grid-row-gap: 1.5 * $logo-block-mobile;

  @include govuk-media-query($from: desktop) {
    grid-column-gap: 30px;
    grid-row-gap: 1.5 * $logo-block;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.certification {

  @include govuk-media-query($from: desktop) {
		display: flex;
		overflow: hidden;
    flex: 1 1 0;
  }
}

.card--dashboard--content {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	justify-content: space-between;
}
