.certification {
  background-color: $ncce-dark-purple;
  background-image: none;

  @include govuk-media-query($from: tablet) {
    background-image: url(/images/dashboard/triangle2.png);
    background-position: top right;
    background-repeat: no-repeat;
    background-size: auto 100%;
    padding-bottom: 30px;
  }

  &__title {
    text-align: center;
    background-image: url(/images/dashboard/line.png);
    background-position: 50% 80%;
    background-repeat: no-repeat;
    background-size: 10rem;
    color: $ncce-white;
    padding: 1.5rem 0;

    @include govuk-media-query($from: tablet) {
      background-size: 15rem;
      font-size: 1.8rem;
    }
  }
}
.certification-progress {
  position: relative;
  background-color: $ncce-white;
  border-radius: 10px;
  padding: 1.25rem 0.9rem;
  @include govuk-media-query($from: tablet) {
    padding: 1.25rem 1.9rem;
  }

  &__image {
    position: absolute;
    right: 10px;
    bottom: 20px;
    width: 43px;
    @include govuk-media-query($from: tablet) {
      right: 20px;
      bottom: 10px;
      width: auto;
    }
  }
}
.certification-progress__fudge {
  width: 100%;
  display: flex;
  align-items: center;

  &-bar {
    width: 80%;
    height: 16px;
    background-color: $ncce-grey-x-light;
    color: $ncce-pink;

    color: $ncce-pink;
    &::-moz-progress-bar,
    &::-webkit-progress-value {
      background: $ncce-pink;
    }
  }
  &-bar-target {
    position: relative;
    display: inline-block;
    width: 1%;
    height: 30px;
    border: 2px solid $ncce-white;
    background-color: $ncce-butterfly-bush;
    
    &:after {
      content: 'Test';
      position: absolute;
      left: -10px;
      top: -1rem;
      font-family: $font-family-body;
      font-size: 0.7rem;
      color: $ncce-butterfly-bush;
    }
  }
  &-bar-target--ready:after {
    content: 'Test ready';
    left: -35px;
    width: 4rem
  }

  &-bar-dummy {
    position: relative;
    display: inline-block;
    width: 18%;
    height: 16px;
    background-color: $ncce-grey-x-light;
  }
}
