.certification__container {
  display: grid;
  grid-row-gap: 1.5 * $logo-block-mobile;
  @include govuk-media-query($from: desktop) {
    grid-column-gap: 30px;
    grid-row-gap: 1.5 * $logo-block;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.certification {
	display: flex;
	overflow: hidden;
	margin-bottom: 2rem;
	flex: 1 1 0;
}

.card--dashboard--content {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	flex: 1 0 auto;
}
