.ncce-recommended-courses {
  background-color: $white;
  border: none;
  padding: 1.25rem 1.125rem;
}

.ncce-recommended-courses__course {
  background: $foam;
  margin-bottom: 2px;
  padding: 2px 18px;
}

.ncce-recommended-courses__buttons {
  margin-top: 2rem;
  text-align: center;
}

.ncce-recommended-courses__location {
  font-size: 0.9375rem;
  font-weight: 700;
}
