.ncce-dashboard-enroll {
  background-color: $ncce-grey-alto;
  &__icon {
    background-image: image-url('certificate-icon.png');
    background-repeat: no-repeat;
    padding-left: 150px;
  }
}

.ncce-dashboard__title {
  text-align: center;
}

.ncce-dashboard__activities {
  margin: 1rem auto 0 auto;

  @include govuk-media-query($from: tablet) {
    width: 60%;
  }
}

.ncce-dashboard-courses {
  background-color: $ncce-grey-x-light;
  padding-bottom: 2rem;
  padding-top: 2rem;

  @include govuk-media-query($from: tablet) {
    padding-bottom: 3rem;
    padding-top: 3rem;
  }
}

.ncce-dashboard__image {
  display: none;

  @include govuk-media-query($from: tablet) {
    display: block;
    width: 75%;
  }
}
