<div class="field-unit field-unit--jsonb field-unit--optional">
  <table>
    <% field.data.each do |k, v| %>
      <tr>
        <th>
          <%= f.label "web_copy[#{k}]", k.humanize %>
        </th>
        <td>
          <%= f.text_field "web_copy[#{k}]", value: v %>
        </td>
      </tr>
    <% end %>
  </table>
</div>
