.site-search-component {
  width: 100%;

  display: flex;

  border: solid 2px $black;

  input {
    flex-grow: 1;
    font-family: Roboto;
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;

    padding-left: 1rem;

    border: none;
    outline: none;
  }

  button {
    width: 40px;
    height: 40px;

    border: none;

    background-image: url('../images/icons/search.svg');
    background-color: transparent;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: $lime-green;
  }
}
