<div class="site-search-component" data-controller="site-search-component--site-search-component">
  <input value="<%= default %>" data-site-search-component--site-search-component-target="input" />
  <button data-action="site-search-component--site-search-component#click" ></button>
</div>
