.site-search-component {
  width: 100%;

  display: flex;

  border: solid 2px $black;

  input {
    font-family: Roboto;
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;

    padding-left: 1rem;

    border: none;
    outline: none;

    flex-grow: 1;
    min-width: 0;
  }

  button {
    width: 40px;
    height: 40px;

    border: none;
    cursor: pointer;

    background-color: $lime-green;

    span {
      display: block;

      width: 100%;
      height: 100%;

      background-color: $black;
      mask: url('../images/icons/search.svg') no-repeat 50% 50%;

      font-size: 0;
    }

    &:hover {
      background-color: $black;

      span {
        background-color: $white;
      }
    }
  }
}
