<div class="site-search-component" data-controller="site-search-component" aria-label="Sitewide search">
  <input value="<%= default %>" data-site-search-component-target="input" type="search" aria-label="searchbox" />
  <button data-action="site-search-component#click" aria-label="Search button"><span>Search</span></button>
</div>
