<p>Dear <%= @user.first_name %>,</p>

<p>We hope that you and your learners find the content on the Resource Repository engaging and useful, and that it is reducing your workload.</p>

<p>It would be great if you could <%= link_to 'give our resources a quick thumbs up here', @feedback_url %>.</p>

<p>Your feedback on these resources is really important to us, as it allows us to continually improve them for the benefit of all learners and teachers of Computer Science.</p>

<p>Thank you,</p>

<p>Your NCCE Resource Repository team</p>
