<div class='light-grey-bg'>
  <div class='govuk-width-container'>
    <div class='govuk-main-wrapper'>
      <div class='ncce-certs'>
        <div class='ncce-certs__col1-container'>
          <div class='ncce-certs__col1'>
            <h2 class='govuk-heading-l'>Reach your professional goals</h2>
            <h3 class='govuk-heading-m'>Certificates</h3>
            <p class='govuk-body'>Our nationally recognised certificates will equip you with the subject knowledge and confidence to successfully teach computing.</p>
          </div>
        </div>

        <div class='ncce-certs__col2-container'>
          <div class='ncce-certs__col2'>
            <div class='ncce-certs__certificate ncce-certs__certificate--primary'>
              <h3 class='govuk-heading-m ncce-certs__heading'>
                <%= link_to 'Primary certificate', primary_path, class: 'ncce-link ncce-link--heading', data: { event_action: 'click', event_category: 'Homepage', event_label: 'Primary certificate' } %>
              </h3>
              <p class='govuk-body'>Teach computing for key stage 1 and 2</p>
            </div>
            <div class='ncce-certs__certificate ncce-certs__certificate--secondary'>
              <h3 class='govuk-heading-m ncce-certs__heading'>
                <%= link_to csa_programme_title, cs_accelerator_path, class: 'ncce-link ncce-link--heading', data: { event_action: 'click', event_category: 'Homepage', event_label: 'CSA certificate' } %>
              </h3>
              <p class='govuk-body'>Develop your understanding of computer science up to GCSE level with the Computer Science Accelerator
</p>
            </div>
            <div class='ncce-certs__certificate ncce-certs__certificate--secondary'>
              <h3 class='govuk-heading-m ncce-certs__heading'>
                <%= link_to 'Secondary certificate', secondary_path, class: 'ncce-link ncce-link--heading', data: { event_action: 'click', event_category: 'Homepage', event_label: 'Secondary certificate' } %>
              </h3>
              <p class='govuk-body'>Further your knowledge and teach secondary computing effectively</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
