<div class='purple-bg'>
  <div class='govuk-width-container'>
    <div class='govuk-main-wrapper'>
      <div class='ncce-certs'>
        <div class='ncce-certs__col1-container'>
          <div class='ncce-certs__col1'>
            <h2 class='govuk-heading-l'>Reach your professional development goals</h2>
            <p class='govuk-body'>Develop your subject knowledge, improve your teaching confidence and enrich your students’ experience of the computing curriculum with a National Centre for Computing Education certificate.</p>
          </div>
        </div>

        <div class='ncce-certs__col2-container'>
          <div class='ncce-certs__col2'>
            <div class='ncce-certs__certificate ncce-certs__certificate--primary'>
              <h3 class='govuk-heading-m ncce-certs__heading'>
                <%= link_to 'Primary teacher certificate', primary_path, class: 'ncce-link ncce-link--heading govuk-link--no-underline', data: { event_action: 'click', event_category: 'Homepage', event_label: 'Primary certificate' } %>
              </h3>
              <p class='govuk-body'>Gain the confidence to teach computing effectively across the curriculum at key stages 1 and 2.</p>
            </div>
            <div class='ncce-certs__certificate ncce-certs__certificate--secondary'>
              <h3 class='govuk-heading-m ncce-certs__heading'>
                <%= link_to 'Secondary teacher certification', secondary_certification_path, class: 'ncce-link ncce-link--heading govuk-link--no-underline', data: { event_action: 'click', event_category: 'Homepage', event_label: 'CSA certificate' } %>
              </h3>
              <p class='govuk-body'>Advance your computer science subject knowledge, pedagogy or leadership skills with our nationally recognised certificates.
</p>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
