<div class="ncce-hero">
  <div class="govuk-width-container">
    <div class="govuk-main-wrapper ncce-hero__wrapper">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column">
          <div class="govuk-grid-column-one-half">
            <div class="ncce-hero__long-shadow">
              <h1 class="govuk-heading-xl ncce-hero__heading">Helping <span
                  class="sparkle">you</span> <br>teach computing</h1>
            </div>
            <div class="ncce-hero__cta--desktop">
              <p class="govuk-body ncce-hero__body">Discover
                <strong>training</strong>, <strong>resources</strong> and
                <strong>guidance</strong> to help you teach computing with
                confidence.</p>
              <%= link_to 'Get started!', offer_path, class: 'govuk-button ncce-button__blue' %>
            </div>

          </div>
          <div class="govuk-grid-column-one-half">
            <%= image_tag '/images/home-hero.jpg', class: 'ncce-hero__image', alt: '' %>
          </div>
          <div class="govuk-grid-column-one-half ncce-hero__cta--mobile">
            <p class="govuk-body ncce-hero__body">Discover
              <strong>training</strong>, <strong>resources</strong> and
              <strong>guidance</strong> to help you teach computing with
              confidence.</p>
            <%= link_to 'Get started!', offer_path, class: 'govuk-button ncce-button__blue' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
