<div class="ncce-hero govuk-width-container">
  <div class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column">
        <div class="govuk-grid-column-two-thirds">
          <h1 class="govuk-heading-xl ncce-hero__heading">Helping you <br>teach computing</h1>
        </div>
        <div class="govuk-grid-column-full">
          <p class="govuk-body ncce-hero__body">To meet the growing demand for digital skills, the National Centre for Computing Education has been set up to make a significant contribution to the teaching of computing education throughout England.</p>
          <p class="govuk-body ncce-hero__body">We support the teaching of computing in schools and colleges across all key stages, giving teachers the subject knowledge and skills to establish computing as a core part of the curriculum.</p>
          <p class="govuk-body ncce-hero__body">Whatever your needs, we’re here to guide you through our high-quality support, which includes:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>Face-to-face CPD</li>
            <li>Generous bursaries</li>
            <li>Online CPD</li>
            <li>Regional support</li>
            <li>Free resources</li>
          </ul>
          <%= link_to 'Explore our offer', offer_path, class: 'govuk-button ncce-button__pink ncce-hero__button--link' %>
        </div>
      </div>
    </div>
  </div>
</div>
