<div class="govuk-width-container">
	<div class="govuk-main-wrapper">
		<div class="text-photo-hero-temp text-photo-hero--home-temp white-bg">
			<div class="text-photo-hero__block--text-temp">
				<h1 class="govuk-heading-l hero-heading--home-temp">Helping you <br>teach computing</h1>
				<p class="govuk-body">We offer teachers:</p>
				<ul class="govuk-list govuk-list--bullet" role="list">
					<li>courses and accreditation</li>
					<li>bursaries for training</li>
					<li>free curriculum teaching resources</li>
					<li>community support and more</li>
				</ul>
				<%= link_to('Join for free', '', class: 'govuk-button button')  %>
				<%= link_to 'About us', '', class: 'govuk-button button' %>
			</div>
			<div class="text-photo-hero__block--photo-temp">
				<img src="/images/hero/hero-lg.svg" class="" alt="Pic alt to be filled">
			</div>
		</div>
	</div>
</div>

