<div class="ncce-jobs-container">
  <div class="govuk-width-container">
    <div class="govuk-main-wrapper">
      <div class="govuk-grid-row">
       <div class="govuk-grid-column-one-third">
          <img src="/images/you.png" alt="Get involved" class="ncce-jobs__image"/>
       </div>
        <div class="govuk-grid-column-two-thirds">
          <p class="govuk-body">
            If you’re interested in joining our team, find out more about our latest vacancies.
          </p>
          <p class="govuk-body">
            <a href="https://raspberrypi.workable.com/" class="govuk-body ncce-link">Jobs at the Raspberry Pi Foundation</a>
          </p>
          <p class="govuk-body">
            <a href="https://www.stem.org.uk/stem-learning-vacancies" class="govuk-body ncce-link">Jobs at STEM Learning</a>
          </p>
          <p class="govuk-body">
            <a href="https://www.bcs.org/category/9091" class="govuk-body ncce-link">Jobs at the British Computing Society</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
