<div class="ncce-jobs-container">
  <div class="govuk-width-container">
    <div class="govuk-main-wrapper">
      <div class="govuk-grid-row">
       <div class="govuk-grid-column-one-third">
          <img src="/images/you.png" alt="Get involved" class="ncce-jobs__image"/>
       </div>
        <div class="govuk-grid-column-two-thirds">
          <h2 class="govuk-heading-m">Join our team</h2>
          <p class="govuk-body">
            <%= link_to 'Jobs at the Raspberry Pi Foundation', 'https://raspberrypi.workable.com/', class: 'ncce-link', target: '_blank' %>
          </p>
          <p class="govuk-body">
            <%= link_to 'Jobs at STEM Learning', 'https://www.stem.org.uk/stem-learning-vacancies', class: 'ncce-link', target: '_blank' %>
          </p>
          <p class="govuk-body">
            <%= link_to 'Jobs at the British Computing Society', 'https://www.bcs.org/category/9091', class: 'ncce-link', target: '_blank' %>
          </p>
          <h2 class="govuk-heading-m">Become a hub</h2>
          <p class="govuk-body">
            <%= link_to 'Find out about becoming a computing hub', '/hubs', class: 'ncce-link' %>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
