<div class="light-blue-bg">
  <div class="govuk-width-container">
    <div class="govuk-main-wrapper--xl">
      <div class='govuk-grid-row govuk-!-margin-bottom-9'>
        <div class="govuk-grid-column-two-thirds">
          <div class="card card--purple card--no-glyph">
            <p class="govuk-body-l card__text">You have the power to transform
              lives, so we want to help you to
              <strong class='tapestry-fg'>change computing
                education</strong> across England.</p>
          </div>
        </div>
      </div>
      <div class='govuk-grid-row'>
        <div class="govuk-grid-column-one-third">
          <div class="ncce-aside">
            <h2 class="govuk-heading-m">Computer Science
              Accelerator Programme</h2>
            <p class="govuk-body">A supportive development programme to help you
              confidently teach GCSE computer science</p>
            <p class="govuk-body">
              <strong><%= link_to 'Start your learning journey', cs_accelerator_path, class: 'ncce-link ncce-link--contrast' %></strong>
            </p>
          </div>
        </div>
        <div class="govuk-grid-column-one-third">
          <div class="ncce-aside">
            <h2 class="govuk-heading-m">Attractive
              bursaries</h2>
            <p class="govuk-body">Funding for your school or college to make it
              easier for you to participate in training</p>
            <p class="govuk-body">
              <strong><%= link_to 'Check your eligibility', bursary_path, class: 'ncce-link ncce-link--contrast' %></strong>
            </p>
          </div>
        </div>
        <div class="govuk-grid-column-one-third">
          <div class="ncce-aside">
            <h2 class="govuk-heading-m">Teacher training</h2>
            <p class="govuk-body">Face-to-face and online courses to help you
              teach computing or develop your practice</p>
            <p class="govuk-body">
              <strong><%= link_to 'Browse our courses', courses_path, class: 'ncce-link ncce-link--contrast' %></strong>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
