<div class="ncce-sign-up">
  <div class="govuk-width-container">
    <div class="govuk-main-wrapper">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column">
          <div class="govuk-grid-column-two-thirds">
            <h2 class="govuk-heading-l">Create an account</h2>
          </div>
          <div class="govuk-grid-column-two-thirds ncce-signu-up__section">
            <p class="govuk-body">
              To book onto face-to-face or online training, you need to create an account on our website. This will also enable you to:
            </p>
            <ul class="govuk-list ncce-sign-up__list">
              <li class="ncce-sign-up__list--item">be the first to access new features and resources</li>
              <li class="ncce-sign-up__list--item">access our diagnostic tool to help you prioritise your CPD requirements</li>
              <li class="ncce-sign-up__list--item">record your achievements and progress towards <%= link_to 'certification', certification_path, class: 'ncce-link' %></li>
            </ul>
            <%= link_to 'Create an acount', login_path, class: 'govuk-button ncce-button__pink ncce-link ncce-sign-up--link-white' %>
          </div>
          <aside class="govuk-grid-column-one-third ncce-aside">
            <p class="govuk-heading-s ncce-aside__title">Bursaries for training</p>
            <p class="govuk-body-s ncce-aside__text">Interested in teaching <span class="govuk-!-font-weight-bold">Computer Science at GCSE level</span> but don't have a computing qualifications?</p>
            <p class="govuk-body-s ncce-aside__text">You may be eligible for a bursary towards your training.</p>
            <p class="govuk-body-s"><%= link_to 'Find out more', bursary_path, class: 'ncce-link ncce-link--on-dark' %></p>
          </aside>
        </div>
      </div>
    </div>
  </div>
</div>
