  <div class="govuk-width-container">
    <div class="govuk-main-wrapper">
      <div class="ncce-stay-updated">
        <div class="ncce-stay-updated__panel">
          <img src="/images/dashboard.png" alt="NCCE dashboard screenshot" class="ncce-stay-updated__image"/>
          <p class="govuk-body govuk-!-font-size-16 ncce-stay-updated__date">22 January 2019 - News story</p>
          <p class="govuk-heading-s ncce-stay-updated__heading"><a class="ncce-link__on-light" href="/news">The National Centre for Computing Education website beta is live!</a></p>
          <p class="govuk-body">Less than three months from the official announcement of the creation of the Centre, we have released our first major set of features to allow users to begin their journey with us. </p>
        </div>
        <div class="ncce-stay-updated__panel">
          <img src="https://via.placeholder.com/320x220.png" alt="" class="ncce-stay-updated__image"/>
          <p class="govuk-body govuk-!-font-size-16 ncce-stay-updated__date">8 January 2019 - News story</p>
          <p class="govuk-heading-s ncce-stay-updated__heading">The title of the news story</p>
          <p class="govuk-body">If you're a GCSE teacher without a relevant computing qualification, you may be eligible for a bursary for your training.</p>
        </div>
      </div>
      </div>
    </div>
  </div>
