  <div class="govuk-width-container">
    <div class="govuk-main-wrapper">
      <div class="ncce-stay-updated">
        <div class="ncce-stay-updated__panel">
          <img src="https://via.placeholder.com/320x220.png" alt="" class="ncce-stay-updated__image"/>
          <p class="govuk-body govuk-!-font-size-16 ncce-stay-updated__date">8 January 2019 - News story</p>
          <p class="govuk-heading-s ncce-stay-updated__heading">The title of the news story</p>
          <p class="govuk-body">If you're a GCSE teacher without a relevant computing qualification, you may be eligible for a bursary for your training.</p>
        </div>
        <div class="ncce-stay-updated__panel">
          <img src="https://via.placeholder.com/320x220.png" alt="" class="ncce-stay-updated__image" />
          <p class="govuk-body govuk-!-font-size-16 ncce-stay-updated__date">8 January 2019 - Research paper</p>
          <p class="govuk-heading-s ncce-stay-updated__heading">The title of the research paper</p>
          <p class="govuk-body">If you're a GCSE teacher without a relevant computing qualification, you may be eligible for a bursary for your training.</p>
        </div>
        <div class="ncce-stay-updated__panel">
          <img src="https://via.placeholder.com/320x220.png" alt="" class="ncce-stay-updated__image"/>
          <p class="govuk-body govuk-!-font-size-16 ncce-stay-updated__date">8 January 2019 - News story</p>
          <p class="govuk-heading-s ncce-stay-updated__heading">The title of the news story</p>
          <p class="govuk-body">If you're a GCSE teacher without a relevant computing qualification, you may be eligible for a bursary for your training.</p>
        </div>
      </div>
      </div>
    </div>
  </div>
