  <div class="govuk-width-container">
    <div class="govuk-main-wrapper">
      <div class="govuk-grid-row">
        <div class="ncce-stay-updated">
          <div class="ncce-stay-updated__panel">
            <img src="/images/ncce-new-website.png" alt="NCCE dashboard screenshot" class="ncce-stay-updated__image"/>
            <p class="govuk-body govuk-!-font-size-14 ncce-stay-updated__date">22 January 2019</p>
            <p class="govuk-heading-s ncce-stay-updated__heading"><a class="ncce-link__on-light" href="/news">The National Centre for Computing </br> Education website beta is live!</a></p>
            <p class="govuk-body">Less than three months from the official announcement of the creation of the Centre, we have released our first major set of features to allow users to begin their journey with us.</p>
          </div>
          <div class="ncce-stay-updated__panel">
            <img src="/images/ncce-alevel-students.jpg" alt="Students with computers" class="ncce-stay-updated__image"/>
            <p class="govuk-body govuk-!-font-size-14 ncce-stay-updated__date">22 January 2019</p>
            <p class="govuk-heading-s ncce-stay-updated__heading"><a class="ncce-link__on-light" href="/a-level">Support for A Level students and teachers</a></p>
            <p class="govuk-body">The A-Level programme element of the National Centre for Computing Education will provide comprehensive support to teachers and students in England for AS/A level computer science.</p>
          </div>
        </div>
          </div>
      </div>
    </div>
  </div>
