<%= render GovGridRowComponent.new do |row| %>
  <%= row.with_column("full") do %>

    <h2 class="govuk-heading-m"><%= @title %></h2>

    <div class="cms-accordion-section-component govuk-accordion govuk-body" data-module="govuk-accordion" id="accordion-default">
      <% @accordion_block.each do |block| %>
        <%= render block.render  %>
      <% end %>
    </div>
  <% end %>
<% end %>
