<div class="ncce-aside ncce-bursary-aside">
  <h2 class="govuk-heading-s ncce-bursary-aside__heading">
    Bursary support
  </h2>
  <p class="govuk-body-s ncce-bursary-aside__text">
    To support your learning we offer bursaries to secondary teachers working in state-funded education in England.
  </p>
  <p class="govuk-body-s ncce-bursary-aside__link">
    <%= link_to 'Find out more', '/bursary', class: 'ncce-link ncce-link--contrast', role: 'button', draggable: 'false' %>
  </p>
</div>
