  <div class="ncce-activity-list__item ncce-activity-list__item--incomplete ncce-activity-list__item--borderless">
    <div class="ncce-activity-list__buttons">
      <%= link_to 'View all CSA courses', courses_path(certificate: @programme.slug), class: 'govuk-button button govuk-!-margin-bottom-0' %>
    </div>
  </div>
