<div class="ncce-pathway-courses">
  <% if pathway.present? %>
    <p class="govuk-body">
      <strong>Recommended courses</strong> based on your pathway.
    </p>

    <% pathway.recommended_activities.each do |pa| %>
      <div class="ncce-pathway-courses__course">
        <p>
          <%= link_to pa.title, course_path(id: pa.stem_activity_code, name: pa.slug), class: 'ncce-link' %>
        </p>

        <p class="ncce-pathway-courses__location <%= activity_icon_class(pa) %>">
          <%=  activity_type(pa) %>
        </p>
      </div>
    <% end %>

  <% end %>

  <div class="ncce-pathway-courses__buttons">
    <%= link_to 'View all CSA courses', courses_path(certificate: 'cs-accelerator'), class: 'govuk-button button' %>
  </div>
</div>
