.aside-component {
  border-top-color: $deep-cerulean;
  border-top-style: solid;
  border-top-width: 3px;
  padding-top: 1rem;
  @include bottom-margined;
}

.aside-component__text {
  margin-bottom: 1rem;
}

.aside-component__link {
  font-weight: bold;
  margin-bottom: 0;
}

.aside-component__image img {
  display: block; /* ensure the image uses up all available space */
  width: 100%;
}
