.aside-component {
  @include govuk-media-query($until: tablet) {
    margin-top: $wrapper-xl-space;
  }

  @include govuk-media-query($from: tablet) {
    @include bottom-margined;
  }
}

.aside-component__heading {
  border-top-color: $orange;
  border-top-style: solid;
  border-top-width: 3px;
  padding-top: 1rem;
}

.aside-component__text {
  margin-bottom: 1rem;
}

.aside-component__link {
  margin-bottom: 0;
}

.aside-component__image img {
  display: block; /* ensure the image uses up all available space */
  width: 100%;

  @include govuk-media-query(mobile) {
    margin-bottom: 20px;
  }
}
