.aside-component {
  @include govuk-media-query($until: tablet) {
    margin-top: $wrapper-xl-space;
  }

  @include govuk-media-query($from: tablet) {
    @include bottom-margined;
  }
}

.aside-component__heading {
  border-top-color: $orange;
  border-top-style: solid;
  border-top-width: 3px;
  padding-top: 1rem;

  .with-icon {
    display: flex;
    img { 
      margin-right: 0.5rem;
      max-height: 1.5rem;
      filter: invert(56%) sepia(31%) saturate(4411%) hue-rotate(360deg) brightness(102%) contrast(105%);
    }
  }

  .with-icon-coloured-right {
    display: flex;
    justify-content: space-between;

    img { 
      max-height: 1.5rem;
      margin-right: 0.5rem;
    }
  }
}

.aside-component__cms-content {
  p {
    @include govuk-font($size: 16);
  }
}

.aside-component__text {
  margin-bottom: 1rem;
}

.aside-component__link {
  margin-bottom: 0;
}

.aside-component__image img {
  display: block; /* ensure the image uses up all available space */
  width: 100%;

  @include govuk-media-query(mobile) {
    margin-bottom: 20px;
  }
}
