<div class="ncce-aside landing-page__aside">
  <%= @programme.enough_activites_for_test?(current_user) ? 'If you’re not yet feeling confident about teaching GCSE computer science, continue your journey.' : 'Continue your journey towards feeling confident about teaching GCSE computer science. You can do as much training as you like as part of this programme.' %></p>
  <p class='govuk-body-s'>Book or join a course today:</p>
  <%= link_to 'Find a course', courses_path(certificate: @programme.slug), class: 'govuk-button button' %>
  <p class='govuk-body-s'>We are happy to support you along the way. Call 020 0234 5678 or email <%= mail_to 'info@teachcomputing.org', 'info@teachcomputing.org' %> if you need to speak to someone.</p>
</div>
