<div class="ncce-aside landing-page__aside">
	<% if ? %>
		<h2>Diagnostic complete</h2>
	<% elsif @user_programme_assessment.enough_activites_for_test? %>
		<h2>Course in progress </h2>
	<% elsif @user_programme_assessment.enough_activites_for_test?%>
		<h2>Test ready</h2>
	<% elsif @user_programme_assessment.num_attempts != 0  %>
		<h2>Test failed</h2>
	<% else %>
		<h2>New to programme</h2>
		<p class="govuk-body-s">The minimum number of courses you have to do before the test is two. But this is about your confidence teaching CS. If you need more CPD to feel confident that is fine.</p>
		<p class="govuk-body-s">Book or join a course today:</p>
</div>

  <%= render 'programmes/achievements', presenters: @user_programme_achievements.diagnostic_achievements %>