<div class="ncce-aside landing-page__aside">
  <h2 class="govuk-heading-s ncce-aside__title">Support</h2>
  <p class="govuk-body-s">Have a question about your activities on this page?  Check out our <%= link_to 'Frequently Asked Questions', faq_path, class: 'ncce-link' %></p>
  <p class='govuk-body-s'>Need to catch up on your learning? <%= link_to 'Download our Revision Handbook', 'https://static.teachcomputing.org/CS_Accelerator_handbook.pdf', class: 'ncce-link' %></p>
  <p class='govuk-body-s'>We are happy to support you along the way. Call 020 0234 5678 or email <%= mail_to 'info@teachcomputing.org', 'info@teachcomputing.org', class: 'ncce-link' %> if you need to speak to someone.</p>
</div>
