---
http_interactions:
- request:
    method: get
    uri: https://lticourses-api.sandbox.futurelearn.com/partners/course_runs/545ba924-9e73-4a30-bd54-4fb7dee8b913/course_enrolments_report
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer eyJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJuY2NlLnRlc3QiLCJpYXQiOjE2MDIyNDExODcsImV4cCI6MTYwMjI0MjA4N30.7ps1oysEcXV9W7X38JpdItur2eWLcf6CoFmJ3O0NhhM
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"9591dd0dec1a9f91b5e209bc910186ac"
    body:
      encoding: UTF-8
      string: '[{"run":{"uuid":"545ba924-9e73-4a30-bd54-4fb7dee8b913","href":"https://lticourses-api.sandbox.futurelearn.com/partners/course_runs/545ba924-9e73-4a30-bd54-4fb7dee8b913"},"organisation_membership":{"uuid":"8e89c1b4-d5c0-4208-b4ad-52928f37ab3f","href":"https://lticourses-api.sandbox.futurelearn.com/partners/organisation_memberships/8e89c1b4-d5c0-4208-b4ad-52928f37ab3f"},"status":"active","activated_at":"2019-01-29T11:47:10.000Z","deactivated_at":null,"steps_completed_count":0,"steps_completed_ratio":0.0},{"run":{"uuid":"545ba924-9e73-4a30-bd54-4fb7dee8b913","href":"https://lticourses-api.sandbox.futurelearn.com/partners/course_runs/545ba924-9e73-4a30-bd54-4fb7dee8b913"},"organisation_membership":{"uuid":"93793693-ce69-4cb4-81f3-0397ac445ae1","href":"https://lticourses-api.sandbox.futurelearn.com/partners/organisation_memberships/93793693-ce69-4cb4-81f3-0397ac445ae1"},"status":"active","activated_at":"2019-02-25T07:23:08.000Z","deactivated_at":null,"steps_completed_count":36,"steps_completed[...]
