require "rails_helper"

RSpec.describe Cms::DynamicComponents::<%= @component_type_class %>::<%= @component_name_class %> do
  before do
    @comp = Cms::Providers::Strapi::Factories::ComponentFactory.process_component(
      Cms::Mocks::DynamicComponents::<%= @component_type_class %>::<%= @component_name_class %>.generate_raw_data
    )
  end

  it "should render as Cms::<%= @component_name_class %>Component" do
    expect(@comp.render).to be_a(Cms::<%= @component_name_class %>Component)
  end
end
