.cs-accelerator {
  background-color: $lavender;
}

.cs-accelerator__image {
  max-width: 80%;
}

.cs-accelerator-aside__list>li {
  margin-bottom: 10px;
}

.ncce-programmes-activity {
  background-color: $lavender;
}

.ncce-programmes-activity__title {
  color: unset;
}
