$hero-goldenrod: #FAD160;
$hero-terracotta: #E67D6E;
$nearly-black: #040811;

$logo_block: 40px;
$logo_block-mobile: 29px;
$deep-cerulean: #007fa2;
$dixie: #e7a615;
$tapestry: #a94e91;
$jaffa: #f47c31;
$concrete: #F2F2F2;

$plain-hero-color: $concrete;
$action-color: $deep-cerulean;
$secondary-cert-color: $dixie;
$primary-cert-color: $jaffa;
$cs-accelerator-color: $tapestry;

.hero {
  background-color: $action-color;
  color: $grey-dark-x;
  position: relative;
  &:after {
    content: "";
    display: block;
    opacity: 0.15;
    position: absolute;
    top: 0;
    right: 0;
    height: 120px;
    width: 140px;
    background-image: url(/images/hero/glyph-1.svg);
    background-position-x: right;
    background-repeat: no-repeat;
    background-size: 75%;
    @include govuk-media-query($from: desktop) {
      background-size: 100%;
    }
  }
}

.hero-glyph-2:after {
  height: 75px;
  width: 105px;
  background-image: url(/images/hero/glyph-2.svg);
  @include govuk-media-query($from: desktop) {
    height: 100px;
    width: 140px;
  }
}

.hero-glyph-3:after {
  height: 75px;
  width: 60px;
  background-image: url(/images/hero/glyph-3.svg);
  @include govuk-media-query($from: desktop) {
    height: 100px;
    width: 80px;
  }
}

.hero-glyph-4:after {
  height: 92px;
  width: 90px;
  background-image: url(/images/hero/glyph-4.svg);
  @include govuk-media-query($from: desktop) {
    height: 130px;
    width: 120px;
  }
}

.hero--center-glyph:after {
  top: calc(50% - 45px);
  @include govuk-media-query($from: desktop) {
    top: calc(50% - 60px);
  }
}

.hero--bottom-glyph:after {
  top: unset;
  bottom: 0;
  background-position-y: bottom;
}

.hero--plain {
  background-color: $plain-hero-color;
  &:after {
    display: none;
    background-image: none;
  }
}

.hero--primary-certificate {
  background-color: $primary-cert-color;
}

.hero--secondary-certificate {
  background-color: $secondary-cert-color;
}

.hero--cs-accelerator {
  background-color: $cs-accelerator-color;
}

.hero__wrapper {
  padding-top: $logo_block;
  padding-bottom: $logo_block;
  &:after {
    clear: both;
    content: '';
    display: table;
  }
}

.hero__status {
  background-color: $grey-dark-x;
  color: $white;
  float: left;
  font-weight: bold;
  padding: 5px 12px;
  margin: 0;
}

.hero__heading-wrapper {
  background-color: $white;
  clear: both;
  float: left;
  @include govuk-media-query($from: desktop) {
    max-width: 75%;
  }
  padding: 10px;
}

.hero__heading {
  font-family: 'Objectivity Medium', sans-serif;
  font-weight: 400;
  margin-bottom: 0;
}
.hero__text {
  margin-top: $logo_block-mobile / 4;
  @include govuk-media-query($from: desktop) {
    margin-top: $logo_block / 4;
  }
  margin-bottom: 0;
}
