.hero,
.hero--blue {
  background-color: $action-color;
  color: $grey-dark-x;
  position: relative;
  &:after {
    content: "";
    display: block;
    opacity: 0.15;
    position: absolute;
    top: 0;
    right: 0;
    height: 120px;
    width: 140px;
    background-image: url(/images/hero/glyph-1.svg);
    background-position-x: right;
    background-repeat: no-repeat;
    background-size: 75%;
    @include govuk-media-query($from: desktop) {
      background-size: 100%;
    }
  }
}

.hero--glyph-2:after {
  height: 75px;
  width: 105px;
  background-image: url(/images/hero/glyph-2.svg);
  @include govuk-media-query($from: desktop) {
    height: 100px;
    width: 140px;
  }
}

.hero--glyph-3:after {
  height: 75px;
  width: 60px;
  background-image: url(/images/hero/glyph-3.svg);
  transform: rotate(180deg);
  @include govuk-media-query($from: desktop) {
    height: 100px;
    width: 80px;
  }
}

.hero--glyph-4:after {
  height: 92px;
  width: 90px;
  background-image: url(/images/hero/glyph-4.svg);
  @include govuk-media-query($from: desktop) {
    background-size: 110px 130px;
    height: 130px;
    width: 120px;
  }
}

.hero--center-glyph:after {
  top: calc(50% - 45px);
  @include govuk-media-query($from: desktop) {
    top: calc(50% - 60px);
  }
}

.hero--bottom-glyph:after {
  top: unset;
  bottom: 0;
  background-position-y: bottom;
}

.hero--plain {
  background-color: $plain-hero-color;
  &:after {
    display: none;
    background-image: none;
  }
}

.hero--orange,
.hero--primary-certificate {
  background-color: $primary-cert-color;
}

.hero--yellow,
.hero--secondary-certificate {
  background-color: $secondary-cert-color;
}

.hero--purple,
.hero--cs-accelerator {
  background-color: $cs-accelerator-color;
}

.hero__wrapper {
  padding-top: $logo_block-mobile;
  padding-bottom: $logo_block-mobile;
  @include govuk-media-query($from: desktop) {
    padding-top: $logo_block;
    padding-bottom: $logo_block;
  }
  &:after {
    clear: both;
    content: '';
    display: table;
  }
}

.hero__status {
  @include status_block();
  float: left;
  margin: 0;
}

.hero__heading-wrapper {
  background-color: $white;
  clear: both;
  float: left;
  @include govuk-media-query($from: desktop) {
    max-width: 75%;
  }
  padding: 10px;
}

.hero__heading-wrapper--full-width {
  @include govuk-media-query($from: desktop) {
    max-width: 100%;
  }
}

.hero__heading {
  color: $grey-dark-x;
  margin-bottom: 0;
}
.hero__text {
  color: $mid-gray;
  margin-top: $logo_block-mobile / 4;
  @include govuk-media-query($from: desktop) {
    margin-top: $logo_block / 4;
  }
  margin-bottom: 0;
}
