.certification-hero {
  background-color: $dark-purple;
  background-image: none;

  @include govuk-media-query($from: tablet) {
    background-image: url(/images/dashboard/triangle2.png);
    background-position: top right;
    background-repeat: no-repeat;
    background-size: auto 100%;
  }
}

.certification-hero__wrapper {
  align-items: center;
  display: flex;
  padding-top: 2rem;
  padding-bottom: 2rem;

  @include govuk-media-query($from: tablet) {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}

.certification-hero__wrapper--complete {
  align-items: top;
  display: flex;
}

.certification-hero__text {
  color: $white;
}

.certification-hero__image {
  @include govuk-media-query($from: tablet) {
    margin-right: 2rem;
  }
}

.certification-hero__image--mobile {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;

  @include govuk-media-query($from: tablet) {
    display: none;
  }
}

.certification-hero__image--tablet {
  @include govuk-media-query($until: tablet) {
    display: none;
  }
}

.certification-hero__image--dashboard {
  float: left;
  width: 40px;
  margin: -10px 15px 30px 0;

  @include govuk-media-query($from: tablet) {
    width: 100px;
    margin-top: 0;
  }
}
