<div class="certification">
    <div class="govuk-width-container">
      <div class="govuk-main-wrapper">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column">
              <h2 class="govuk-heading-m underlined__title">Your certificate</h2>
            </div>
          </div>
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-full">
            <div class="certification-progress">
              <p class="govuk-body-m govuk-!-font-weight-bold pink-text"><img src="/images/notepad.svg" alt="" class="hero__image--dashboard"/>Completed!</p>
              <p class="govuk-body-s govuk-!-font-weight-bold">The National Centre for Computing Education certificate in</h2>
              <h3 class="govuk-body-l govuk-!-font-weight-bold govuk-!-margin-bottom-3"><%= link_to programme.title, programme_complete_path(programme.slug), class: 'ncce-link' %></h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
