.attribute--inline {
  float: none !important;
  text-align: left;
  display: inline;
}

.attribute-data--reduce-margin {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.attribute--no-top-margin {
  margin-top: 0;
}

.attribute--no-bottom-margin {
  margin-bottom: 0;
}
