.document-cards-component {
  display: grid;
  grid-template-columns: auto;
  gap: 36px;

  @include govuk-media-query($from: tablet) {
    grid-template-columns: repeat(2, 1fr);
  }

  @include govuk-media-query($from: desktop) {
    grid-template-columns: repeat(var(--cards-per-row, 2), 1fr);
  }

  &[data-show-border='true'] > .document-card {
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  }
}

.document-card {
  padding: $component-padding-mobile;
  position: relative;
  background-color: $white;
  box-shadow: none;

  > *:last-child {
    margin-bottom: 0;
  }

  .ncce-link {
    font-weight: bold;
  }

  @include govuk-media-query($from: tablet) {
    padding: $component-padding;
  }
}

.document-card_title-wrapper {
  @include govuk-media-query($from: tablet) {
    min-height: 7em;
  }
}

.document-card__title {
  background-image: url('../images/icons/resources-purple.svg');
  background-repeat: no-repeat;
  background-size: 1.6rem;
  padding-left: 2em;
  line-height: 1.5em;
  margin-bottom: 0;

  @include govuk-media-query($from: tablet) {
    background-size: 1.8rem;
    padding-left: 2.2em;
    padding-top: 0;
  }
}

.document-card__text {
  margin-top: 20px;
}

.document-card__date {
  margin: 0.2em 0 0 2.2em;

  @include govuk-media-query($from: tablet) {
    padding-left: 0.4em;
  }
}


