<div class='ncce-courses__no-results' data-course-filter-target="courseList">
  <%= image_pack_tag 'media/images/courses/sad-face.png', alt: 'Sad face', class: 'ncce-courses__sad-face' %>
  <p class="govuk-body">Sorry, we couldn't find any courses that match your filter options.</p>
  <p class="govuk-body">Try modifying or clearing the filter to see more results.</p>

  <%= link_to 'Show all courses',
    courses_path(anchor: 'results-top'),
    method: :get, # force a reload
    class: 'govuk-button button ncce-courses__filter-button',
    data: {
      event_action: 'click',
      event_category: 'Courses',
      event_label: 'View all courses'
    } %>
</div>
