<h2 class="govuk-heading-m">Share your badge!</h2>

<div class="completed-dash-badge-component">
  <%= image_pack_tag 'media/images/csa-badge.svg', class: 'completed-dash-badge-component__badge', alt: '' %>
  <p class="govuk-body completed-dash-badge-component__content">
    You were awarded a badge for completing your first face to face or remote course for this certificate.
    Head over to
    <%= link_to 'Credly', '#', class: 'ncce-link' %>
    to share or download your badge.
  </p>
</div>
