// Generic 'white on dark' box - for use in asides

$aside-padding: 1rem;

.ncce-aside {
  border-top-color: $deep-cerulean;
  border-bottom: 3px solid $deep-cerulean;
  border-top-style: solid;
  border-top-width: 3px;
  padding-top: $aside-padding;
  margin-bottom: 20px;

  &__text--s {
    font-size: 1.0625rem;
  }
}

.ncce-pathway-aside {
  @include bottom-margined;
}

.ncce-pathway-aside__select {
  margin-bottom: 1.5rem;
}
