// Generic 'white on dark' box - for use in asides

$aside-padding: 1rem;

.ncce-aside {
  border-top-color: $deep-cerulean;
  border-top-style: solid;
  border-top-width: 3px;
  padding-top: $aside-padding;

  &__text--s {
    font-size: 1.0625rem;
  }
}
