// Generic 'white on dark' box - for use in asides

$aside-padding: 1rem;

.ncce-aside {
  border-top-color: $deep-cerulean;
  border-top-style: solid;
  border-top-width: 3px;
  padding-top: $aside-padding;

  &__text--s {
    font-size: 1.0625rem;
  }
}

.ncce-aside--borderless {
  padding-top: $aside-padding;
}

.ncce-aside__csa-info-page {
  border-bottom: 3px solid $deep-cerulean;
  margin-bottom: 20px;
}

.ncce-pathway-aside {
  @include bottom-margined;
}

.ncce-pathway-aside__select {
  margin-bottom: 1.5rem;
}

.ncce-pathway-aside__select--inline {
  width: auto;
}

.ncce-pathway-aside__button {
  padding: 8px 25px;

  @include govuk-media-query($until: desktop) {
    padding-left: 0px;
    padding-right: 0px;
  }
}

.ncce-pathway-aside__button--full {
  width: 100%;
}
