.ncce-bursary-aside {
  background-image: url('../images/icons/icon-pound-orange.svg');
  background-position: 0 1rem;
  background-repeat: no-repeat;
  background-size: 1rem;
  padding-top: 0.5rem;
  @include bottom-margined;
  @include govuk-media-query($from: tablet) {
    background-size: 1.2rem;
  }
}

.ncce-bursary-aside__text {
  margin-bottom: 1rem;
}

.ncce-bursary-aside__link {
  margin-bottom: 0;
}

.ncce-bursary-aside__heading {
  padding-left: 2rem;
  padding-top: 10px;
}
