@mixin ncce_button($background_color) {
  background-color: $background_color;
  font-family: $font-family-heading;
  box-shadow: none;
  font-size: 1rem;
  font-weight: 500;
  margin: 0;
  padding: 10px 24px;
  border-color: $govuk-button-text-colour;
  border-width: 2px;
  border-bottom-width: 4px;
  &[disabled] {
    background-color: $background_color;
  }

  &:hover,
  &[disabled]:hover {
    background-color: $black;
    color: $white;
  }

  &[disabled]:active {
    box-shadow: none;
  }

  &:focus {
    /* !importants are currently necessary to override ugly framework rules (_index.scss:110) */
    background-color: $black !important;
    color: $white !important;
    border-color: $black !important;
    box-shadow: none;
  }

  @include govuk-media-query($from: tablet) {
    font-size: 1.1125rem;
  }

  @include govuk-media-query($from: desktop) {
    margin-bottom: 20px;
  }
}

.ncce-button__pink {
  @include ncce_button($deep-cerulean);
}

.ncce-button__blue {
  @include ncce_button($blue);
}

.button {
  @include ncce_button($lime-green);
  color: $govuk-text-colour;
}

.ncce-button__white {
  @include ncce_button($white);

  border-color: $lime-green;
}

.button--focus-white {
  &:hover,
  &[disabled]:hover {
    background-color: $white;
    color: $grey-dark-x;
  }

  &:focus {
    background-color: $white;
    color: $grey-dark-x;
  }
}

// .button--small {
//   font-size: 14px;
//   margin-bottom: 0;
//   padding: 0.3125rem 0.875rem;
//   @include govuk-media-query($from: tablet) {
//     font-size: 16px;
//   }
// }

.button--medium {
  padding: 0.75rem 0.9375rem;
}

.button--inverted {
  background-color: $white;
  border-color: $lime-green;
  border-width: 2px;
  border-bottom-width: 4px;
  color: $govuk-button-text-colour !important;
  &:hover {
    border-color: $black;
    color: $white !important;
  }
}

.button--aside {
  @include ncce_button($lime-green);
  @include govuk-media-query($from: desktop) {
    margin-bottom: 0;
  }
  display: block;
  padding: 0.75em;
  &[disabled] {
    width: 100%;
  }
}

.button--inline {
  display: inline;
}

.button--margin-bottom {
  margin-bottom: 20px;
}

.button--margin-sides {
  @include govuk-media-query($from: tablet) {
    margin-left: 20px;
    margin-right: 20px;
  }
}

.button--full-width {
  @include govuk-media-query($from: desktop) {
    margin-bottom: 0;
  }
  display: block;
  &[disabled] {
    width: 100%;
  }
}

.ncce-link-button {
  background: none;
  border: 0;
  color: $deep-cerulean;
  cursor: pointer;
  font-family: inherit;
  font-size: 100%;
  padding: 0;
  text-decoration: underline;

  &:hover {
    color: $grey-dark-x;
  }
  &:focus {
    background-color: $deep-cerulean;
    color: $white;
    outline-color: $deep-cerulean;
  }

  &:active {
    background-color: $deep-cerulean;
    color: $white;
  }
}

.govuk-button {
  &:visited,
  &:active,
  &:link {
    color: $govuk-button-text-colour;
  }

  &:hover {
    color: $white;
  }
}

.modal-button-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}
