.ncce-details {
  font-size: 15px;
  margin: 0;

  font-size: 1rem;

  &__text {
    padding-left: 12px;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  @include govuk-media-query($from: tablet) {
    font-size: 1.18rem;
  }
}

.ncce-details__summary {

  &-text,
  &:before {
    color: $deep-cerulean;
  }

  &:focus {
    background: none;
    box-shadow: none;
  }

  text-decoration: underline !important;
  padding-left: 17px;
}

.ncce-details[closed]>.ncce-details__summary::before {
  margin: 0.4rem 0 0 0;
}

/* Ensure expander icon is aligned vertically when open on desktop */
@include govuk-media-query($from: desktop) {
  .ncce-details[open]>.ncce-details__summary::before {
    margin: 0.5rem 0 0 0;
  }
}

.ncce-details__summary-content-wrapper {
  margin: 0.8rem 1.6rem;
}
