.ncce-details {
  font-size: 15px;
  margin: 0;

  font-size: 1rem;

  &__text {
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  @include govuk-media-query($from: tablet) {
    font-size: 1.18rem;
  }
}

.ncce-details__summary {
  &-text, &:before {
    color: $deep-cerulean;
  }

  &:before {
    margin: 0.4rem 0 0 0;
  }

  &:focus {
    background: none;
    box-shadow: none;
  }
}

.ncce-details__summary-content-wrapper {
  margin: 0.8rem 1.6rem;
}
