.dropdown__expander--closed {
  margin-bottom: 20px;
}

.dropdown__expander-section--visible {
  display: block !important;
  visibility: visible !important;
  margin-bottom: 0 !important;
}

.dropdown__expander-content {
  background: $white;
  border-bottom: 1px solid #CED0D2;
  display: none;
  left: 0;
  padding: 1.125rem 1rem 1rem 1.5rem;
  width: stretch;
  transition: all 0.5s ease;
  visibility: hidden;

  @include govuk-media-query($from: desktop) {
    border-bottom: unset;
    box-shadow: 0 0 5px $box-shadow;
    position: absolute;
    z-index: 1;
  }
}

.dropdown__expander-content-item {
	padding-bottom: 1rem;

  &:first-child {
    font-size: 1.125rem;
		font-weight: 700;
	}

  &:last-child {
		padding-bottom: 0;
  }
  
  a {
    text-decoration: none;
  }

  a:hover,
  a:focus-within
   {
    text-decoration: underline;
  }
}