.ncce-flex__space-between {
  display: flex;
  justify-content: space-between;
}

.ncce-flex__grow-1 {
  flex-grow: 1
}

.ncce-grid__no-space-between {
  display: grid;
  grid-template-columns: 0.3fr 0.7fr;
}
