.ncce-footer {
  background-color: $grey-dark-x;
  border-top: none;
  padding: 2rem 0;

  &__grid {
    display: grid;
    grid-row-gap: 25px;
    grid-template-areas:
      'logos'
      'links'
      'social';
    grid-template-columns: 1fr;
    @include govuk-media-query($from: tablet) {
      grid-column-gap: 15px;
      grid-row-gap: $logo-block;
      grid-template-areas:
        'logos logos logos logos '
        'links links links social';
    }
    @include govuk-media-query($from: desktop) {
      grid-column-gap: 19px;
      grid-template-areas: 'logos links links links social';
      grid-template-columns: 225px 1fr 1fr 1fr 1fr;
    }
  }

  &__grid-logos {
    display: grid;
    grid-area: logos;
    grid-column-gap: 20px;
    grid-row-gap: 16px;
    grid-template-columns: auto 1fr;
    @include govuk-media-query($from: desktop) {
      grid-template-columns: 1fr;
    }
  }

  &__grid-links {
    display: grid;
    grid-area: links;
    grid-column-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
  }

  &__grid-social {
    display: grid;
    grid-area: social;
    grid-template-columns: 120px 1fr;
    @include govuk-media-query($from: tablet) {
      grid-template-columns: 1fr;
    }
  }

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
    &-item {
      margin-bottom: 15px;
    }
  }

  &__text {
    color: $white;
  }

  &__nav-social {
    @include govuk-media-query($from: tablet) {
      padding-left: 20px;
    }
  }

  &__logos-img {
    display: block;
    width: 100px;
    @include govuk-media-query($from: tablet) {
      width: 125px;
    }
  }
}
