.govuk-input:focus,
.govuk-radios__input:focus,
.govuk-textarea:focus {
  outline-color: $deep-cerulean;
}

.govuk-textarea {
  border: 0.125rem solid #979797;
  font-size: 1rem;
}

.govuk-checkboxes__input:focus+.govuk-checkboxes__label::before {
  box-shadow: 0 0 0 3px $deep-cerulean;
}

.govuk-input:focus,
.govuk-select:focus,
.govuk-textarea:focus {
  box-shadow: 0 0 0 3px $deep-cerulean;
  outline-color: $white;
  outline-color: rgba(255, 255, 255, 0);
  outline-offset: 3px;
}

.govuk-input {
  border-radius: 5px;
}

.govuk-input:focus {
  border: 2px solid #007fa2;
  box-shadow: none;
  outline: none;
}

.govuk-radios__input:focus+.govuk-radios__label::before {
  box-shadow: 0 0 0 3px $deep-cerulean;
}

.ncce-select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-image: url('../images/icons/chevron.svg');
  background-position: calc(100% - 10px) 50%;
  background-repeat: no-repeat;
  background-color: $white;
  font-size: 1rem;
  height: 2.5rem;
  margin-right: 20px;
  padding-right: 30px;
  width: 100%;

  @include govuk-media-query($until: 900px) {
    margin: 0 20px 20px 0;
  }

  @include govuk-media-query($until: tablet) {
    margin: 0 0 20px;
  }
}

.ncce-label--s {
  font-size: 14px;
  line-height: 2rem;
}

.ncce-label {
  font-size: 17px;
  line-height: 2rem;
}

.ncce-label--bold {
  font-weight: bold;
}

.ncce-label--multiline {
  line-height: 2rem;
}

/* govuk checkboxes use the label hack, so we need to style that */
.ncce-checkboxes__item {
  min-height: 28px;

  .ncce-checkboxes__label {
    line-height: 0.8rem;
    padding: 8px 0 0 0;

    &::before {
      background-color: $white;
      border: 2px solid #0B0C0C;
      border-radius: $border-radius;
      height: 30px;
      width: 30px;
    }

    &::after {
      top: 8px;
      left: 5px;
      height: 11px;
      width: 19px;
    }

    &--multiline {
      line-height: normal;
      padding: 0;
      vertical-align: middle;

      &::before,
      &::after {
        top: 0.55rem;
      }

      &::after {
        margin-top: 0.45rem;
      }
    }
  }

  &--multiline {
    display: flex;
    align-items: center;
  }

  .ncce-checkboxes__input:focus+.ncce-checkboxes__label::before,
  .ncce-checkboxes__input:active+.ncce-checkboxes__label::before,
  .ncce-checkboxes__input[checked='checked']+.ncce-checkboxes__label::before {
    background-color: $foam;
    border: 2px solid #007fa2;
    box-shadow: none;
    outline: none;
  }

}

.ncce-search-input {
  background-position: 6px 7px;
  background-repeat: no-repeat;
  background-size: 1.5rem;
  font-size: 1rem;
}
