.ncce-heading-l__centered {
  padding: 8px 0;
  @include govuk-media-query($from: tablet) {
    padding: 16px 0;
    text-align: center;
  }
  @include govuk-media-query($from: desktop) {
    padding: 14px 0 24px;
  }
}

.curriculum {
  .govuk-heading-m {
    font-family: 'Objectivity', sans-serif !important;
  }
}
