@mixin icon(
  $image,
  $position: left center,
  $width: 20px,
  $height: 20px,
  $spacing: 7px
) {
  background-image: url($image);
  background-position: $position;
  background-repeat: no-repeat;
  background-size: $width $height;
  @if $position == left or $position == left top or $position == left bottom {
    padding-left: $spacing + $width;
  } @else if
    $position ==
    right or
    $position ==
    right
    top or
    $position ==
    right
    bottom
  {
    padding-right: $spacing + $width;
  }
}

.icon-online {
  @include icon('../images/icons/laptop.svg');
}

.icon-calendar {
  @include icon('../images/icons/calendar.svg');
}

.icon-clock {
  @include icon('../images/icons/clock.svg');
}

.icon-blank-circle {
  @include icon('../images/icons/circle.svg');
  background-size: 32px;
  padding-left: 40px;
}

.icon-arrow-left {
  @include icon('../images/icons/arrow_left.svg');
  padding-left: 30px;
  background-size: 25px;
  display: block;
  background-position: top left;
}

.icon-arrow-right {
  @include icon('../images/icons/arrow_right.svg');
  padding-left: 30px;
  background-size: 25px;
  display: block;
  background-position: top left;
}

.icon-dotted-line {
  @include icon('../images/icons/vertical_dotted_line.svg');
  height: 45px;
  background-size: 3.5px;
  margin-left: 13px;

  @include govuk-media-query($from: desktop) {
    @include icon('../images/icons/progress_bar_line.svg');
    background-size: 60px;
    width: 60px;
    height: 48px;
    padding-left: 0px;
    margin-left: 0px;
  }
}

.icon-map-pin {
  @include icon('../images/icons/map-pin.svg');
}

.icon-remote {
  @include icon('../images/icons/icon-remote.svg');
}

.icon-resources {
  @include icon('../images/icons/resources-purple.svg', left top, 30px, 30px, 10px);
  min-height: 30px;
}

.icon-star {
  @include icon('../images/icons/star.svg');
}

.icon-close {
  @include icon('../images/icons/close.svg');

  background-size: 24px 24px;
}
