.location-search-results {
  border-bottom: 2px solid $grey-mid;
  margin: 40px 0;
  padding-bottom: 30px;
}

.location-search-results__courses {
  border-left: 6px solid $foam;
  padding-left: 12px;
  padding-top: 40px;
}

.location-search-results--no-courses {
  border-bottom: 2px solid $grey-mid;
  padding-bottom: 20px;
}


.location-search-results--title {
  background-color: $foam;
  border-left: 6px solid $foam;
  margin-bottom: 0;
  padding: 12px 10px;
}
