.govuk-tag {
  padding-bottom: 3px;
}

.govuk-phase-banner__content__tag {
  background-color: $purple-dark;
}


.ncce-courses__tag {
  margin-bottom: 0.5rem;
  padding-bottom: 5px;
  text-transform: initial;
  letter-spacing: 0;
  background-color: $white;
  color: $grey-dark-x;
  border: 2px solid $orange;
}

.ncce-courses__filter-tag {
  background-color: $concrete;
}

.ncce-courses__filter-tag--primary {
  background-color: $primary-cert-color;
  border-color: $primary-cert-color;
  color: $grey-dark-x;
}

.ncce-courses__filter-tag--subject-knowledge,
.ncce-courses__filter-tag--secondary {
  background-color: $secondary-cert-color;
  border-color: $secondary-cert-color;
  color: $grey-dark-x;
}
