.testimonial {
  margin-bottom: 2rem;
  @include govuk-media-query($from: desktop) {
    margin-bottom: 0;
  }

  &__text {
    background-color: $white;
    border-radius: 10px;
    line-height: 1.4;
    padding: 10px;
    color: $govuk-text-colour !important;
    @include govuk-media-query($from: tablet) {
      padding: 18px;
    }
  }
  &__bio {
    display: grid;
    grid-column-gap: 5px;
    grid-template-columns: 52px auto;
    padding: 0 10px 0 10px;
    @include govuk-media-query($from: tablet) {
      padding: 0 18px 0 18px;
    }
  }
  &__bio-cell--span-2 {
    grid-column-end: span 2;
    grid-column-start: 1;
  }
  &__bio > *:last-child {
    margin-bottom: 0;
  }
  &__image {
    border: 2px solid $orange;
    border-radius: 24px;
    height: 48px;
    width: 48px;
  }
}

.testimonial-wide {
  display: grid;
  @include govuk-media-query($from: tablet) {
    grid-template-columns: 2fr 1fr;
  }
  &__bio {
    display: grid;
    grid-template-columns: 75px auto;

    @include govuk-media-query($from: tablet) {
      grid-template-columns: 1fr;
      grid-template-rows: 100px auto;
      padding-left: 30px;
    }
    @include govuk-media-query($from: desktop) {
      padding-left: 45px;
    }
  }
  &__quote {
  }
  &__image {
    border: 2px solid $orange;
    border-radius: 50%;
    margin-left: 12px;
    width: 48px;

    @include govuk-media-query($from: tablet) {
      margin-top: 20px;
      width: 66px;
    }
    @include govuk-media-query($from: desktop) {
      margin-left: 25px;
    }
  }
}

.testimonial--secondary {
  padding-top: 50px;
  @include govuk-media-query($from: tablet) {
    padding-top: 0;
  }
  .testimonial__image {
    border: none;
    border-radius: 0;
  }
}
