.text-video {
  display: grid;
  width: 100%;
  gap: 60px;
  grid-template-columns: 1fr 1fr;

  .video-container {
    display: flex;

    align-items: center;

    video {
      width: 100%;
    }
  }

  @include govuk-media-query($from: mobile) {
    display: block;

    .video-container {
      margin-top: 1rem;
      margin-bottom: 1rem;
    }
  }
}
