<div class="external-link-card-component">
  <h3 class="govuk-heading-s external-link-card-component__heading">
    <%= link_to @title, @link, class: 'govuk-link ncce-link' %>
  </h3>
  <div class='govuk-body-s file-card-component__meta-data'>
    <%= @file_type %>
  </div>
</div>
