<div class="govuk-body-m no-hubs-component" id="sorted-hubs">
  <%= image_pack_tag 'media/images/courses/sad-face.png', alt: 'Sad face', class: 'no-hubs-component__sad-face' %>
  <p class="govuk-body"><%= t('.no_results') %></p>
  <p class="govuk-body"><%= t('.try_again') %></p>
  <%= link_to t('.clear_search'), hubs_path(anchor: 'sorted-hubs'), class: "govuk-button button"  %>
</div>
