<div class="ncce-hero">
  <div class="govuk-width-container">
    <div class="govuk-main-wrapper">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column">
          <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl ncce-hero__heading">Helping you teach computing</h1>
          </div>
          <div class="govuk-grid-column-two-thirds">
            <p class="govuk-body-l ncce-hero__body">Our aim is for every child in every school in England to have a world-leading computing education.</p>
            <p class="govuk-body ncce-hero__body">We provide resources, training and support for teaching Computing in primary and secondary schools and colleges from Key Stage 1 through to A Level.</p>
            <p class="govuk-body ncce-hero__body">Free resources to help plan your Computing lessons are coming soon</p>
            <button class="govuk-button ncce-button__pink"><a href="/offer" class="ncce-hero__button--link">Explore our offer</a></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
