<div class="ncce-hero">
  <div class="govuk-width-container">
    <div class="govuk-main-wrapper">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column">
          <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">Helping you teach computing</h1>
          </div>
          <div class="govuk-grid-column-two-thirds">
            <p class="govuk-body ncce-hero__body">Our aim is for every child in every school in England to have a world-leading computing education.</p>
            <p class="govuk-body ncce-hero__body">We provide resources, training and support for teaching Computing in primary and secondary schools and colleges from Key Stage 1 through to A Level.</p>
            <button class="govuk-button ncce-hero--button"><a href="#">About the NCCE</a></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-2">
