<div class="ncce-jobs-container">
  <div class="govuk-width-container">
    <div class="govuk-main-wrapper">
      <div class="govuk-grid-row">
       <div class="govuk-grid-column-one-third">
          <img src="/images/you.png" alt="Get involved" class="ncce-jobs__image"/>
       </div>
        <div class="govuk-grid-column-two-thirds">
          <h2 class="govuk-heading-l">Get involved</h2>
          <h3 class="govuk-heading-s ncce-jobs__heading">Careers</h3>
          <p class="govuk-body">
            To run the National Centre for Computing Education,
            we’re looking for people to fill a number of job roles across software development,
            educational content creation and programme management.
          </p>
          <p class="govuk-body">
            <a href="#" class="govuk-body govuk-link ncce-jobs--link">Visit jobs page</a>
          </p>
          <h3 class="govuk-heading-s ncce-jobs__heading">Corporate partnerships</h3>
          <p class="govuk-body">
            We're also looking for schools and industry partners to help us deliver the aims of the centre.
            If you'd like to find out more about becoming a partner, contact us at
            <a href="mailto:info@teachcomputing.org" class="govuk-link ncce-jobs--link">info@teachcomputing.org</a>
          </p>
          <h3 class="govuk-heading-s ncce-jobs__heading">Become a hub</h3>
          <p class="govuk-body">
            Here will be some information about becominng a hub.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
