<div class="ncce-mailing" id="mailing">
  <div class="govuk-width-container">
    <div class="govuk-main-wrapper">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">
          <p class="govuk-heading-l ncce-mailing__heading">Stay up to date</p>
          <p class="govuk-body ncce-mailing__body">Be first to know when we launch resources, training and events.</p>
          <form action="{{ env.adestraEndpoint }}" method="post" accept-charset="UTF-8">
            <div class="govuk-form-group">
              <label class="govuk-label ncce-mailing__label" for="amf-input-first_name_11">First name</label>
              <input type="text" class="govuk-input ncce-mailing__input" name="first_name_11" id="amf-input-first_name_11" value="" maxlength="255" onkeyup="if (this.length>255) this.value=this.value.substr(0, 255)" onblur="this.value=this.value.substr(0, 255)">
            </div>
            <div class="govuk-form-group">
              <label class="govuk-label ncce-mailing__label" for="amf-input-email_10">Email address</label>
              <input type="text" class="govuk-input ncce-mailing__input" name="email_10" id="amf-input-email_10" value="" maxlength="255" onkeyup="if (this.length>255) this.value=this.value.substr(0, 255)" onblur="this.value=this.value.substr(0, 255)">
            </div>
            <p class="govuk-body ncce-mailing__footnote">From time to time the consortium will contact you with updates. We will only use your data in accordance with the terms of our <a href="/privacy.html" class="govuk-link ncce-link__on-dark">privacy policy</a>.</p>
            <input type="submit" class="govuk-button ncce-mailing__button" name="submit" id="submit" value="Get updates">
          </form>
        </div>
        <div class="govuk-grid-column-one-third">
          <a href="#" class="govuk-link ncce-mailing--link govuk-!-font-weight-bold">Follow @WeAreComputing on Twitter</a>
          <a href="#" class="govuk-link ncce-mailing--link govuk-!-font-weight-bold">Like NCCE on Facebook</a>
        </div>
      </div>
    </div>
  </div>
</div>

