<div class="c-partners">
  <div class="govuk-width-container">
    <div class="govuk-main-wrapper">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">
          <p class="govuk-body c-partners__notice govuk-!-margin-top-3">
            The National Centre for Computing Education is funded by the <a href="https://www.gov.uk/government/organisations/department-for-education" class="c-partners__notice-link ncce-link__on-dark">Department for Education</a>
            and is run by a consortium of <a href='https://www.stem.org.uk/' class="c-partners__notice-link ncce-link__on-dark" >STEM Learning</a>, the
            <a href='https://www.raspberrypi.org/' class="c-partners__notice-link ncce-link__on-dark"> Raspberry Pi Foundation</a> and <a href='https://www.bcs.org/' class="c-partners__notice-link ncce-link__on-dark">BCS, The Chartered Institute for IT</a>.
          </p>
        </div>
        <div class="govuk-grid-column-one-half">
          <div class='c-partners__list'>
            <a href='https://www.raspberrypi.org/' class="c-partners__link">
              <img src="https://teachcomputing.org/assets/images/raspberry-pi.png" class="c-partners__link-raspberry-pi" alt="Raspberry Pi Foundation"/>
            </a>
            <a href='https://www.bcs.org/' class="c-partners__link">
              <img src="https://teachcomputing.org/assets/images/bcs.png" class="c-partners__link-bcs" alt="BCS"/>
            </a>
            <a href='https://www.stem.org.uk/' class="c-partners__link">
              <img src="https://teachcomputing.org/assets/images/stem-learning.png" class="c-partners__link-stem-learning" alt="STEM Learning"/>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
