<div class="ncce-partners">
  <div class="govuk-width-container">
    <div class="govuk-main-wrapper">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">
          <p class="govuk-body ncce-partners__notice govuk-!-margin-top-3">
            The National Centre for Computing Education is funded by the <a href="https://www.gov.uk/government/organisations/department-for-education" class="ncce-partners__notice-link">Department for Education</a>
            and is run by a consortium of <a href='https://www.stem.org.uk/' class="ncce-partners__notice-link" >STEM Learning</a>, the
            <a href='https://www.raspberrypi.org/' class="ncce-partners__notice-link "> Raspberry Pi Foundation</a> and <a href='https://www.bcs.org/' class="ncce-partners__notice-link">BCS, The Chartered Institute for IT</a>.
          </p>
        </div>
        <div class="govuk-grid-column-one-half">
          <div class='ncce-partners__list'>
            <a href='https://www.raspberrypi.org/' class="ncce-partners__link">
              <img src="/images/rpi.png" class="ncce-partners__link-raspberry-pi" alt="Raspberry Pi Foundation"/>
            </a>
            <a href='https://www.bcs.org/' class="ncce-partners__link">
              <img src="/images/bcs.png" class="ncce-partners__link-bcs" alt="BCS"/>
            </a>
            <a href='https://www.stem.org.uk/' class="ncce-partners__link">
              <img src="/images/stem.png" class="ncce-partners__link-stem-learning" alt="STEM Learning"/>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
