<div class="ncce-sign-up">
  <div class="govuk-width-container">
    <div class="govuk-main-wrapper">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column">
          <div class="govuk-grid-column-two-thirds">
            <h2 class="govuk-heading-l">Sign up to the NCCE</h2>
          </div>
          <div class="govuk-grid-column-two-thirds">
            <ul class="ncce-sign-up__list">
              <li class="ncce-sign-up__list--item"><span class="govuk-!-font-weight-bold">Discover and book</span> face-to face and online training courses (including upcoming courses so you can plan ahead)</li>
              <li class="ncce-sign-up__list--item"><span class="govuk-!-font-weight-bold">Record your achievements</span> and progress towards certification
              (find out <a href="#" class="govuk-link ncce-sign-up__aside--button">more about certification)</a></li>
              <li class="ncce-sign-up__list--item">Be first to find out about new developments and give feedback on new features as the NCCE grows.
              Help us <span class="govuk-!-font-weight-bold">shape the future</span> of computing education!</li>
            </ul>
            <button class="govuk-button ncce-sign-up--button"><a href="#" class="govuk-link ncce-sign-up--link">Sign up to the NCCE</a></button>
          </div>
          <div class="govuk-grid-column-one-third ncce-sign-up__aside">
            <p>Interested in teaching <span class="govuk-!-font-weight-bold">Computer Science at GCSE level</span> but don't have a computing qualifications?</p>
            <p>You may be eligible for a bursary towards your training.</p>
            <a href="#" class="govuk-link ncce-sign-up__aside--button govuk-!-font-weight-bold">Find out more</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-2">
