<div class="ncce-stay-updated">
  <div class="govuk-width-container">
    <div class="govuk-main-wrapper">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column">
          <div class="govuk-grid-column-two-thirds">
            <h2 class="govuk-heading-l">Stay up to date with the NCCE</h2>
          </div>
        </div>
      </div>
      <div class="ncce-stay-updated">
        <div class="ncce-stay-updated__panel">
          <img src="https://staging-codeclub.raspberrypi.org/assets/home/get-involved/boy-4b9297a3f56f77383432db11eb9acfcec9d7584419ab104fb681df73f681604a.jpg" alt="" />
          <p class="govuk-!-font-size-16 ncce-stay-updated__date">Date - News story</p>
          <p class="govuk-heading-s ncce-stay-updated__heading">The title of the news story</p>
          <p class="govuk-body ncce-stay-updated__body">
            If you're a GCSE teacher without a relevant copmputing qualification, you may be eligible for a bursary for your training.
          </p>
        </div>
        <div class="ncce-stay-updated__panel">
          <img src="https://staging-codeclub.raspberrypi.org/assets/home/get-involved/boy-4b9297a3f56f77383432db11eb9acfcec9d7584419ab104fb681df73f681604a.jpg" alt=""  />
          <p class="govuk-!-font-size-16 ncce-stay-updated__date">Date - Research paper</p>
          <p class="govuk-heading-s ncce-stay-updated__heading">The title of the research paper</p>
          <p class="govuk-body ncce-stay-updated__body">
            If you're a GCSE teacher without a relevant copmputing qualification, you may be eligible for a bursary for your training.
          </p>
        </div>
        <div class="ncce-stay-updated__panel">
          <img src="https://staging-codeclub.raspberrypi.org/assets/home/get-involved/boy-4b9297a3f56f77383432db11eb9acfcec9d7584419ab104fb681df73f681604a.jpg" alt="" />
          <p class="govuk-!-font-size-16 ncce-stay-updated__date">Date - News story</p>
          <p class="govuk-heading-s ncce-stay-updated__heading">The title of the news story</p>
          <p class="govuk-body ncce-stay-updated__body">
            If you're a GCSE teacher without a relevant copmputing qualification, you may be eligible for a bursary for your training.
          </p>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>
