<div class="c-hero">
  <div class="govuk-width-container">
    <div class="govuk-main-wrapper">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column">
          <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">Helping you teach computing</h1>
          </div>
          <div class="govuk-grid-column-two-thirds">
            <p class="govuk-body ncce-hero__body">Our aim is for every child in every school in England to have a world-leading computing education.</p>
            <p class="govuk-body ncce-hero__body">We provide resources, training and support for teaching Computing in primary and secondary schools and colleges from Key Stage 1 through to A Level.</p>
            <button class="govuk-button c-hero--button">About the NCCE</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-2">

<div class="c-sign-up">
  <div class="govuk-width-container">
    <div class="govuk-main-wrapper">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column">
          <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">Sign up to the NCCE</h1>
          </div>
          <div class="govuk-grid-column-two-thirds">
            <ul>
              <li>Discover and book face-to face and online training courses (including upcoming courses so you can plan ahead)</li>
              <li>Record your achievements and progress towards certification (find out more about certification)</li>
              <li>Be first to find out about new developments and give feedback on new features as the NCCE grows.
              Help us shape the future of computing education!</li>
            </ul>
            <button class="govuk-button c-sign-up--button">Sign up to the NCCE</button>
          </div>
          <div class="govuk-grid-column-one-third">
            <p>Interested in teaching Computer Science at GCSE level but don't have a computing qualifications?</p>
            <p>You may be eligible for a bursary towards your training</p>
            <button class="govuk-button c-sign-up--button">Find out more</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-2">
