<div class="c-hero">
  <div class="govuk-width-container">
    <div class="govuk-main-wrapper">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column">
          <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">Helping you teach computing</h1>
          </div>
          <div class="govuk-grid-column-two-thirds">
            <p class="govuk-body ncce-hero__body">Our aim is for every child in every school in England to have a world-leading computing education.</p>
            <p class="govuk-body ncce-hero__body">We provide resources, training and support for teaching Computing in primary and secondary schools and colleges from Key Stage 1 through to A Level.</p>
            <button class="govuk-button c-hero--button">About the NCCE</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-2">

<div class="c-sign-up">
  <div class="govuk-width-container">
    <div class="govuk-main-wrapper">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column">
          <div class="govuk-grid-column-two-thirds">
            <h2 class="govuk-heading-l">Sign up to the NCCE</h2>
          </div>
          <div class="govuk-grid-column-two-thirds">
            <ul class="c-sign-up__list">
              <li class="c-sign-up__list--item"><span class="govuk-!-font-weight-bold">Discover and book</span> face-to face and online training courses (including upcoming courses so you can plan ahead)</li>
              <li class="c-sign-up__list--item"><span class="govuk-!-font-weight-bold">Record your achievements</span> and progress towards certification
              (find out <a href="#" class="govuk-link c-sign-up__aside--button">more about certification)</a></li>
              <li class="c-sign-up__list--item">Be first to find out about new developments and give feedback on new features as the NCCE grows.
              Help us <span class="govuk-!-font-weight-bold">shape the future</span> of computing education!</li>
            </ul>
            <button class="govuk-button c-sign-up--button">Sign up to the NCCE</button>
          </div>
          <div class="govuk-grid-column-one-third c-sign-up__aside">
            <p>Interested in teaching <span class="govuk-!-font-weight-bold">Computer Science at GCSE level</span> but don't have a computing qualifications?</p>
            <p>You may be eligible for a bursary towards your training.</p>
            <a href="#" class="govuk-link c-sign-up__aside--button govuk-!-font-weight-bold">Find out more</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-2">

<div class="c-stay-up">
  <div class="govuk-width-container">
    <div class="govuk-main-wrapper">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column">
          <div class="govuk-grid-column-two-thirds">
            <h2 class="govuk-heading-l">Stay up to date with the NCCE</h2>
          </div>
        </div>
      </div>
      <div class="c-stay-up">
        <div class="c-stay-up__panel">
          <img src="https://staging-codeclub.raspberrypi.org/assets/home/get-involved/boy-4b9297a3f56f77383432db11eb9acfcec9d7584419ab104fb681df73f681604a.jpg" alt="" />
          <p class="govuk-!-font-size-14 c-stay-up__date">Date - News story</p>
          <p class="govuk-heading-s c-stay-up__heading">The title of the news story</p>
          <p class="govuk-body c-stay-up__body">
            If you're a GCSE teacher without a relevant copmputing qualification, you may be eligible for a bursary for your training.
          </p>
        </div>
        <div class="c-stay-up__panel">
          <img src="https://staging-codeclub.raspberrypi.org/assets/home/get-involved/boy-4b9297a3f56f77383432db11eb9acfcec9d7584419ab104fb681df73f681604a.jpg" alt=""  />
          <p class="govuk-!-font-size-14 c-stay-up__date">Date - Research paper</p>
          <p class="govuk-heading-s c-stay-up__heading">The title of the research paper</p>
          <p class="govuk-body c-stay-up__body">
            If you're a GCSE teacher without a relevant copmputing qualification, you may be eligible for a bursary for your training.
          </p>
        </div>
        <div class="c-stay-up__panel">
          <img src="https://staging-codeclub.raspberrypi.org/assets/home/get-involved/boy-4b9297a3f56f77383432db11eb9acfcec9d7584419ab104fb681df73f681604a.jpg" alt="" />
          <p class="govuk-!-font-size-14 c-stay-up__date">Date - News story</p>
          <p class="govuk-heading-s c-stay-up__heading">The title of the news story</p>
          <p class="govuk-body c-stay-up__body">
            If you're a GCSE teacher without a relevant copmputing qualification, you may be eligible for a bursary for your training.
          </p>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>


<div class="c-mailing" id="mailing">
  <div class="govuk-width-container">
    <div class="govuk-main-wrapper">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">
          <p class="govuk-heading-l c-mailing__heading">Stay up to date</p>
          <p class="govuk-body c-mailing__body">Be first to know when we launch resources, training and events.</p>
          <form action="{{ env.adestraEndpoint }}" method="post" accept-charset="UTF-8">
            <div class="govuk-form-group">
              <label class="govuk-label c-mailing__label" for="amf-input-first_name_11">First name</label>
              <input type="text" class="govuk-input c-mailing__input" name="first_name_11" id="amf-input-first_name_11" value="" maxlength="255" onkeyup="if (this.length>255) this.value=this.value.substr(0, 255)" onblur="this.value=this.value.substr(0, 255)">
            </div>
            <div class="govuk-form-group">
              <label class="govuk-label c-mailing__label" for="amf-input-email_10">Email address</label>
              <input type="text" class="govuk-input c-mailing__input" name="email_10" id="amf-input-email_10" value="" maxlength="255" onkeyup="if (this.length>255) this.value=this.value.substr(0, 255)" onblur="this.value=this.value.substr(0, 255)">
            </div>
            <p class="govuk-body c-mailing__footnote">From time to time the consortium will contact you with updates. We will only use your data in accordance with the terms of our <a href="/privacy.html" class="govuk-link ncce-link__on-dark">privacy policy</a>.</p>
            <input type="submit" class="govuk-button c-mailing__button" name="submit" id="submit" value="Get updates">
          </form>
        </div>
        <div class="govuk-grid-column-one-third">
          <a href="#" class="govuk-link c-mailing--link govuk-!-font-weight-bold">Follow @WeAreComputing on Twitter</a>
          <a href="#" class="govuk-link c-mailing--link govuk-!-font-weight-bold">Like NCCE on Facebook</a>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="c-jobs-container">
  <div class="govuk-width-container">
    <div class="govuk-main-wrapper">
      <div class="govuk-grid-row">
       <div class="govuk-grid-column-one-third">
          <img src="https://staging-codeclub.raspberrypi.org/assets/home/get-involved/boy-4b9297a3f56f77383432db11eb9acfcec9d7584419ab104fb681df73f681604a.jpg" alt="Get involved" class="c-jobs__image"/>
       </div>
        <div class="govuk-grid-column-two-thirds">
          <h2 class="govuk-heading-l c-jobs__heading">Get involved</h2>
          <h3 class="govuk-heading-s c-jobs__heading">Careers</h3>
          <p class="govuk-body">
            To run the National Centre for Computing Education,
            we’re looking for people to fill a number of job roles across software development,
            educational content creation and programme management.
          </p>
          <a href="#" class="govuk-link c-jobs--link ">Visit jobs page</a>
          <h3 class="govuk-heading-s c-jobs__heading">Corporate partnerships</h3>
          <p class="govuk-body">
            We're also looking for schools and industry partners to help us deliver the aims of the centre.
            If you'd like to find out more about becoming a partner, contact us at <a href="mailto:info@teachcomputing.org" class="govuk-link ncce-link__on-light">info@teachcomputing.org</a>
          </p>
          <h3 class="govuk-heading-s c-jobs__heading">Become a hub</h3>
          <p class="govuk-body">
            Here will be some information about becominng a hub.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>