<div class="<%= background_class %>" >
  <div class="govuk-width-container ">
    <div class="govuk-main-wrapper govuk-!-padding-0">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full govuk-!-padding-0">
          <div class="lp-testimonials" style="<%= custom_properties %>">
            <% @testimonials.each do |testimonial| %>
              <%= render TestimonialComponent.new(event_category: @event_tracking_category, **testimonial) %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
