.complete_social {

  align-self: center;
  background-position: left center;
  background-repeat: no-repeat;
  background-size: 1rem;
  padding-left: 1.8rem;
  display: inline-block;

  @include govuk-media-query($from: tablet) {
    background-size: 1.5rem;
    line-height: 2.1rem;
    margin-bottom: 0;
    padding-left: 2.2rem;
  }
}

.complete_social--facebook {
  background-image: url('../images/social-media/facebook.svg');
}

.complete_social--x {
	background-image: url('../images/social-media/x_grey.svg');
}

.complete_social--linkedin {
	background-image: url('../images/social-media/linkedin.svg');
}
