
.ncce-diagnostic__aside {
  margin-top: 15px;
}

.ncce-diagnostic__button {
  margin-top: 25px !important;
  @include ncce_button($lime-green);
}

.ncce-diagnostic__aside {
  display: block;

  @include govuk-media-query($until: desktop) {
    &:not(.ncce-diagnostic__aside-question-1) {
      display: none;
    }
  }
}

.ncce-diagnostic__question-progress {
  font-weight: normal;
  font-family: $font-family-body;
  font-size: 1.188rem;
  color: $mid-gray;
  margin-top: 20px;
  margin-bottom: 10px;
}

.ncce-diagnostic__row {
  display: flex;
  flex-flow: wrap-reverse;

  @include govuk-media-query($from: desktop) {
    flex-direction: row;
    flex-flow: row;
  }
}
