.ihavedonethis__text {
  color: $white;
  margin-bottom: 0.5rem;
}

.ihavedonethis__button {
  background-image: url('../images/icons/tick-self.svg');
  background-position: right 0.5rem center;
  background-repeat: no-repeat;
  background-size: 0.8rem;
  display: none;
  float: right;
  padding-right: 1.7rem;
  padding-left: 0.5rem;
  white-space: nowrap;

  &[aria-expanded="true"] {
    background-color: $grey-dark-x;
    background-image: url('../images/icons/close-self.svg');
    background-repeat: no-repeat;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    box-shadow: none;
    color: $white;
    text-align: left;
    @include govuk-media-query($from: tablet) {
      text-align: center;
    }

    &:focus {
      background-color: $grey-dark-x !important;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      box-shadow: none !important;
      color: $white;
      outline: none;
      border-color: $grey-dark-x !important;
    }

    &:hover,
    &[disabled]:hover {
      background-color: $grey-dark-x;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      box-shadow: none;
      color: $white;
      text-decoration: underline;
    }
  }
}

.ihavedonethis__popup {
  background-color: $grey-dark-x;
  box-sizing: border-box;
  display: block;
  margin-left: 2rem;
  padding: 0.875rem;
  text-align: left;

  .button {
    margin-bottom: 20px;

    &:focus, &:hover {
      background-color: $white !important;
      color: $black !important;
    }

    @include govuk-media-query($from: tablet) {
      margin-bottom: 0;
    }
  }

  .govuk-input {
    border: 0;
    margin-bottom: 20px;
    margin-top: 20px;
    border-radius: 0;
    @include govuk-media-query($from: tablet) {
      margin-bottom: 0;
      margin-top: 0;
    }
  }

  .govuk-input:focus {
    border-width: 2px;
    outline: 3px solid $white;
    box-shadow: 0 0 0 3px #007fa2 !important;
  }
}

.ihavedonethis--progressive {
  position: relative;
  margin-left: 0;

  .ihavedonethis__popup {
    margin-top: 1.875rem;
    position: absolute;
    right: 0;
    width: 100%;
    z-index: 1;

    &[hidden] {
      display: none;
    }

    @include govuk-media-query($from: tablet) {
      width: 15rem;
    }

    @include govuk-media-query($from: desktop) {
      width: 20rem;
    }
  }

  .ihavedonethis__button {
    display: inline-block;
    margin-left: 0;

    @include govuk-media-query($until: tablet) {
      margin-bottom: 0.5rem;
    }

    @include govuk-media-query($from: tablet) {
      width: calc(100% - 1rem);
      margin-left: 1rem;
    }
  }
}

.ihavedonethis__group {
  display: inline-block;
  margin-bottom: 1rem;
  width: 100%;
}

.ihavedonethis__upload-container {
  background-color: $white;
  padding: 12px 10px;
  text-align: center;
}
