
.cms-file {
  @include govuk-font($size: 16);
  @include govuk-responsive-margin(2, "bottom");

  background-image: url('../images/icons/resources-black.svg');
  background-repeat: no-repeat;
  background-size: 1.6rem;

  &__content {
    margin-left: 1.9rem;
  }
}