.page-title {

  &__wrapper {
    display: flex;
    flex-direction: column;
  }

  &__status-message {
    @include govuk-font($size: 19);
    background-color: #1C0F5F;
    color: #ffffff;
    font-weight: bold;
    padding: 2px 12px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    float: left;
    margin: 0;
  }

  &__body {
    background-color: $white;
    display: flex;
    flex-direction: column;
    
    @include govuk-media-query($from: tablet) {
      flex-direction: row;
    }
  }

  &__title-text {
    margin-bottom: 0;
  }

  &__sub-text {
    color: $mid-gray;
    margin-top: 10px;
    margin-bottom: 0;
  }

  &__content {
    padding: 30px;
    flex: 1 1 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  &__media {
    flex: 1 1 100%;

    &--video {
      flex: 1 1 100%;
      padding: 10px;
    }

    .cms-image {
      width: 100%;
      height: 100%;

      img {
        width: 75%;
        height: auto;
        object-fit: cover;
        margin: 0 12.5%
      }
    }

    @include govuk-media-query($from: tablet) {
      flex: 0 1 30%;

      &--video {
        flex: 0 1 50%;
        padding: 10px;
      }

      .cms-image {
        width: 100%;
        height: 100%;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          margin: 0;
        }
      }
    }
  }
}
