.page-title {
  &__wrapper {
    background-color: $white;
    padding: 10px;
  }

  &__title-text {
    margin-bottom: 0;
  }

  &__sub-text {
    color: $mid-gray;
    margin-top: 10px;
    margin-bottom: 0;
  }
}
