<%= render GovGridRowComponent.new(background_color: "lime-green", padding: {top: 7, bottom: 7}) do |row| %>
  <%= row.with_column("full") do %>
    <div class="page-title__wrapper">
      <h1 class="govuk-heading-l page-title__title-text">
        <%= @title %>
      </h1>
      <% if @intro_text %>
        <p class="govuk-body page-title__intro-text">
          <%= @intro_text %>
        </p>
      <% end %>
    </div>
  <% end %>
<% end %>
