.page-title {
  &__wrapper {
    background-color: $white;
    display: flex;
    flex-direction: row;
  }

  &__title-text {
    margin-bottom: 0;
  }

  &__sub-text {
    color: $mid-gray;
    margin-top: 10px;
    margin-bottom: 0;
  }

  &__content {
    padding: 30px;
    flex: 1 1 auto;
    display: flex;
    align-items: center;
  }

  &__media {
    flex: 0 1 30%;

    .cms-image {
      width: 100%;
      height: 100%;

       img {
        width: 100%;
        height: 100%;
        object-fit: cover;
       }
    }
  }
}
