
.featured-enrichments-wrapper {
  background: #8BFF9640;
  background-image: url('../images/pages/enrichment/featured-banner.svg');
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: 782px 294px;
}

.enrichment-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 54px;
}

.enrichment-filters {

  &__selects {
    display: flex;
    flex-direction: column;

    @include govuk-media-query($from: tablet) {
      flex-direction: row;
      flex: 0 1 295px;
      gap: 54px;

      select {
        width: 100%;
      }
    }
  }
}