
.featured-enrichments-wrapper {
  background: #8BFF9640;
  background-image: url('../images/pages/enrichment/featured-banner.svg');
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: 782px 294px;
}

.enrichment-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 54px;

  @include govuk-media-query($until: desktop) {
    justify-content: center;
  }

  
}

.enrichment-filters {

  &__selects {
    display: flex;
    flex-direction: column;

    select {
      margin-bottom: 10px;
    }

    @include govuk-media-query($from: desktop) {
      flex-direction: row;
      flex: 0 0 295px;
      gap: 54px;

      select {
        width: 100%;
      }
    }
  }
}

.filter-counter {
  @include govuk-font($size: 19);
  @include govuk-responsive-margin(2, "top");

  &.hide {
    display: none;
  }

  &__clear {
    margin-left: 16px;
    color: $hyper-link-blue;
    cursor: pointer;
  }
}