.primary-dash-badge-component {
  align-items: center;
  border: 10px solid $foam;
  display: flex;

  @include govuk-media-query($from: desktop) {
    width: 58%;
  }
}

.primary-dash-badge-component__badge {
  margin: 10px;
  max-height: 112px;
  max-width: 112px;
}

.primary-dash-badge-component__content {
  margin: 0 22px;
}
