<div class="dashboard-course-component">
  <%= link_to @achievement.activity.title, course_path(id: @achievement.activity.stem_activity_code, name: @achievement.activity.slug),
    class: 'govuk-heading-s ncce-link govuk-link--no-underline' if @achievement.activity.stem_activity_code %>
  <div class="dashboard-course-component__wrapper">
    <div class="dashboard-course-component__programme">
      <% @achievement.activity.programmes.each do |programme| %>
        <div class="dashboard-course-component__programme-wrapper">
          <p class="govuk-body-s"><%= programme.certificate_name %></p>
        </div>
      <% end %>
    </div>
    <div class="dashboard-course-component__format">
      <div class="dashboard-course-component__format--icon">
        <span class="govuk-body-s <%= course_icon_class(@achievement.activity) %>"></span>
      </div>
      <div class="dashboard-course-component__format--text">
        <span class="govuk-body-s"><%= t("shared.course_types.#{course_category(@achievement.activity)}") %></span>
      </div>
    </div>
  </div>
</div>
