.sticky-dashboard-bar-wrapper {
  position: sticky;
  top: calc(100vh - 60px);
  height: 60px;
  z-index: 1;
  background-color: $off-white;
  box-shadow: 0px -4px 16px 0px #00000040;
  
  .govuk-width-container {
    height: 100%;

    .sticky-dashboard-bar {
      display: flex;
      height: 100%;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      a, span {
        margin-bottom: 0px;
      }
    }
  }
}