<div class="sticky-dashboard-bar-wrapper">
  <div class="govuk-width-container">
    <div class="sticky-dashboard-bar">
      <span class="govuk-body-m">Manage and track your certificate progress on your dashboard</span>
      <%= link_to "Take me to my dashboard", @programme.path, class: "govuk-button button" %>
    </div>
  </div>
</div>