
.benchmark-banner-wrapper {

  .benchmark-banner {
    background-color: $ncce-highlight;
    display: flex;
    flex-direction: row;
    gap: 10px;

    .benchmark-banner__label {
      flex-grow: 0;
      flex-shrink: 1;
      display: flex;
      align-items: center;
      padding-left: 10px; 
    }

    .benchmark-banner__icons {
      flex-grow: 1;
      display: flex;
      flex-direction: row;
      gap: 10px;
      padding: 0 10px;

      &--align-right {
        justify-content: flex-end;
      }
    }

  }
}

.benchmark-banner--width-float {
  width: 100%;

  .benchmark-banner {
    margin-top: 10px;
  }

  @include govuk-media-query($from: desktop) {
    width: calc(((100vw - $govuk-page-width)/2) + 290px);
    min-width: 270px;
    position: absolute;
    right: 0px;

    .benchmark-banner {
      position: relative;
      top: 15px;
    }

    &.two-headings {
      .benchmark-banner {
        top: 40px;
      }
    }

  }
}