<div class="govuk-width-container">
  <div class="govuk-main-wrapper featured-image-component">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <%= render CmsImageComponent.new(@image, show_caption: false) %>
      </div>
    </div>
  </div>
</div>