<div class="cms-picture-card">
  <%= content_tag :div, class: image_classes do %>
    <%= render Cms::ImageComponent.new(@image, show_caption: false, link: @link) %>
  <% end %>
  <div class="cms-picture-card__title">
    <h3 class="govuk-heading-m"><%= link_to_if @link, @title, @link, class: %w[cms-picture-card__link ncce-link] %></h3>
  </div>
  <div class="cms-picture-card__text">
    <%= render @body_text.render %>
  </div>
</div>
