  <div class='govuk-width-container'>
    <div class='govuk-main-wrapper'>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <h2 class='govuk-heading-xl'>Communities</h2>
          <%= render NonBorderedCardsComponent.new(
            class_name: 'resource-cards',
            cards_per_row: 3,
            cards: [
              {
                image_url: 'media/images/secondary_early_careers/computing_hubs.svg',
                title: 'Computing hubs',
                text: 'Providing local training and support for teachers across England, our Computing Hubs are led by schools and colleges with an exceptional track record in teaching computing.',
                link: {
                  link_title: 'Contact your local Hub',
                  link_url: hubs_path,
                  button: true,
                  tracking_page: tracking_category,
                  tracking_label: 'Hubs'
                }
              },
              {
                image_url: 'media/images/secondary_early_careers/stem_community.jpg',
                title: 'STEM community',
                text: "Discuss computing education with like-minded professionals and share ideas, practices and resources. The New to #{request.path == '/primary-early-careers'? 'primary' : 'secondary'} computing group caters for teachers joining the profession or teaching computing for the first time.",
                link: {
                  link_title: 'Join STEM community',
                  link_url: 'https://www.stem.org.uk/stem-community',
                  button: true,
                  tracking_page: tracking_category,
                  tracking_label: 'STEM Community'
                }
              },
              {
                image_url: 'media/images/secondary_early_careers/cas.png',
                title: 'CAS communities of Practice',
                text: 'Local networks of computing teachers who share expertise and best practice. They provide peer support, especially in your early career, and information to help you embed computing concepts in the classroom.',
                link: {
                  link_title: 'Find a CAS community',
                  link_url: 'https://community.computingatschool.org.uk/events',
                  button: true,
                  tracking_page: tracking_category,
                  tracking_label: 'CAS Community'
                }
              }
            ]
          ) %>
        </div>
      </div>
    </div>
  </div>
</div>
