<div class="card--simple">
  <div>
    <h2 class="govuk-heading-m card__heading">
      Computing Quality Framework
    </h2>
  </div>
  <p class="govuk-body card__text">
    The Computing Quality Framework helps you and your leadership team assess your computing offer. Use our guided journey to:
  </p>
  <ul class="govuk-list govuk-list--bullet">
    <li>identify strengths and weaknesses in your computing curriculum</li>
    <li>gain feedback and suggested actions, including relevant resources</li>
    <li>
      track progress towards achieving our accredited 
      <%= link_to "Computing Quality Mark<i class='icon-link-external in-link'></i>".html_safe, "https://computingqualityframework.org/accreditation/ncce-computing-quality-mark/",
        target: "_blank" %>
    </li>
  </ul>
  <p class="govuk-body govuk-!-margin-bottom-0">
    <%= link_to 'Register now', 'https://computingqualityframework.org/',
      class: 'button govuk-button computing-quality-framework__button',
      data: { event_action: 'click',
              event_category: '',
              event_label: '' }
    %>
  </p>
</div>
