<% I18n.t('.pages.pedagogy.ways_to_teach').each do |way| %>
  <h2 class="govuk-heading-s ways_to_teach__title" style='background-image: url("<%= asset_pack_path(way[:image]) %>")'><%= way[:title]%></h2>
  <p class="govuk-body govuk-!-padding-top-3"> <%= way[:text]%> </p>
  <% way[:resource_links].each do |link| %>
    <p class="govuk-body-s"> <%= link.html_safe %> </p>
  <% end %>
  <hr class="govuk-!-margin-top-6 govuk-!-margin-bottom-6">
<% end %>
