<div class="orange-bg">
  <div class="govuk-width-container">
    <div class="govuk-main-wrapper">

      <div class="i-belong-banner">
        <div class="i-belong-banner_content">
            <h2 class="govuk-heading-m">I Belong: encouraging girls into computer science</h2>
            <p class="govuk-body">
              Why do boys choose computing and girls don't? With I Belong we aim to support more girls into computer science qualifications and careers by providing your teachers with the tools to guide and inspire them.
            </p>
            <p class="govuk-body-s">
              Understand the barriers and make a plan to overcome them with our curated resources, training and implementation support to empower you and your team.
            </p>
            <p class="govuk-body govuk-!-margin-bottom-0">
              <%= link_to 'Find out more', i_belong_url %>
            </p>
        </div>
        <div class="i-belong-banner_image">
          <%= image_pack_tag 'media/images/pages/i-belong/students.jpg' %>
        </div>
      </div>
    </div>
  </div>
</div>