<div class="purple-bg">
  <div class="govuk-width-container">
    <div class="govuk-main-wrapper">

      <div class="inspire-with-comp-ambassador-banner">
        <div class="inspire-with-comp-ambassador-banner_image">
          <%= image_pack_tag 'media/images/pages/inspire_with_computing_ambassador/inspire_your_students.png' %>
        </div>
        <div class="inspire-with-comp-ambassador-banner_content">
            <h2 class="govuk-heading-m">Inspire your student with Computing Ambassadors</h2>
            <p class="govuk-body">
              Part of the STEM Ambassadors volunteer programme – Computing Ambassadors are people from a wide range of industries who can help bring your computing (and any other) lessons to life and provide real-world context, creating an invaluable link between schools and industry.
            </p>
            <p class="govuk-body-s">
              Computing Ambassadors can visit your school, introduce a topic, judge a competition or just show pupils who they can grow up to be in the future.
            </p>
            <p class="govuk-body govuk-!-margin-bottom-0">
              <%= link_to 'Find out more', 'https://www.stem.org.uk/stem-ambassadors/computing-ambassadors', target: "_blank" %>
            </p>
        </div>
      </div>
    </div>
  </div>
</div>