<div class="govuk-grid-column-one-third">
  <% I18n.t(".pages.pedagogy.aside").each do |aside| %>
    <div class="ncce-aside govuk-body govuk-!-padding-top-6">
      <h2 class="govuk-heading-s report-card-component__title"><%= aside[:title] %> </h2>
      <p class="govuk-body"> <%= aside[:text] %> </p>
      <% unless aside[:button].empty? %>
        <p class="govuk-body"> <%= aside[:button].html_safe %> </p>
      <% end %>

      <% aside[:resource_links].each do |link| %>
        <p class="gov-body"><%= link.html_safe %></p>
      <% end %>
    </div>
  <% end %>
</div>
