<% meta_tag :title, 'Isaac Computer Science' %>
<% meta_tag :description, 'Discover Isaac Computer Science, our free online learning platform for A level computer science teachers and students.' %>
<% meta_tag :image, image_url('/images/pages/isaac/meta-image.png', skip_pipeline: true) %>
<div class="tapestry-bg">
  <div class="govuk-width-container">
    <div class="govuk-main-wrapper">
      <div class="text-photo-hero white-bg">
        <div class="text-photo-hero__block--text">
          <h1 class="govuk-heading-l">A level computer science</h1>
          <p class="govuk-body-l">Discover <strong>Isaac Computer Science</strong>, our online learning programme for <strong>A level computer science teachers and students.</strong></p>
        </div>
        <div class="text-photo-hero__block--photo text-photo-hero__block--video">
					<iframe  src="https://www.youtube.com/embed/nW4J-NVDziw" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"  allowfullscreen data-event-action="click" data-event-category="Isaac Computer Science" data-event-label="Introductory video"></iframe>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="govuk-width-container">
  <div class="govuk-main-wrapper govuk-main-wrapper--xl">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <p class="govuk-body">Access a huge range of time-saving learning materials that covers the full A level computer science curriculum for the AQA and OCR exam boards — all for free!</p>
        <p class="govuk-body">Set questions for your students and our system will mark it and give you a detailed breakdown of their progress. Isaac Computer Science is great for supporting remote teaching, homework, and revision sessions, and helps you to quickly identify areas where students can improve.</p>
				<h2 class="govuk-heading-m">Isaac Computer Science will give you:</h2>
				<ul class="govuk-list govuk-list--bullet" role="list">
					<li>time-saving resources that are high quality and written by experienced teachers</li>
					<li>full coverage of the AQA and OCR specifications for computer science</li>
					<li>sets of self-marking questions </li>
					<li>printed workbooks to accompany your students’ online learning</li>
					<li>CPD training for teachers</li>
					<li>live online workshops for students</li>
					<li>a rewards programme: giving students the chance to win a Raspberry Pi 4 kit (with 1000 kits available to win every year)</li>
				</ul>
				<h2 class="govuk-heading-m">Isaac will help you to:</h2>
				<ul class="govuk-list govuk-list--bullet" role="list">
					<li>save time on lesson planning and marking work</li>
					<li>create personalised sets of questions for your class</li>
					<li>pinpoint areas to work on with your students</li>
					<li>manage students’ progress in your personal markbook</li>
				</ul>
      </div>
      <div class="govuk-grid-column-one-third">
        <div class="ncce-aside">
          <h2 class="govuk-heading-m ncce-aside__title">Why sign up?</h2>
          <p class="govuk-body-s ncce-aside__text">Benefit from a wide range of online events and A level resources.</p>
					<p class="govuk-body-s ncce-aside__text">Register with Isaac Computer Science and create your free account.</p>
          <p class="govuk-body-s"><%= link_to 'Visit Isaac Computer Science', 'https://isaaccomputerscience.org/', class: 'govuk-button button button--aside', :'data-event-action' => 'click', :'data-event-category' => 'Isaac Computer Science', :'data-event-label' => 'Visit Isaac Computer Science' %></p>
        </div>
      </div>
    </div>
  </div>
</div>

