<div class="govuk-width-container">
  <div class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column">
        <div class="govuk-grid-column-two-thirds">
          <h2 class="govuk-heading-l ncce-about__title">About</h2>
        </div>
        <div class="govuk-grid-column-two-thirds ncce-about__content">
          <p class="govuk-body-l">
          The National Centre for Computing Education is funded by the Department for Education
          and marks a significant investment in improving the provision of computing education in England.
          </p>
          <p class="govuk-body">
          Run by a consortium made up of <a href='https://www.stem.org.uk/' class="ncce-link__on-light ncce-link__on-light" >STEM Learning</a>, the
          <a href='https://www.raspberrypi.org/' class="ncce-link__on-light ncce-link__on-light"> Raspberry Pi Foundation</a>
          and <a href='https://www.bcs.org/' class="ncce-link__on-light ncce-link__on-light">BCS, The Chartered Institute for IT</a>,
          our vision is to achieve a world-leading computing education for every child in England.
          </p>

          <p class="govuk-heading-m">What we offer</p>
          <p class="govuk-body">
          We provide high-quality support for the teaching of computing in schools and colleges,
          from Key Stage 1 through to A level. Our extensive range of training, resources and support covers
          elements of the curriculum at every Key Stage, catering for all levels of subject knowledge and experience.</p>

          <p class="govuk-heading-m">How we can support you</p>
          <p class="govuk-body">
          Whether you’re a teacher, employer or resource provider, there are plenty of ways you can engage with us.
          </p>
          <p class="govuk-body-s">
            <a class="govuk-button ncce-button__pink ncce-about__link" href="/about">Find out more
            </a>
          </p>

          <p class="govuk-heading-m">Work with us </p>
          <p class="govuk-body">
          To ensure every young person can benefit from a high-quality computing education,
          we are calling on businesses to partner with us.</p>
          <p class="govuk-body">
          Find out more about how you can work with us.</p>
          <p class="govuk-body">
            <a class="govuk-button ncce-button__pink ncce-about__button" href="mailto:supporters@teachcomputing.org">Get in touch
          </a>
        </p>
        </div>

        <aside class="govuk-grid-column-one-quarter ncce-aside">
          <p class="govuk-body-s ncce-aside__title">What we offer</p>
          <p class="govuk-body-s ncce-aside__text"> We provide high-quality support for the teaching of computing
          in schools and colleges, from Key Stage 1 through to A level. Our extensive range of training, resources
           and support covers elements of the curriculum at every
          Key Stage, catering for all levels of subject knowledge and experience.
          </p>
          <p class="govuk-body-s"><a href="/offer" class="ncce-aside__link">Find out more</a></p>
      </aside>
      </div>
    </div>
  </div>
</div>
