<div class="govuk-width-container">
  <div class="govuk-main-wrapper govuk-main-wrapper--xl">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column">
        <div class="govuk-grid-column-two-thirds">
          <h2 class="govuk-heading-l ncce-about__title">accessibility statement</h2>
        </div>
        <div class="govuk-grid-column-two-thirds ncce-about__content">
          <p class="govuk-body-l">The demand for computing skills and knowledge is growing – it is estimated that 1.2 million more people with specialist digital skills will be needed by 2022. We are calling on businesses to join our efforts to ensure young people are equipped with the necessary skills for the future.</p>
          <p class="govuk-body">The National Centre for Computing Education is funded by the Department for Education and is led by a consortium of STEM Learning, Raspberry Pi and BCS, The Chartered Institute for IT. We provide resources, training and support for teaching computing in schools and colleges from Primary through to A Level.</p>
          <p class="govuk-body">By working with us, your organisation can help to deliver a world-leading computing education for every child in every school in England.</p>
          <h3 class="govuk-heading-m">Get involved</h3>
          <p class="govuk-body">Work with us and play a vital role in raising the profile of computing education with businesses, school and college leaders, teachers, parents and young people.</p>
          <h3 class="govuk-heading-m">How you can help:</h3>
          <ul class="govuk-list govuk-list--bullet">
            <li>
              <h4 class="govuk-heading-s">Advocacy</h4>
              <p class="govuk-body">speak up for the importance and value of a world-class computing education for every child</p>
            </li>
            <li>
              <h4 class="govuk-heading-s">Share</h4>
              <p class="govuk-body">help to raise awareness of the National Centre for Computing Education amongst school leaders and teachers</p>
            </li>
            <li>
              <h4 class="govuk-heading-s">Volunteer</h4>
              <p class="govuk-body">encourage your employees to volunteer for computing education initiatives in schools and clubs</p>
            </li>
            <li>
              <h4 class="govuk-heading-s">Enrichment</h4>
              <p class="govuk-body">provide talks, mentors, visits, facilities or technology to enrich the student experience of computing in school</p>
            </li>
            <li>
              <h4 class="govuk-heading-s">Funding</h4>
              <p class="govuk-body">provide financial support to computing education programmes</p>
            </li>
          </ul>
          <p class="govuk-body">For more information and to let us know how you can help please contact <%= mail_to 'supporters@teachcomputing.org', 'supporters@teachcomputing.org' %></p>
        </div>
      </div>
    </div>
  </div>
</div>
