<% title "Accessibility statement - Teach Computing" %>
<%= render 'components/hero', hero_title: 'Accessibility statement' %>
<div class="govuk-width-container">
  <div class="govuk-main-wrapper govuk-main-wrapper--xl">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h2 class="govuk-heading-s">Our aim</h2>
          <p class="govuk-body-l">
          We are committed to making our website more accessible and inclusive for everyone. This is an important part of our aim to ensure that everyone who visits the National Centre for Computing Education website feels welcome.</p>

          <h2 class="govuk-heading-s">What we are doing</h2>
          <p class="govuk-body">Our efforts to ensure this website is accessible and usable to the widest possible audience are based on best practice guidelines. Specifically, the Web Content Accessibility Guidelines 2.1 (WCAG) published by the World Wide Web Consortium (W3C). These guidelines explain how to make web content more accessible.</p>
          <p class="govuk-body">The guidelines have three levels: A, AA, and AAA. As an organisation, we aim for Level AAA.</p>

          <h2 class="govuk-heading-s">Get in touch with us</h2>
          <p class="govuk-body">Although we are working to make the National Centre for Computing Education accessible, we appreciate that issues may appear.</p>

          <p class="govuk-body">We are always happy to receive feedback. If you have experienced any difficulties or if you enjoyed using our website, please get in touch <%= mail_to 'accessibility@teachcomputing.org', 'accessibility@teachcomputing.org', class: 'ncce-link' %></p>
        </div>
      </div>
    </div>
</div>
