<div class="govuk-width-container">
  <div class="govuk-main-wrapper govuk-main-wrapper--xl">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column">
        <div class="govuk-grid-column-two-thirds">
          <h1 class="govuk-heading-l">The Computer Science Accelerator Programme</h1>
        </div>
        <div class="govuk-grid-column-two-thirds">
          <p class="govuk-body-l">The Computer Science Accelerator Programme from the National Centre for Computing Education is designed to support GCSE computer science teachers.  Whether you’re already teaching at this level or plan to do so, this highly personalised professional development programme can help you identify and remedy any gaps in your knowledge.</p>
          <p class="govuk-body">We have made it easy for you to engage with the programme, with bursaries available to help you meet the costs of supply cover, enabling you to complete the full programme.</p>
          <p class="govuk-body">Access a range of support to identify your professional development needs:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>begin with a diagnostic assessment to help you prioritise your CPD requirements</li>
            <li>study where and when it suits you</li>
            <li>•	gain confidence across the whole GCSE computer science curriculum</li>
          </ul>
          <p class="govuk-body">On successful completion, you will be awarded with a highly prestigious National Centre for Computing Education Certificate in GCSE Computer Science.</p>
          <h2 class="govuk-heading-s">Face-to-face CPD</h2>
          <p class="govuk-body">You can choose from a range of face-to-face CPD to suit your needs, at a location near to you. Each face-to-face CPD lasts two days.</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>Algorithms in GCSE computer science</li>
            <li>Python programming essentials for GCSE computer science</li>
            <li>Data and computer systems in GCSE computer science</li>
            <li>Networks and cyber-security in GCSE computer science</li>
          </ul>
          <h2 class="govuk-heading-s">Online CPD</h2>
          <p class="govuk-body">We have created a number of free, online courses available on the FutureLearn Platform which you can access at a time and place that suits you.</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>An Introduction to Computer and Networking for Teachers</li>
            <li>Understanding Maths and Login in Computing</li>
            <li>Understanding Computer Systems</li>
            <li>Teaching Physical Computing with Raspberry Pi and Python</li>
            <li>How Computers Work: Demystifing Computation</li>
            <li>Programming 101: An Introduction to Python for Educators</li>
            <li>Programming 102: Think like a Computer Scientist</li>
            <li>Representing Data with Images and Sound: Bringing Data to Life</li>
            <li>Object-oriented programming in Python: create your own adventure game</li>
          </ul>
          <h2 class="govuk-heading-s">How does it work?</h2>
          <p class="govuk-body">To complete the programme and achieve your nationally recognised certificate, you will need to complete 40 hours of CPD, which should include at least two face-to-face courses. Following this, you will take a short test – you will have the opportunity to re-take the test should you wish to do so.</p>
          <p class="govuk-body">We anticipate it will take no more than four-six months to complete the programme.</p>
          <h2 class="govuk-heading-s">How much does it cost?</h2>
          <p class="govuk-body">Participation in the programme and its CPD (both face-to-face and online) is free to secondary teachers of computing or computer science, in an English state maintained or state-funded school. There is a fee for independent schools, please refer to CPD booking for relevant fees.</p>
          <h2 class="govuk-heading-s">Can I get a bursary?</h2>
          <p class="govuk-body">Yes, if you are a secondary teacher of computing or computer science, in an English state maintained or state-funded school. Bursaries exist to support you through 40 hours of CPD to complete the programme, and can contribute towards costs for supply cover, helping you to participate in CPD.</p>
          <p class="govuk-body">If you are eligible you will receive:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>£220 per day (£440 per course) up to a maximum of £880, payable after successful completion of each face-to-face CPD activity
            </li>
            <li>•	£870 for completion of online CPD and final test by the 31 July 2019, payable on completion of the programme</li>
          </ul>
          <p class="govuk-body">If you don’t complete the programme, we reserve the right to reclaim any bursaries paid. If you are eligible for a bursary, this will be paid in stages after completion of each of the two face-to-face CPD activities, with a third payment after sitting the final test.</p>
        </div>
      </div>
    </div>
  </div>
</div>
