<div class="govuk-width-container">
  <div class="govuk-main-wrapper govuk-main-wrapper--xl">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column">
        <div class="govuk-grid-column-two-thirds">
          <h1 class="govuk-heading-l">Certification</h1>
        </div>
        <div class="govuk-grid-column-two-thirds">
          <p class="govuk-body">Certification is available for all teachers of computing from primary through to GCSE.</p>
          <p class="govuk-body">Achieving the certificate will demonstrate that you have:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>the subject knowledge needed to teach the new knowledge-based computing curriculum, including programming</li>
            <li>a commitment to improving and maintaining your subject knowledge and skills</li>
            <li>an understanding of and application of pedagogical strategies suitable for teaching computing</li>
          </ul>
          <p class="govuk-body">There are two core certificates available, one for primary teachers and one for secondary teachers, and for secondary teachers who opt to, there’s an additional GCSE Subject Knowledge certificate.</p>
          <p class="govuk-body">The certificates consist of three components.  There are a set number of credits required for each component which need to be completed to achieve the certificate.</p>
          <p class="govuk-body"><strong>Commitment to your professional development (15 credits)</strong><br /> To achieve this you will need to demonstrate your commitment by collecting credits for the practical steps you have taken to improve your subject and pedagogical knowledge of computing. There are many ways you will be able to build your credits in this area. From signing up to the National Centre and your local computing hub, which will get you well on your way to gaining the credits you need to working through the online diagnostic tool, which is a great place to start.</p>
          <p class="govuk-body"><strong>Developing your professional knowledge: (60 credits)</strong><br /> To achieve this you will demonstrate that you have acquired the necessary professional knowledge by collecting credits for successfully completing approved CPD courses. You will gain credits through the number of hours of eligible CPD that you undertake.  There will be a variety of online and face to face courses available covering areas of both subject knowledge and pedagogy.  You will need to complete 20 hours of eligible CPD for the core certificate or 40 hours of eligible CPD for the GCSE Subject Knowledge Certificate.</p>
          <p class="govuk-body"><strong>Supporting your professional community (25 credits)</strong><br /> To achieve this component you will demonstrate that you have supported your professional community by actively participating in CAS communities of practice, sharing resources and contributing to professional dialogue. There are a wide range of ways to gain credits in this area.  You could register with and attend your local CAS Community of Practice, contribute to online discussions on the CAS Forum and submit resources to the CAS Community to name but a few.  You will be able to record these activities into your professional development log.</p>
          <p class="govuk-body">If you are undertaking the GCSE Subject Knowledge Certificate, you will need to successfully complete a summative assessment.</p>
          <p class="govuk-body">Your progress will be tracked through your personal National Centre profile, so you will always be able to see how many credits you have recorded and the number you need to complete each component.</p>
          <p class="govuk-body">Certification features will become available on the website by June 2019.  Any activities you complete prior to all certification features becoming available, will be recorded and will count towards your credits.</p>
          <p class="govuk-body">For further information contact <%= mail_to 'info@teachcomputing.org', 'info@teachcomputing.org', class: 'ncce-link' %></p>
          <p class="govuk-body-s"><%= link_to 'Log in to browse available CPD courses from your dashboard', login_path, class: 'govuk-button ncce-button__pink' %></p>
        </div>

        <% unless @current_user %>
        <aside class="govuk-grid-column-one-third ncce-aside">
          <h2 class="govuk-heading-s ncce-aside__title">Start your journey</h2>
          <p class="govuk-body-s ncce-aside__text">To earn your first credits you need to register with the National Centre for Computing Education.</p>
          <p class="govuk-body-s"><%= link_to 'Create an account', login_path, class: 'ncce-link ncce-link--on-dark' %></p>
        </aside>
        <% end %>
      </div>
    </div>
  </div>
</div>
