<% meta_tag :title, 'Competition - Teach Computing' %>
<%= render 'components/hero', hero_title: 'Prize draws and competitions' %>
<div class="govuk-width-container">
  <div class="govuk-main-wrapper govuk-main-wrapper--xl">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <p class="govuk-body">From time to time, we may run prize draws and/or
          competitions on our site.</p>

        <p class="govuk-body">For each prize draw and/or competition, the
          following terms will also apply.</p>

        <p class="govuk-body">We, the National Centre for Computing Education
          (NCCE), will be the Promoter of each prize draw and/or competition.
        </p>

        <p class="govuk-body">The eligibility criteria of the prize draw and/or
          competition will be set out on our site.</p>

        <p class="govuk-body">Unless stated otherwise on our site, each prize
          draw and competition will be free to enter, and no purchase will be
          necessary.</p>

        <p class="govuk-body">All entries to our prize draws and/or competitions
          must be submitted via the teachcomputing.org website. The opening and
          closing date for entries will be set out on our site. Entries received
          after a stated closing date will not be accepted.</p>

        <p class="govuk-body">We accept no responsibility for entries not
          successfully completed due to a technical fault or technical
          malfunction, computer hardware or software failure, satellite, network
          or server failure of any kind.</p>

        <p class="govuk-body">Winners of prize draws will be chosen by random
          draw, either performed by a computer process or supervised by an
          independent person.</p>

        <p class="govuk-body">Previous competition and prize draw winners – and
          the schools that have been recipients of their prizes – are ineligible
          to win further prizes during the 3 years following the entry deadline
          of their winning prize draw.</p>

        <p class="govuk-body">All entries and any accompanying material
          submitted to us will become our property on receipt and will not be
          returned.</p>

        <p class="govuk-body">Details of any third-party supplier of the prizes
          will be set out on our site.</p>

        <p class="govuk-body">We reserve the right to replace the prize with an
          alternative prize of equal or higher value if circumstances beyond our
          control make it necessary to do so.</p>

        <p class="govuk-body">Our decision regarding any aspect of a prize draw
          and/or competition will be final and binding and no correspondence
          will be entered into about it.</p>

        <p class="govuk-body">articipants are deemed to have accepted and agreed
          to be bound by these terms and conditions upon entry.</p>

        <p class="govuk-body">We reserve the right to refuse entry or refuse to
          award the prize to anyone in breach of these terms and conditions.</p>

        <p class="govuk-body">We reserve the right to hold void, cancel, suspend
          or amend the prize draw and/or competition where it becomes necessary
          to do so.</p>

        <p class="govuk-body">Insofar as is permitted by law, we, our agents or
          distributors will not in any circumstances be responsible or liable to
          compensate the winner or accept any liability for any loss, damage,
          personal injury or death occurring as a result of taking up the prize
          except where it is caused by our, or our agent's, distributor's or
          employee's negligence. Your statutory rights are not affected.</p>

        <p class="govuk-body">We and our agents or distributors will not in any
          circumstances be responsible or liable to compensate the winner if
          they are unable to take up the prize for any reason.</p>

        <p class="govuk-body">Personal data supplied during the course of any
          prize draw and/or competition will only be processed as set out in
          our <%= link_to 'privacy policy', '/privacy/', class: 'govuk-link' %>.
          The winning participant shall consent to us sharing their personal
          data (name and contact details) with any third-party supplier of
          prizes.</p>

        <p class="govuk-body">Prizes will be non-exchangeable, non-transferable
          and no cash alternative will be offered.</p>

        <h2 class="govuk-heading-m">Raspberry Pi coding session prize draw</h2>
        <ol class="govuk-list govuk-list govuk-list--number">
          <li>The winner of the prize draw will win a coding session for their
            school. The experience includes a facilitator coming into the
            winning school and running up to 3 one-hour sessions of physical
            computing with students (or alternatively the school can organise
            for the students to visit the Raspberry Pi office in Cambridge for
            these sessions).</li>
          <li>Entrants must be from a state-funded secondary school in England.
            Entrants must be 18 or over.</li>
          <li>The coding session run by Raspberry Pi should take place this
            academic year (2019/20).</li>
          <li>The prize draw will open on Wednesday, 11th September 2019 and
            close at 12:00 on Monday 30 September 2019.</li>
          <li>The winner of the draw will be randomly selected by a computer
            process.</li>
          <li>The winner will be notified by email or telephone (using details
            provided at entry) by Monday 7 October 2019. If a winner or their
            school does not respond within 2 working days of being notified by
            NCCE, the winner's prize will be forfeited and NCCE will be entitled
            to select another winner in accordance with the process described
            above.</li>
          <li>The winner will be able to organise the date of the prize with
            NCCE / Raspberry Pi.</li>
          <li>The winning school may be asked to take part in promotional
            activity related to the prize draw, including photography, filming,
            social media activity and media coverage.</li>
        </ol>
      </div>
    </div>
  </div>
</div>
