<% meta_tag :title, 'Meet our contributing partners, and find out how you and your students can benefit from their complementary programmes.' %>

<%= render HeroComponent.new(ContributingPartnersPage.hero) %>

<div class="govuk-width-container">
  <div class="govuk-main-wrapper govuk-main-wrapper--l">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <p class="govuk-body-l govuk-!-padding-bottom-5">
          <%= t('.intro') %>
        </p>
      </div>
    </div>
    <%= render ImageLinkCardsComponent.new(cards: ContributingPartnersPage.cards) %>
  </div>
</div>
