<%= render 'components/hero', hero_title: 'Future Learn Video Trailers testing' %>
<div class="govuk-width-container">
  <div class="govuk-main-wrapper govuk-main-wrapper--xl">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          Understanding Computer Systems	CO212

        <video poster="https://static.teachcomputing.org/rpf-futurelearn/Computer%20Systems/Videos/Trailer.jpg"
          controls="true" playsinline="true" crossorigin="anonymous"
          preload="none" tabindex="-1"
          src="https://static.teachcomputing.org/rpf-futurelearn/Computer%20Systems/Videos/Trailer_LD.mp4">
          <source src="https://static.teachcomputing.org/rpf-futurelearn/Computer%20Systems/Videos/Trailer_LD.mp4"
            type="video/mp4">
          <track class="track"
            src="https://static.teachcomputing.org/rpf-futurelearn/Computer%20Systems/Videos/Trailer.vtt" kind="captions"
            srclang="EN" label="English">
        </video>


Introduction to Cybersecurity for Teachers	CO216

        <video poster="https://static.teachcomputing.org/rpf-futurelearn/Generic%20Trailer%20Poster.jpg"
          controls="true" playsinline="true" crossorigin="anonymous"
          preload="none" tabindex="-1"
          src="https://static.teachcomputing.org/rpf-futurelearn/Cybersecurity/Videos/Trailer_LD.mp4">
          <source src="https://static.teachcomputing.org/rpf-futurelearn/Cybersecurity/Videos/Trailer_LD.mp4"
            type="video/mp4">
          <track class="track"
            src="https://static.teachcomputing.org/rpf-futurelearn/Cybersecurity/Videos/Trailer.vtt" kind="captions"
            srclang="EN" label="English">
        </video>

Design and Prototype Embedded Computer Systems	CO218

        <video poster="https://static.teachcomputing.org/rpf-futurelearn/Generic%20Trailer%20Poster.jpg"
          controls="true" playsinline="true" crossorigin="anonymous"
          preload="none" tabindex="-1"
          src="https://static.teachcomputing.org/rpf-futurelearn/Embedded%20Systems/Videos/Trailer_LD.mp4">
          <source src="https://static.teachcomputing.org/rpf-futurelearn/Embedded%20Systems/Videos/Trailer_LD.mp4"
            type="video/mp4">
          <track class="track"
            src="https://static.teachcomputing.org/rpf-futurelearn/Embedded%20Systems/Videos/Trailer.vtt" kind="captions"
            srclang="EN" label="English">
        </video>
Introduction to Encryption and Cryptography	CO220

        <video poster="https://static.teachcomputing.org/rpf-futurelearn/Generic%20Trailer%20Poster.jpg"
          controls="true" playsinline="true" crossorigin="anonymous"
          preload="none" tabindex="-1"
          src="https://static.teachcomputing.org/rpf-futurelearn/Encryption/Videos/Trailer_LD.mp4">
          <source src="https://static.teachcomputing.org/rpf-futurelearn/Encryption/Videos/Trailer_LD.mp4"
            type="video/mp4">
          <track class="track"
            src="https://static.teachcomputing.org/rpf-futurelearn/Encryption/Videos/Trailer.vtt" kind="captions"
            srclang="EN" label="English">
        </video>

Impact of Technology: How To Lead Classroom Discussions	CO215

        <video poster="https://static.teachcomputing.org/rpf-futurelearn/Generic%20Trailer%20Poster.jpg"
          controls="true" playsinline="true" crossorigin="anonymous"
          preload="none" tabindex="-1"
          src="https://static.teachcomputing.org/rpf-futurelearn/Impact%20of%20Technology/Videos/Trailer_LD.mp4">
          <source src="https://static.teachcomputing.org/rpf-futurelearn/Impact%20of%20Technology/Videos/Trailer_LD.mp4"
            type="video/mp4">
          <track class="track"
            src="https://static.teachcomputing.org/rpf-futurelearn/Impact%20of%20Technology/Videos/Trailer.vtt" kind="captions"
            srclang="EN" label="English">
        </video>
Creating an Inclusive Classroom: Approaches to Supporting Learners with SEND in Computing	CO700

        <video poster="https://static.teachcomputing.org/rpf-futurelearn/Generic%20Trailer%20Poster.jpg"
          controls="true" playsinline="true" crossorigin="anonymous"
          preload="none" tabindex="-1"
          src="https://static.teachcomputing.org/rpf-futurelearn/Inclusion/Videos/Trailer_LD.mp4">
          <source src="https://static.teachcomputing.org/rpf-futurelearn/Inclusion/Videos/Trailer_LD.mp4"
            type="video/mp4">
          <track class="track"
            src="https://static.teachcomputing.org/rpf-futurelearn/Inclusion/Videos/Trailer.vtt" kind="captions"
            srclang="EN" label="English">
        </video>
Understanding Maths and Logic in Computer Science	CO213

        <video poster="https://static.teachcomputing.org/rpf-futurelearn/Maths%20and%20Logic/Videos/Trailer.jpg"
          controls="true" playsinline="true" crossorigin="anonymous"
          preload="none" tabindex="-1"
          src="https://static.teachcomputing.org/rpf-futurelearn/Maths%20and%20Logic/Videos/Trailer_LD.mp4">
          <source src="https://static.teachcomputing.org/rpf-futurelearn/Maths%20and%20Logic/Videos/Trailer_LD.mp4"
            type="video/mp4">
          <track class="track"
            src="https://static.teachcomputing.org/rpf-futurelearn/Maths%20and%20Logic/Videos/Trailer.vtt" kind="captions"
            srclang="EN" label="English">
        </video>
An Introduction to Computer Networking for Teachers	CO214

        <video poster="https://static.teachcomputing.org/rpf-futurelearn/Networking/Videos/Trailer.jpg"
          controls="true" playsinline="true" crossorigin="anonymous"
          preload="none" tabindex="-1"
          src="https://static.teachcomputing.org/rpf-futurelearn/Networking/Videos/Trailer_LD.mp4">
          <source src="https://static.teachcomputing.org/rpf-futurelearn/Networking/Videos/Trailer_LD.mp4"
            type="video/mp4">
          <track class="track"
            src="https://static.teachcomputing.org/rpf-futurelearn/Networking/Videos/Trailer.vtt" kind="captions"
            srclang="EN" label="English">
        </video>

Programming Pedagogy in Primary Schools: Developing Computing Teaching	CO020

        <video poster="https://static.teachcomputing.org/rpf-futurelearn/Primary%20Pedagogy/Videos/Trailer.png"
          controls="true" playsinline="true" crossorigin="anonymous"
          preload="none" tabindex="-1"
          src="https://static.teachcomputing.org/rpf-futurelearn/Primary%20Pedagogy/Videos/Trailer_LD.mp4">
          <source src="https://static.teachcomputing.org/rpf-futurelearn/Primary%20Pedagogy/Videos/Trailer_LD.mp4"
            type="video/mp4">
          <track class="track"
            src="https://static.teachcomputing.org/rpf-futurelearn/Primary%20Pedagogy/Videos/Trailer.vtt" kind="captions"
            srclang="EN" label="English">
        </video>
Programming with GUIs	CO217

        <video poster="https://static.teachcomputing.org/rpf-futurelearn/Programming%20with%20GUIs/Videos/Trailer.jpg"
          controls="true" playsinline="true" crossorigin="anonymous"
          preload="none" tabindex="-1"
          src="https://static.teachcomputing.org/rpf-futurelearn/Programming%20with%20GUIs/Videos/Trailer_LD.mp4">
          <source src="https://static.teachcomputing.org/rpf-futurelearn/Programming%20with%20GUIs/Videos/Trailer_LD.mp4"
            type="video/mp4">
          <track class="track"
            src="https://static.teachcomputing.org/rpf-futurelearn/Programming%20with%20GUIs/Videos/Trailer.vtt" kind="captions"
            srclang="EN" label="English">
        </video>

Networking with Python: Socket Programming for Communication	CO223

        <video poster="https://static.teachcomputing.org/rpf-futurelearn/Generic%20Trailer%20Poster.jpg"
          controls="true" playsinline="true" crossorigin="anonymous"
          preload="none" tabindex="-1"
          src="https://static.teachcomputing.org/rpf-futurelearn/Programming%20with%20Networks/Videos/Trailer_LD.mp4">
          <source src="https://static.teachcomputing.org/rpf-futurelearn/Programming%20with%20Networks/Videos/Trailer_LD.mp4"
            type="video/mp4">
          <track class="track"
            src="https://static.teachcomputing.org/rpf-futurelearn/Programming%20with%20Networks/Videos/Trailer.vtt" kind="captions"
            srclang="EN" label="English">
        </video>
Robotics With Raspberry Pi: Build and Program Your First Robot Buggy	CO224

        <video poster="https://static.teachcomputing.org/rpf-futurelearn/Generic%20Trailer%20Poster.jpg"
          controls="true" playsinline="true" crossorigin="anonymous"
          preload="none" tabindex="-1"
          src="https://static.teachcomputing.org/rpf-futurelearn/Robotics%20-%20Robot%20Buggy/Videos/Trailer_LD.mp4">
          <source src="https://static.teachcomputing.org/rpf-futurelearn/Robotics%20-%20Robot%20Buggy/Videos/Trailer_LD.mp4"
            type="video/mp4">
          <track class="track"
            src="https://static.teachcomputing.org/rpf-futurelearn/Robotics%20-%20Robot%20Buggy/Videos/Trailer.vtt" kind="captions"
            srclang="EN" label="English">
        </video>

Programming Pedagogy in Secondary Schools: Inspiring Computing Teaching	CO222

        <video poster="https://static.teachcomputing.org/rpf-futurelearn/Generic%20Trailer%20Poster.jpg"
          controls="true" playsinline="true" crossorigin="anonymous"
          preload="none" tabindex="-1"
          src="https://static.teachcomputing.org/rpf-futurelearn/Secondary%20Pedagogy/Videos/Trailer_LD.mp4">
          <source src="https://static.teachcomputing.org/rpf-futurelearn/Secondary%20Pedagogy/Videos/Trailer_LD.mp4"
            type="video/mp4">
          <track class="track"
            src="https://static.teachcomputing.org/rpf-futurelearn/Secondary%20Pedagogy/Videos/Trailer.vtt" kind="captions"
            srclang="EN" label="English">
        </video>
Introduction to Web Development	CO221

        <video poster="https://static.teachcomputing.org/rpf-futurelearn/Generic%20Trailer%20Poster.jpg"
          controls="true" playsinline="true" crossorigin="anonymous"
          preload="none" tabindex="-1"
          src="https://static.teachcomputing.org/rpf-futurelearn/Web%20Dev/Videos/Trailer_LD.mp4">
          <source src="https://static.teachcomputing.org/rpf-futurelearn/Web%20Dev/Videos/Trailer_LD.mp4"
            type="video/mp4">
          <track class="track"
            src="https://static.teachcomputing.org/rpf-futurelearn/Web%20Dev/Videos/Trailer.vtt" kind="captions"
            srclang="EN" label="English">
        </video>



        </div>

        <div class="govuk-grid-column-one-third">
          <div class="ncce-aside">
            <h2 class="govuk-heading-m ncce-aside__title">Jiji me want bananaaa!</h2>
            <p class="govuk-body-s ncce-aside__text"> Tank yuuu! Me want bananaaa!
            Chasy. Baboiii para tú gelatooo hahaha tank yuuu! Chasy potatoooo.
            elatooo bee do bee do bee do tulaliloo aaaaaah.
              Daa poopayee bappleees tank yuuu! Tank yuuu!
            </p>
            <p class="govuk-body-s"><%= link_to 'Banaana with a link', '#', class: 'ncce-link' %></p>
          </div>
        </div>
      </div>
    </div>
</div>
