<div class="govuk-width-container">
  <div class="govuk-main-wrapper govuk-main-wrapper--xl">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column">
        <div class="govuk-grid-column-two-thirds">
          <h2 class="govuk-heading-l ncce-about__title">Inspiring the computing experts and scientists of the future</h2>
        </div>
        <div class="govuk-grid-column-two-thirds ncce-about__content">
          <p class="govuk-body-l">The demand for computing skills and knowledge is growing – it is estimated that 1.2 million more people with specialist digital skills will be needed by 2022. We are calling on businesses to join our efforts to ensure young people are equipped with the necessary skills for the future.</p>
          <p class="govuk-body">The National Centre for Computing Education is funded by the Department for Education and is run by a consortium of STEM Learning, Raspberry Pi and BCS, The Chartered Institute for IT. We provide resources, training and support for teaching computing in schools and colleges from Key Stage 1 through to A Level.</p>
          <p class="govuk-body">By working with us, your organisation can help to deliver a world-leading computing education for every child in every school in England.</p>
          <h3 class="govuk-heading-m">Get involved</h3>
          <p class="govuk-body">Work with us and play a vital role in raising the profile of computing education with businesses, school and college leaders, teachers, parents and young people.</p>
          <h3 class="govuk-heading-m">How you can help:</h3>
          <ul class="govuk-list govuk-list--bullet">
            <li>
              <h4 class="govuk-heading-s">volunteering</h4>
              <p class="govuk-body">encourage your employees to volunteer for computing education initiatives in schools and clubs</p>
            </li>
            <li>
              <h4 class="govuk-heading-s">enrichment</h4>
              <p class="govuk-body">provide talks, mentors, visits, facilities or technology to enrich the student experience of computing in schools</p>
            </li>
            <li>
              <h4 class="govuk-heading-s">content</h4>
              <p class="govuk-body">provide or support the development of computing educational materials for students, teachers and schools and colleges</p>
            </li>
            <li>
              <h4 class="govuk-heading-s">funding</h4>
              <p class="govuk-body">provide financial support to computing education programmes</p>
            </li>
            <li>
              <h4 class="govuk-heading-s">advocacy</h4>
              <p class="govuk-body">speak up for the importance and value of a world-class computing education for every child</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
