<div class="hero hero--plain">
  <div class="govuk-width-container">
    <div class="govuk-main-wrapper hero__wrapper">
      <span class="govuk-body-m hero__status">User-related status</span>
      <div class="hero__heading-wrapper">
        <h1 class="govuk-heading-l hero__heading">Page title</h1>
      </div>
    </div>
  </div>
</div>

<div class="hero hero--center-glyph hero-glyph-2">
  <div class="govuk-width-container">
    <div class="govuk-main-wrapper hero__wrapper">
      <div class="hero__heading-wrapper">
        <h1 class="govuk-heading-m hero__heading">Blue 'action' colour with a longer title with smaller text size for demo</h1>
      </div>
    </div>
  </div>
</div>

<div class="hero hero--primary-certificate hero--bottom-glyph">
  <div class="govuk-width-container">
    <div class="govuk-main-wrapper hero__wrapper">
      <div class="hero__heading-wrapper">
        <h1 class="govuk-heading-l hero__heading">Teach primary computing</h1>
        <p class="govuk-body-s hero__text">Certification awarded by BCS, The Chartered Institute for IT</p>
      </div>
    </div>
  </div>
</div>

<div class="hero hero-glyph-3">
  <div class="govuk-width-container">
    <div class="govuk-main-wrapper hero__wrapper">
      <div class="hero__heading-wrapper">
        <h1 class="govuk-heading-l hero__heading">Change and move the glyphs</h1>
        <p class="govuk-body-s hero__text">Glyphs 1-4, with top, center, bottom options</p>
      </div>
    </div>
  </div>
</div>

<div class="hero hero--secondary-certificate hero--center-glyph hero-glyph-3">
  <div class="govuk-width-container">
    <div class="govuk-main-wrapper hero__wrapper">
      <span class="govuk-body-m hero__status">You are enrolled</span>
      <div class="hero__heading-wrapper">
        <h1 class="govuk-heading-l hero__heading">Teach Secondary Computing</h1>
        <p class="govuk-body-s hero__text">Certification awarded by BCS, The Chartered Institute for IT</p>
      </div>
    </div>
  </div>
</div>

<div class="hero hero--cs-accelerator hero--bottom-glyph hero-glyph-4">
  <div class="govuk-width-container">
    <div class="govuk-main-wrapper hero__wrapper">
      <span class="govuk-body-m hero__status">You have completed</span>
      <div class="hero__heading-wrapper">
        <h1 class="govuk-heading-l hero__heading">Teach GCSE Computing</h1>
        <p class="govuk-body-s hero__text">Certification awarded by BCS, The Chartered Institute for IT</p>
      </div>
    </div>
  </div>
</div>
