<div class="govuk-width-container">
  <div class="govuk-main-wrapper govuk-main-wrapper--xl">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column">
        <div class="govuk-grid-column-two-thirds">
          <h1 class="govuk-heading-l">Network of Computing Hubs</h1>
        </div>
        <div class="govuk-grid-column-two-thirds">
          <p class="govuk-body">The National Centre for Computing Education is establishing a network of up to 40 Computing Hubs to deliver a school-led system of leadership of education across England. The network will be led by schools and colleges with an exceptional track record in teaching computing.</p>
          <p class="govuk-body">Computing Hubs will provide local, responsive and appropriately tailored support available to all computing teachers in state primary and secondary schools and colleges in their area, collectively providing national coverage. They will be the focal point for local computing CPD, and will draw upon local expertise to provide a range of CPD opportunities for all teachers, with a particular focus on teachers in schools in category 5 and 6 Local Authority Districts.</p>
          <p class="govuk-body">Following the <%= link_to 'appointment of the first 30 Computing Hubs', 'https://blog.teachcomputing.org/tag/press/', class: 'ncce-link' %> , we are now inviting applications for the third wave of Hubs. In addition to their commitment to becoming a Hub and all that entails, schools applying to be Computing Hubs need to be state-funded secondary schools or colleges with:
          <ul class="govuk-list govuk-list--bullet">
            <li>above average GCSE computer science attainment (based on the proportion of entries achieving grade A*-C or 9-5);</li>
            <li>above average number of entries to GCSE computer science based on the most recently available statistical release; and</li>
            <li>a current overall Ofsted rating of ‘good’ or ‘outstanding’.</li>
          </ul>
          <p class="govuk-body">In addition to the above, we also require strong Progress 8 scores and higher than average numbers achieving grade 5/C in English and maths.</p>
          <p class="govuk-body">We are particularly interested in applications from schools and colleges in the North West, Lincolnshire, and the South Coast.  Our aim is for these Hubs to be operational no later than spring 2020.</p>
          <p class="govuk-body">Deadline for applications is Friday 13 September 2019.
</p>
          <p class="govuk-body">If you are interested in making an application, or wish to discuss your school/college’s eligibility please contact <%= mail_to 'C.taylor@stem.org.uk', 'C.taylor@stem.org.uk', class: 'ncce-link' %></p>
        </div>
        <% unless current_user %>
          <aside class="govuk-grid-column-one-third ncce-aside">
            <h2 class="govuk-heading-s ncce-aside__title">Start your journey</h2>
            <p class="govuk-body-s ncce-aside__text">To earn your first credits you need to register with the National Centre for Computing Education.</p>
            <p class="govuk-body-s"><%= link_to 'Create an account', login_path, class: 'ncce-link ncce-link--on-dark' %></p>
          </aside>
        <% end %>
      </div>
    </div>
  </div>
</div>
