<div class="hero dixie-bg govuk-!-padding-2">
  <div class="govuk-width-container">
    <div class="govuk-main-wrapper hero__wrapper">
      <div class="text-certificate-hero__wrapper govuk-!-padding-2">
          <div class="text-certificate-hero__area--text">
            <h1 class="govuk-heading-l"> Isaac Computer Science</h1>
            <p class="govuk-body-l">
              Discover the free online textbook for A level and GCSE computer science teachers and students.
            </p>
          </div>
          <div class="text-certificate-hero__area--logo">
            <%= image_pack_tag('media/images/pages/isaac/isaac-Image.jpg') %>
          </div>
      </div>
    </div>
  </div>
</div>

<div class="white-bg">
  <div class="govuk-width-container">
      <main class="govuk-main-wrapper govuk-main-wrapper--xl govuk-!-padding-bottom-2">
        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">
            <p class="govuk-body-l">
              Access a huge range of time-saving learning materials that cover the full A level and GCSE Computer Science curriculum for the AQA, OCR, EDEXCEL, and EDUQAS exam specifications — all for free!
            </p>
            <p class="govuk-body">
              Set questions for your students and the system will mark them and give you a detailed breakdown of their progress. Isaac Computer Science is great for supporting remote teaching, homework and revision sessions, and helps you to quickly identify areas where students can improve.
            </p>
          </div>
          <div class="govuk-grid-column-one-third">
            <div class="ncce-aside">
              <h2 class="govuk-heading-s ncce-aside__title">Why sign up?</h2>
              <p class="govuk-body-s">Benefit from a wide range of computer science resources and online events.</p>
              <p class="govuk-body">
                <%= link_to 'Create your free account',  'https://isaaccomputerscience.org/register', class: 'govuk-button button--aside', role: 'button', draggable: 'false' %>
              </p>
            </div>
          </div>
        </div>
      </main>
  </div>
</div>
<div class="light-grey-bg">
  <div class="govuk-width-container">
    <main class="govuk-main-wrapper govuk-main-wrapper--xl govuk-!-padding-bottom-2">
      <div class="govuk-grid-row">
        <div class="lp-support__cards_2">
          <div class="lp-support__card white-bg lp-support__card--bordered_2">
            <h2 class="govuk-heading-m">
              Benefits to teachers:
            </h2>
            <ul class="govuk-body">
              <li>seamless integration of GCSE and A level content</li>
              <li>save time on lesson planning and marking</li>
              <li>high quality resources written by experienced teachers</li>
              <li>create personalised sets of questions for your class</li>
              <li>pinpoint areas to work on with your students</li>
              <li>manage students’ progress in your personal markbook</li>
            </ul>
          </div>
          <div class="lp-support__card white-bg lp-support__card--bordered_2">
            <h2 class="govuk-heading-m">
              Benefits to students:
            </h2>
            <ul class="govuk-body">
              <li>structured, self-paced study and progress tracking</li>
              <li>topics covering all exam boards – perfect for revision</li>
              <li>live online workshops and career events</li>
              <li>instant feedback from the interactive questions to guide further study</li>
              <li>deep dive into specific areas of interest</li>
              <li>smooth progression from GCSE to A level</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="govuk-grid-row">
        <p class="govuk-body-s">
          Each topic on the platform also signposts to related classroom resources from our <a class="ncce-link" href="/curriculum">Teach Computing Curriculum</a>, and suggests <a class="ncce-link" href="courses">professional development opportunities</a> to deepen your subject knowledge.
        </p>
      </div>
      </div>
    </main>
  </div>
</div>
<div class="white-bg">
  <div class="govuk-width-container">
    <main class="govuk-main-wrapper govuk-main-wrapper--xl">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third">
            <div class="aside-component__image">
              <%= image_pack_tag("media/images/pages/i-belong/faces.png") %>
            </div>
        </div>
        <div class="govuk-grid-column-two-thirds">
          <p class="govuk-body-l">
            I Belong in Computer Science journeys
          </p>
          <p class="govuk-body">
            Explore interviews and learn from passionate educators within the Isaac community as well as recently-graduated computer scientists who are doing amazing things in a huge range of computing-related fields. Inspire your student into various careers linked to computer science.
          </p>
          <p class="govuk-body">
            <%= link_to 'Discover Isaac Computer Science',  'https://isaaccomputerscience.org/register', class: 'govuk-button button button--inverted dedicated-pages--button', role: 'button', draggable: 'false' %>
          </p>
        </div>
      </div>
    </main>
  </div>
</div>