<div class="govuk-width-container ncce-login">
  <div class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column">
        <div class="govuk-grid-column-two-thirds">
          <h2 class="govuk-heading-l ncce-login__title">Sign up</h2>
        </div>
        <div class="govuk-grid-column-two-thirds">
          <p class="govuk-body">
          Sign up with NCCE and you'll get access to online and face to face training, including upcoming courses so you can plan ahead,
          as well as a tool to log and measure your progress towards certification.
          </p>
          <ul class="govuk-list govuk-list--bullet">
            <li>See and book CPD courses</li>
            <li>See upcoming courses so you can plan ahead</li>
            <li>Track progress towards certification</li>
            <li>Sign up to get updates from the NCCE</li>
            <li>Provide feedback and help us develop</li>
         </ul>
         <%= link_to 'Sign up', signup_stem_path, :class => 'govuk-button ncce-button__pink ncce-login__button' %>
         <h3 class="govuk-heading-s">Already have an account on STEM learning?</h3>
         <p class="govuk-body">You can log straight in!</p>

         <%= link_to 'Log in', '/auth/stem', :class => 'govuk-button ncce-button__pink' %>
        </div>

        <aside class="govuk-grid-column-one-quarter ncce-aside">
          <p class="govuk-heading-s ncce-aside__title">Your account</p>
          <p class="govuk-body-s ncce-aside__text">
          You will create an account with STEM learning.
          STEM is part of the NCCE consortium and is providing the

          booking and registration systems for the NCCE site.
          </p>
          <p class="govuk-body-s ncce-aside__text">
          At some point in the future we hope to have a more integrated single
          sign-on system across all our partners' platforms.
          </p>
          <p class="govuk-body-s"><a class="ncce-aside__link" href="/about">Read more about the consortium</a></p>
        </aside>
      </div>
    </div>
  </div>
</div>
