<div class="govuk-width-container ncce-login">
  <div class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column">
        <div class="govuk-grid-column-two-thirds">
          <h2 class="govuk-heading-l ncce-login__title">Create an account</h2>
        </div>
        <div class="govuk-grid-column-two-thirds">
          <p class="govuk-body">
            Registration is completely free, and will give you access to:
          </p>
          <ul class="govuk-list govuk-list--bullet">
            <li>find and book onto face-to-face and online CPD</li>
            <li>record your achievements and progress towards certification</li>
            <li>be the first to access new features and resources</li>
            <li>provide feedback and help us develop</li>
         </ul>
         <%= link_to 'Sign up', signup_stem_path, :class => 'govuk-button ncce-button__pink ncce-login__button' %>
         <h3 class="govuk-heading-s">Already have an account on STEM learning?</h3>
         <p class="govuk-body">You can log straight in!</p>

         <%= link_to 'Log in', '/auth/stem', :class => 'govuk-button ncce-button__pink' %>
        </div>

        <aside class="govuk-grid-column-one-quarter ncce-aside">
          <p class="govuk-heading-s ncce-aside__title">Registration information</p>
          <p class="govuk-body-s ncce-aside__text">
            You will be creating an account on the STEM Learning website. STEM Learning are one of the consortium partners who run the National Centre for Computing Education, and are providing the booking and registration information for the site.
          </p>
          <p class="govuk-body-s"><a class="ncce-aside__link" href="/about">Read more about the consortium</a></p>
        </aside>
      </div>
    </div>
  </div>
</div>
