<div class="govuk-width-container">
  <div class="ncce-hero__maintenance">
    <div class="govuk-main-wrapper govuk-main-wrapper--xl">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column">
          <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">We are currently performing planned maintenance on the site.</h1>
            <p class="govuk-body">Some features, including access to your dashboard, will be unavailable until late morning on Monday 9th September.</p>
            <p class="govuk-body">If you wish to book onto a face-to-face STEM Learning course you can do so by calling 01904 328 300 or 01904 326394.</p>
            <p class="govuk-body">You can <%= mail_to 'info@teachcomputing.org', 'contact us', class: 'ncce-link' %> for more information.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
