<div class="govuk-width-container">
  <div class="ncce-hero__maintenance">
    <div class="govuk-main-wrapper govuk-main-wrapper--xl">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column">
          <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">Ooops!</h1>
            <h2 class="govuk-heading-m">Something went wrong with the website</h2>
            <p class="govuk-body">Please go back and try again.</p>
            <p class="govuk-body">If the error still occurs, maybe wait a
              few minutes and try a third time.</p>
            <p class="govuk-body">The system does let us know if there is
              something seriously wrong, but...</p>
            <p class="govuk-body">If this problem doesn't go away, please
              <a href="mailto:info@teachcomputing.org">let us know via
                email</a> and tell us what you were doing when it
              happened.</p>
              <p class="govuk-body">
                <%= link_to 'Back to the website', '/', :class => 'govuk-button ncce-button__pink' %>
              </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>