<div class="govuk-width-container">
  <div class="govuk-main-wrapper govuk-main-wrapper--xl">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column">
        <div class="govuk-grid-column-two-thirds">
          <h2 class="govuk-heading-l ncce-bursary__title">The National Centre for Computing Education website beta is live!
          </h2>
        </div>
        <div class="govuk-grid-column-two-thirds">
          <p class="govuk-body">Less than three months from the official announcement of the creation of the Centre, we have released our first major set of features to allow users to begin their journey with us. We thought it might be interesting to share a bit of the background on how we developed this site (at a fairly rapid rate!) and how we are going to be updating it in the coming weeks and months.</p>
          <p class="govuk-body">The National Centre for Computing Education is a consortium made up of STEM Learning, the British Computing Society (BCS) and the Raspberry Pi Foundation (RPF). Each member has a different focus, and it is RPF who are leading on the creation of the digital products, primarily the website, that support the activities of the Centre. We launched a static, information-based version of the site along with the announcement, with a link to a few online and face-to-face courses and a newsletter subscription. But we knew that we had to get something more substantial up soon, and we wanted it to be ready for <a class="ncce-link__on-light" href="https://www.bettshow.com/" target="_blank">BETT</a>, a major date in the edtech calendar (and where we will be on Stand F310, please do come say “hello”).</p>
          <p class="govuk-body">So we had to work quite fast, at the same time as the consortium was finding its feet, building on the work done for the bid to create concrete strategies for delivering the promised outcomes, hiring new staff and creating content for new courses and resources. Quite a challenge for all of us! </p>
          <p class="govuk-body">We started by decided our priorities (engaging users, getting them signed up and started on their journey to certification by taking courses) and the features that we needed to deliver those priorities. Here’s a slide we’ve used a lot internally to show our broad outline plan for the January delivery. </p>
        </div>
      </div>
    </div>
  </div>
</div>
