<div class="govuk-width-container">
  <div class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column">
        <div class="govuk-grid-column-two-thirds">
          <h2 class="govuk-heading-l ncce-about__title">What we offer </h2>
        </div>
        <div class="govuk-grid-column-two-thirds ncce-about__content">
          <p class="govuk-body-l">
          We provide a comprehensive package of support to meet the needs of computing teachers across England,
          with specific support for GCSE and A level computer science.
          </p>
          <p class="govuk-body">
          Our training, resources and support are available both nationally and regionally across England,
          giving teachers access to the tools and training they need wherever they are.
          </p>

          <p class="govuk-heading-s">A one-stop shop for computing education</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>Face-to-face CPD</li>
            <li>Online CPD</li>
            <li>Certification</li>
            <li>Resources, support and guidance</li>
          </ul>

          <p class="govuk-heading-s">Face-to-face CPD</p>
          <p class="govuk-body">
          Whether you are new to teaching computing and computer science, or are more
          experienced and want to help your students achieve their full potential, we have the CPD for you.
          </p>
          <p class="govuk-body-s">
            <a class="govuk-button ncce-button__pink ncce-about__link" href="/login">Login to browse available CPD courses from your dashboard
            </a>
          </p>

          <p class="govuk-body"><a class="govuk-link" href="#">National Centre for Computing Education face-to-face CPD</a></p>
          <p class="govuk-body">
          We have developed a selection of bursary-supported, face-to-face courses for teachers
          looking to gain confidence in teaching across the computing curriculum.
          There are currently a selection of primary courses available to book at venues across England, with more courses coming soon.
          </p>

          <p class="govuk-body"><a class="govuk-link" href="https://www.stem.org.uk/national-centre-for-computing-education/cs-accelerator-programme">
          The Computer Science Accelerator Programme</a></p>
          <p class="govuk-body">
          The Computer Science Accelerator Programme is designed to support secondary teachers of computing
          or computer science without a post A level qualification in computer science or a related subject.
          </p>
          <p class="govuk-body-s">
            <a class="govuk-button ncce-button__pink ncce-about__link"
            href="https://www.stem.org.uk/national-centre-for-computing-education/cs-accelerator-programme">Find out more
            </a>
          </p>
          <p class="govuk-body"><a class="govuk-link" href="#">
          A level CPD</a></p>
          <p class="govuk-body">
          We are currently developing a comprehensive programme of support for teachers and students in England for AS/A
          level Computer Science. Whether you teach A Level
          Computer Science or who would like to, this will include face-to-face training for teachers at all levels.
          </p>

          <p class="govuk-heading-s">Online CPD</p>
          <p class="govuk-body">
          We have created a number of free, online courses available on the FutureLearn Platform which you can access at a time
          and place that suits you. Interact
          with your peers and access the support of expert moderators, who are available to support you throughout your learning.
          </p>
          <p class="govuk-body">
          Some of the courses form part of the Computer Science Accelerator Programme,
          and can contribute towards the 40 hours of CPD required to complete the programme.
          </p>
          <p class="govuk-body-s">
            <a class="govuk-button ncce-button__pink ncce-about__link"
            href="/login">Login to see available courses
            </a>
          </p>
          <span>More coming online in the next few months.
          </span>

          <p class="govuk-heading-s">Certification</p>
          <p class="govuk-body">
          We are working on a system of certification to provide a
          pathway to chartered status for teachers of computing education. More details will be available soon.
          </p>

          <p class="govuk-heading-s">Resources, support and guidance</p>
          <p class="govuk-body">
          Resources, support and guidance
          Explore curriculum-linked computing resources and network with other teachers and
          experts in your local community to get ideas and support for your computing lessons.
          </p>
          <p class="govuk-body"><a class="govuk-link" href="#">
          Resources</a></p>
          <p class="govuk-body">
          We are currently developing a collection of free quality assured learning materials to
          give you new ideas and inspiration for planning, delivering and assessing learning.
          </p>
          <p class="govuk-body">
          In the meantime, you can browse computing-related resources on the STEM Learning
          website <a class="govuk-link" href="https://www.stem.org.uk/">here</a> to get ideas and support for your computing lessons.
          </p>
          <p class="govuk-body"><a class="govuk-link" href="https://www.computingatschool.org.uk/">
          CAS local communities</a></p>
          <p class="govuk-body">
          A CAS Local Community meet up is a meeting for those who wish to share ideas for
          developing the teaching of computing in their schools, their classrooms and their community.
          </p>
          <p class="govuk-body-s">
            <a class="govuk-button ncce-button__pink ncce-about__link"
            href="https://www.computingatschool.org.uk/">Find your local community
            </a>
          </p>


        </div>

        <aside class="govuk-grid-column-one-quarter ncce-aside">
          <p class="govuk-body-s ncce-aside__title">Bursary support for your school or college
          </p>
          <p class="govuk-body-s ncce-aside__text">
          We offer bursaries to eligible teachers to make it as easy as possible to access and attend our face-to-face CPD.
          </p>
          <p class="govuk-body-s"><a href="/bursary" class="ncce-aside__link">Find out more</a></p>
        </aside>
      </div>
    </div>
  </div>
</div>
