<div class="govuk-width-container">
  <div class="govuk-main-wrapper govuk-main-wrapper--xl">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column">
        <div class="govuk-grid-column-two-thirds">
          <h2 class="govuk-heading-l">About banananan</h2>
        </div>
        <div class="govuk-grid-column-two-thirds">
          <p class="govuk-body-l">
          Potatoooo poopayee aaaaaah butt me want bananaaa! Belloo! Chasy jeje.
          Poulet tikka masala po kass bappleees chasy tulaliloo tulaliloo tulaliloo me want bananaaa!
          Po kass poulet tikka masala.
          </p>
          <p class="govuk-body">
          Ti aamoo! bananaaaa belloo! Hahaha uuuhhh chasy aaaaaah bee do bee do bee do butt poopayee.
          Poopayee underweaaar bananaaaa poopayee baboiii tank yuuu! Me want bananaaa! Poopayee.
          Daa bappleees hahaha poulet tikka masala hahaha daa hana dul sae hana dul sae baboiii.
          </p>
          <p class="govuk-body">
          Gelatooo daa chasy bappleees poopayee. Tank yuuu! poulet tikka masala bananaaaa aaaaaah
          tatata bala tu jeje para tú hahaha potatoooo. Tank yuuu! bananaaaa butt poopayee hahaha.
          Poulet tikka masala po kass poulet tikka masala bananaaaa para tú uuuhhh para tú.
          Jiji wiiiii baboiii la bodaaa bappleees la bodaaa bappleees gelatooo me want bananaaa!
          </p>

          <p class="govuk-heading-m">Bannannaa to break up the content</p>

          <p class="govuk-body">
          Gelatooo daa chasy bappleees poopayee. Tank yuuu! poulet tikka masala bananaaaa aaaaaah
          tatata bala tu jeje para tú hahaha potatoooo. Tank yuuu! bananaaaa butt poopayee hahaha.
          Poulet tikka masala po kass poulet tikka masala bananaaaa para tú uuuhhh para tú.
          Jiji wiiiii baboiii la bodaaa bappleees la bodaaa bappleees gelatooo me want bananaaa!
          </p>

          <ul class="govuk-list govuk-list--bullet">
            <li>Tatata bala tu ti aamoo!</li>
            <li>Chasy bananaaaa para tú para tú ti aamoo!</li>
            <li>Bappleees hahaha hana dul sae poulet tikka masala belloo!</li>
          </ul>

         <p class="govuk-body">
         Gelatooo daa chasy bappleees poopayee. Tank yuuu! poulet tikka masala bananaaaa aaaaaah
         tatata bala tu jeje para tú hahaha potatoooo. Tank yuuu! bananaaaa butt poopayee hahaha.
         Poulet tikka masala po kass poulet tikka masala bananaaaa para tú uuuhhh para tú.
         Jiji wiiiii baboiii la bodaaa bappleees la bodaaa bappleees gelatooo me want bananaaa!
         </p>

         <p class="govuk-heading-s">Small bannannaa to break up the content</p>

         <p class="govuk-body">
         Gelatooo daa chasy bappleees poopayee. Tank yuuu! poulet tikka masala bananaaaa aaaaaah
         tatata bala tu jeje para tú hahaha potatoooo. Tank yuuu! bananaaaa butt poopayee hahaha.
         Poulet tikka masala po kass poulet tikka masala bananaaaa para tú uuuhhh para tú.
         Jiji wiiiii baboiii la bodaaa bappleees la bodaaa bappleees gelatooo me want bananaaa!
         </p>

        </div>

        <aside class="govuk-grid-column-one-third ncce-aside">
          <p class="govuk-heading-s ncce-aside__title">Jiji me want bananaaa!</p>
          <p class="govuk-body-s ncce-aside__text"> Tank yuuu! Me want bananaaa!
          Chasy. Baboiii para tú gelatooo hahaha tank yuuu! Chasy potatoooo.
          elatooo bee do bee do bee do tulaliloo aaaaaah.
            Daa poopayee bappleees tank yuuu! Tank yuuu!
          </p>
          <p class="govuk-body-s"><%= link_to 'Banaana with a link', '#', class: 'ncce-link ncce-link--on-dark' %></p>
        </aside>
      </div>
    </div>
  </div>
</div>
