<% meta_tag :title, 'Pedagogy' %>
<%= render 'components/hero', hero_title: 'Promoting effective computing pedagogy', colour: 'lime-green', full_width: true %>
<div class="govuk-width-container">
  <div class="govuk-main-wrapper govuk-main-wrapper--xl">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <p class="govuk-body">Effective pedagogy is at the heart of good teaching and learning;
          successful computing teachers combine their knowledge of the subject with evidence-based teaching practices.
          As computing is a relatively new discipline, evidence of effective teaching approaches
          continues to emerge and evolve.</p>
        <h2 class="govuk-heading-m">How we teach computing</h2>
        <p class="govuk-body govuk-body govuk-!-padding-bottom-4">The work of the National Centre for Computing Education is underpinned by 12 principles of Computing Pedagogy, which are available to
         <%= link_to "download as a poster (PDF, 234Kb)", "https://static.teachcomputing.org/pedagogy/Pedagogy-principles.pdf", class: "ncce-link", 'data-event-action'=>'click', 'data-event-category'=>'Pedagogy', 'data-event-label'=>'Poster' %>. The materials on this page were created by the Raspberry Pi Foundation as part of the National Centre and are licensed under the Open Government Licence v3.0.
        </p>
        <%= render partial: "/pages/how_to_teach_computing", locals: { tr8_prefix: 'pages.pedagogy.how_to_teach_computing' } %>
      </div>
      <div class="govuk-grid-column-one-third">
        <%= render partial: "/pages/pedagogy_asides", locals: { tr8_prefix: 'pages.pedagogy.asides' } %>
      </div>
    </div>
  </div>
</div>
