<div class="govuk-width-container">
  <div class="govuk-main-wrapper govuk-main-wrapper--xl">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h1 class="govuk-heading-l ncce-about__title">Primary Computing Diagnostic</h1>
        </div>
        <div class="govuk-grid-column-two-thirds">
          <h2 class="govuk-heading-m">Introduction</h2>
          <p class="govuk-body-l">This diagnostic tool is designed to give you some ideas of how to start your learning journey with the NCCE and give you direction towards the courses that might be of most use to you.  Nobody else will see the results so please feel free to be as honest as you can in your answers.</p>

          <h2 class="govuk-heading-m">Question 1</h2>
          <p class="govuk-body-l">How confident are you teaching the programming elements of the KS1 and KS2 Computing National Curriculum?</p>
          <p class="govuk-body">For example, are you able to explain the concepts of algorithms and computational thinking to pupils?</p>
          <p class="govuk-body">
            <label for="slider_1">Confidence</label>
            <input type="range"
              id="slider_1"
              min="1"
              max="100"
              value="50"
              step="1"
              aria-valuemin="1"
              aria-valuemax="100"
              aria-valuenow="50"
              oninput="outputUpdate(value)">
          </p>

          <h2 class="govuk-heading-m">Question 2</h2>
          <p class="govuk-body-l">How confident are you in effectively teaching the whole of the KS1 Computing National Curriculum?</p>
          <p class="govuk-body">For example, are you familiar with common uses of technology beyond school, or how pupils can use technology to develop digital content?
</p>
          <div class="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="where-do-you-live" name="where-do-you-live" type="radio" value="5">
              <label class="govuk-label govuk-radios__label" for="where-do-you-live">
                Not at all confident
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="where-do-you-live-2" name="where-do-you-live" type="radio" value="10">
              <label class="govuk-label govuk-radios__label" for="where-do-you-live-2">
                A little confident
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="where-do-you-live-3" name="where-do-you-live" type="radio" value="15">
              <label class="govuk-label govuk-radios__label" for="where-do-you-live-3">
                Fairly confident
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="where-do-you-live-4" name="where-do-you-live" type="radio" value="20">
              <label class="govuk-label govuk-radios__label" for="where-do-you-live-4">
                Very confident
              </label>
            </div>
          </div>
          <p class="govuk-body"></p>

          <h2 class="govuk-heading-m">Question 3</h2>
          <p class="govuk-body-l">How confident are you in effectively teaching the whole of the KS2 Computing National Curriculum?
</p>
          <p class="govuk-body">For example, are you able to develop pupils’ understanding of computer networks, including the Internet, or how to support children in developing a range of programs, systems and content, using digital devices?
</p>
          <p class="govuk-body">
            <label for="slider_1">Confidence</label>
            <input type="range"
              id="slider_1"
              min="1"
              max="100"
              value="50"
              step="1"
              aria-valuemin="1"
              aria-valuemax="100"
              aria-valuenow="50"
              oninput="outputUpdate(value)">
          </p>

          <h2 class="govuk-heading-m">Question 4</h2>
          <p class="govuk-body-l">How confident are you that you can support pupils to go beyond the requirements of the KS2 computing national curriculum, such as through introducing text based programming?
</p>
          <div class="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="where-do-you-live" name="where-do-you-live" type="radio" value="5">
              <label class="govuk-label govuk-radios__label" for="where-do-you-live">
                Not at all confident
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="where-do-you-live-2" name="where-do-you-live" type="radio" value="10">
              <label class="govuk-label govuk-radios__label" for="where-do-you-live-2">
                A little confident
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="where-do-you-live-3" name="where-do-you-live" type="radio" value="15">
              <label class="govuk-label govuk-radios__label" for="where-do-you-live-3">
                Fairly confident
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="where-do-you-live-4" name="where-do-you-live" type="radio" value="20">
              <label class="govuk-label govuk-radios__label" for="where-do-you-live-4">
                Very confident
              </label>
            </div>
          </div>
          <p class="govuk-body"></p>

          <h2 class="govuk-heading-m">Less than 30% confident</h2>
          <p class="govuk-body">A great place to start would be to complete the one day <a href="https://www.stem.org.uk/cpd/ondemand/445946/primary-programming-and-algorithms">Primary programming and algorithms</a> course, which will enable you to develop your understanding of programming and algorithms. You will also discover engaging ways to help pupils use computational thinking.
</p>
          <p class="govuk-body">You might also like to consider an online course <a href="https://www.futurelearn.com/invitations/ncce/teaching-programming-primary-school/hqlykfbf6h3xsnvl6ejaf5r22tn064g">Teaching Programming in Primary Schools</a>.  This will enable you to understand key programming concepts and apply them using Scratch.</p>

          <h2 class="govuk-heading-m">31% - 60% Confident</h2>
          <p class="govuk-body">You could start with the NCCE <a href="https://www.stem.org.uk/cpd/ondemand/445953/teaching-and-
leading-key-stage-1-computing">Teaching and leading key stage 1 computing</a> course.  Using a number of popular and accessible tools, this course will develop your confidence in delivering all aspects of the KS1 computing curriculum. You will also examine engaging ways to use technology effectively to support other areas of the curriculum.</p>
          <p class="govuk-body">This CPD event runs over two non-consecutive days and further details are
available here -</p>

          <p class="govuk-body">Alternatively, you may be interested in our <a href="https://www.stem.org.uk/cpd/ondemand/445949/teaching-and-leading-key-stage-2-computing">Teaching and leading key stage 2 computing</a> course, which will broaden your understanding of all aspects of the KS2 computing curriculum. You will use a range of software to develop your teaching of pupils to make creative projects, in addition to enhancing your knowledge of computer systems and networks.</p>

          <p class="govuk-body">This course runs over two non-consecutive days and more information can be
found here -</p>

          <h2 class="govuk-heading-m">61% confident and above</h2>
          <p class="govuk-body">You could consider the online <a href="https://www.futurelearn.com/courses/programming-101">Programming 101: An Introduction to Python for Educators</a> course, which will introduce you to text based programming. During this four week programme (two hours per week), you will implement basic programming concepts and learn the basics of creating programs with Python.</p>

          <p class="govuk-body">You may also be interested in the <a href="https://www.futurelearn.com/invitations/ncce/block-to-text-based-programming/jmp6y0jyukvdmht6foid2vswlti1lrv">Scratch to Python: Moving from Block to Text based Programming</a> online course.  This course will teach you how to apply the thinking and programming skills you’ve learnt in Scratch to text-based programming languages like Python.  The course is designed to take four weeks to complete, studying for 2 hour each week.</p>


        </div>
      </div>
  </div>
</div>
