<h1 class="govuk-heading-xl">Register</h1>
<h2 class="govuk-heading-l">Don’t have a STEM account?</h2>

<p class="govuk-body">Registration is free and takes 2 minutes. Apart from tracking your NCCE progress, a STEM account allows you to:</p>
<ul class="govuk-list">
  <li>See and book CPD courses</li>
  <li>Track your progress</li>
  <li>Sign up to eNewsletters</li>
  <li>Provide feedback</li>
</ul>

<%= link_to 'Create a STEM account', 'https://stem.org.uk/user/register', {:class => 'govuk-button'} %>
