<% meta_tag :title, 'secondary early careers' %>
<%= render 'components/hero', hero_title: 'Secondary early career teachers and trainees', subtitle: 'We support early career teachers and trainees to develop their computing subject knowledge and pedagogy through professional development, resources and local communities.', colour: 'tapestry', full_width: true %>
<div class="govuk-width-container">
  <div class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-l">Professional developent</h2>
          <p class="govuk-body">Strong subject knowledge is paramount to successfully delivering any area of the curriculum. Your first step to success is to access our Computer Science Accelerator, which will develop your subject knowledge up to GCSE.
          <a href="https://static.teachcomputing.org/pathways/01_New_to_computing.pdf">Our new to computing pathway</a> is a great way for non-specialist trainees or early career teachers to engage with the programme.</p>
        <a class="govuk-button button hero-button--home bottom-margin" href="/cs-accelerator">Join the Computer Science Accelerator</a>
        <br> <br><br>
        <h2 class="govuk-heading-l">Develop your teaching practice</h2>
            <p class="govuk-body">Once you’ve completed the Computer Science Accelerator, you will receive free access to all NCCE courses if you work in secondary state-funded education.
            Our follow-on Secondary certificate will enhance how you teach secondary computing, bringing together your
            subject knowledge, pedagogy skills, assessment and progression, curriculum design and leadership.</p>
        <a class="govuk-button button hero-button--home" href="/cs-accelerator">Discover the Teach secondary certificate</a>
      </div>
      
      <div class="govuk-grid-column-one-third">
        <div class="ncce-aside">
          <h2 class="govuk-heading-s bursary-component__title">Funding</h2>
              <p class="govuk-body-s">Our Computer Science Accelerator courses are free for trainees and teachers working in state-funded education.
              We also offer subsidies to state-funded schools for supply cover to help teachers participate in CPD during the school day.</p>
        </div>
        <p class="govuk-body-s bursary-component__link"> 
          <a class="ncce-link axe-skip-a11y-test" href="/cs-accelerator">Check your eligibility</a>
        </p>
        </div>
      </div>
    </div>
  </div>

<div class="light-grey-bg">
  <div class="govuk-width-container">
    <div class="govuk-main-wrapper">
      <div class="govuk-grid-row">
          <h2 class="govuk-heading-l">Resources</h2>
          <div class="card card--cs-accelerator card--bottom-glyph card--landing-page lp-certs--card">
            <div class="lp-certs--card-header">
              <h2 class="govuk-heading-m card__heading lp-certs--card-heading">
                Early career support guide
              </h2>
            </div>

            <p class="govuk-body card__text">
              We can support trainee and early career teachers at all levels to meet and evidence the teacher standards. The early careers support guidance we have put together maps out our offer against the eight areas of performance you are working to achieve.
            </p>

              <p class="govuk-body govuk-!-margin-bottom-0">
                <a class="ncce-link" href="https://static.teachcomputing.org/NCCE-early_career_support_for_teachers.pdf">Download early career support guide</a>
              </p>
          </div>
          <div class="card card--cs-accelerator card--bottom-glyph card--landing-page lp-certs--card">
            <div class="lp-certs--card-header">
              <h2 class="govuk-heading-m card__heading lp-certs--card-heading">
                Teach Computing Curriculum
              </h2>
            </div>

            <p class="govuk-body card__text">
              If you’re on placement or have started your first year of teaching and would like support with lesson planning, our curriculum contains everything you need to teach computing. It includes lesson plans, slides, worksheets, homework and assessments.
            </p>

              <p class="govuk-body govuk-!-margin-bottom-0">
                <a class="ncce-link" href="/curriculum">Browse curriculum resources</a>
              </p>
          </div>
          <div class="card card--cs-accelerator card--bottom-glyph card--landing-page lp-certs--card">
            <div class="lp-certs--card-header">
              <h2 class="govuk-heading-m card__heading lp-certs--card-heading">
               Pedagogy
              </h2>
            </div>

            <p class="govuk-body card__text">
              Augment your curriculum knowledge with evidence-based teaching practices. Our <a href='https://blog.teachcomputing.org/how-we-teach-computing/?_ga=2.25042810.1370628078.1618995908-2067271423.1556179948&_gac=1.188354138.1616081595.CjwKCAjw9MuCBhBUEiwAbDZ-7jlc_Wrmlr5rjWwOE9RCKoHfO76Kn-jy8q5XlX9a-ojzYrUTgnnczBoCS5MQAvD_BwE' class="ncce-link">12 principles of computing pedagogy</a> are embedded across everything we do, including our Teach Computing Curriculum and CPD.
            </p>

              <p class="govuk-body govuk-!-margin-bottom-0">
                <a class="ncce-link" href="/pedagogy">Discover pedagogy resources</a>
              </p>
          </div>
      </div>
    </div>
  </div>
</div>
<%= render 'communities' %>
