<% title "Signup confirmation - Teach Computing" %>
<%= render 'components/hero', hero_title: 'Thank you!' %>
<div class="govuk-width-container">
  <div class="govuk-main-wrapper govuk-main-wrapper--xl">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <p class="govuk-body">We look forward to sending you the latest information about computing support.</p>
          <p class="govuk-body"><%= link_to 'Return to the site', root_path, class: 'govuk-link' %></p>
        </div>
    </div>
  </div>
</div>
