<% title "Signup STEM - Teach Computing" %>
<div class="govuk-grid-row">
  <div class="govuk-grid-columns-full">
    <iframe class="stem-signup" src="<%= ENV.fetch('STEM_OAUTH_SITE') %>/user/register?from=NCCE" width="100%"></iframe>
  </div>
</div>
