<style>
.show-outline {
  border: 1px solid #ccc !important;

}
</style>

<%= render 'components/hero', hero_title: 'Hero glyph_num 1, glyph_position bottom', colour: 'blue', glyph_num: '1', glyph_position: 'bottom' %>





<div class="govuk-width-container show-outline">
  <p>Use container to set max width and centre content</p>
  <div class="govuk-main-wrapper show-outline">
    <p>Use wrapper to set vertical space inbetween elements within container</p>
    <div class="govuk-grid-row show-outline">
      <p>Row</p>
      <div class="govuk-grid-column-two-thirds show-outline">
        <p>Two thirds column</p>
        <p>Use row and columns to ensure text aligns with container</p>
      </div>
    </div>
  </div>

  <div class="govuk-main-wrapper govuk-main-wrapper--l show-outline">
    <p>Use wrapper--l to set more vertical space inbetween elements within container</p>
    <p>This doesn't seem to work as expected as we have overridden the govuk-main-wrapper css which then overrides the wrapper--l</p>
  </div>
</div>
