<div class="govuk-width-container">
  <div class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <h2 class="govuk-heading-l"><%= t(".intro.title") %></h2>
        <p class="govuk-body"><%= t(".intro.body") %></p>
      </div>
    </div>
  </div>
</div>


<div class="light-grey-bg">
  <div class="govuk-width-container">
    <div class="govuk-main-wrapper">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">

        </div>
      </div>
    </div>
  </div>
</div>
