<% meta_tag :title, 'Terms and Conditions - Teach Computing' %>
<%= render 'components/hero', hero_title: 'National Centre for Computing Education Terms and Conditions', small_title: true %>
<div class="govuk-width-container">
  <div class="govuk-main-wrapper govuk-main-wrapper--xl">
    <h2 class="govuk-heading-m">1. Who we are</h2>
    <p class="govuk-body">This website is part of the National Centre for Computing Education. The National Centre for Computing Education is funded by the Department for Education and operated by STEM Learning.</p>

    <h2 class="govuk-heading-m">2. Your use of this website</h2>
    <p class="govuk-body">By using this website teachcomputing.org, and engaging with other National Centre for Computing Education activities you agree to accept these terms and conditions.
    </p>

    <h2 class="govuk-heading-m">3. Website content</h2>
    <p class="govuk-body">The content on the website may be out of date or may include omissions, inaccuracies or other errors. All content is provided without warranty and is not subject to any checks of assurance of quality. We do not guarantee the availability of any content.</p>
		<p class="govuk-body">The website may provide access via hypertext links to third party websites. By providing these links we are neither endorsing entities nor authorising any act which may be in breach of the intellectual property or any third party rights which are protected in law or by international treaties worldwide. We do not accept liability for any materials contained on a third-party website.</p>
		<p class="govuk-body">All online resources available through the website are available on a non-commercial basis. National Centre for Computing Education is non-exclusive in the organisations it showcases and is free of commercial bias in its selection of physical and online resources available on the website.</p>

    <h2 class="govuk-heading-m">4. Intellectual Property</h2>
    <p class="govuk-body">The teaching resources accessed via the website are published under the <%= link_to 'Open Government License v 3.0', 'http://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/', class: 'govuk-link ncce-link', role: 'button', draggable: 'false' %> unless expressly stated otherwise.	Any resources including copyrighted works by third parties is reproduced for teaching purposes and on a non-commercial basis only in order to fall under the exemption set out in section 33 of the Copyright Designs and Patents Act 1988.</p>
		<p class="govuk-body">The content featured on this website is subject to copyright protection unless otherwise indicated. The intellectual property rights in the content belongs wholly to the original author or publisher of the content. You agree to be bound by licensing arrangements associated with use of such content.</p>
		<p class="govuk-body">You must not reproduce, distribute or communicate the content of this website, unless and to the extent that the same is specifically permitted under any license to which it is subject. If you wish to use any material which is not subject to a license, you must obtain prior written consent from the author or publisher. If reference to a copyright license is provided by us on this website then such license information should be used as a guide only; please contact the owner if you wish to reuse the content.</p>
		<p class="govuk-body">You are permitted to download content from this website, except where it is expressly stated that you are not permitted to do so. Systematic downloading of files is strictly prohibited. You must not use such downloaded files on any other website, network, repository or virtual learning environment without our prior written consent. If you wish to include material from this website on another website you may link to this website. In all cases, you must fully credit the author, this website, and the copyright status of the content.</p>
		<p class="govuk-body">In relation to content which is subject to copyright but where the rights holder cannot be traced (Orphan Works) we will take the appropriate steps to trace the rights holder before uploading such content to our website. If you have found content which you consider is illegally held or published on this website, please contact us in accordance with our take down policy, see section 6.</p>

    <h2 class="govuk-heading-m">5. Health and Safety</h2>
    <p class="govuk-body">Use of a resource or other website content that includes a practical activity requires the user to carry out a full risk assessment. Resources have been published in the form that they were originally submitted by the contributor. This means that any health and safety risk assessment measures detailed within the resources reflect general practice and standards at the time that the resources were published and cannot be assumed to be acceptable today or that inclusion of such assessments within the resources should negate your obligation to perform appropriate risk assessments before use of such resources.</p>
		<p class="govuk-body">Before using any resource that includes a practical activity, users should consult, and if necessary adapt, an appropriate employer’s risk assessment. Such risk assessment is the responsibility of the user, and the National Centre for Computing Education does not accept any responsibility and shall not be liable to you or any third party for any losses, damages, claims, expenses or outcomes resulting from the use of material included or referred to on this website</p>

    <h2 class="govuk-heading-m">6. Take down policy</h2>
    <p class="govuk-body">We reserve an absolute right to exercise our discretion in the removal of any content from the website.</p>
		<p class="govuk-body">Should you have any concerns or have a complaint in relation to the content or should you consider such content is in breach of your intellectual property rights then please contact us. Upon becoming aware of any issues related to the content we will promptly and amicably resolve such matters (to the satisfaction of both parties should there be a complainant), with the following possible outcomes:</p>
		<ul class="govuk-list">
			<li>The material remains on the website unchanged.</li>
			<li>The material is replaced on the website with changes.</li>
			<li>The material is permanently removed from the website.</li>
		</ul>
		<p class="govuk-body">Where we and a complainant are unable to settle such a matter, the content will remain unavailable through this website until a time when a resolution has been reached</p>

    <h2 class="govuk-heading-m">7. Warranty disclaimer and liability</h2>
    <p class="govuk-body">Your use of this website is at your own risk and to the fullest extent permitted by law we hereby exclude all warranties, express or implied, and make no representation in relation to the content of the website. We do not accept responsibility and shall not be liable to you or any third party for any losses, damages, claims, expenses or outcomes resulting from your use of this website or any third party website which may be linked to this website.</p>
		<p class="govuk-body">Nothing in these terms and conditions shall operate to exclude liability for fraudulent misrepresentation or for death or personal injury caused by our negligence or any other liability which cannot be excluded or limited by the applicable law.</p>
		<p class="govuk-body">You acknowledge that any breach by you of these terms and conditions may cause us significant and irreparable damage and, accordingly, you agree that you will indemnify and hold us and our officers, employees and agents harmless against all and any losses, damages, claims and/or expenses suffered as a result of a breach of these terms and conditions. Without prejudice to the foregoing, in the event of any breach by you of these terms and conditions, we shall be entitled to immediately suspend or terminate your access to the website and shall further be entitled to injunctive or other equitable relief.</p>


    <h2 class="govuk-heading-m">8. General</h2>
		<p class="govuk-body">We may need to change the terms and conditions. If we do so we will post an updated copy with the date of revision included within the title of the terms. If we consider the change is material we will post a notice on the website. Your continued use of the website indicates your acceptance of the current terms.</p>
		<p class="govuk-body">The validity or enforceability of the remaining terms shall not be affected by the holding of any provision of part of the terms and conditions to be invalid or enforceable. These terms and conditions shall be governed by and interpreted in accordance with the laws of England and Wales and the Courts of England and Wales shall have exclusive jurisdiction.</p>
		<p class="govuk-body">The website aims to achieve a minimum W3C/WAI's Web Content Accessibility Guidelines 2.0, Conformance Level "A-A" Users with accessibility issues should contact us and we will be pleased to discuss any requirements. We follow good business practice and have robust controls in place to prevent fraud, corruption and bribery. We are committed to the highest standards of openness, integrity and accountability.</p>
  </div>
</div>
