<div class="govuk-width-container">
  <div class="govuk-main-wrapper">
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds padded-box">
    <h2 class="govuk-heading-m">Understanding Computer Systems CO212</h2>

    <video
      poster="https://futurelearn-assets.raspberrypi.org/Computer%20Systems/COMPUTER%20SYSTEMS%20TRAILER.jpg"
      controls="true" playsinline="true" crossorigin="anonymous" preload="none"
      tabindex="-1"
      src="https://futurelearn-assets.raspberrypi.org/Computer%20Systems/COMPUTER%20SYSTEMS%20TRAILER.mp4">
      <source
        src="https://futurelearn-assets.raspberrypi.org/Computer%20Systems/COMPUTER%20SYSTEMS%20TRAILER.mp4"
        type="video/mp4">
      <track class="track"
        src="https://futurelearn-assets.raspberrypi.org/Computer%20Systems/COMPUTER%20SYSTEMS%20TRAILER.vtt"
        kind="captions" srclang="EN" label="English">
    </video>

    <h2 class="govuk-heading-m">Understanding Maths and Logic in Computer Science CO213</h2>

    <video
      poster="https://futurelearn-assets.raspberrypi.org/Maths%20and%20Logic/Maths%20and%20Logic%20trailer%20v2.jpg"
      controls="true" playsinline="true" crossorigin="anonymous" preload="none"
      tabindex="-1"
      src="https://futurelearn-assets.raspberrypi.org/Maths%20and%20Logic/Maths%20and%20Logic%20trailer%20v2.mp4">
      <source
        src="https://futurelearn-assets.raspberrypi.org/Maths%20and%20Logic/Maths%20and%20Logic%20trailer%20v2.mp4"
        type="video/mp4">
      <track class="track"
        src="https://futurelearn-assets.raspberrypi.org/Maths%20and%20Logic/Maths%20and%20Logic%20trailer%20v2.vtt"
        kind="captions" srclang="EN" label="English">
    </video>
  </div>
</div>
  </div>
</div>
