<div class='mailer__content'>
  <p class='govuk-body'>Hello <%= @user.first_name %>,</p>
  <p class='govuk-body'>Thanks for taking part in the Computer Science Accelerator programme. You’re making great progress towards achieving your subject knowledge certificate.</p>
  <p class='govuk-body'>Once you have completed your next face to face or remote course, you will have reached ten hours of CPD and become <b>eligible to take the test and achieve your qualification.</b></p>
  <h3 class="govuk-heading-s">Bursary funding</h3>
  <p class='govuk-body'>If you work in state-funded education, you are eligible for bursary funding, paid to your school or college. <%= link_to 'Check your eligibility.', '/bursary' %></p>
  <h3 class="govuk-heading-s">Next steps</h3>
  <p class='govuk-body'>Choose from any of our face to face or remote Computer Science Accelerator courses.</p>
  <a href="https://teachcomputing.org/courses?certificate=cs-accelerator&emailTrigger=CSA4" class="govuk-button button hero-button--home">Browse all courses</a>
  <p class='govuk-body'>To check your progress or access further support, explore your <a href="https://teachcomputing.org/certificate/cs-accelerator" class="ncce-link">personalised dashboard</a> which shows you the learning pathway and courses we recommend you take.</p>
</div>
