<div class='mailer__content'>
  <p class='govuk-body'>Hello <%= @user.first_name %>,</p>
  <p class='govuk-body'>Thanks for taking part in the Computer Science Accelerator programme. You’re making great progress towards achieving your subject knowledge certificate.</p>
  <p class='govuk-body'>Once you have completed your next course, you will have reached ten hours of CPD and become <b>eligible to take the test and achieve your qualification.</b></p>
  <p class='govuk-body'>If you teach in secondary state education, <b>you will also be eligible for £300 bursary funding</b> to support your classroom practice, paid to your school or college. In addition, once you pass the test, <b>you could receive a further £620 for your school.</b> <a href="http://teachcomputing.org/bursary" class="ncce-link">Check your eligibility.</a></p>
  <h3 class="govuk-heading-s">Next steps</h3>
  <p class='govuk-body'>Choose how and when you want to learn through face to face, online, or live remote training.</p>
  <a href="https://teachcomputing.org/courses?certificate=cs-accelerator" class="govuk-button button hero-button--home">Browse all courses</a>
  <p class='govuk-body'>To check your progress or access further support, explore your <a href="https://teachcomputing.org/certificate/cs-accelerator" class="ncce-link">personalised dashboard</a> which shows you the learning pathway and courses we recommend you take.</p>
</div>
