<% meta_tag :title, 'I Belong - Teach Computing' %>
<%= render 'pages/certification/hero' %>
<div class="ncce-programmes-activity">
  <div class="govuk-width-container">
    <div class="govuk-main-wrapper">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <p class="govuk-body-l block-bottom-margin">Well done! You have completed the programme</p>
          <p class="govuk-body-m block-bottom-margin">Your activities are just being checked and we'll let you know by email when your certificate has been awarded.</p>
        </div>
      </div>
      <div class="secondary-certificate__pending">
        <%= render 'certificates/achievement_list_complete' %>
      </div>
    </div>
  </div>
</div>
