<% meta_tag :title, t('.page_title') %>
<% meta_tag :url, request.original_url %>
<%= render 'pages/certification/hero', sub_header_disabled: true, display_i_belong_flag: true %>

<div class="ncce-programmes-activity">
  <%= render ProgressBarComponent.new(programme: @programme, title: t('.progress.title'), body: t('.progress.body')) %>
  <div class="govuk-width-container">
      <%= render 'achievement_list' %>
  </div>
</div>
