<div class='mailer__content'>
  <p class='govuk-body'>Dear <%= @user.first_name %>,</p>
  <p class='govuk-body'><strong>Congratulations on achieving your certificate!</strong></p>
  <p class='govuk-body'>You’ve achieved your NCCE certificate to Teach primary computing.</p>
  <p class='govuk-body'>Continue your journey by logging in to get your certificate, share your success, and continue your professional development.</p>
  <p class='govuk-body'><%= link_to 'Download your certificate', certificate_primary_certificate_url, class: 'govuk-button button' %></p>
  <p>Share your achievement with friends and colleagues by adding your new digital badge to your social media and email.</p>
  <p class='govuk-body'>Any questions?</p>
  <p class='govuk-body'>Please contact <%= mail_to 'info@teachcomputing.org', 'info@teachcomputing.org', class: 'ncce-link' %>.</p>
</div>
