<div class='mailer__content'>
  <p class='govuk-body'>Dear <%= @user.first_name %>,</p>

  <p class='govuk-body'>Now that you have the necessary CPD under your belt, apply your learning by developing your teaching practice and taking an active role in your computing community.</p>

  <p class='govuk-body'>You might have already engaged and completed some of the activities required to achieve your Teach primary computing certificate. Remember to tick them off by submitting evidence on your dashboard. 
  </p>
  
  <p class="govuk-body">
    <%= link_to "Check your dashboard", primary_certificate_url, class: "govuk-button button" %>
  </p>
</div>
