<div class="cms-image">
  <%= cms_image(@image)%>
  <% if @show_caption && !@image.caption.blank?%>
    <p class="govuk-body-s govuk-!-margin-bottom-0">
      <%= @image.caption %>
    </p>
  <% end %>
</div>