.primary-dashboard-activity {
  &__selection-wrapper {
    display: flex;
    gap: 15px;

    .govuk-button {
      white-space: nowrap;
    }
  }

  &__details {
    margin-bottom: 20px;
    border-bottom: 2px solid #F0F5F4;
  }
}
