---
http_interactions:
- request:
    method: post
    uri: https://staging-curriculum.teachcomputing.org/graphql
    body:
      encoding: UTF-8
      string: '{"query":"mutation GraphQL__Client__OperationDefinition_47168016072300
        {\n  updateRating(id: \"15f2930b-629d-4535-b310-6bc1fb074236\", comment: \"This
        is a test\") {\n    __typename\n  }\n}","operationName":"GraphQL__Client__OperationDefinition_47168016072300","variables":{}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"6236cf3fa2afd0b31d6226737d627909"
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"updateRating":{"__typename":"Rating"}}}'
  recorded_at: Tue, 29 Sep 2020 23:09:09 GMT
recorded_with: VCR 6.0.0
