.hero {
  background-color: $lime-green;
  color: $grey-dark-x;
  position: relative;
  &--blue {
    background-color: $action-color;
  }

  /* remove all glyphs for the time being */
  &:after {
    background-image: none;
    display: none;
  }
}

.hero--glyph-2:after {
  background-image: url(../images/hero/glyph-2.svg);
  height: 75px;
  width: 105px;
  @include govuk-media-query($from: desktop) {
    height: 100px;
    width: 140px;
  }
}

.hero--glyph-3:after {
  background-image: url(../images/hero/glyph-3.svg);
  height: 75px;
  transform: rotate(180deg);
  width: 60px;
  @include govuk-media-query($from: desktop) {
    height: 100px;
    width: 80px;
  }
}

.hero--glyph-4:after {
  background-image: url(../images/hero/glyph-4.svg);
  height: 92px;
  width: 90px;
  @include govuk-media-query($from: desktop) {
    background-size: 110px 130px;
    height: 130px;
    width: 120px;
  }
}

.hero--center-glyph:after {
  top: calc(50% - 45px);
  @include govuk-media-query($from: desktop) {
    top: calc(50% - 60px);
  }
}

.hero--bottom-glyph:after {
  background-position-y: bottom;
  bottom: 0;
  top: unset;
}

.hero--plain {
  background-color: $plain-hero-color;
  &:after {
    background-image: none;
    display: none;
  }
}

.hero--resources {
	.hero {
		&:after {
			background-image: none;
			display: none;
  	}
	}
}

.hero--dixie {
  background-color: $dixie;
}

.hero--tapestry {
  background-color: $tapestry;
}

.hero--orange,
.hero--primary-certificate {
  background-color: $primary-cert-color;
}

.hero--purple,
.hero--secondary-certificate,
.hero--cs-accelerator {
  background-color: $secondary-cert-color;
}

.hero--i-belong-certificate {
  background-color: $i-belong-cert-color;
}

.hero__wrapper {
  padding-bottom: $logo_block-mobile;
  padding-top: $logo_block-mobile;
  @include govuk-media-query($from: desktop) {
    padding-bottom: $logo_block;
    padding-top: $logo_block;
  }
  &:after {
    clear: both;
    content: '';
    display: table;
  }
}

.hero__wrapper > .status-block {
  @include status_block();
  float: left;
  margin: 0;
}

.hero__heading-wrapper {
  background-color: $white;
  clear: both;
  float: left;
  @include govuk-media-query($from: desktop) {
    max-width: 75%;
  }
  padding: 10px;
}

.hero__heading-wrapper--unit {
	max-width: 90%;
}

.hero__heading-wrapper--full-width {
  @include govuk-media-query($from: desktop) {
    max-width: 100%;
  }
}

.hero__heading {
  color: $grey-dark-x;
  margin-bottom: 0;
}
.hero__text {
  color: $mid-gray;
  margin-bottom: 0;
  margin-top: $logo_block-mobile / 4;
  @include govuk-media-query($from: desktop) {
    margin-top: $logo_block / 4;
  }
}
