<div class="resources-aside">
  <h4 class="govuk-heading-s resources-aside__title">Package contents
  </h4>
  <ul class="govuk-list" arial-role="list">
    <li>Lesson plans</li>
    <li>Unit guide</li>
    <li>Assessment</li>
  </ul>
  <% if current_user %>
  <p class="govuk-body">
    <%= link_to "Access year #{year} resources", '#ß', class: 'govuk-button ncce-button__pink ncce-aside__button', role: 'button', draggable: 'false' %>
  </p>
  <% else %>
  <p class="govuk-body">
    <%= link_to 'Login to access', login_path(source_uri: "#{request.original_fullpath}#year-#{year}"), class: 'govuk-button ncce-button__pink ncce-aside__button', role: 'button', draggable: 'false' %>
  </p>
  <% end %>
</div>
