<div class="resources-aside">
  <h4 class="govuk-heading-s resources-aside__title">Package contents
  </h4>
  <ul class="govuk-list" arial-role="list">
    <li>Lesson plans</li>
    <li>Learning graphs</li>
    <li>Unit overviews</li>
    <li>Assessments</li>
    <li>Activities</li>
    <li>Homework</li>
  </ul>
  <p class="govuk-body">
  <%= link_to_if current_user, "Access year #{year} resources", resource_url, class: 'govuk-button ncce-button__pink ncce-aside__button', role: 'button', draggable: 'false' do
      link_to 'Login to access', login_path(source_uri: "#{request.original_fullpath}#year-#{year}"), class: 'govuk-button ncce-button__pink ncce-aside__button', role: 'button', draggable: 'false'
  end %>
  </p>
</div>
