<div class="resources-year">
  <h3 id="year-8" class="govuk-heading-m resources-year__heading">Year 8</h3>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column">
      <div class="govuk-grid-column-two-thirds">
        <ul class="govuk-list resources-year__lesson-list" aria-role="list">
          <li>
            <h4 class="govuk-heading-s resources-year__title">Media unit</h4>
            <p class="govuk-body">Vector graphics (inkscape)</p>
          </li>
          <li>
            <h4 class="govuk-heading-s resources-year__title">Computing systems:
              the hierachy</h4>
            <p class="govuk-body">From programs down to bits</p>
          </li>
          <li>
            <h4 class="govuk-heading-s resources-year__title">Networks 2</h4>
            <p class="govuk-body">Web, HTML, CSS, Search</p>
          </li>
          <li>
            <h4 class="govuk-heading-s resources-year__title">Representations 1
            </h4>
            <p class="govuk-body">Representations, binary, numbers, text, units
            </p>
          </li>
          <li>
            <h4 class="govuk-heading-s resources-year__title">Programming 3</h4>
            <p class="govuk-body"></p>
          </li>
          <li>
            <h4 class="govuk-heading-s resources-year__title">Programming 4</h4>
            <p class="govuk-body"></p>
          </li>
        </ul>
      </div>
      <div class="govuk-grid-column-one-third">
        <%= render 'pages/resources/aside', year: 8 %>
      </div>
    </div>
  </div>
</div>
