<div class="resources-year">
  <h3 id="year-7" class="govuk-heading-m resources-year__heading">Year 1</h3>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column">
      <div class="govuk-grid-column-two-thirds">
        <ul class="govuk-list resources-year__lesson-list" aria-role="list">
          <li>
            <h4 class="govuk-heading-s resources-year__title">Computing Systems and Networks – Technology Around Us</h4>
            <p class="govuk-body">Develop your learners’ understanding of technology and how it can help them. They will become more familiar with the different components of a computer by developing their keyboard and mouse skills, and also start to consider how to use technology responsibly.</p>
          </li>
          <li>
            <h4 class="govuk-heading-s resources-year__title">Creating Media – Digital Painting</h4>
            <p class="govuk-body">Explore the world of digital art and its exciting range of creative tools with your learners. Empower them to create their own paintings, while getting inspiration from a range of other artists. Conclude by asking them to consider their preferences when painting with, and without, the use of digital devices.</p>
          </li>
        </ul>
      </div>
      <div class="govuk-grid-column-one-third">
        <%= render 'pages/resources/aside', year: 1, resource_url: 'https://ncce.io/bFzXnt' %>
      </div>
    </div>
  </div>
</div>
