<div class="resources-year">
  <h3 id="year-7" class="govuk-heading-m resources-year__heading">Year 3</h3>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column">
      <div class="govuk-grid-column-two-thirds">
        <ul class="govuk-list resources-year__lesson-list" aria-role="list">
          <li>
            <h4 class="govuk-heading-s resources-year__title">Computing Systems and Networks – Connecting Computers</h4>
            <p class="govuk-body">Challenge your learners to develop their understanding of digital devices, with an initial focus on inputs, processes, and outputs. Start by comparing digital and non-digital devices, before introducing them to computer networks that include network infrastructure devices like routers and switches.</p>
          </li>
          <li>
            <h4 class="govuk-heading-s resources-year__title">Creating Media – Stop frame animation</h4>
            <p class="govuk-body">Coming soon.</p>
          </li>
        </ul>
      </div>
      <div class="govuk-grid-column-one-third">
        <%= render 'pages/resources/aside', year: 3, resource_url: 'https://ncce.io/Year3', live: true %>
      </div>
    </div>
  </div>
</div>
