.tick-list-collection-component {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;

  // @include govuk-media-query($from: tablet) {
  //   margin-top: 0;
  // }

  // @include govuk-media-query($from: desktop) {
  //   padding-bottom: 3rem;
  // }
}

// .tick-list-collection-component__title {
// }
