.tick-list-collection-component {
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.tick-list-collection-component__title {
  padding-left: 0;
  @include govuk-media-query($from: tablet) {
    width: 94%;
  }

  @include govuk-media-query($from: desktop) {
    width: 84%;
  }
}
