.ncce-courses {
	&__course {
    margin-bottom: calc(#{$logo-block-mobile} * 1.3 - 0.5rem);
    @include govuk-media-query($from: tablet) {
      margin-bottom: calc(#{$logo-block} * 1.3 - 0.5rem);
    }
	}
  &__locations {
    margin-bottom: 0;
    & button {
      all: inherit;
      background: $foam;
      border: 0;
      box-sizing:border-box;
      cursor: pointer;
      display: flex;
      justify-content: start;
      padding: 0.9rem 1rem;
      width: 100%;
      @include govuk-media-query($from: tablet) {
        margin-bottom: 2px;
      }

      & svg {
        margin-right: 0.5em;
        margin-top: 0.2em;
        @include govuk-media-query($from: tablet) {
          margin-top: 0.3em;
        }
      }

      &[aria-expanded="true"] svg {
        -ms-filter: "FlipW";
        filter: FlipW;
        -moz-transform: scaleY(-1);
        -o-transform: scaleY(-1);
        -webkit-transform: scaleY(-1);
        transform: scaleY(-1);
      }

      & [aria-expanded] path {
        fill: currentColor;
      }
      &:hover,
      &:focus {
        text-decoration: underline;
      }
    }
  }
  &__locations--closed {
    margin-bottom: 20px;
  }

  &__locations-section--closed {
    display: none;
  }

	&__meta {
		display: block;
		line-height: 1.6;
		padding: 0;

		& > li {
      background: $foam;
      box-sizing:border-box;
      margin-left: 0;
      margin-right: 0;
      padding: 0.45rem 1rem;
      width: 100%;
      @include govuk-media-query($from: tablet) {
        margin-bottom: 2px;
      }
		}

		&-date {
			display: inline-block;
			font-size: 0.875rem;
			padding: 0;
		}
		&-location {
      display: inline-block;
      font-size: 0.9375rem;
			font-weight: 700;
		}
		&-location.icon-online {
      background-position-y: center !important;
		}
	}
}

.ncce-courses__heading {
	margin-bottom: 10px;
  &-code {
    color: $grey-storm;
    font-size: 0.74em;
    font-weight: 400;
    margin-left: 1.5rem;
  }
}

.ncce-courses__filter-container {
  background-color: $concrete;
  padding: 0;
  &--sticky {
    margin-top: 0;
    position: fixed;
    top: 0px;
    width: 100%;
  }
}
.ncce-courses__filter-wrapper {
  padding: 0;
}

.ncce-courses__filter {
  &-mobile-heading {
    margin-bottom: 0;
    @include govuk-media-query($from: tablet) {
      display: none;
    }
    & button {
      all: inherit;
      border: 0;
      box-sizing:border-box;
      cursor: pointer;
      display: flex;
      justify-content: start;
      padding: 0.9rem 1rem;
      width: 100%;

      & svg {
        margin-right: 0.5em;
        margin-top: 0.3em;
      }

      &[aria-expanded="true"] svg {
        -ms-filter: "FlipW";
        filter: FlipW;
        -moz-transform: scaleY(-1);
        -o-transform: scaleY(-1);
        -webkit-transform: scaleY(-1);
        transform: scaleY(-1);
      }

      & [aria-expanded] path {
        fill: currentColor;
      }
      &:hover,
      &:focus {
        text-decoration: underline;
      }
    }
  }
  &-mobile-heading-section--closed {
    @include govuk-media-query($until: tablet) {
      display: none;
    }
  }
  &-form {
    padding: 10px 0;
  }
  &-prompt {
    color: $grey-dark-x;
    margin-right: 20px;
    @include govuk-media-query($until: tablet) {
      display: none;
    }
  }

  &-button {
    margin-bottom: 0;
    padding: 9px 15px 6px;
  }
}

.ncce-courses__results-wrapper {
  padding-top: $logo-block-mobile;
  @include govuk-media-query($from: tablet) {
    padding-top: $logo-block;
  }
}
