.course-card__container {
  margin: 0 auto;

	@include govuk-media-query($from: tablet) {
		column-gap: 2rem;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
	}
}

.course-card {
  display: flex;
  flex-direction: column;
}
.course-card, 
.course-card__content {
	flex: 1 1 auto;
}

.course-details {
	border: 1px solid $concrete;
	margin-bottom: 1.5rem;
	padding: 1rem 1rem 0 1rem;
}

.course-summary {
  p {
    @extend .govuk-body;
  }

  ul {
    @extend .govuk-list, .govuk-list--bullet;
  }
}

.course-details__icons {
	display: flex;
	flex-direction: column;
	margin-top: 0.5rem;
}
