.ncce-confidence {
}

.ncce-confidence__grid {
  display: grid;
  grid-template-columns: auto;
  @include govuk-media-query($from: tablet) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.ncce-confidence__panel {
  @include govuk-media-query($from: tablet) {
    width: 95%;
  }
}

.ncce-confidence__grid-col1,
.ncce-confidence__grid-col2 {
  margin-bottom: 2rem;
  @include govuk-media-query($from: tablet) {
    margin-bottom: 0;
  }
}

.ncce-confidence__grid-col2 {
  display: flex;
  justify-content: center;
}

.ncce-confidence__grid-col3 {
  display: flex;
  justify-content: flex-end;
}

.ncce-confidence__icon-container {
  width: 84px;
  margin-right: 1rem;
  @include govuk-media-query($from: tablet) {
    background-color: $purple-dark;
    border-bottom: 3px solid $lime-green;
    margin-bottom: 1rem;
    margin-right: 0;
    padding: 0;
    text-align: center;
    width: 100%;
  }
}

.ncce-confidence__icon {
width: 100%;
height: 100%;
object-fit: contain;
}

.ncce-confidence__panel-header {
  align-items: center;
  border-top: 3px solid $lime-green;
  display: flex;
  padding: 16px 0 8px;
  @include govuk-media-query($from: tablet) {
    border: 0;
    display: block;
    padding: 0;
  }
}
.ncce-confidence__sub-heading {
  position: relative;
  top: 8px;
  @include govuk-media-query($from: tablet) {
    top: 0;
  }
}
