.ncce-confidence__header {
  text-align: center;
  padding-top: 3rem;

  h1 {
    font-weight: normal;
  }
}

.ncce-confidence {
  display: grid;
  gap: 1rem;

  .ncce-confidence__card {
    display: grid;
    grid-template-rows: subgrid;
    --color: #{$lime-green};

    &.ncce-confidence__card--orange { --color: #{$orange}; }
    &.ncce-confidence__card--pink { --color: #{$pink}; }

    .ncce-confidence__icon {
      object-fit: cover;
      width: 304px;
      height: 186px;
      border-bottom: 3px solid var(--color);

      &:last-of-type {
        object-position: center top;
      }
    }

    .ncce-confidence__link {
      @extend .ncce-link;
      text-decoration: none;
      font-size: 1.25rem;
    }

    .ncce-confidence__description {
      @extend .govuk-body-m;
      color: $grey-storm;
    }
  }

  @include govuk-media-query($from: desktop) {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 0.1fr 0.4fr;

    .ncce-confidence__card {
      grid-row: span 3;
    }
  }

  @include govuk-media-query($from: tablet, $until: desktop) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.5fr 0.1fr 0.4fr;

    .ncce-confidence__card {
      grid-row: span 3;
    }
  }

  @include govuk-media-query($until: tablet) {
    grid-template-columns: 0.5fr 0.5fr;
    grid-template-rows: 0.5fr 0.5fr;

    .ncce-confidence__card {
      grid-row: span 2;
      grid-column: span 2;
      border-top: 3px solid var(--color);
      padding-top: 1rem;

      .ncce-confidence__icon {
        grid-row: 1;
        grid-column: 2;
        width: 87px;
        height: 53px;
        justify-self: end;
        border: none;
      }

      .ncce-confidence__link {
        grid-row: 1;
        grid-column: 1;
        align-self: center;
      }

      .ncce-confidence__description {
        grid-row: 2;
        grid-column: span 2;
      }
    }
  }
}
