.ncce-home-hero {
  display: grid;
  grid-template-columns: 1fr;
  @include govuk-media-query($from: desktop) {
    margin-bottom: 60px;
  }
}

.ncce-home-hero__image {
  @include govuk-media-query($from: tablet) {
    grid-column-start: 1;
    grid-row-start: 1;
  }
  img {
    width: 100%;

    @include govuk-media-query($from: tablet) {
      display: block;
      margin: 0 auto;
      max-width: 1100px;
    }
  }
}

.ncce-home-hero__text-wrapper {
  margin: 0 auto;
  max-width: 960px;
  width: 100%;
  @include govuk-media-query($from: tablet) {
    align-self: center;
    grid-column-start: 1;
    grid-row-start: 1;
  }
}

.ncce-home-hero__text {
  background-color: $white;
  padding: 1.5rem 1rem;

  @include govuk-media-query($from: tablet) {
    margin-left: 29px;
    padding: 1.75rem 1.5rem;
    width: 348px;
  }
  @include govuk-media-query($from: desktop) {
    margin-left: 0;
    width: 432px;
  }
}

.ncce-home-hero__heading {
  font-size: 2rem;
  line-height: 1.25;
  @include govuk-media-query($from: tablet) {
    font-size: 2.5rem;
    margin-bottom: 20px;
  }
  @include govuk-media-query($from: desktop) {
    font-size: 3rem;
  }
}

.ncce-home-hero__buttons {
  display: flex;
  justify-content: space-between;
}

.ncce-home-hero__button {
  margin-bottom: 0;
  padding: 6px 0;
  width: 46%;
  @include govuk-media-query($from: tablet) {
    padding: 12px 0;
  }
}

.ncce-home-hero__list {
  margin-bottom: 28px;
  @include govuk-media-query($from: tablet) {
    margin-bottom: 14px;
  }
  @include govuk-media-query($from: desktop) {
    margin-bottom: 44px;
  }

  li {
    margin-bottom: 0;
  }
}

// Old hero styles below

.ncce-hero {
  background-color: $hero-goldenrod;
  overflow: hidden;
}

.ncce-hero__wrapper {
  padding-bottom: 0;
}

.ncce-hero__image {
  -webkit-mask-size: cover;
  mask-size: cover;
  position: relative;
  width: 100%;

  z-index: 20;

  @include govuk-media-query($from: tablet) {
    margin-left: -18%;
    width: 120%;
  }
}

.ncce-hero__long-shadow {
  margin-top: 40px;
  position: relative;

  @include govuk-media-query($from: tablet) {
    left: -20px;
  }

  &:before {
    background-color: $hero-terracotta;
    content: '';
    height: 101%;
    left: -800px;
    position: absolute;
    top: 800px;
    transform: skewY(-45deg);
    transform-origin: top left;
    width: 800px;
  }

  &:after {
    background-color: $hero-terracotta;
    content: '';
    height: 800px;
    left: 0;
    position: absolute;
    top: 100%;
    transform: skewX(-45deg);
    transform-origin: top left;
    width: 100%;
  }
}

.ncce-hero__heading {
  background-color: $white;
  border: 6px solid $black;
  font-family: $font-family-heading;
  font-size: 8.4vw;
  font-weight: bold;
  line-height: 1;

  margin-bottom: 10px;
  padding: 10px;

  @include govuk-media-query($from: tablet) {
    font-size: 4vw;
  }

  @include govuk-media-query($from: 1024px) {
    background-position: 11.5rem 0.15rem;

    background-repeat: no-repeat;
    background-size: 7.5rem;
    border: 9px solid $black;
    font-size: 2.8em;
    line-height: 1.2;

    @-moz-document url-prefix() {
      background-position: 12rem 0.15rem;
    }
  }
}

.ncce-hero__cta--desktop {
  display: none;

  position: relative;

  @include govuk-media-query($from: tablet) {
    display: block;
  }

  @include govuk-media-query($until: desktop) {
    margin-bottom: 40px;
  }
}

.ncce-hero__cta--mobile {
  margin-bottom: 25px;

  position: relative;

  @include govuk-media-query($from: tablet) {
    display: none;
  }
}

.ncce-hero__body {
  color: $black;
  font-size: 1.25rem;
  margin-bottom: 20px;

  @include govuk-media-query($from: tablet) {
    padding-right: 60px;
  }

  @include govuk-media-query($from: 1024px) {
    font-size: 1.5rem;
  }
}

.ncce-hero__button {
  margin-bottom: 40px;
}

.ncce-hero__maintenance {
  background-image: url('../images/hero/dots.svg');
  background-position: calc(100% - -110px) 0%;
  background-repeat: no-repeat;
  background-size: 100%;

  @include govuk-media-query($from: tablet) {
    background-position: top 0 right -48px;
    background-size: 800px;
    margin: 1.5rem auto;
  }
}
