$hero-mobile-breakpoint: 950px;
$hero-tiny-breakpoint: 430px;

.ncce-home-hero-wrapper {
  max-width: calc(960px + 250px);
  margin-left: auto;
  margin-right: auto;
}

.ncce-home-hero {
  display: grid;
  height: fit-content;

  @media screen and (max-width: $hero-mobile-breakpoint) {
    grid-template-rows: 1fr 1fr;

    .ncce-home-hero__column {

      &:nth-child(1) { grid-row: 2; align-self: right; }
      &:nth-child(2) { grid-row: 1; align-self: left; }
    }
  }
  @media screen and (min-width: $hero-mobile-breakpoint) {
    grid-template-columns: 1fr 1fr;

    .ncce-home-hero__column {
      &:nth-child(1) { grid-column: 1; }
      &:nth-child(2) { grid-column: 2; }
    }
  }

  .ncce-home-hero__column {
    aspect-ratio: 1/1;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    &:nth-child(1) {
      background-image: url("../images/hero/hero1.png");
    }
    &:nth-child(2) {
      background-image: url("../images/hero/hero2.png");
    }
  }

  .ncce-home-hero__house {
    position: absolute;
    display: flex;
    flex-direction: column;

    left: 13%;
    top: 25%;
    right: 11%;
    height: 65%;

    align-items: center;
    @media screen and (max-width: $hero-tiny-breakpoint) {
      align-items: start;
    }
    @media screen and (min-width: $hero-mobile-breakpoint) {
      align-items: start;
    }

    h1 {
      @extend .govuk-heading-l;
    }
    p {
      @extend .govuk-body-m;
      color: $grey-storm;
    }
    ul {
      @extend .govuk-list;
      @extend .govuk-list--bullet;
      color: $grey-storm;
      margin-left: 10px;
      li { margin-bottom: 0; }
    }
    .ncce-home-hero__house__button-container {
      justify-self: flex-end;
      display: flex;
      gap: 1rem;


      @include govuk-media-query($until: tablet) {
        align-self: center;
      }

      a {
        padding: 0.5rem 1rem;

        @media screen and (max-width: $hero-mobile-breakpoint) {
          &:nth-child(2) { display: none; }
        }
      }
    }
  }
}
