$hero-mobile-breakpoint: 950px;
$hero-tiny-breakpoint: 430px;

.ncce-home-hero-wrapper {
  max-width: calc(960px + 250px);
  margin-left: auto;
  margin-right: auto;
}

.ncce-home-hero {
  display: flex;
  flex-direction: column-reverse;

  @media screen and (min-width: $hero-mobile-breakpoint) {
    display: grid;
    height: fit-content;
    grid-template-columns: 1fr 1fr;
  }

  .ncce-home-hero__column {
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 100%;
    height: 100%;
    aspect-ratio: 1/1;

    @media screen and (min-width: $hero-mobile-breakpoint) {
      background-size: cover;
    }

    &:nth-child(1) {
      background-image: url("../images/hero/hero1-house-background.svg");
      display: flex;
      justify-content: center;
      align-items: center;

      @media screen and (min-width: $hero-mobile-breakpoint) {
        grid-column: 1;
      }

      @media screen and (max-width: $hero-mobile-breakpoint) {
        background-position: center top;
        aspect-ratio: 12/8;
      }
    }

    &:nth-child(2) {
      background-image: url("../images/hero/hero2-person-background.png");
      width: 100%;
      overflow: hidden;

      @media screen and (min-width: $hero-mobile-breakpoint) {
        grid-column: 2;
      }

      @media screen and (max-width: $hero-mobile-breakpoint) {
        background-position: center top;
        aspect-ratio: 15/9;
      }
    }

    .ncce-home-hero__corner-house-right {
      position: absolute;
      right: 0;
      top: 0;
      width: 13.5%;

      .ncce-home-hero__house-corner {
        width: 100%;
      }
    }

    .ncce-home-hero__corner-person-left {
      position: absolute;
      width: 13.5%;

      .ncce-home-hero__person-corner-left {
        position: relative;
        width: 100%;
        color: #5AFF6A;
        z-index: 1;
      }
    }

    .ncce-home-hero__person-content {
      .ncce-home-hero__person {
        position: absolute;
        width: 100%;
        height: 100%;

        @media screen and (max-width: $hero-mobile-breakpoint) {
          height: auto;
          width: 95%;
        }
      }

      .ncce-home-hero__person-title {
        position: absolute;
        width: 100%;
        height: 100%;

        .ncce-home-hero__title {
          position: absolute;
          left: 68%;
          top: 34%;
          width: 30%;
          z-index: 1;
          transform: translate(-50%, -50%);

          @media screen and (min-width: $hero-mobile-breakpoint) {
            left: 70%;
            top: 25%;
          }
        }
      }
    }

    .ncce-home-hero__corner-person-right {
      position: absolute;
      right: 0;
      bottom: 0;
      width: 37%;

      .ncce-home-hero__person-corner-right {
        position: absolute;
        width: 100%;
        color: #5AFF6A;
        bottom: 0;
      }

      @media screen and (max-width: $hero-mobile-breakpoint) {
        display: none;
      }
    }

    .ncce-home-hero__house {
      display: flex;
      flex-direction: column;

      left: 13%;
      top: 25%;
      right: 11%;

      padding-left: 5%;
      padding-right: 5%;
      margin-top: 3%;
      margin-bottom: 5%;

      align-items: center;
      @media screen and (max-width: $hero-tiny-breakpoint) {
        align-items: start;
      }
      @media screen and (min-width: $hero-mobile-breakpoint) {
        align-items: start;
      }

      h1 {
        @extend .govuk-heading-l;
      }
      p {
        @extend .govuk-body-m;
        color: $grey-storm;
      }
      ul {
        @extend .govuk-list;
        @extend .govuk-list--bullet;
        color: $grey-storm;
        margin-left: 10px;
        li { margin-bottom: 0; }
      }
      .ncce-home-hero__house__button-container {
        justify-self: flex-end;
        display: flex;
        gap: 1rem;

        @include govuk-media-query($until: tablet) {
          align-self: center;
        }

        a {
          padding: 0.5rem 1rem;

          @media screen and (max-width: $hero-mobile-breakpoint) {
            &:nth-child(2) { display: none; }
          }
        }
      }

      .ncce-home-hero__top {
        width: 100.1%;
        margin-bottom: -1px;

        .ncce-home-hero__house-roof {
          width: 100%;
          display: block;
        }
      }

      .ncce-home-hero__middle {
        width: 100%;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;

        .ncce-home-hero__middle-left {
          position: relative;

          .ncce-home-hero__house-wall-left {
            display: block;
            height: 100%;
            position: absolute;
            left: 0;
          }
        }

        .ncce-home-hero__middle-content {
          padding: 5%;
          display: flex;
          flex-direction: column;
          align-items: center;

          h1 {
            text-align: center;
          }

          @media screen and (min-width: $hero-mobile-breakpoint) {
            padding: 5% 10%;
            align-items: normal;

            h1 {
              text-align: left;
            }
          }
        }

        .ncce-home-hero__middle-right {
          position: relative;

          .ncce-home-hero__house-wall-right {
            display: block;
            height: 100%;
            position: absolute;
            right: 0;
          }
        }
      }

      .ncce-home-hero__bottom {
        display: block;
        width: 100%;

        .ncce-home-hero__house-base {
          display: block;
          width: 100%;
        }
      }
    }
  }
}
