<div class='mailer__content'>
  <p class="govuk-body">
    Welcome <%= @user.first_name %>
    <br><br>
    You have successfully signed up and taken your first step towards completing the A level Computer Science subject knowledge certificate, as awarded by BCS, The Chartered Institute for IT.
    <br><br>
    <strong>Next Steps</strong>
    <br><br>
    You can take the subject knowledge test as soon as you feel ready. However, we have a range of recommended courses to help you enhance your subject knowledge before taking the test, available to browse from your dashboard.
  </p>

  <div>
    <%= link_to 'View your dashboard', a_level_url, class: 'govuk-button button' %>
  </div>

  <p class="govuk-body">
    All our courses are available at no cost to teachers in state-funded schools and colleges.
    <br><br>
    <strong>Any questions?</strong>
    <br><br>
    Get in touch by mailing
    <%= link_to 'info@teachcomputing.org', 'mailto:info@teachcomputing.org' %>
  </p>
</div>
