.cms-rich-text-block-component__text--bold {
  font-weight: 700 !important;
}

.cms-rich-text-block-component__text--italic {
  font-style: italic;
}

.cms-rich-text-block-component__text--underline {
  text-decoration: underline;
}

.cms-rich-text-block-component__text--code {
  font-family: monospace;
}

.cms-rich-text-block-component__text--strikethrough {
  text-decoration: line-through;
}
