.cms-two-column-video-section-component {

  &__wrapper {
    &--padded {
      padding: 15px;
    }
  }

  &__right-text {
      margin-top: 20px;
  }

  &__video-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;

    video {
      width: 100%;
      height: auto;
      display: block;
    }
  }
}
