---
http_interactions:
- request:
    method: get
    uri: https://lticourses-api.sandbox.futurelearn.com/partners/organisation_memberships/8e89c1b4-d5c0-4208-b4ad-52928f37ab3f
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer eyJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJuY2NlLnRlc3QiLCJpYXQiOjE2MDE2NTE5OTMsImV4cCI6MTYwMTY1Mjg5M30.yObN1hUUq7qGtPiEX_UDnlKCXLzFexSIhFbb_dsHnDw
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"9e84e15eb247c42fbabbe2d62da59bdc"
    body:
      encoding: UTF-8
      string: '{"uuid":"8e89c1b4-d5c0-4208-b4ad-52928f37ab3f","href":"https://lticourses-api.sandbox.futurelearn.com/partners/organisation_memberships/8e89c1b4-d5c0-4208-b4ad-52928f37ab3f","learner":{"uuid":"4c9edfc0-eb9f-44dd-bc30-a239bbd1e840","href":"https://lticourses-api.sandbox.futurelearn.com/partners/learners/4c9edfc0-eb9f-44dd-bc30-a239bbd1e840"},"external_learner_id":"sanitized_id_0b050e9f2d557f414b9c3d445d271f14c96f6519"}'
  recorded_at: Fri, 02 Oct 2020 15:19:53 GMT
recorded_with: VCR 6.0.0
