<div class="icon-wrapper">
  <% @icons.each do |icon| %>
    <div class="icon-wrapper__block">
      <div class="icon-wrapper__image">
        <%= render CmsImageComponent.new(icon.image) %>
      </div>
      <div class="icon-wrapper__text">
        <p class="govuk-body-s govuk-!-margin-bottom-0"><%= icon.text %></p>
      </div>
    </div>
  <% end %>
</div>
