.icon-wrapper .cms-image {
  display: flex;
  align-items: center;
}

.icon-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include govuk-media-query($until: desktop) {
    margin-bottom: 15px;
    justify-content: space-evenly;
  }

  &__block {
    display: flex;
    align-items: center;
    flex: 1;

    @include govuk-media-query($until: desktop) {
      flex: auto;
    }
  }

  &__text {
    margin-left: 10px;
  }
}
