<div class="icon-wrapper">
  <% @icons.each do |icon| %>
    <div class="icon-wrapper__block">
      <div class="icon-wrapper__image">
        <%= render Cms::ImageComponent.new(icon.image) %>
      </div>
      <div class="icon-wrapper__text">
        <span class="govuk-body-s"><%= icon.text %></span>
      </div>
    </div>
  <% end %>
</div>
