.notice-component {
  display: grid;
  grid-template-columns: 55px auto;
  grid-template-rows: auto auto;
  align-items: center;
  justify-items: center;
  grid-gap: 20px;
  padding: 10px;

  @include govuk-media-query($from: tablet) {
    grid-gap: 30px;
    padding: 30px;
  }

  @include govuk-media-query($from: desktop) {
    grid-template-columns: 1fr auto 250px;
    grid-template-rows: auto;

    grid-gap: 60px 50px;
    padding: 60px 50px;
  }
}

.notice-component__icon {
  align-self: flex-start;
  width: 50px;

  @include govuk-media-query($from: tablet) {
    width: 60px;
  }
}

.notice-component__button {
  margin-bottom: 0;
  text-align: center;

  @include govuk-media-query($until: tablet) {
    width: 100%;
  }

  @include govuk-media-query($until: desktop) {
    grid-column: 1/span 2;
  }
}
