
.cms-full-width-banner {

  display: flex;

  flex-direction: row;
  gap: 15px;

  &__media {
    flex: 1;

    img {
      width: 100%;
    }
  }
  
  &__content {
    flex: 2;
    padding: 20px;
  }

}