.ncce-booking-list__item {
  border-bottom: 1px solid #CCCCCC;
  padding: 0.5rem 0;

  &:first-child {
    border-top: 1px solid #CCCCCC;
  }
}

.ncce-booking-details {
  &:first-child {
    border-top: 1px solid #CCCCCC;
    padding-top: 1rem;
  }
}

.ncce-booking-list__date {
  font-weight: bold;
  margin-bottom: 0.25rem;
}

.ncce-booking-list__details-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  .ncce-booking-list__address {
    width: 100%;
    padding-right: 0.5rem;
  }

  .ncce-booking-list__button_wrapper {
    text-align: end;
    margin: 10px 0px;

    a {
      margin-bottom: 0px;
    }
  }
}

.ncce-booking-list__skip-button {
  margin-bottom: 1.5rem;

  @include govuk-media-query($from: tablet) {
    display: none;
    visibility: hidden;
  }
}

.ncce-booking-list__progress {
  border-top: solid 1px #CCCCCC;
  padding-top: 1rem;
}

.ncce-booking-list__stem-and-tc-emblems {
  display: grid;
  grid-template-columns: 0.4fr 1fr;
}
