.ncce-aside--bursary {
  .ncce-aside__title {
    background-image: url('../images/icons/icon-pound.svg');
    background-repeat: no-repeat;
    background-size: 1.05rem;
    padding-left: 1.7rem;
  }
}
