.ncce-courses__results-wrapper {
  padding: 0 0 30px 0;
}

.ncce-courses__hub-container {
  background-color: $foam;
  padding: 0;
  &--sticky {
    margin-top: 0;
    position: fixed;
    top: 0px;
    width: 100%;
  }
}

.ncce-courses__hub-wrapper {
  padding: 18px 0;
}

.ncce-courses__hub-heading {
  display: inline;
  font-weight: 100;
  @include govuk-media-query($from: tablet) {
    margin-right: 25px;
  }
}

.ncce-courses__hub-heading-name {
  font-weight: bold;
}
