.ncce-courses__results-wrapper {
  padding: 0 0 30px 0;

  /* This is to allow us to re-order the divs */
  @include govuk-media-query($from: desktop) {
    & > div:first-child {
      display: flex;
    }
  }
}

.ncce-courses__container {
  /* Override tablet dimensions to get the full width */
  @include govuk-media-query($until: desktop) {
    margin-right: max(15px, calc(15px + env(safe-area-inset-right)));
    margin-left: max(15px, calc(15px + env(safe-area-inset-left)));
  }
}

.ncce-courses__hub-container {
  background-color: $foam;
  margin-bottom: 15px;
}

.ncce-courses__hub-wrapper {
  padding: 18px 0;
  margin-bottom: 1rem;
}

.ncce-courses__hub-heading {
  padding-bottom: 0;
  display: inline;
  font-weight: 100;
  @include govuk-media-query($from: tablet) {
    margin-right: 25px;
  }
}

.ncce-courses__hub-heading-name {
  font-weight: bold;
}

.ncce-courses__filters-wrapper {
  /* This is to allow us to re-order the divs */
  order: 2;

  @include govuk-media-query($until: desktop) {
    padding: 0;
    top: 0;
  }

  /* Move the title inside the filter box on mobile */
  &-title--desktop {
    border-top-color: $orange;
    border-top-style: solid;
    border-top-width: 3px;
    padding-top: 1rem;
    margin-top: 2rem;

    @include govuk-media-query($until: desktop) {
      display: none;
    }
  }

  &-title--mobile {
    @include govuk-media-query($from: desktop) {
      display: none;
    }
  }
}
