.related-links-component {
  position: relative;
  background-color: $white;
  border-top: 3px solid $deep-cerulean;
  padding-top: 22px;

  > *:last-child {
    margin-bottom: 0;
  }

  .ncce-link {
    font-weight: bold;
    font-size: 18px;

    @include govuk-media-query($until: tablet) {
      font-size: 15px;
    }
  }

  @include govuk-media-query($until: tablet) {
    margin-top: 45px;
  }
}
