<div class="numeric-card">
  <div class="numeric-card__header">
    <div class="numeric-card__number">
      <h3 class="govuk-heading-l"><%= @number %>.</h3>
    </div>
    <div class="numeric-card__title">
      <h3 class="govuk-heading-m">
        <%= @title %>
      </h3>
    </div>
  </div>

  <div class="numeric-card__content">
    <%= render @text_content.render %>
  </div>
</div>