<div class="govuk-width-container">
  <div class="govuk-main-wrapper govuk-main-wrapper--xl">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column">
        <div class="govuk-grid-column-two-thirds">
          <h2 class="govuk-heading-l ncce-bursary__title">Support for A Level students and teachers
          </h2>
        </div>
        <div class="govuk-grid-column-two-thirds">
          <p class="govuk-body">The A-Level programme element of the National Centre for Computing Education will provide comprehensive support to teachers and students in England for AS/A level computer science. </p>
          
          <h3 class="govuk-heading-s">Platform</h3>
          <p class="govuk-body">The platform is being developed together with our partners at the University of Cambridge, building on the highly successful approach for Physics education, <a class="ncce-link__on-light" href="https://isaacphysics.org/" target="_blank">Isaac Physics</a>.</p>
          <p class="govuk-body">A range of resources will be available for A level computer science, including content for all major specifications, worked examples, and exam-style questions for students to solve. The material will include transitional pre-A level material as well as pre-university ‘stretch-and-challenge’ questions for students aiming to go on to university to study computer science. </p>
          <p class="govuk-body">Teachers will be able to set topic material and questions for their students directly on the website, cutting down workload. Students will be able to practise answering questions independently and receive automatic feedback on their answers.</p>
          <p class="govuk-body">The website will be available for use by both students and teachers from May 2019.</p>
          
          <h3 class="govuk-heading-s">Student Events</h3>
          <p class="govuk-body">A range of student workshops will be available to help students with specific topics in the curriculum, some aiming to demystify the topic, and others to provide extension material with support. There will also be larger events with inspirational speakers and activities to get students excited about computer science as a subject.</p>
          
          <h3 class="govuk-heading-s">Teacher Events</h3>
          <p class="govuk-body">To support teachers with both A Level Computer Science content and pedagogy we will be offering CPD for teachers around the country, starting with our full day training course on object-oriented programming, hosted in Cambridge.</p>
          <p class="govuk-body">We anticipate that the platform will also be useful to students studying vocational courses such as the BTEC Computer Science.</p>
          <p class="govuk-body"><a class="govuk-button ncce-button__pink" href="https://raspberrypifoundation.typeform.com/to/AXkVgI">Register your interest here for our A Level Programme and be the first to know about our new training and resources!</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
