<div class="govuk-width-container">
  <div class="govuk-main-wrapper govuk-main-wrapper--xl">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <h1 class='govuk-heading-l ncce-news-archive__title'>News & Updates</h1>
        <div class='ncce-news-archive'>
          <div class='ncce-news-archive__item'>
            <div class='ncce-news-archive__item-image'>
              <img src="/images/women-in-stem.jpg" alt="" class="ncce-news-and-updates__image"/>
            </div>
            <div class='ncce-news-archive__item-content'>
              <div class='ncce-news-archive__item-title'>
                <h4 class='govuk-heading-s'><%= link_to 'Raising awareness of women in STEM', women_in_stem_path, class: 'ncce-link ncce-link--heading' %></h4>
              </div>
              <div class='ncce-news-archive__item-description'>
                <p class="govuk-body">
                  Last week we celebrated International Day of Women and Girls in
                  Science, which prompted me to reflect on the experiences and factors that led me to study
                  STEM subjects at A level" - blog post by Claire Arbery
                </p>
              </div>
              <div class='ncce-news-archive__item-date'>
                <p class='govuk-body govuk-!-font-size-14'>22 February 2019</p>
              </div>
            </div>
          </div>
          <div class='ncce-news-archive__item'>
            <div class='ncce-news-archive__item-image'>
              <img src="/images/ncce-alevel-students.jpg" alt="Students with computers" class="ncce-news-and-updates__image ncce-news-archive__item-link"/>
            </div>
            <div class='ncce-news-archive__item-content'>
              <div class='ncce-news-archive__item-title'>
                <h4 class='govuk-heading-s'><%= link_to 'Support for A Level students and teachers', a_level_path, class: 'ncce-link ' %></h4>
              </div>
              <div class='ncce-news-archive__item-description'>
                <p class="govuk-body">
                  The A-Level programme element of the National Centre for Computing Education will provide comprehensive support to teachers and students in England for AS/A level computer science.
                </p>
              </div>
              <div class='ncce-news-archive__item-date'>
                <p class='govuk-body govuk-!-font-size-14'>23 January 2019</p>
              </div>
            </div>
          </div>
          <div class='ncce-news-archive__item'>
            <div class='ncce-news-archive__item-image'>
              <img src="/images/ncce-new-website.png" alt="Web page" class="ncce-news-and-updates__image ncce-news-archive__item-link"/>
            </div>
            <div class='ncce-news-archive__item-content'>
              <div class='ncce-news-archive__item-title'>
                <h4 class='govuk-heading-s'><%= link_to 'The National Centre for Computing Education website beta is live!', beta_launch_path, class: 'ncce-link ' %></h4>
              </div>
              <div class='ncce-news-archive__item-description'>
                <p class="govuk-body">
                Less than three months from the official announcement of the creation of the Centre, we have released our first major set of features to allow users to begin their journey with us.
                </p>
              </div>
              <div class='ncce-news-archive__item-date'>
                <p class='govuk-body govuk-!-font-size-14'>22 January 2019</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
