<div class="govuk-width-container">
  <div class="govuk-main-wrapper govuk-main-wrapper--xl">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column">
        <div class="govuk-grid-column-two-thirds">
          <h1 class="govuk-heading-l">Raising awareness of women in STEM</h1>
        </div>
        <div class="govuk-grid-column-two-thirds">
          <p class="govuk-body-s govuk-!-font-weight-bold">Posted 22nd February 2019 by Claire Arbery, GCSE Programme Manager for the National Centre for Computing Education</p>

          <p class="govuk-body-l">Last week we celebrated International Day of Women and Girls in
          Science, which prompted me to reflect on the experiences and factors that led me to study
          STEM subjects at A level.
          </p>
          <p class="govuk-body">Throughout my education, one of my biggest influencers has been the teachers who pushed me to try something harder, offered support when I failed and celebrated with me when I solved a difficult equation or task.
          </p>
          <p class="govuk-body">My love of science and maths was nurtured at an early age by my Primary School teacher. I was fortunate to grow up in rural Dorset, and one of our favourite experiences as a class of six and seven year olds was turning raw milk into butter (excellently demonstrated by the Wellcome Trust in their Explorify series) courtesy of my Dad’s dairy herd.
          </p>
          <p class="govuk-body">At secondary school my passion for maths and science was further developed by my teachers who explained concepts in different ways to help us understand and check our comprehension before moving on. Their support gave me the confidence to take Physics and Chemistry at GCSE, and Chemistry at A level.
          </p>
          <p class="govuk-body">So why share this with you? Recent research shows that girls are less likely to pursue STEM at A level, and when asked what they planned to study at A level, female pupils made up the minority of those naming STEM subjects. </p>
          <p class="govuk-body">To many, STEM subjects seem unattainable, despite our reliance on STEM skills in our daily lives. In my previous role as an Apprenticeship Manager, I had many conversations with apprentice hairdressers who as part of their framework “couldn’t do maths” or were “no good at science” and yet could mix up a 3% peroxide tint with their eyes closed (not recommended!) We need to redress the language of STEM and make it more accessible to all.</p>
          <p class="govuk-body">We all have a part to play, and I for one am delighted to be inspiring the next generation with the work of the National Centre for Computing Education (NCCE).
          </p>
          <p class="govuk-body">The NCCE supports teachers to enhance their computing knowledge, with significant funding for schools to upskill teachers in GCSE computer science if they do not hold a post A level qualification.  For those who trained in mathematics, PE, ICT and find themselves teaching Key Stage 3 computer science, our GCSE support programme could be just for you.
            </p>
          <p class="govuk-body">There are a wealth of factors which impact on curriculum selection in schools.  For example, Ofsted’s new framework will look for a balanced curriculum, providing school leaders with the opportunity to demonstrate that they are equipping their pupils with the digital skills required for the workplace. It is predicted that within 20 years 90% of all jobs will require some element of digital skills, and many young people currently starting out in school could end up in jobs that do not currently exist.
            </p>
          <p class="govuk-body">Head teachers face a difficult choice – managing their progress 8 “buckets” with the desire of the school to maybe attain the EBacc standards, leaving very little capacity in the timetable for subjects such as computer science within the current structure.
          </p>
          <p class="govuk-body">We all have the power to encourage our children, and question school leadership as to how they are equipping pupils to be prepared to address the challenges of the future. As International Day of Women and Girls in Science has shown, it’s key to illustrate to young people how STEM subjects are part of everyday life.  </p>
          <p class="govuk-body"> <%= link_to 'Find out more about the Computer Science Accelerator Programme', accelerator_path, class: 'ncce-link' %> </p>
          <p class="govuk-body">Looking for inspiration?
          </p>

          <ul class="govuk-list govuk-list--bullet">
            <li>International Women’s Day is taking place on 8 March</li>
            <li>National Careers Week is taking place wc 4 March</li>
          </ul>
          <p class="govuk-body">If you want to let us know what you’re doing to raise the profile of computing teaching for either of these awareness events, get in touch: <%= mail_to 'info@teachcomputing.org', 'info@teachcomputing.org', class: 'ncce-link' %>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
