.mixed-cards-component {
  margin-top: 2.75rem;
  padding-bottom: 1.375rem;


  @include govuk-media-query($from: tablet) {
    margin-top: 0;
    display: grid;
    grid-column-gap: 1rem;
    grid-row-gap: 1.5rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
  }

  @include govuk-media-query($from: desktop) {
    grid-template-columns: 1fr 1fr 1fr;
    padding-bottom: 3rem;
  }
}
