<div class="mixed-cards-component">
  <% @card_groups.each do |card_group| %>
    <% case card_group[:type] %>
    <% when :file %>
      <%= render FileCardComponent.with_collection(card_group[:cards], title: @title, tracking: @tracking) %>
    <% when :external_link %>
      <%= render ExternalLinkCardComponent.with_collection(card_group[:cards]) %>
    <% end %>
  <% end %>
</div>
