<div class="govuk-width-container">
  <div class="govuk-main-wrapper govuk-main-wrapper--xl">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column">
        <div class="govuk-grid-column-two-thirds">
          <h1 class="govuk-heading-l">Top computer scientist chosen to lead National Centre for Computing Education</h1>
          <p class="govuk-body-s">18 March 2019</p>
          <figure>
            <img src="/images/simon-peyton-jones.jpg" class="govuk-!-width-full" alt=""/>
            <figcaption class="govuk-body-s">Simon Peyton Jones</figcaption>
          </figure>
          <ul class="govuk-list govuk-list--bullet govuk-!-font-size-24">
            <li>Leading computer scientist Simon Peyton Jones appointed chair of new National Centre for Computing Education.</li>
            <li>Professor Peyton Jones will use his wealth of experience to lead the centre in championing and advancing standards of computing in schools.</li>
            <li>School Standards Minister Nick Gibb says the appointment reflects the Government’s drive to help pupils succeed in a dynamic economy.</li>
          </ul>
          <p class="govuk-body">One of Britain’s leading computer scientists from Microsoft Research has been appointed as chair of the new National Centre for Computing Education (NCCE), it can be announced today.</p>
          <p class="govuk-body">Simon Peyton Jones, who has achieved worldwide recognition for his work on programming language among other things, will lead the work of the centre as it improves the teaching of computing and drives up participation in computer science.</p>
          <p class="govuk-body">Professor Peyton Jones said:</p>
          <p class="govuk-body-l"><em>“The NCCE offers a once-in-a-generation opportunity to firmly establish computer science as a foundational subject discipline that will enable all our young people to be active participants in the complex digital world that surrounds them.”</em></p>
          <p class="govuk-body-l"><em>“I am delighted to have a role in translating the big vision of the new computing curriculum into a vibrant reality in every classroom in the country.”</em></p>
          <p class="govuk-body">As the chair of the NCCE, Professor Peyton Jones will uphold the integrity of computing as an academic discipline across all of the resources, guidance and professional development for teachers that the centre provides.</p>
          <p class="govuk-body">School Standards Minister Nick Gibb said: </p>
          <p class="govuk-body-l"><em>“This appointment reflects the Government’s determination to raise academic standards so that pupils have the knowledge and skills they need to succeed in our outward looking and dynamic economy.</em></p>
          <p class="govuk-body-l"><em>“Mr Peyton Jones brings incredible experience and expertise to this role. This will be vital in making sure the centre, which is backed by a consortium made up of some of the country’s most exciting tech organisations, is able to train teachers in the latest digital skills.”</em></p>
          <p class="govuk-body">The NCCE is working with schools across England to improve teaching of computing and to drive up participation in computer science at GCSE and A-Level.</p>
          <p class="govuk-body">A consortium made up of STEM Learning, British Computer Society (BCS) and the Raspberry Pi Foundation are delivering the work of the NCCE, backed by up to £84 million of government funding.</p>
          <p class="govuk-body">The NCCE will operate virtually through a national network of up to 40 school-led Computing Hubs to provide training and resources to primary and secondary schools, and an intensive training programme for secondary teachers without a post A-Level qualification in computer science. The centre will also develop an A level programme to better prepare A level students for further study and employment in digital roles.</p>
          <p class="govuk-body">The NCCE will work with the University of Cambridge, with a further £1 million investment from Google.</p>
          <h2 class="govuk-heading-s">Notes to editors:</h2>
          <p class="govuk-body">Professor Peyton Jones is a Fellow of the Royal Society. He is a Distinguished Fellow of the BCS, granted for his work to advance the development of computer science education in the UK. He is an Honorary Professor of the Computing Science Department at Glasgow University, where he was a professor in the 1990s, and he is currently a Principal Researcher at Microsoft Research.</p>
          <p class="govuk-body">He is also chair of Computing at School, the grassroots organisation that was at the centre of the 2014 reform of the computing curriculum, which has a membership of over 30,000 computing teachers and academics</p>
        </div>
      </div>
    </div>
  </div>
</div>
