.ncce-about__wrapper {
  padding: 3em 0;

  img {
    width: 100%;
    @include govuk-media-query($from: desktop) {
      display: block;
      height: 100%;
    }
  }
}

.resource-cards {
  @include govuk-media-query($from: desktop) {
    column-gap: 36px;
    grid-template-columns: 1fr 1fr 1fr !important;
  }

  .page-card-component--card {
    box-shadow: none;
    padding: 0;
  }
}

.programme-cards {
  .primary-certificate {
    border-top: solid 9px $primary-cert-color;
  }

  .secondary-certificate {
    border-top: solid 9px $secondary-cert-color;
  }
}
