.ncce-about__wrapper img {
  width: 100%;

  @include govuk-media-query($until: tablet) {
    padding-bottom: 1.5em;
  }

  @include govuk-media-query($from: desktop) {
    display: block;
    height: 100%;
  }
}

.ncce-about__wrapper {
  .govuk-body, .govuk-body-l {
    margin-bottom: 0;
  }
}
