.curriculum__title {
  font-weight: 400;
  line-height: 1.75rem;
}

.curriculum__line {
  border: 0.0625rem solid $concrete;
  margin-bottom: 1.625rem;
}

.curriculum__list--item {
  background-color: $concrete;
  border-left-color: $lime-green;
  border-left-style: solid;
  border-left-width: 0.5625rem;
  font-weight: 500;
  margin-bottom: 1rem !important;
  padding: 1.3rem;
}

.curriculum__list--item-with-download {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;

  @include govuk-media-query($from: desktop) {
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
  }
}

.curriculum__list--item-green {
  border-left-color: $lime-green;
}


.curriculum__list--item-purple {
  border-left-color: $tapestry;
}

.curriculum__list--item-orange {
  border-left-color: $jaffa;
}

.resources__wrapper {
  padding-top: 3.125rem;
}

.lesson-download-button {
  white-space: nowrap;
}

.lesson-download-button__meta-data {
  font-size: 16px;
  font-weight: normal;
}

.curriculum__label {
  background-color: $grey-dark-x;
  color: $white;
  font-weight: bold;
  margin: 0;
  padding: 0.3rem 0.675rem;
  width: fit-content;
  width: -moz-fit-content;
  @include govuk-media-query($from: desktop) {
    padding: 0.5rem 1rem;
  }
}

.rating_page {
  display: none;
  width: 100%;

  .row {
    flex: 1 0 auto;
  }

  @include govuk-media-query($from: tablet) {
    flex-direction: column;
  }

  @include govuk-media-query($from: desktop) {
    flex-direction: row;
  }
}

.rating_page.row {
  margin-bottom: 0;
}

.rating_page--rows {
  flex-direction: column;
}

.rating_page--current {
  display: flex;
}

.curriculum__rating {
  align-items: center;
  background-color: $foam;
  display: flex;
  height: 100%;
  justify-content: space-between;
  margin-bottom: 50px;
  min-height: 3rem;
  padding: 1rem;

  textarea {
    height: 6rem;
    margin: 0.6rem 0;
  }

  img {
    width: auto !important;
  }
}

.curriculum__rating-choices {
  background-color: $light-blue;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 24px;
  padding-bottom: 24px;
  margin-bottom: 20px;
  text-align: left !important;
}

.curriculum__rating-choices--padding {
  padding-bottom: 24px;
  margin-bottom: 0px;
}



.curriculum__rating--text {
  margin: 0;

  @include govuk-media-query($from: tablet) {
    text-align: center;
  }

  @include govuk-media-query($from: desktop) {
    text-align: left;
  }
}

.curriculum__rating--text.row {
  text-align: center;
  margin: 0;
}

.curriculum__rating--text-only {
  text-align: center;
  margin: 0;
  width: 100%;
}

.curriculum__rating--thumb {
  cursor: pointer;
  width: auto;
  margin: 0.1rem 0 0 0;
  flex: 1 0 auto;
  text-align: center;

  a {
    transition: all 0.2s ease-in-out;
  }

  a:hover {
    transform: scale(1.2);
  }

  @include govuk-media-query($from: tablet) {
    margin-top: 0.5rem;
  }

  @include govuk-media-query($from: desktop) {
    margin-top: 0.3rem;
  }
}

.curriculum__rating--thumb-up {
  margin-right: 1.7rem;

  @include govuk-media-query($from: tablet) {
    margin-right: 3.6rem;
  }

  @include govuk-media-query($from: desktop) {
    margin-right: 0.8rem;
  }
}

.curriculum__rating--thumb-up:hover {
  filter: brightness(45%);
}

.curriculum__rating--thumb-down:hover {
  filter: brightness(45%);
}

@media screen and (prefers-reduced-motion: reduce) {
  .curriculum__rating--thumb {
    transform: none;
  }

  .curriculum__rating--thumb:hover {
    transform: none;
  }
}

.curriculum__breadcrumb {
  padding-top: 20px;
  margin-bottom: 0;
}
