.ncce-enrichment {
  &-this-term {
    background-color: $purple-dark;
    color: $white;
    width: fit-content;
    padding: 1px 0.81rem;
    margin-bottom: 0;
  }

  &-no-this-term {
    height: 29px;
    width: 10px;
  }

  &-cards {
    display: grid;
    @include govuk-media-query($from: desktop) {
      grid-template-columns: 1fr 1fr;
    }
    gap: 1.25rem 2.5rem;
  }

  &-card {
    background-color: $light-blue;
    padding: 0.63rem;

    &--entries {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
    }

    &--entry {
      background-color: white;
      padding: 0.63rem;
      display: flex;
      align-items: center;

      > div {
        flex-grow: 1;

        > p {
          margin-bottom: 0;
        }
      }

      @include govuk-media-query($until: tablet) {
        a img {
          display: none;
          width: 100px;
        }
      }

      a img {
        width: 100px;
      }
    }

    &--coming-soon {
      background-color: white;
      padding: 0.63rem;

      p {
        margin-bottom: 0;
      }
    }
  }
}

.ambassador-banner {
  position: relative;

    @include govuk-media-query($from: tablet) {
      
      &:before {
        position: absolute;
        bottom: 0;
        left: 0;
        height: 282px;
        width: 280px;
        content: '';
        display: block;
        background-image: url('../images/pages/enrichment/banner-flourish.svg');

    }
  }
  &__image {
    width: 100%;
    margin: 0 auto;
    aspect-ratio: 1 / 1;
    object-fit: cover;
  }
  .govuk-grid-row {
    margin-left: -24px;
    margin-right: -24px;
  }
  .govuk-grid-column-one-third, .govuk-grid-column-two-thirds {
    padding-left: 24px;
    padding-right: 24px;
    
  }

  @include govuk-media-query($until: tablet) {
    .govuk-grid-column-one-third {
      margin-bottom: 24px;
    }
  }
}