.ncce-news__item-image {
  width: 100%;
}
.ncce-news__item-content {
  display: block;
}
.ncce-news-archive {
  display: grid;
  grid-template-columns: auto;
  grid-gap: 2rem;
}

.ncce-news-archive__title {
  margin-bottom: 3rem;
}

.ncce-news-archive__item-date {
  text-transform: uppercase;
  font-weight: 700;
  font-family: 'DM Sans', sans-serif;
  p {
    font-weight: 700;
  }
}

.ncce-news-archive__item {
  display: grid;
  grid-template-columns: auto;
  grid-gap: 1.5rem;

  @include govuk-media-query($from: tablet) {
    grid-template-columns: 35% auto;
  }
}

.ncce-news-archive__item-image {
  width: 100%;
}

.ncce-news-archive__item-content {
  display: block;
}
.ncce-news-archive__item-title {
  .govuk-heading-s {
    margin-bottom: 0.7rem;
    .ncce-link {
      &:focus {
        background-color: transparent;
        border: 0;
        outline: 0;
        box-shadow: none;
      }
    }
  }
}
