.padded-box {
  margin: 50px 0;
  padding: 1rem 1rem 0.2rem;
  @include govuk-media-query($from: tablet) {
    margin: 0;
    padding: 1.5rem 1.5rem 0.5rem;
  }
  img,
  video {
    width: 100%;
    margin-bottom: 20px;
  }
}

.padded-box__title {
  font-weight: 500;
  line-height: 1.5625rem;
  margin-bottom: 1.2rem !important;

  @include govuk-media-query($from: desktop) {
    margin-bottom: 1.5rem !important;
  }
}

.padded-box--resources {
  padding: 1.5rem 1rem 1rem 2rem;

  @include govuk-media-query($from: tablet) {
    margin-top: 2.2rem;
    padding: 2rem 2rem 1rem 2rem;
  }
}

.padded-box--button {
  margin-bottom: 1.5rem;
}
