.ways_to_teach__title {
  background-repeat: no-repeat;
  background-size: 1.6rem;
  padding-left: 2em !important;
  padding-top: 0.35em;
  padding-bottom: 0.5em;
  margin: 0;

  @include govuk-media-query($from: tablet) {
    background-size: 1.8rem;
    padding-left: 2em !important;
    padding-top: 0;
  }
}
