.communities--computing_hubs {
    background-color: #017FA2;
}

.communities--stem-community {
    background-color: #282826;
}

.communities-cas-communities-of-practice {
    background-color: #5A9F9A;
}