---
http_interactions:
- request:
    method: get
    uri: https://lticourses-api.sandbox.futurelearn.com/partners/course_runs
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer eyJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJuY2NlLnRlc3QiLCJpYXQiOjE2MDEwMzkyODUsImV4cCI6MTYwMTAzOTg4NX0.O-Uj2JGRp_ci9Sm4ZNryVyNS_fh4DoNJEKbmeYIE8kc
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"846f6ce233693b19308dcb3d4a984bb4"
    body:
      encoding: UTF-8
      string: '[{"uuid":"545ba924-9e73-4a30-bd54-4fb7dee8b913","href":"https://lticourses-api.sandbox.futurelearn.com/partners/course_runs/545ba924-9e73-4a30-bd54-4fb7dee8b913","title":"Scratch
        to Python: Moving from Block- to Text-based Programming","full_code":null,"code":null,"start_time":"2019-03-04T00:00:00.000Z","weeks_count":4,"course":{"uuid":"3ce9a624-6cc7-4d23-8f5f-95162e360178","href":"https://lticourses-api.sandbox.futurelearn.com/partners/courses/3ce9a624-6cc7-4d23-8f5f-95162e360178"}},{"uuid":"8211e508-40ac-44d3-b4e5-a42f5e8fb0bb","href":"https://lticourses-api.sandbox.futurelearn.com/partners/course_runs/8211e508-40ac-44d3-b4e5-a42f5e8fb0bb","title":"Programming
        102: Think Like a Computer Scientist","full_code":null,"code":null,"start_time":"2019-01-21T00:00:00.000Z","weeks_count":4,"course":{"uuid":"d9fe6126-2[...]
