---
http_interactions:
- request:
    method: get
    uri: https://lticourses-api.sandbox.futurelearn.com/partners/course_runs/545ba924-9e73-4a30-bd54-4fb7dee8b913
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer eyJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJuY2NlLnRlc3QiLCJpYXQiOjE2MDE2NTA4ODgsImV4cCI6MTYwMTY1MTc4OH0.gi3HD7v4A9aWY12f8JpdXUQz8PZfw0kWPy_RMQ2FWaQ
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"25aae51ecc37af27b5225cd372591d32"
    body:
      encoding: UTF-8
      string: '{"uuid":"545ba924-9e73-4a30-bd54-4fb7dee8b913","href":"https://lticourses-api.sandbox.futurelearn.com/partners/course_runs/545ba924-9e73-4a30-bd54-4fb7dee8b913","title":"Scratch
        to Python: Moving from Block- to Text-based Programming","full_code":null,"code":null,"start_time":"2019-03-04T00:00:00.000Z","weeks_count":4,"course":{"uuid":"3ce9a624-6cc7-4d23-8f5f-95162e360178","href":"https://lticourses-api.sandbox.futurelearn.com/partners/courses/3ce9a624-6cc7-4d23-8f5f-95162e360178"}}'
  recorded_at: Fri, 02 Oct 2020 15:01:28 GMT
recorded_with: VCR 6.0.0
