<div class="resources-aside">
  <h4 class="govuk-heading-s resources-aside__title">Package contents
  </h4>
  <ul class="govuk-list" arial-role="list">
    <li>Lesson plans</li>
    <li>Learning graphs</li>
    <li>Unit overviews</li>
    <li>Activities</li>
    <% unless year <= 2 %>
      <li>Assessments</li>
      <li>Homework</li>
    <% end %>
  </ul>
  <p class="govuk-body">
  <% if live %>
    <%= link_to_if current_user, "Access year #{year} resources", resources_redirect_path(redirect_url: URI.encode_www_form_component(resource_url), year: year), class: 'govuk-button button--aside', role: 'button', draggable: 'false' do
        link_to 'Log in to access', "#{auth_url}?source_uri=#{request.original_fullpath}#year-#{year}", method: :post, class: 'govuk-button button--aside', role: 'button', draggable: 'false'
    end %>
  <% else %>
    <%= button_to 'Coming soon', '#', class: 'govuk-button button--aside', role: 'button', draggable: 'false', disabled: true %>
  <% end %>
  </p>
</div>
