<div class="resources-year">
  <h3 id="year-10-11" class="govuk-heading-m resources-year__heading">Years 10 &
    11
  </h3>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <ul class="govuk-list resources-year__lesson-list" aria-role="list">
				<li>
          <h4 class="govuk-heading-s resources-year__title">IT Project Management</h4>
          <p class="govuk-body">Project management has numerous transferable skills for learners, from simple time management to structured project management techniques. These skills will be invaluable for learners in their future careers. It will support team building, enable learners to become more organised, and allow them to reflect on any work completed.</p>
        </li>
				<li>
          <h4 class="govuk-heading-s resources-year__title">Data Representations</h4>
          <p class="govuk-body">This unit allows learners to gain the understanding and skills required for the data representation sections of the GCSE computer science exam. First, learners look at binary and hexadecimal numbering systems, how they work, and how to convert between bases. Then, learners explore different coding systems and find out how text, images, and sound are represented in computers. All lessons include worksheets to allow learners to explore each topic through practical application.</p>
        </li>
        <li>
          <h4 class="govuk-heading-s resources-year__title">IT and the World of
            Work</h4>
          <p class="govuk-body">The world of work has been transformed by the
            use of information technologies. Learners must be able to identify
            how the modern structure of the workplace will impact their future
            lives. This unit will facilitate a deeper comprehension of the
            methods employed by organisations and the impact the use of IT in
            the working environment has on all stakeholders.</p>
        </li>
        <li>
          <h4 class="govuk-heading-s resources-year__title">Networks</h4>
          <p class="govuk-body">This unit guides learners to gain an
            understanding of computer networks as required for GCSE Computer
            Science. It starts by defining what networks are and where we find
            them in our modern world. Then, learners look at the hardware
            involved in creating networks. In this unit, you will use Raspberry
            Pi computers to create a network and demonstrate to learners how
            data is shared across networks.</p>
        </li>
        <li>
          <h4 class="govuk-heading-s resources-year__title">Security</h4>
          <p class="govuk-body">This unit enables students to gain knowledge and
            understanding of the range of cybersecurity threats impacting the
            world, our organisations, as well as us as individuals. Learners
            will explore security measures that can be put in place to protect
            networks and your data against different forms of automated and
            non-automated forms of attack. Once they have understood the impact
            of cybercrime, they will be inspired to be part of the solution,
            when they learn about the potential for lucrative and fulfilling
            careers in cybersecurity.</p>
        </li>
        <li>
          <h4 class="govuk-heading-s resources-year__title">Spreadsheets</h4>
          <p class="govuk-body">In this unit, learners will gain an
            understanding and knowledge of how to use spreadsheets to store and
            manipulate data, how to use common functions, and how to extract
            data to create visual representations using charts. Learners will
            use spreadsheets to track and calculate income, make predictions,
            and answer “what if…?” questions. It is assumed that learners have
            had some experience of spreadsheets at KS3 level and therefore know
            how to use cell references, fill colours, and borders, and are
            familiar with the basic functions, e.g. SUM, AVERAGE, MAX, and MIN.
          </p>
        </li>
        <li>
          <h4 class="govuk-heading-s resources-year__title">Online Safety</h4>
          <p class="govuk-body">
            As most learners will already have some form of online presence and
            familiarity with online spaces, the purpose of this unit is for them
            to start thinking more critically about how they, and others, conduct
            themselves online. Learners will also be asked to discuss key debates
            around the online world, such as the extent of their right to privacy,
            and which powers should be granted to organisations and states. As
            much as possible, learners should be encouraged to develop their own
            ideas and opinions in order to become engaged citizens when it comes
            to online rights.
          </p>
        </li>
      </ul>
    </div>
    <div class="govuk-grid-column-one-third">
      <%= render 'aside', year: '10 & 11', resource_url: 'https://ncce.io/ks4', live: true %>
    </div>
  </div>
</div>
