<div class="resources-year">
  <h3 id="year-6" class="govuk-heading-m resources-year__heading">Year 6</h3>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <ul class="govuk-list resources-year__lesson-list" aria-role="list">
				<li>
          <h4 class="govuk-heading-s resources-year__title">Creating media – Web page creation</h4>
          <p class="govuk-body">This unit introduces learners to the creation of websites for a chosen purpose. Learners identify what makes a good web page and use this information to design and evaluate their own website using Google Sites. Throughout the process learners pay specific attention to copyright and fair use of media, the aesthetics of the site, and navigation paths.</p>
        </li>
        <li>
          <h4 class="govuk-heading-s resources-year__title">Computing systems and networks – Communication</h4>
          <p class="govuk-body">In this unit, the class will learn about the World Wide Web as a communication tool. First, they will learn how we find information on the World Wide Web, through learning how search engines work (including how they select and rank results) and what influences searching, and through comparing different search engines. They will then investigate different methods of communication, before focusing on internet-based communication. Finally, they will evaluate which methods of internet communication to use for particular purposes.</p>
        </li>
      </ul>
    </div>
    <div class="govuk-grid-column-one-third">
      <%= render 'aside', year: 6, resource_url: 'https://ncce.io/Year6', live: true %>
    </div>
  </div>
</div>
