<div class="resources-year">
  <h3 id="year-3" class="govuk-heading-m resources-year__heading">Year 3</h3>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <ul class="govuk-list resources-year__lesson-list" aria-role="list">
        <li>
          <h4 class="govuk-heading-s resources-year__title">Computing Systems
            and Networks – Connecting Computers</h4>
          <p class="govuk-body">Challenge your learners to develop their
            understanding of digital devices, with an initial focus on inputs,
            processes, and outputs. Start by comparing digital and non-digital
            devices, before introducing them to computer networks that include
            network infrastructure devices like routers and switches.</p>
        </li>
        <li>
          <h4 class="govuk-heading-s resources-year__title">Creating media – Desktop publishing</h4>
          <p class="govuk-body">During this unit, learners will become familiar with the terms ‘text’ and ‘images’ and understand that they can be used to communicate messages. They will use desktop publishing software and consider careful choices of font size, colour and type to edit and improve premade documents. Learners will be introduced to the terms ‘templates’, ‘orientation’, and ‘placeholders’ and begin to understand how these can support them in making their own template for a magazine front cover. They will start to add text and images to create their own pieces of work using desktop publishing software. Learners will look at a range of page layouts thinking carefully about the purpose of these and evaluate how and why desktop publishing is used in the real world.</p>
        </li>
        <li>
          <h4 class="govuk-heading-s resources-year__title">Creating Media –
            Stop frame animation</h4>
          <p class="govuk-body">During this unit, learners will use a range of
            techniques to create a stop frame animation using tablets. Next,
            they will apply those skills to create a story-based animation. This
            unit will conclude with learners adding other types of media to
            their animation, such as music and text.</p>
        </li>
      </ul>
    </div>
    <div class="govuk-grid-column-one-third">
      <%= render 'aside', year: 3, resource_url: 'https://ncce.io/Year3', live: true %>
    </div>
  </div>
</div>
