<div class="resources-year">
  <h3 id="year-1" class="govuk-heading-m resources-year__heading">Year 1</h3>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <ul class="govuk-list resources-year__lesson-list" aria-role="list">
				<li>
          <h4 class="govuk-heading-s resources-year__title">Programming A – Moving a robot</h4>
          <p class="govuk-body">This unit introduces learners to early programming concepts. Learners will explore using individual commands, both with other learners and as part of a computer program. They will identify what each floor robot command does and use that knowledge to start predicting the outcome of programs. The unit is paced to ensure time is spent on all aspects of programming and builds knowledge in a structured manner. Learners are also introduced to the early stages of program design through the introduction of algorithms.</p>
        </li>
        <li>
          <h4 class="govuk-heading-s resources-year__title">Computing Systems
            and Networks – Technology Around Us</h4>
          <p class="govuk-body">Develop your learners’ understanding of
            technology and how it can help them. They will become more familiar
            with the different components of a computer by developing their
            keyboard and mouse skills, and also start to consider how to use
            technology responsibly.</p>
        </li>
        <li>
          <h4 class="govuk-heading-s resources-year__title">Creating Media –
            Digital Painting</h4>
          <p class="govuk-body">Explore the world of digital art and its
            exciting range of creative tools with your learners. Empower them to
            create their own paintings, while getting inspiration from a range
            of other artists. Conclude by asking them to consider their
            preferences when painting with, and without, the use of digital
            devices.</p>
        </li>
        <li>
          <h4 class="govuk-heading-s resources-year__title">Creating Media –
            Digital Writing</h4>
          <p class="govuk-body">Promote your learners’ understanding of the
            various aspects of using a computer to create and change text.
            Learners will familiarise themselves with typing on a keyboard and
            begin using tools to change the look of their writing, and then they
            will consider the differences between using a computer and writing
            on paper to create text.</p>
        </li>
      </ul>
    </div>
    <div class="govuk-grid-column-one-third">
      <%= render 'aside', year: 1, resource_url: 'https://ncce.io/Year1', live: true %>
    </div>
  </div>
</div>
