<div class="resources-year">
  <h3 id="year-9" class="govuk-heading-m resources-year__heading">Year 9</h3>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <ul class="govuk-list resources-year__lesson-list" aria-role="list">
				<li>
          <h4 class="govuk-heading-s resources-year__title">Python programming with sequences of data</h4>
          <p class="govuk-body">This unit introduces learners to how data can be represented and processed in sequences, such as lists and strings. The lessons cover a spectrum of operations on sequences of data, that range from accessing an individual element to manipulating the entire sequence. Great care has been taken so that the selection of problems used in the programming tasks are realistic and engaging: learners will process solar system planets, book texts, capital cities, leaked passwords, word dictionaries, ECG data, and more.</p>
					<p class="govuk-body">A range of pedagogical tools are employed throughout the unit, with the most prominent being pair programming, live coding, and worked examples.
					The Year 7 and 8 Programming units are prerequisites for this unit. It is assumed that learners are already able to write Python programs that display messages, receive keyboard input, use simple arithmetic expressions, and control the flow of program execution through selection and iteration structures.</p>
        </li>
				<li>
          <h4 class="govuk-heading-s resources-year__title">Cybersecurity</h4>
          <p class="govuk-body">This unit takes learners on a journey of discovery of techniques that cybercriminals use to steal data, disrupt systems, and infiltrate networks. The learners will start by considering the value their data holds and what organisations might use it for. They will then learn about social engineering and other common cybercrimes, and finally look at methods to protect against these attacks.</p>
        </li>
        <li>
          <h4 class="govuk-heading-s resources-year__title">Representations: going audiovisual</h4>
          <p class="govuk-body">In this unit, learners will focus on making
            digital media such as images and sounds, and discover how media is
            stored as binary code. You will draw on familiar examples of
            composing images out of individual elements, mix elementary colours
            to produce new ones, take samples of analogue signals to illustrate
            these ideas, and then bring all these things together to form one
            coherent narrative. The unit has a significant practical aspect; you
            will use design software (GIMP and Audacity in this case) to
            manipulate images and sounds. This will help you to understand how
            the underlying principles of digital representations are applied in
            real settings.</p>
        </li>
      </ul>
    </div>
    <div class="govuk-grid-column-one-third">
      <%= render 'aside', year: 9, resource_url: 'https://ncce.io/Year9', live: true %>
    </div>
  </div>
</div>
