<div class="resources-year">
  <h3 id="year-9" class="govuk-heading-m resources-year__heading">Year 9</h3>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <ul class="govuk-list resources-year__lesson-list" aria-role="list">
        <li>
          <h4 class="govuk-heading-s resources-year__title">Data Representation:
            Going audiovisual</h4>
          <p class="govuk-body">In this unit, learners will focus on making
            digital media such as images and sounds, and discover how media is
            stored as binary code. You will draw on familiar examples of
            composing images out of individual elements, mix elementary colours
            to produce new ones, take samples of analogue signals to illustrate
            these ideas, and then bring all these things together to form one
            coherent narrative. The unit has a significant practical aspect; you
            will use design software (GIMP and Audacity in this case) to
            manipulate images and sounds. This will help you to understand how
            the underlying principles of digital representations are applied in
            real settings.</p>
        </li>
      </ul>
    </div>
    <div class="govuk-grid-column-one-third">
      <%= render 'aside', year: 9, resource_url: 'https://ncce.io/Year9', live: true %>
    </div>
  </div>
</div>
