<div class="resources-year">
  <h3 id="year-4" class="govuk-heading-m resources-year__heading">Year 4</h3>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <ul class="govuk-list resources-year__lesson-list" aria-role="list">
        <li>
          <h4 class="govuk-heading-s resources-year__title">Computing systems
            and networks – The internet</h4>
          <p class="govuk-body">During this unit learners will apply their
            knowledge and understanding of networks, to appreciate the internet
            as a network of networks which need to be kept secure. They will
            learn that the World Wide Web is part of the internet, and be given
            opportunities to explore the World Wide Web for themselves to learn
            about who owns content and what they can access, add, and create.
            Finally they will evaluate online content to decide how honest,
            accurate, or reliable it is, and understand the consequences of
            false information.</p>
        </li>
        <li>
          <h4 class="govuk-heading-s resources-year__title">Creating media –
            Audio editing</h4>
          <p class="govuk-body">In this unit, learners will initially examine
            devices capable of recording digital audio, which will include
            identifying the input device (microphone) and output devices
            (speaker or headphones) if available. Learners will discuss the
            ownership of digital audio and the copyright implications of
            duplicating the work of others. In order to record audio themselves,
            learners will use Audacity to produce a podcast, which will include
            editing their work, adding multiple tracks, and opening and saving
            the audio files. Finally, learners will evaluate their work and give
            feedback to their peers.</p>
        </li>
        <li>
          <h4 class="govuk-heading-s resources-year__title">Creating media –
            Photo editing</h4>
          <p class="govuk-body">In this unit, learners will develop their
            understanding of how digital images can be changed and edited, and
            how they can then be resaved and reused. They will consider the
            impact that editing images can have, and evaluate the effectiveness
            of their choices.</p>
        </li>
      </ul>
    </div>
    <div class="govuk-grid-column-one-third">
      <%= render 'aside', year: 4, resource_url: 'https://ncce.io/Year4', live: true %>
    </div>
  </div>
</div>
