<div class="resources-year">
  <h3 id="year-4" class="govuk-heading-m resources-year__heading">Year 4</h3>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column">
      <div class="govuk-grid-column-two-thirds">
        <ul class="govuk-list resources-year__lesson-list" aria-role="list">
          <li>
            <h4 class="govuk-heading-s resources-year__title">Creating media – Photo editing</h4>
            <p class="govuk-body">In this unit, learners will develop their understanding of how digital images can be changed and edited, and how they can then be resaved and reused. They will consider the impact that editing images can have, and evaluate the effectiveness of their choices.</p>
          </li>
        </ul>
      </div>
      <div class="govuk-grid-column-one-third">
        <%= render 'aside', year: 4, resource_url: 'https://ncce.io/Year4', live: true %>
      </div>
    </div>
  </div>
</div>
