<div class="resources-year">
  <h3 id="year-2" class="govuk-heading-m resources-year__heading">Year 2</h3>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column">
      <div class="govuk-grid-column-two-thirds">
        <ul class="govuk-list resources-year__lesson-list" aria-role="list">
          <li>
            <h4 class="govuk-heading-s resources-year__title">Computing Systems and Networks – Information Technology Around Us</h4>
            <p class="govuk-body">How is information technology (IT) being used for good in our lives? With an initial focus on IT in the home, learners explore how IT benefits society in places such as shops, libraries, and hospitals. Whilst discussing the responsible use of technology, and how to make smart choices when using it.</p>
          </li>
          <li>
            <h4 class="govuk-heading-s resources-year__title">Creating Media - Making Music</h4>
            <p class="govuk-body">Learners will explore how music can make them think and feel. They will make patterns and use those patterns to make music with both percussion instruments and digital tools. They will also create different rhythms and tunes, using the movement of animals for inspiration. Finally, learners will share their creations and compare creating music digitally and non-digitally.</p>
          </li>
        </ul>
      </div>
      <div class="govuk-grid-column-one-third">
        <%= render 'aside', year: 2, resource_url: 'https://ncce.io/Year2', live: true %>
      </div>
    </div>
  </div>
</div>
