<div class="resources-year">
  <h3 id="year-5" class="govuk-heading-m resources-year__heading">Year 5</h3>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column">
      <div class="govuk-grid-column-two-thirds">
        <ul class="govuk-list resources-year__lesson-list" aria-role="list">
          <li>
            <h4 class="govuk-heading-s resources-year__title">Computing systems and networks – Sharing information</h4>
            <p class="govuk-body">In this unit, learners will develop their understanding of computer systems and how information is transferred between systems and devices. Learners will consider small-scale systems as well as large-scale systems. They will explain the input, output, and process aspects of a variety of different real-world systems. Learners will also take part in a collaborative online project with other class members and develop their skills in working together online.</p>
          </li>
        </ul>
      </div>
      <div class="govuk-grid-column-one-third">
        <%= render 'aside', year: 5, resource_url: 'https://ncce.io/Year5', live: true %>
      </div>
    </div>
  </div>
</div>
