<div class="resources-year">
  <h3 id="year-7" class="govuk-heading-m resources-year__heading">Year 7</h3>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column">
      <div class="govuk-grid-column-two-thirds">
        <ul class="govuk-list resources-year__lesson-list" aria-role="list">
          <li>
            <h4 class="govuk-heading-s resources-year__title">Impact of Technology – Collaborating Online Respectfully</h4>
            <p class="govuk-body">A primer for learners on how to use the school network appropriately. This unit builds in time for teacher-led discussions on why appropriate usage is important, as well as allowing for opportunities to highlight online safety issues.</p>
          </li>
          <li>
            <h4 class="govuk-heading-s resources-year__title">Using Media – Gaining Support for a Cause</h4>
            <p class="govuk-body">Do you want your learners to change the world? Here’s a good place to start. They will develop a deeper understanding of information technology and digital literacy by using their skills across the unit to create a blog post about a real world cause that they are passionate about and would like to gain support for.</p>
          </li>
          <li>
            <h4 class="govuk-heading-s resources-year__title">Modelling Data – Spreadsheets</h4>
            <p class="govuk-body">Introduce your learners to the wonderful world of spreadsheets and the concept of cell referencing. Ask them to collect, analyse, and manipulate data, before turning it into graphs and charts. Data is beautiful!</p>
          </li>
           <li>
            <h4 class="govuk-heading-s resources-year__title">Networks</h4>
            <p class="govuk-body"> Imagine a world without computer networks: there would be no more YouTube, Google, instant messaging, online video gaming, Netflix, and iTunes; no online shopping; no file sharing; and no central backups of information. This unit begins by defining a network and addressing the benefits of networking, before covering how data is transmitted across networks using protocols.</p>
          </li>
          <li>
            <h4 class="govuk-heading-s resources-year__title">Programming</h4>
            <p class="govuk-body">Coming soon.</p>
          </li>
        </ul>
      </div>
      <div class="govuk-grid-column-one-third">
        <%= render 'aside', year: 7, resource_url: 'https://ncce.io/Year7', live: true %>
      </div>
    </div>
  </div>
</div>
