<div class="resources-year">
  <h3 id="year-8" class="govuk-heading-m resources-year__heading">Year 8</h3>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column">
      <div class="govuk-grid-column-two-thirds">
        <ul class="govuk-list resources-year__lesson-list" aria-role="list">
          <li>
            <h4 class="govuk-heading-s resources-year__title">Representations: from clay to silicon</h4>
            <p class="govuk-body">Humans use symbols to record, process and transmit information. Introduce binary digits to your learners as the symbols computers use to perform these tasks and focus on the representation of text and numbers.</p>
          </li>
        </ul>
      </div>
      <div class="govuk-grid-column-one-third">
        <%= render 'aside', year: 8, resource_url: 'https://ncce.io/Year8', live: true %>
      </div>
    </div>
  </div>
</div>
