<div class="resources-year">
  <h3 id="year-10-11" class="govuk-heading-m resources-year__heading">Years 10 & 11
  </h3>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <ul class="govuk-list resources-year__lesson-list" aria-role="list">
        <li>
          <h4 class="govuk-heading-s resources-year__title">IT and the World of
            Work</h4>
          <p class="govuk-body">The world of work has been transformed by the
            use of information technologies. Learners must be able to identify
            how the modern structure of the workplace will impact their future
            lives. This unit will facilitate a deeper comprehension of the
            methods employed by organisations and the impact the use of IT in
            the working environment has on all stakeholders.</p>
        </li>
        <li>
          <h4 class="govuk-heading-s resources-year__title">Networks</h4>
          <p class="govuk-body">This unit guides learners to gain an
            understanding of computer networks as required for GCSE Computer
            Science. It starts by defining what networks are and where we find
            them in our modern world. Then, learners look at the hardware
            involved in creating networks. In this unit, you will use Raspberry
            Pi computers to create a network and demonstrate to learners how
            data is shared across networks.</p>
        </li>
      </ul>
    </div>
    <div class="govuk-grid-column-one-third">
      <%= render 'aside', year: '10 & 11', resource_url: 'http://ncce.io/ks4', live: true %>
    </div>
  </div>
</div>
