<div class="dashboard-certificate">
  <div class="dashboard-certificate__content">
    <div class="dashboard-certificate__icon"></div>
    <h2 class="dashboard-certificate__title govuk-heading-m govuk-!-margin-bottom-0"><%= title %></h2>
  </div>
  <div class="dashboard-certificate__button">
    <a class="govuk-button button ncce-button govuk-!-margin-bottom-0" href="<%= programme.path %>">
      <%= @button_text %>
    </a>
  </div>
</div>
