$individual-achievement: "../images/icons/individual-achievement.svg";
$school-achievement: "../images/icons/school-achievement.svg";

.dashboard-certificate {
  display: flex;
  background-color: $white;
  margin-bottom: 20px;
  padding: 14px;
  justify-content: space-between;
  align-items: center;

  @include govuk-media-query($until: desktop) {
    flex-direction: column;
    align-items: flex-start;
  }

  &--orange-ribbon {
    border-left: 10px solid $orange;
  }

  &--green-ribbon {
    border-left: 10px solid $lime-green;
  }

  &__content {
    display: flex;
    align-items: center;

    @include govuk-media-query($until: desktop) {
      margin-bottom: 0;
      padding: 6px 0 10px 0;
    }
  }

  &__icon--individual,
  &__icon--school {
    background-repeat: no-repeat;
    width: 23px;
    height: 23px;
  }

  &__icon--individual {
    background-image: url($individual-achievement);
  }

  &__icon--school {
    background-image: url($school-achievement);
  }

  &__title {
    flex: 1;
    padding: 0 10px;
  }

  &__button {
    flex-shrink: 0;
    width: 220px;

    @include govuk-media-query($until: desktop) {
      width: 100%;
      padding-top: 10px;
    }

    .govuk-button {
      width: 100%;
    }
  }
}
