<div class="dashboard-certificate">
  <div class="dashboard-certificate__icon"></div>
  <div class="dashboard-certificate__title">
    <p class="govuk-heading-m govuk-!-margin-bottom-0"><%= @certificate.title %></p>
  </div>
  <div class="dashboard-certificate__button">
    <a class="govuk-button button ncce-button govuk-!-margin-bottom-0"  href="/certificate/primary-certificate">
      Check my progress
    </a>
  </div>
</div>
