<div class='mailer__content'>
  <p class='govuk-body'>Hi <%= @user.first_name %>,</p>
  <p class='govuk-body'>It's been a while since you last engaged with us. To help you get the most from your learning journey, we’re here to help you take the next step towards gaining your Teach secondary computing certificate.</p>
  <p class='govuk-body'><strong>Not sure where to start?</strong></p>
  <ul class="govuk-list govuk-list--bullet">
    <li>Explore your <%= link_to 'personal dashboard', secondary_certificate_url %> and discover recommended courses and activities</li>
    <li>Participate in CPD to develop your practice – <a href="https://teachcomputing.org/courses?certificate=secondary-certificate" class="ncce-link">browse all courses</a></li>
    <li>Engage in a range of activities to demonstrate your commitment to your professional development and your community</li>
  </ul>
  <%= link_to "Explore your dashboard", secondary_certificate_url, class: "govuk-button button" %>
</div>
