<div class='mailer__content'>
  <p class='govuk-body'>Hi <%= @user.first_name %>,</p>
  <p class='govuk-body'>It's been a while since you last engaged with us. To help you get the most from your learning journey, we’re here to help you take the next step towards gaining your Teach secondary computing certificate.</p>
  <p class='govuk-body'><strong>Not sure where to start?</strong></p>
  <ul class="govuk-list govuk-list--bullet">
    <li>Explore your <%= link_to 'personal dashboard', secondary_certificate_url %> and discover recommended courses and activities from your chosen pathway (you can opt to switch pathways at any time)</li>
    <li>Participate in CPD to develop your practice, either face-to-face, online or remotely – <a href="https://teachcomputing.org/courses?certificate=secondary-certificate" class="ncce-link">browse all courses</a></li>
    <li>Engage in a range of activities to demonstrate your commitment to your professional development and your community</li>
  </ul>
  <p class='govuk-body'><strong>Support for you</strong></p>
  <p class='govuk-body'>Funded by the Department for Education, all our CPD is delivered at no cost. Your local <%= link_to 'Computing Hub', hubs_url, class: 'ncce-link' %> is also there to support you along the way.</p>
</div>
