<div class='mailer__content'>
  <p class="govuk-body">Welcome to Teach secondary computing certificate, <%= @user.first_name %>.</p>
  <p class="govuk-body">You have successfully signed up and taken your first step towards completing your certificate, awarded by BCS, The Cratered Institute for IT. We look forward to supporting you through your professional learning journey.</p>
  <p class="govuk-body"><strong>Next steps...</strong></p>
  <ol class="govuk-list govuk-list govuk-list--number">
    <li>Explore your  <%= link_to 'personal dashboard', secondary_certificate_url, class: 'ncce-link' %> and discover recommended courses and activities from your chosen pathway (you can opt to switch pathways at any time)</li>
    <li>Participate in CPD to develop your practice, either face-to-face, online or remotely</li>
    <li>Engage in a range of activities to demonstrate your commitment to your professional development and your community</li>
    <li>Demonstrate your subject knowledge by completing the <%= link_to 'Key stage 3 and 4 subject knowledge certificate', cs_accelerator_url, class: 'ncce-link' %></li>
    <li>Successfully complete the programme and receive your nationally recognised certificate</li>

</li>
  </ol>

  <p class="govuk-body"><strong>Any questions?</strong></p>
  <p class="govuk-body">Get in touch by emailing <%= mail_to 'info@teachcomputing.org', 'info@teachcomputing.org', class: 'ncce-link' %>.</p>
</div>
