<div class='mailer__content'>
  <p class="govuk-body">Welcome <%= @user.first_name %> to Teach secondary computing!</p>
  <p class="govuk-body">You have successfully signed up and taken your first step towards completing your certification programme. We look forward to supporting you through your professional learning journey.</p>
  <p class="govuk-body"><strong>Next steps...</strong></p>
  <ol class="govuk-list govuk-list govuk-list--number">
    <li>Explore your personal dashboard to identify your next steps and discover courses to suit you</li>
    <li>Participate in CPD to develop your practice</li>
    <li>Engage in a range of activities to demonstrate your commitment to your community</li>
    <li>Successfully complete the programme and receive your qualification</li>
  </ol>
  <p class="govuk-body">Any questions? Get in touch by emailing <%= mail_to 'info@teachcomputing.org', 'info@teachcomputing.org', class: 'ncce-link' %>.</p>
</div>
