$alto: #d8d8d8;
$amour: #f7e0f1;
$black: #000000;
$blue-light: #acdad8;
$blue: #4c43c5;
$box-shadow: rgba(0, 0, 0, 0.1);
$concrete: #f2f2f2;
$deep-cerulean: #007fa2;
$dixie: #e7a615;
$egg-white: #ffeec3;
$foam: #e3f6fc;
$grey-dark-x: #333448;
$grey-storm: #696b8f;
$grey-x-light: #e3e2f3;
$grey: #e0e0e0;
$hero-goldenrod: #fad160;
$hero-terracotta: #e67d6e;
$jaffa: #f47c31;
$karry: #ffe7d2;
$lavender-light: #e6e5f3;
$mid-gray: #5c5d6d;
$pink: #de01a5;
$purple-dark: #593e8e;
$purple: #7b1ec0;
$scarpa-flow: #575868;
$tapestry: #a94e91;
$white: #ffffff;

$govuk-text-colour: $grey-dark-x;

$plain-hero-color: $concrete;
$action-color: $deep-cerulean;
$secondary-cert-color: $dixie;
$primary-cert-color: $jaffa;
$cs-accelerator-color: $tapestry;

.light-blue-bg {
  background-color: $foam;
}

.light-grey-bg {
  background-color: $concrete;
}

.tapestry-bg {
  background-color: $tapestry;
}

.jaffa-bg {
  background-color: $jaffa;
}

.white-bg {
  background-color: $white;
}

@mixin status_block() {
  background-color: $grey-dark-x;
  color: $white;
  font-weight: bold;
  padding: 5px 12px;
}
