$ncce-dark-purple: #593e8e;
$ncce-purple: #7b1ec0;
$ncce-white: #fff;
$ncce-black: #000;
$ncce-blue: #4c43c5;
$ncce-blue-link: #2012cd;
$ncce-lavender: #e3e2f3;
$ncce-dark-blue: #2839cd;
$ncce-dark-grey: #333333;
$ncce-grey: #a19fc9;
$ncce-grey-light: #EDEDED;
$ncce-grey-x-light: #e3e2f3;
$ncce-pink: #de01a5;
$ncce-dark-pink: #b10b86;
