$govuk-text-colour: $ncce-dark-x-grey;

$ncce-black: #000000;
$ncce-blue-flash: #b3ebff;
$ncce-blue-light: #acdad8;
$ncce-blue-link: #2012cd;
$ncce-blue: #4c43c5;
$ncce-butterfly-bush: #5f54a1;
$ncce-canon-pink: #9e4784;
$ncce-dark-purple: #593e8e;
$ncce-dark-x-grey: #333448;
$ncce-dark-y-grey: #333547;
$ncce-dark-z-grey: #3b3c4f;
$ncce-grey-alto: #d8d8d8;
$ncce-grey-x-light: #e3e2f3;
$ncce-grey: #e0e0e0;
$ncce-hero-goldenrod: #fad160;
$ncce-hero-terracotta: #e67d6e;
$ncce-lavender: #e3e2f3;
$ncce-light-lavender: #e6e5f3;
$ncce-light-purple: #b8b7d7;
$ncce-pink-flash: #f5b2e4;
$ncce-pink-light: #fdf2fa;
$ncce-pink: #de01a5;
$ncce-purple: #7b1ec0;
$ncce-storm-grey: #696b8f;
$ncce-v-light-purple: #d1d0e5;
$ncce-wakaiwa-grey: #525b94;
$ncce-white: #ffffff;

$ncce-box-shadow: rgba(0, 0, 0, 0.3);
