$govuk-text-colour: $dark-x-grey;

$black: #000000;
$blue-flash: #b3ebff;
$blue-light: #acdad8;
$blue-link: #2012cd;
$blue: #4c43c5;
$butterfly-bush: #5f54a1;
$canon-pink: #9e4784;
$dark-purple: #593e8e;
$dark-x-grey: #333448;
$dark-y-grey: #333547;
$dark-z-grey: #3b3c4f;
$grey-alto: #d8d8d8;
$grey-x-light: #e3e2f3;
$grey: #e0e0e0;
$hero-goldenrod: #fad160;
$hero-terracotta: #e67d6e;
$lavender: #e3e2f3;
$light-lavender: #e6e5f3;
$light-purple: #b8b7d7;
$pink-flash: #f5b2e4;
$pink-light: #fdf2fa;
$pink: #de01a5;
$purple: #7b1ec0;
$storm-grey: #696b8f;
$v-light-purple: #d1d0e5;
$wakaiwa-grey: #525b94;
$white: #ffffff;

$box-shadow: rgba(0, 0, 0, 0.3);
