// Use Roboto included from Google Fonts
$font-family-body: 'Roboto', sans-serif !default;
// Override Gov UK fonts (need to be set before the govuk code is imported - prevents 404's too)
$govuk-font-family: $font-family-body;
$govuk-font-family-tabular: $font-family-body;

$font-family-heading: 'Objectivity Medium', sans-serif !default;

@font-face {
  font-family: 'Objectivity Medium';
  src: font-url('Objectivity-Medium.woff') format('woff'),
    font-url('Objectivity-Medium.woff2') format('woff2'),
    font-url('Objectivity-Medium.otf') format('opentype');
  font-weight: normal;
}
