$font-family-body: 'Roboto', sans-serif !default;
$font-family-heading: 'Objectivity Bold', sans-serif !default;

@font-face {
  font-family: 'Objectivity Bold';
  src: url('Objectivity-Bold.otf') format('opentype'),
    url('Objectivity-Bold.woff2') format('woff2');
}
