// Use Roboto included from Google Fonts
$font-family-body: 'Roboto', sans-serif !default;
// Override Gov UK fonts (need to be set before the govuk code is imported - prevents 404's too)
$govuk-font-family: $font-family-body;
$govuk-font-family-tabular: $font-family-body;

$font-family-heading: 'Objectivity Bold', sans-serif !default;

@font-face {
  font-family: 'Objectivity Bold';
  src:font-url('Objectivity-Bold.otf') format('opentype'),
    font-url('Objectivity-Bold.woff2') format('woff2');
}
