.govuk-main-wrapper--xl {
  padding-top: 70px;
  padding-bottom: 70px;
}

.ncce-main-wrapper--intro {
  padding-bottom: 2rem;
}

@include govuk-media-query($until: tablet) {
  .ncce-aside {
    margin-top: 50px;
  }
}
