$logo-block-mobile: 30px;
$logo-block: 40px;

.govuk-main-wrapper {
  padding-top: $logo-block-mobile;
  padding-bottom: $logo-block-mobile;
  @include govuk-media-query($from: desktop) {
    padding-top: $logo-block;
    padding-bottom: $logo-block;
  }
}

.govuk-main-wrapper--xl {
  padding-top: $logo-block-mobile * 1.5;
  padding-bottom: $logo-block-mobile * 1.5;
  @include govuk-media-query($from: desktop) {
    padding-top: $logo-block * 1.5;
    padding-bottom: $logo-block * 1.5;
  }
}

.block-bottom-margin {
  margin-bottom: $logo-block-mobile;
  @include govuk-media-query($from: desktop) {
    margin-bottom: $logo-block;
  }
}

.ncce-main-wrapper--intro {
  padding-top: 50px;
  padding-bottom: 2rem;
}

@include govuk-media-query($until: tablet) {
  .ncce-aside {
    margin-top: 50px;
  }
}

.clearfix {
  clear: both;
  content: '';
  display: table;
}
