.ncce-link {
  font-family: $font-family-body;

	&:link {
		color: $ncce-blue-link;
	}
	&:visited {
		color: $ncce-purple;
	}
	&:hover {
		color: $ncce-pink;
	}
	&:focus {
		color: $ncce-white;
		background-color: $ncce-pink;
		outline-color: $ncce-pink;
	}
	&:active {
		background-color: $ncce-pink;
		color: $ncce-white;
	}

  &--on-dark {
  	&:link {
  		color: $ncce-grey-x-light;
  	}
  	&:visited {
  		color: $ncce-grey;
  	}
  	&:hover {
  		color: $ncce-white;
  	}
    &:focus {
      color: $ncce-white;
    }
    &:active {
      color: $ncce-black;
    }
  }
}

.ncce-link__icon {
	width: 30px;
	height: 30px;
	margin-right: 10px;
	vertical-align: middle;
	&--footer {
		width: 20px;
		height: 20px;
	}
}

.ncce-link--heading {
  font-family: $font-family-heading;
}
