.govuk-heading-m,
.govuk-heading-l,
.govuk-heading-xl {
  color: $grey-dark-x;
  font-family: $font-family-heading;
  font-weight: 400;
}

.govuk-heading-s {
  color: $grey-dark-x;
  font-family: $font-family-body;
  font-weight: bold;
}

.govuk-body {
  line-height: 1.45;
}

.screen-reader-only {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
