.cms-split-horizontal-card-wrapper {
  .split-horizontal-card {
    height: calc(100% - 40px);
    background-color: #ffffff;
    padding: 20px;
    border-width: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  }
}