.logo-button-image-card-component img {
  width: 100%;

  @include govuk-media-query($from: desktop) {
    display: block;
    height: 100%;
  }
}

.logo-button-image-card-component__image {
  @include govuk-media-query($until: tablet) {
    padding-bottom: 25px;
  }
}

.logo-button-image-card-component__logo {
  height: 20px;
  width: auto;
}
