  <div class="ncce-csa-dash__objective">
    <div class="secondary-dash-badge-component <%= fixed_width %>">
      <%= image_tag badge_image_url, class: 'secondary-dash-badge-component__badge', alt: '' %>
      <p class="govuk-body-s secondary-dash-badge-component__content">
        <%= t('dash_badge_component.congratulations.html', badge_link: (link_to t('dash_badge_component.link.text'), badge_url, class: 'ncce-link', data: tracking_data)) %>
      </p>
    </div>
  </div>
