.ncce-activity-list__item-magda {
    background-color: $white;
    display: grid;
    grid-template-rows: auto auto auto;
    grid-row-gap: 10px;
    align-items: start;
    padding: 0.5rem 1.125rem 1.125rem;
    @include govuk-media-query($from: tablet) {
      padding-bottom: 0.5rem;
    }
  
    border-bottom-width: 2px;
    border-bottom-color: $lavender-light;
    border-bottom-style: solid;
    margin-bottom: 0 !important;
  
    @include govuk-media-query($from: tablet) {
      grid-template-columns: 3fr auto;
      grid-template-rows: auto auto;
      padding: 1.25rem 1.125rem;
    }
  }



.ncce-activity-list__item-text-magda {
    align-self: center;
    background-image: image-url('icon-pound.svg');
    background-position: left top;
    background-repeat: no-repeat;
    background-size: 1.2rem;
    font-size: 1.188rem;
    grid-row: 1;
    grid-column: 1;
    margin-bottom: 10px;
    margin-top: 3px;
    padding-left: 2rem;
  
    @include govuk-media-query($from: tablet) {
      background-size: 1.9rem;
      line-height: 1.9rem;
      margin-bottom: 0;
      padding-left: 2.8rem;
    }
  }