
.ncce-primary-diagnostic__button {
  margin-top: 25px !important;
  @include ncce_button($deep-cerulean);
}



.ncce-primary-diagnostic__hidden {
  display: none;

  @include govuk-media-query($from: desktop) {
    display: block;
  }
}

.ncce-primary-diagnostic__question-progress {
  font-weight: normal;
  font-size: 17px;
  color: $grey-dark-x;
  margin-top: 20px;
  margin-bottom: 10px;
}



.ncce-primary-diagnostic__wrapper {
  padding-top: 0;
}
