.ncce-primary-diagnostic__aside {
  border-top: 3px solid $deep-cerulean;
  width: 100%;
  padding-top: 15px;
  margin: 15px 15px 0 15px;

  @include govuk-media-query($from: desktop) {
    width: 35%;
  }
}

.ncce-primary-diagnostic__aside-body {
  font-size: 17px;
}


.ncce-primary-diagnostic__aside-heading {
  font-size: 19px;
}

.ncce-primary-diagnostic__button {
  margin-top: 25px !important;
  @include ncce_button($deep-cerulean);
}

.ncce-primary-diagnostic__container {
  display: flex;
  flex-flow: wrap-reverse;

  @include govuk-media-query($from: desktop) {
    flex-direction: row;
    flex-flow: row;
  }
}

.ncce-primary-diagnostic__hidden {
  display: none;

  @include govuk-media-query($from: desktop) {
    display: block;
  }
}

.ncce-primary-diagnostic__question-progress {
  font-weight: normal;
  font-size: 17px;
  color: $grey-dark-x;
  margin-top: 20px;
  margin-bottom: 10px;
}

.ncce-primary-diagnostic__question {
  margin: 0 15px 0 15px;
  width: 100%;

  @include govuk-media-query($from: desktop) {
    width: 65%;
  }
}

.ncce-primary-diagnostic__wrapper {
  padding-top: 30px;
}
