
.ncce-diagnostic__aside {
  margin-top: 15px;
}

.ncce-primary-diagnostic__button {
  margin-top: 25px !important;
  @include ncce_button($deep-cerulean);
}

.ncce-primary-diagnostic__hidden {
  display: none;

  @include govuk-media-query($from: desktop) {
    display: block;
  }
}

.ncce-primary-diagnostic__question-progress {
  font-weight: normal;
  font-family: $font-family-body;
  font-size: 1.188rem;
  color: $mid-gray;
  margin-top: 20px;
  margin-bottom: 10px;
}

.ncce-primary-diagnostic__row {
  display: flex;
  flex-flow: wrap-reverse;

  @include govuk-media-query($from: desktop) {
    flex-direction: row;
    flex-flow: row;
  }
}
