.ncce-exam-activity__remarks {
  grid-column-end: span 3;
  display: flex;
  justify-content: space-around;
  flex-wrap: nowrap;

  @include govuk-media-query($until: tablet) {
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  list-style: none;
  margin: 10px 0 10px 0;

  @include govuk-media-query($from: tablet) {
    margin-left: 40px;
  }

  padding: 0;
  background-color: $concrete;
  border-radius: 5px;

  &>li {
    height: 3em;

    @include govuk-media-query($until: tablet) {
      width: 100%;
    }

    padding: 0 10px;
    color: $grey-dark-x;
    display: flex;
    align-items: center;

    &>img {
      margin-right: 10px;
    }
  }
}

.ncce-exam-activity__rules {
  grid-column-end: span 3;
  margin: 10px 0 10px 0;

  @include govuk-media-query($from: tablet) {
    margin-left: 40px;
  }

  &>li {
    @include govuk-media-query($until: tablet) {
      line-height: 1.5rem;
    }
  }
}

.ncce-activity-list__item-text--exam {
  grid-column-end: span 3;
}

.ncce-exam-activity__attempts {
  @include govuk-media-query($from: tablet) {
    grid-template-columns: 2fr auto;
  }
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.ncce-exam-activity__attempts-text {
  grid-row: 1;
  grid-column: 1;
  margin-bottom: 0;
  @include govuk-media-query($from: tablet) {
    margin-left: 40px;
  }
}
