.ihavedonethis__text {
  color: $white;
  margin-bottom: 0.5rem;
}

.ihavedonethis__button {
  background-image: url('tick-self.svg');
  background-position: right 0.5rem center;
  background-repeat: no-repeat;
  background-size: 1rem;
  display: none;
  float: right;
  padding-right: 1.7rem;

  &[aria-expanded="true"] {
    background-color: $grey-dark-x;
    background-image: url('close-self.svg');
    background-repeat: no-repeat;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    box-shadow: none;
    color: $white;
    text-align: left;
    @include govuk-media-query($from: tablet) {
      text-align: center;
    }

    &:focus {
      background-color: $grey-dark-x;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      box-shadow: none;
      color: $white;
      outline: none;
    }

    &:hover,
    &[disabled]:hover {
      background-color: $grey-dark-x;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      box-shadow: none;
      color: $white;
      text-decoration: underline;
    }
  }
}

.ihavedonethis__popup {
  background-color: $grey-dark-x;
  box-sizing: border-box;
  display: block;
  margin-left: 2rem;
  padding: 0.875rem;
  text-align: left;

  .button {
    margin-bottom: 20px;
    @include govuk-media-query($from: tablet) {
      margin-bottom: 0;
    }
  }

  .govuk-input {
    border: 0;
    margin-bottom: 20px;
    margin-top: 20px;
    @include govuk-media-query($from: tablet) {
      margin-bottom: 0;
      margin-top: 0;
    }
  }

  .govuk-input:focus {
    outline-color: $white;
  }
}

.ihavedonethis--progressive {
  position: relative;

  .ihavedonethis__popup {
    margin-top: 1.875rem;
    position: absolute;
    right: 0;
    width: calc(100% - 2rem);
    z-index: 1;

    &[hidden] {
      display: none;
    }

    @include govuk-media-query($from: tablet) {
      width: 15rem;
    }

    @include govuk-media-query($from: desktop) {
      width: 20rem;
    }
  }

  .ihavedonethis__button {
    display: inline-block;
    width: calc(100% - 2rem);
    margin-left: 2rem;
    @include govuk-media-query($from: tablet) {
      width: auto;
      margin-left: 0;
    }
  }
}

.ihavedonethis__group {
  display: inline-block;
  margin-bottom: 1rem;
  width: 100%;
}
