.recommendation {
    display: flex;
    flex-direction: column;
    font-size: 0.875rem;
    margin-bottom: 1rem;
    margin-left: 2rem;
    padding: 0.625rem;
    width: auto;

    @include govuk-media-query($from: desktop) {
       font-size: 1rem;
        margin-bottom: 0;
        margin-left: 2.8rem;
        padding: 0.75rem;
        width: 80%;
    }
}

.recommendation__title {
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.recommendation__text {
    margin-bottom: 0.5rem;
}

.ncce-button__recommendation {
    grid-row: 4;
    margin-left: 2rem;
    width: auto;
    @include govuk-media-query($from: tablet) {
        grid-row: auto;
        margin-left: 0;
    }

}
