.ihavedonethis {
  margin-top: -3.8rem;
  padding: 0.5rem;

  &--progressive {
    position: absolute;
    margin-top: 3.5rem;


    @include govuk-media-query($from: tablet) {
      margin-top: 2rem;
    }

    @include govuk-media-query($from: desktop) {
      right: 1.1rem;
      width: 20rem;
    }
  }

  box-sizing: border-box;
  max-width: 100%;
  background-color: $ncce-dark-x-grey;
  text-align: left;

  &__title-button {
    all: inherit;

    box-sizing: border-box;
    display: block;
    width: 100%;
    margin: 0.5rem 0 2rem 0;
    padding-left: 1.5rem;

    background-image: image-url('add-dark.svg');
    background-position: left center;
    background-repeat: no-repeat;
    background-size: 1.2rem;
    font-size: 1rem;
    font-weight: 700;
    color: $ncce-dark-z-grey;
    text-align: left;
    cursor: pointer;
    border: 0;

    &:hover {
      text-decoration: underline;
    }

    @include govuk-media-query($from: tablet) {
      background-image: image-url('add-dark.svg'), image-url('close-blue.svg');
      background-position: left center, right, center;
      background-repeat: no-repeat, no-repeat;
      background-size: 1.2rem, 1.2rem;
    }
  }
}

.ihavedonethis__text {
  color: $ncce-white;
}


.ncce-button__self-certifiable {
  background-position: right 0.5rem center;
  background-image: url('tick-self.svg');
  background-repeat: no-repeat;
  padding: 0.5rem 1.7rem 0.5rem 0.5rem;
  display: none;

  &[aria-expanded="true"] {
    background-image: url('close-self.svg');
    background-repeat: no-repeat;
    background-color: $ncce-dark-x-grey;
    color: $ncce-white;
    box-shadow: none;

    &:focus {
      color: $ncce-white;
      background-color: $ncce-dark-x-grey;
      outline: none;
      box-shadow: none;
    }

    &:hover,
    &[disabled]:hover {
      color: $ncce-white;
      background-color: $ncce-dark-x-grey;
      text-decoration: underline;
      box-shadow: none;
    }
  }

}

.ihavedonethis-links--progressive {
  .ncce-button__self-certifiable {
    display: inline-block;
  }
}
