.ncce-template__body {
  background-color: $ncce-white;
}

.ncce-certificate {
  position: relative;

  &__image {
    position: absolute;
    width: auto;
    height: auto;
    min-height: 100%;
  }

  &__wrapper {
    padding: 20px;
    @include govuk-media-query($from: tablet) {
      padding: 60px;
    }
  }
  &__inner {
    z-index: 10;
    position: relative;
    padding: 120px 20px 40px;
    @include govuk-media-query($from: tablet) {
      padding: 100px 60px 60px;
    }
    background-color: rgba(255, 255, 255, 0.7);
    text-align: center;
    &:after {
      content: "";
    }
  }

  &__body {
    margin: 20px;
    @include govuk-media-query($from: tablet) {
      margin: 60px;
    }
  }

  &__logo {
    position: absolute;
    right: 0;
    top: 0;
    width: 100px;
    height: 100px;
    color: $ncce-white;
    background-color: $ncce-wakaiwa-grey;
    padding: 10px;
    font-family: $font-family-heading;
    font-weight: bold;
    text-align: left;
  }

  &__name {
    font-family: $font-family-body;
  }

  &__text--narrow {
    font-family: $font-family-body;
    font-weight: normal;
  }

  &__title {
    font-family: $font-family-body;
    margin-bottom: 100px;
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    @include govuk-media-query($until: 600px) {
      flex-wrap: wrap;
    }
    text-align: left;
    &>p {
      flex-basis: 50%;
      @include govuk-media-query($from: 600px) {
        flex-basis: 45%;
      }
      line-height: 3rem;
    }
    &>p:first-child {
      flex-basis: 45%;
      @include govuk-media-query($from: 600px) {
        flex-basis: 25%;
      }
    }
    &>ul {
      align-self: flex-end;
      flex-basis: 100%;
      @include govuk-media-query($from: 600px) {
        flex-basis: 30%;
      }
    }
  }
  &__bcs-logo {
    width: 80px;
  }
  &__rae-logo {
    width: 150px;
  }
}

@media print {
  html, body {
    height:100%;
    overflow: hidden;
    background: $ncce-white;
  }
  @page {
    margin: 0.5cm;
  }
}
