<header class="main-content__header">
  <h1 class="main-content__page-title">
    Progress Report
  </h1>
</header>

<section class="main-content__body">

  <h1>User Activity Report</h1>
  <ul>
    <% @programmes.each do |programme| %>
      <li><%= link_to programme.title, by_programme_admin_reports_path(programme_id: programme.id) %></li>
    <% end %>
  </ul>

</section>
