.user-programme-course-bookings-with-asides-component {
  background-color: $white;
  padding: 20px;

  &__course-wrapper {
    padding-bottom: 15px;
    border-bottom: 2px solid #F0F5F4;
  }

  &__course {
    &-details {
      padding: 14px 0;
      display: flex;
    }

    &-category {
      margin-right: 20px;
    }
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
