$hero-mobile-breakpoint: 950px;
$hero-tiny-breakpoint: 430px;

.cms-ncce-home-hero-wrapper {
  max-width: calc(960px + 250px);
  margin-left: auto;
  margin-right: auto;

  .ncce-home-hero {
    display: flex;
    flex-direction: column-reverse;

    @media screen and (min-width: $hero-mobile-breakpoint) {
      display: grid;
      height: fit-content;
      grid-template-columns: 1fr 1fr;
    }

    .ncce-home-hero__column {
      position: relative;
      width: 100%;
      height: 100%;
      aspect-ratio: 1/1;

      @media screen and (max-width: $hero-tiny-breakpoint) {
        height: unset;
      }

      &-home {
        background:url("../images/hero/hero1-house-background-corner.svg") top right no-repeat, url("../images/hero/hero1-house-background.svg") top left no-repeat;
        background-size: 13.5%, cover;
        display: flex;
        justify-content: center;
        align-items: center;

        @media screen and (min-width: $hero-mobile-breakpoint) {
          grid-column: 1;
        }
      }

      &:nth-child(2) {
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url("../images/hero/hero2-person-background.png");
        width: 100%;
        overflow: hidden;

        @media screen and (min-width: $hero-mobile-breakpoint) {
          grid-column: 2;
        }

        @media screen and (max-width: $hero-mobile-breakpoint) {
          background-position: center top;
          aspect-ratio: 15/9;
        }
      }

      .ncce-home-hero__corner-house-right {
        position: absolute;
        right: 0;
        top: 0;
        width: 13.5%;

        .ncce-home-hero__house-corner {
          width: 100%;
        }
      }

      .ncce-home-hero__corner-person-left {
        position: absolute;
        width: 13.5%;

        .ncce-home-hero__person-corner-left {
          position: relative;
          width: 100%;
          color: #5AFF6A;
          z-index: 1;
        }
      }

      .ncce-home-hero__person-content {
        .ncce-home-hero__person {
          position: absolute;
          width: 100%;
          height: 100%;

          @media screen and (max-width: $hero-mobile-breakpoint) {
            height: auto;
            width: 95%;
          }
        }

        .ncce-home-hero__person-title {
          position: absolute;
          width: 100%;
          height: 100%;

          .ncce-home-hero__title {
            position: absolute;
            left: 68%;
            top: 34%;
            width: 30%;
            z-index: 1;
            transform: translate(-50%, -50%);

            @media screen and (min-width: $hero-mobile-breakpoint) {
              left: 70%;
              top: 25%;
            }
          }
        }
      }

      .ncce-home-hero__corner-person-right {
        position: absolute;
        right: 0;
        bottom: 0;
        width: 37%;

        .ncce-home-hero__person-corner-right {
          position: absolute;
          width: 100%;
          color: #5AFF6A;
          bottom: 0;
        }

        @media screen and (max-width: $hero-mobile-breakpoint) {
          display: none;
        }
      }

      .ncce-home-hero__house {
        display: flex;
        flex-direction: column;

        padding-left: 5%;
        padding-right: 5%;
        margin-top: 3%;
        margin-bottom: 5%;

        align-items: center;

        h1 {
          @extend .govuk-heading-xl;
        }
        p {
          @extend .govuk-body-m;
          color: $grey-storm;
        }
        ul {
          @extend .govuk-list;
          @extend .govuk-list--bullet;
          color: $grey-storm;
          margin-left: 10px;
          li { margin-bottom: 0; }
        }
        .ncce-home-hero__house__button-container {
          justify-self: flex-end;
          display: flex;
          gap: 1rem;

          @include govuk-media-query($until: tablet) {
            align-self: center;
          }

          a {
            padding: 0.5rem 1rem;

            @media screen and (max-width: $hero-mobile-breakpoint) {
              &:nth-child(2) { display: none; }
            }
          }
        }

        .ncce-home-hero__top {
          width: 100%;
          aspect-ratio: 25/6;
          background-image: url("../images/hero/hero1-house-roof.svg"); // #svgView(preserveAspectRatio(none))");
          background-size: 100% 100%;
        }

        .ncce-home-hero__middle {
          width: 100%;
          display: flex;
          flex-wrap: nowrap;
          justify-content: space-between;

          .ncce-home-hero__middle-left {
            flex: 0 0 1.8%;
            background-color: #5AFF6A;
          }

          .ncce-home-hero__middle-content {
            display: flex;
            flex-direction: column;
            align-items: center;

            .ncce-home-hero__middle-content_content {
              padding: 5%;

              h1 {
                text-align: center;
              }

              @media screen and (min-width: $hero-mobile-breakpoint) {
                h1 {
                  text-align: left;
                }
              }
            }
          }

          .ncce-home-hero__middle-right {
            flex: 0 0 1.8%;
            background-color: #5AFF6A;
          }
        }

        .ncce-home-hero__bottom {
          display: block;
          width: 100%;

          .ncce-home-hero__house-base {
            display: block;
            width: 100%;
          }
        }
      }
    }
  }
}