.cms-homepage-hero {
  display: flex;

  @include govuk-media-query($until: desktop) {
    flex-direction: column;
  }

  &__column-left {
    flex: 1;
    background-image: url("../images/hero/home-hero-left.svg");
    background-position: left;
    background-size: cover;

    &-content {
      background-color: $white;
      margin: 35px 25px;
      padding: 16px;
      box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    }
  }

  &__column-right {
    flex: 1;
    background-image: url("../images/hero/home-hero-right.svg");
    background-size: cover;

    @include govuk-media-query($until: desktop) {
      width: 100%;
    }
  }

  &__image-left {
    width: 100%;
  }

  &__image-right {
    width: 100%;
    display: block;
  }

  &__button-container {
    display: flex;
    gap: 10px;
    justify-content: space-between;

    .govuk-button {
      margin-bottom: 0;
      padding: 8px 10px;
    }

    @include govuk-media-query($until: 1000px) {
      flex-direction: column;
    }
  }
}
