.hero-media-component {
  display: grid;
  grid-row-gap: 20px;
  grid-template-areas: 'photo' 'text';
  grid-template-rows: 1fr auto;
  padding: 10px;

  @include govuk-media-query($from: desktop) {
    grid-column-gap: 20px;
    grid-row-gap: 0;
    grid-template-areas: 'text photo';
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    padding: 10px 10px 10px 30px;
  }

  &__text-wrapper {
    grid-area: text;
    align-self: center;

    @include govuk-media-query($from: desktop) {
      padding: 33px 0;
    }

    .govuk-heading-xl {
      margin-bottom: 20px;
    }

    @include govuk-media-query($from: desktop) {
      & > *:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__media {
    grid-area: photo;

    img, iframe {
      width: 100%;
      @include govuk-media-query($from: desktop) {
        display: block;
        height: 100%;
      }
    }
  }
}
