.activity-component__objective {
  align-items: flex-start;
  background-color: $white;
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: auto 8.5rem;

  @include govuk-media-query($until: tablet) {
    grid-template-columns: auto;
    grid-template-rows: auto;
  }
}

.activity-component__objective-button {
  width: auto;
  grid-row: auto;
  grid-column: 2;
  align-self: top;

  @include govuk-media-query($until: tablet) {
    grid-column: 1;
  }
}

.activity-component__objective-text {
  align-self: center;
  grid-column: 1;
  background: none;
  padding-left: 0;

  @include govuk-media-query($until: tablet) {
    margin-bottom: 0.5rem;
  }

  @include govuk-media-query($from: tablet) {
    margin-right: 1.7rem;
    font-size: 1.188rem;
    line-height: 1.45rem;
  }
}

.activity-component__description {
  font-size: 1rem;
  grid-column: 1;
  padding: 0.7rem;

  @include govuk-media-query($from: tablet) {
    grid-column-end: 3;
    margin-top: 1rem;
    grid-row: 2;
  }
}
