.hub-social-link-component {
}

.hub-social-link-component__link {
  text-decoration: none;

  &:active {
    background-color: none;
    color: none;
  }
}

.hub-social-link-component__image {
  height: 30px;
  margin-right: 10px;
  width: 30px;
}

.hub-social-link-component__linkedin {
  width: 35px;
}

.hub-social-link-component__x {
  height: 28px;
  width: 28px;
  padding: 1px;
}
