<div class="ncce-aside">
    <% unless current_user %>
    <h2 class="govuk-heading-m ncce-aside__title">Start this course</h2>
    <p class="govuk-body-s ncce-aside__text"> You need to be logged in to start the course.</p>
    <p class="govuk-body"><%= link_to 'Log in', '', class: 'govuk-button button--aside', draggable: 'false' %></p>
    <p class="govuk-body-s ncce-aside__text"> Not got a STEM Learning account?</p>
    <p class="govuk-body"><%= link_to 'Create an account', '', class: 'govuk-link', draggable: 'false' %></p>
    <% else %>
    <h2 class="govuk-heading-m ncce-aside__title">What is Teach Computing?</h2>
    <p class="govuk-body-s ncce-aside__text">
    Teach Computing is a Department for Education funded service that offers training, resources and guidance to help teachers confidently teach computing.
    </p>
    <p class="govuk-body"><%= link_to 'Learn more', '', class: 'govuk-link', draggable: 'false' %></p>
    <% end %>
</div>
