<div class="ncce-aside ncce-aside--bursary">
  <h2 class="govuk-heading-s ncce-aside__title">Bursary support</h2>
    <p class="govuk-body-s ncce-aside__text">
      You may be eligible for a bursary to support your training if you are a teacher in a state-funded school in England
    </p>
    <p class="govuk-body-s"><strong><%= link_to 'Find out more', '/bursary', class: 'ncce-link' %></strong></p>
</div>
