<p class="govuk-body">
  <%-# TODO: change booking path from FutureLearn to STEM website %>
  <%= link_to(
      @booking.authenticated_title,
      @booking.booking_path(@activity.future_learn_course_uuid),
      class: 'govuk-button button--aside',
      draggable: 'false',
      data: { event_action: 'click', event_category: 'course details', event_label: 'join online course' },
      target: :_blank
      ) %>
</p>
<%= render 'courses/facilitation-periods', course: @course if @booking.show_facilitation_periods(@course, @occurrences) %>
<%= render ProviderLogosComponent.new(online: @course.online_cpd) %>
