<div class="ncce-aside">
    <% unless current_user %>
    <h2 class="govuk-heading-m ncce-aside__title">Start this course</h2>
    <p class="govuk-body-s ncce-aside__text"> You need to be logged in to start the course.</p>
    <p class="govuk-body"><%= link_to 'Log in', '', class: 'govuk-button button--aside', draggable: 'false' %></p>
    <p class="govuk-body-s ncce-aside__text"> Not got a STEM Learning account?</p>
    <p class="govuk-body"><%= link_to 'Create an account', '', class: 'govuk-link', draggable: 'false' %></p>
    <% else %>
    <h2 class="govuk-heading-m ncce-aside__title">Book onto this course</h2>
    <p class="govuk-body-s ncce-aside__text">
    The course is delivered by Stem Learning
    </p>
    <p class="govuk-body"><%= link_to 'Book course', '', class: 'govuk-link', draggable: 'false' %></p>
    <% end %>
</div>
