<div class="ncce-aside ncce-aside--bursary">
  <h2 class="govuk-heading-s ncce-aside__title">Bursary support</h2>
    <p class="govuk-body ncce-aside__text">
      We offer bursaries to teachers working in state-funded education in England.
    </p>
    <p class="govuk-body"><strong><%= link_to 'Bursary information', '/bursary', class: 'ncce-link' %></strong></p>
</div>
