<div class="light-blue-bg govuk-!-padding-5 govuk-!-margin-bottom-6">
  <% @programmes.each do |programme| %>
    <p class="govuk-body"><%= certificate_card_summary(programme) %></p>
    <div class="card card--cs-accelerator card--bottom-glyph">
      <%= render 'pages/certification/programme-enrolment-status', programme: programme %>
      <h2 class="govuk-heading-m card__heading"><%= programme.title %></h2>
      <% if programme.primary_certificate? %>
        <p class="govuk-body card__text">Our nationally recognised qualification will support you to demonstrate your commitment to developing your own practice and to computing as a school subject.</p>
      <% elsif programme.cs_accelerator? %>
        <p class="govuk-body card__text">Our certificate is designed to help you develop or refresh your computer science subject knowledge.
</p>
      <% elsif programme.secondary_certificate? %>
        <p class="govuk-body card__text">Our nationally recognised qualification will give you confidence to take your computing teaching to the next level and to apply those skills in the classroom.</p>
      <% end %>
      </p>
      <% unless programme.user_enrolled?(current_user) %>
        <p class="govuk-body govuk-!-margin-bottom-0"><strong><%= link_to 'Find out more', programme.path, class: 'ncce-link' %></strong></p>
      <% end %>
    </div>
  <% end %>
</div>
