<div>
  <% if @occurrences.length > 1 %>
    <h3 class="govuk-body-s govuk-!-font-weight-bold ncce-courses__locations">
      <button aria-expanded="false">
      <span class='ncce-courses__locations-name ncce-courses__locations-name--details'>
        <%= view_course_phrase(course) %>
      </span>
      </button>
    </h3>
  <% end %>
  <% unless @occurrences.empty? %>
    <ul class="govuk-list govuk-body-s ncce-courses__meta">
      <% @occurrences.each do |oc| %>
        <li class="govuk-grid-row ncce-courses__meta-item">
          <span class="govuk-grid-column-one-half ncce-courses__meta-location <%= course_meta_icon_class(oc) %>">
          <%= oc.address_town %></span>
          <span class="govuk-grid-column-one-half ncce-courses__meta-date"><%= activity_times(oc.start_date, oc.end_date, oc.online_cpd) %></span>
        </li>
      <% end %>
    </ul>
  <% end %>
</div>
