<div class='govuk-body-s ncce-courses__count' data-course-filter-target="resultsCount">Showing <%= pluralize(@course_filter.total_results_count, 'result') %></div>

<div class="govuk-body-m ncce-courses__loading-bar hidden" data-course-filter-target="loadingBar">Loading...</div>

<% if !@course_filter.location_search? && @course_filter.total_results_count == 0 %>
  <%= render NoCoursesComponent.new(hub: @course_filter.current_hub) %>
<% else %>
  <div class="ncce-courses__list" data-course-filter-target="courseList">
    <%= render LocationSearchResultsComponent.new(course_filter: @course_filter) %>
    <%= render CourseComponent.with_collection(@course_filter.non_location_based_results, filter: @course_filter) %>
  </div>
<% end %>
