<div class="light-blue-bg govuk-!-padding-5">
  <p class="govuk-body">This course is part of the Teach GCSE Computer Science
    certificate.</p>
  <div class="card card--cs-accelerator card--bottom-glyph">
    <h2 class="govuk-heading-m card__heading">Teach GCSE computer science</h2>
    <p class="govuk-body card__text">The Computer Science Accelerator Programme
      is a certified professional development programme designed to equip you
      with the subject knowledge and confidence to successfully teach GCSE
      computer science.</p>
    <p class="govuk-body govuk-!-margin-bottom-0">
      <strong><%= link_to 'Find out more', cs_accelerator_path, class: 'ncce-link' %></strong>
    </p>
  </div>
</div>
