<div class='govuk-body-s ncce-aside__text ncce-booking-list__stem-and-tc-emblems'>
  <div class='govuk-!-padding-top-1'> <%= image_pack_tag 'media/images/logos/tc-logo-small.svg', alt: 'TeachComputing foundation logo' %> </div>
  <div> <%= image_pack_tag 'media/images/logos/stem-logo-small.svg', alt: 'Stem foundation logo' %> </div>
</div>
