<% meta_tag :title, 'Courses - Teach Computing' %>
<%= render 'components/hero', hero_title: 'Computing courses for teachers', glyph_position: 'bottom', colour: 'blue' %>
<div class="govuk-width-container">
  <div class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <p class="govuk-body">
          Discover our range of professional development courses, designed to help you teach computing. Courses cover key stages 1 to 4 and cater for all levels of knowledge.
        </p>
        <p class="govuk-body">
          Choose how and when you want to learn, through face-to-face, online, or live remote training.
        </p>
      </div>
      <div class="govuk-grid-column-one-third">
        <%= render 'courses/aside-bursary' %>
      </div>
    </div>
  </div>
</div>
<div class="govuk-width-container" data-controller="course-filter">
  <div class="govuk-main-wrapper govuk-main-wrapper--xl ncce-courses__results-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds" data-course-filter-target="results">
        <%= render 'courses/courses-list' %>
      </div>
      <div class="govuk-grid-column-one-third">
        <%= render 'courses/aside-filters' %>
      </div>
    </div>
  </div>
</div>
