<% meta_tag :title, 'Courses - Teach Computing' %>
<%= render 'components/hero', hero_title: 'Introduction to Cybersecurity for Teachers', subtitle: 'CO214 Online course', glyph_position: 'bottom', colour: 'blue' %>
<div class="govuk-width-container">
  <div class="govuk-main-wrapper govuk-main-wrapper--xl ncce-main-wrapper--intro">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h3 class="govuk-heading-s">Teachers will be introduced to the core ideas of cybersecurity that should be taught in the classroom.</h3>
        <div class="course-details">
            <strong class="govuk-tag ncce-courses__tag">Key stage 3</strong>
            <strong class="govuk-tag ncce-courses__tag">Key stage 4</strong>
            <div class="course-details__icons">
                <span class="govuk-body-s icon-online">Free online course</span>
                <span class="govuk-body-s icon-calendar">6 January-27 January 2020 (3 weeks)</span>
                <span class="govuk-body-s icon-clock">2 hours per week</span>
            </div>
        </div>
        <p class="govuk-body">Teaching cybersecurity in schools is an important way to help students stay safe while using technology. On this course, teachers will be introduced to the core ideas of cybersecurity that should be taught in the classroom.</p>
        <p class="govuk-body">You will learn the different attacks that individuals and devices are vulnerable to and how to prevent them. You will explore malware, malicious bots, SQL injections, and physical threats to data. You will also build your knowledge of the different tools that protect data and websites. These include strong passwords, biometrics, two-factor authentication, and firewalls.</p>
        <p class="govuk-body">Video/media section - placeholder for now</p>
        <%= render 'courses/courses-card' %>
      </div>
      <div class="govuk-grid-column-one-third">
      <%= render 'courses/aside-section' %>
      </div>
    </div>
  </div>
</div>
<%= render 'courses/courses-list' %>
