<div class="ncce-aside ncce-bursary-aside">
  <h2 class="govuk-heading-s ncce-bursary-aside__heading">
    Funding
  </h2>
  <p class="govuk-body-s ncce-bursary-aside__text">
    We offer financial support to state-funded schools and colleges across England, including subsidies to support supply cover for continuing professional development.
  </p>
  <p class="govuk-body-s ncce-bursary-aside__link">
    <%= link_to 'Funding information', '/funding', class: 'ncce-link', role: 'button', draggable: 'false', data: { event_action: 'click', event_category: 'CSA enrolled', event_label: 'Bursary support' } %>
  </p>
</div>
