<div data-controller='supplementary-courses' class="ncce-csa-dash__section ncce-csa-dash__section-padded">
  <p class="govuk-body supplementary-courses__header">Want to go the extra mile?
      <button data-action="supplementary-courses#toggleAll"
              data-supplementary-courses-target="expanderButton"
              aria-expanded="true"
              class="govuk-body supplementary-courses__expander"
              data-event-action="click"
              data-event-label="Show additional courses"
              data-event-category="CSA enrolled">
          View <strong>additional courses</strong>
      </button>
  </p>

  <div data-supplementary-courses-target="expander" class="expander">
    <% supplementary_activities.each do |sa| %>
      <div class="ncce-pathway-courses__course supplementary-courses__course">
        <p class="ncce-pathway-courses__link">
          <%= link_to sa.title, course_path(id: sa.stem_activity_code, name: sa.slug), class: 'ncce-link' %>
        </p>

        <p class="ncce-pathway-courses__location <%= activity_icon_class(sa) %>">
          <%=  activity_type(sa) %>
        </p>
      </div>
    <% end %>
  </div>
</div>
