
div.icon-row-component {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;

  div.icon-row-component_icon {
    display: flex;
    width: 150px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    img {
      height: 30px;
      margin-bottom: 1rem;
    }
  }
}