<div class="cms-picture-card">
  <%= content_tag :div, class: ["cms-picture-card__image", ribbon_class] do %>
    <%= link_to_if @link, (render CmsImageComponent.new(@image)), @link %>
  <% end %>
  <div class="cms-picture-card__title">
    <h2 class="govuk-heading-m"><%= link_to_if @link, @title, @link %></h2>
  </div>
  <div class="cms-picture-card__text">
    <%= render CmsRichTextBlockComponent.new(blocks: @body_text, with_wrapper: false) %>
  </div>
</div>
