.cms-footer-component {
  color: $white;
  height: 100%;

  img {
    width: 125px;
  }

  &--funding-text {
    color: $white;
    font-size: 14px;
    margin: 10px 0;
  }

  &-wrapper {
    display: flex;
    justify-content: space-between;

    @include govuk-media-query($until: desktop) {
      flex-wrap: wrap;
      justify-content: flex-start;
      gap: 2rem;
    }
  }

  &__link-block {
    display: flex;
    flex-direction: column;
    gap: 12px;

    .cms-icon-row {
      margin-top: 0;

      img {
        width: 20px !important;
        height: 20px !important;
      }
    }
  }
}
