.cms-two-column-picture-section-component {

  .cms-image {
    display: flex;
    width: 100%;
    height: 100%
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &--right-align {
    flex-direction: row-reverse !important;

    @include govuk-media-query($until: tablet) {
      flex-direction: column-reverse !important;
    }
  }

  .tc-half-row__with-banner {
    position: relative;
  }

  .cms-side-banner {
    width: 50vw; 
    position: absolute;
    bottom: 0px;

    &__content {
      max-width: calc($govuk-page-width/2 - 30px);
      &--left {
        @include govuk-media-query($until: tablet) {
          padding-left: 40px;
        }
      }
    }

    @include govuk-media-query($until: desktop) {
      position: relative;
      width: calc(100% + 30px);
      margin-top: 1rem;
    }

    &--left {
      left: -30px;

      @include govuk-media-query($from: tablet) {
        left: -30px;
        position: absolute;
        width: calc(50vw - 20px);
      }

      @include govuk-media-query($from: $govuk-page-width + 60px) {
        left: calc(((100vw - $govuk-page-width)/2) * -1);
      }
    }
  }
}
