.programme-status-wrapper {
  background-color: $white;
  padding: 20px;
  
  &__title-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 15px;
    gap: 20px;

    h2 {
      margin-bottom: 0;
    }
  }

  &__button-container {
    padding-top: 50px;
    text-align: center;
  }
}