.image-link-card-component {
  background-color: $white;
  border-color: $lilly-white;
  box-shadow: 0 0 5px $box-shadow;
  padding: 0 1.375rem 1.375rem;

  p {
    a {
      text-decoration: none;
    }
  }
}

.image-link-card-component__image {
  display: block;
  margin: auto;
  height: 100px;

  @include govuk-media-query($from: desktop) {
    height: 136px;
    width: auto;
  }
}

.image-link-card-component__title {
  padding-top: 0;
  text-align: center;
}



