// Generic 'white on dark' box - for use in asides

$aside-padding: 1rem;

.ncce-aside {
  background-color: $white;
  border-top-color: $jelly-bean;
  border-top-style: solid;
  border-top-width: 5px;

  &__text {
    color: $black;
  }

  &__title {
    color: $black;
    padding-top: $aside-padding;
  }

  &__link,
  &__link:visited {
    color: $grey-dark-x;

    &:hover {
      color: $tapestry;
    }
  }

  &__log {
    color: $astral;

    &:hover {
      color: $scarpa-flow;
    }
  }

  &__button {
    background-color: $jelly-bean;
    margin-bottom: 0;
    display: block;
    padding: 0.75em;
  }

  &__check-mark {
    width: 23px;
    float: right;
  }
}
