// Generic 'white on dark' box - for use in asides
.ncce-dark-aside {
	background-color: $ncce-dark-y-grey;
	padding: 1rem;

	&__text {
		color: $ncce-white;
	}

	&__link {
		color: $ncce-white;
		&:hover {
			color: $ncce-grey-x-light;
		}
	}
}