.bursary-aside {
  background-color: $white;
  background-image: image-url('icon-pound.svg');
  background-position: 1rem 1.8rem;
  background-repeat: no-repeat;
  background-size: 1.2rem;
  margin-bottom: 2rem;
  padding: 1.25rem 1.125rem;
}

.bursary-aside__text {
  margin-bottom: 1rem;
}

.bursary-aside__link {
  font-weight: bold;
  margin-bottom: 0;
}

.bursary-aside__heading {
  padding-left: 2rem;
  padding-top: 12px;

  @include govuk-media-query($from: tablet) {
    padding-top: 10px;
  }
}
