@mixin ncce_button($background_color) {
  background-color: $background_color;
  box-shadow: none;
  font-size: 1rem;
  font-weight: bold;
  margin: 0;
  padding: 12px 25px;

  &[disabled] {
    background-color: $background_color;
  }

  &:hover,
  &[disabled]:hover {
    background-color: $black;
  }

  &:focus {
    background-color: $black;
    color: $white;
    outline-color: $black;
  }

  &[disabled]:active {
    box-shadow: none;
  }

  @include govuk-media-query($from: tablet) {
    font-size: 1.188rem;
  }

  @include govuk-media-query($from: desktop) {
    margin-bottom: 20px;
  }
}

.ncce-button__pink {
  @include ncce_button($deep-cerulean);
}

.ncce-button__blue {
  @include ncce_button($blue);
}

.button {
  @include ncce_button($deep-cerulean);
}

.button--focus-white {
  &:hover,
  &[disabled]:hover {
    color: $grey-dark-x;
    background-color: $white;
  }

  &:focus {
    background-color: $white;
    color: $grey-dark-x;
  }
}

.button--small {
  font-size: 1rem;
  padding: 0.3125rem 0.875rem;
  margin-bottom: 0;
}

.button--aside {
  @include ncce_button($deep-cerulean);
  @include govuk-media-query($from: desktop) {
    margin-bottom: 0;
  }
  display: block;
  padding: 0.75em;
  &[disabled] {
    width: 100%;
  }
}
