@mixin ncce_button($background_color) {
  background-color: $background_color;
  box-shadow: none;
  font-size: 1.188rem;
  font-weight: bold;
  margin: 0;
  padding: 12px 25px;

  &[disabled] {
    background-color: $background_color;
  }

  &:hover,
  &[disabled]:hover {
    background-color: $black;
  }

  &:focus {
    background-color: $black;
    color: $white;
    outline-color: $black;
  }

  &[disabled]:active {
    box-shadow: none;
  }

  @include govuk-media-query($from: desktop) {
    margin-bottom: 20px;
  }
}

.ncce-button__pink {
  @include ncce_button($pink);
}

.ncce-button__blue {
  @include ncce_button($blue);
}

.ncce-button__blue--deep {
  @include ncce_button($deep-cerulean);
}

.ncce-button__pink--rounded {
  border-radius: 0.5rem;
  box-shadow: none;
  margin-left: 2rem;
  padding: 0.5rem 1rem;
  width: calc(100% - 2rem);

  @include govuk-media-query($from: tablet) {
    margin: 0;
    width: auto;
  }

  &:focus {
    box-shadow: 0 0 0 2px $black;
    outline-color: rgba(255, 255, 255, 0);
  }

}
