#global-cookie-message {
  background-color: #000;
  padding: 10px 0;
  width: 100%;

  .cookie-inner {
    position: relative;
    margin: auto;
    padding-right: 40px;
    max-width: 920px;
  }

  p {
    color: #fff;
    margin: 0;
  }

  a {
    color: #fff;
  }

  .govuk-button {
    display: inline;
  }

  .cc-dismiss {
    position: absolute;
    top: 6px;
    right: 5px;
  }
}
