.dropdown__expander button[aria-expanded='true'] svg {
  -ms-filter: 'FlipW';
  filter: FlipW;
  -moz-transform: scaleY(-1);
  -o-transform: scaleY(-1);
  -webkit-transform: scaleY(-1);
  transform: scaleY(-1);
}

.dropdown__expander--closed {
  margin-bottom: 20px;
}

.dropdown__expander-section--closed {
  display: none;
}

.dropdown__expander-content {
	background: $white;
  box-shadow: 0 0 5px $box-shadow;
	padding: 1rem;
}

.dropdown__expander-content li {
	padding-bottom: 1rem;

  &:first-child {
		font-weight: 700;
	}

  &:last-child {
		padding-bottom: 0;
	}
}

.dropdown__expander .header__button[aria-expanded='true'] {
	background-color: $deep-cerulean;
	color: $white;
}

.header__button[aria-expanded='true'] .header__icon  {
	fill: $white;
}

.header__bottom {
	li {
	display: block;
	position: relative;
  transition-duration: 0.5s;
	}

	li:hover,
	li:focus-within {
		cursor: pointer;
	}

	.header__list-item:hover,
	.header__list-item:hover {
		background-color: $deep-cerulean;
		color: $white;
	}

	ul li ul li {
		clear: both;
		width: 100%;
	}
}

.dropdown__expander-content-no-js {
  visibility: hidden;
  opacity: 0;
  min-width: 5rem;
  position: absolute;
  transition: all 0.5s ease;
	left: 0;
  display: none;
  margin-top: 0.5rem;

  &:last-child {
  	right: 0;
  }
}

.header__list li:hover > .dropdown__expander-content-no-js,
.header__list li:focus-within > .dropdown__expander-content-no-js,
.header__list li ul:hover,
.header__list li ul:focus {
  visibility: visible;
  opacity: 1;
  display: block;
}
