.ncce-alert {
  display: flex;
  justify-content: space-between;
  margin: 20px 0 -20px 0;
  padding: 1rem;
  align-items: center;
  color: $ncce-dark-x-grey;
}

.ncce-alert {
  font-size: 19px;

  &__notice {
		background-color: $ncce-blue-flash;
  }

  &__error {
		background-color: $ncce-pink-flash;
	}
}
