.ncce-footer {
	background-color: $ncce-dark-x-grey;
	border-top: none;
	padding: 2rem 0;
}

.ncce-footer__heading {
	color: $ncce-white;
	margin-bottom: 20px;

	@include govuk-media-query($from: tablet) {
		margin: 0;
	}
}

.ncce-footer__list {
	margin-bottom: 1rem;

	@include govuk-media-query($from: tablet) {
		margin-bottom: 0;
		margin-left: 2rem;
	}
}
