.ncce-footer {
	background-color: $ncce-dark-x-grey;
	border-top: none;
	padding: 2rem 0;
}

.ncce-footer__heading {
	color: $ncce-white;
	margin-bottom: 20px;

	@include govuk-media-query($from: tablet) {
		margin: 0;
	}
}

.ncce-footer__list {
	margin-bottom: 1rem;

	@include govuk-media-query($from: tablet) {
		margin-bottom: 0;
		margin-left: 2rem;
	}

	&--item:last-child {
		margin-right: 0;
	}
}

.ncce-footer__nav {
	@include govuk-media-query($from: tablet) {
		text-align: right;
	}
}

.ncce-footer__link--homepage {
  text-decoration: none;
  line-height: 1em;
  color: $ncce-white;
  &:link,
  &:visited {
    color: $ncce-white;
  }
  &:hover {
    color: $ncce-grey-x-light;
  }
  &:focus {
    color: $ncce-white;
    background-color: $ncce-pink;
    outline-color: $ncce-pink;
  }
  &:active {
    color: $ncce-grey;
  }
}
