.ncce-footer {
  background-color: $grey-dark-x;
  border-top: none;
  padding: 2rem 0;

  &__grid {
    display: grid;
    grid-column-gap: $logo-block;
    grid-row-gap: $logo-block;
    grid-template-columns: 1fr;

    @include govuk-media-query($from: desktop) {
      grid-template-columns: 6fr 5fr 3fr;
    }
  }

  &__sub-grid {
    display: grid;
    grid-column-gap: $logo-block;
    grid-row-gap: 16px;
    grid-template-columns: 1fr 1fr;
  }

  &__sub-grid--logos {
    @include govuk-media-query($from: desktop) {
      grid-column-gap: $logo-block;
      grid-template-columns: auto 1fr;
    }
  }

  &__link-ncce {
    height: 123px;
    width: 124px;
  }

  &__logos-img {
    display: block;
  }

  &__sub-grid--single-col {
    @include govuk-media-query($from: desktop) {
      grid-template-columns: 1fr;
    }
  }

  &__text {
    color: $white;
  }

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
  }
}
