.govuk-input:focus,
.govuk-radios__input:focus,
.govuk-textarea:focus {
  outline-color: $deep-cerulean;
}

.govuk-checkboxes__input:focus + .govuk-checkboxes__label::before {
  box-shadow: 0 0 0 3px $deep-cerulean;
}

.govuk-input:focus,
.govuk-select:focus {
  box-shadow: 0 0 0 3px $deep-cerulean;
  outline-color: $white;
  outline-color: rgba(255, 255, 255, 0);
  outline-offset: 3px;
}

.govuk-radios__input:focus + .govuk-radios__label::before {
  box-shadow: 0 0 0 3px $deep-cerulean;
}

.ncce-select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-image: image-url('chevron.svg');
  background-position: calc(100% - 10px) 50%;
  background-repeat: no-repeat;
  font-size: 1rem;
  height: 2.5rem;
  margin-right: 20px;
  padding-right: 30px;
  @include govuk-media-query($until: 900px) {
    margin: 0 20px 20px 0;
  }
  @include govuk-media-query($until: tablet) {
    margin: 0 0 20px;
    width: 100%;
  }
}
