.header__container {
  border: none;
  margin-bottom: 0;
  padding-bottom: 10px;
  padding-bottom: $logo-block;
  padding-top: $logo-block-mobile;

  @include govuk-media-query($from: desktop) {
    padding-bottom: $logo-block;
    padding-top: $logo-block;
  }
}

.header {
  background: $white;
  border-bottom: none;
  border-top: 10px solid $deep-cerulean;
  @include govuk-media-query($from: desktop) {
    border-top-width: 13px;
    position: relative;
  }
}

/// header logo
.ncce-header__logo {
  fill: $deep-cerulean;
  width: 160px;
  @include govuk-media-query($from: tablet) {
    height: auto;
    width: 160px;
  }
}

.govuk-header__link--logo {
  display: inline-block;
  font-size: 0px;
  line-height: 0px;
  &:active {
    border-color: transparent;
  }
}

.govuk-header__link--logo:focus {
  .ncce-header__logo {
    fill: $white;
  }
}

/// header navigation
.header-nav {
	@include govuk-media-query($from: desktop) {
		position: relative;
	}
}

.ncce-header__navigation {
  float: none;
  margin-bottom: 0;
  padding-top: $logo-block-mobile;
  @include govuk-media-query($from: desktop) {
    padding-top: 7px;
  }
}

.ncce-header__navigation-item {
  border-bottom: none;
}

.ncce-header__certification,
.ncce-header__user {
  list-style: none;
  margin: 0;
  padding: 0;
}

///user navigation
.ncce-header__user {
  @include govuk-media-query($from: desktop) {
    text-align: right;
		position: absolute;
		right: 0;
		top: 0;
  }
}

///certification navigation
.ncce-header__certification {
	li {
    @include govuk-media-query($from: desktop) {
      position: relative;
    }
  }

	ul li ul li {
		clear: both;
    width: 100%;
  }
  
  @include govuk-media-query($from: desktop) {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding-top: 25px 0 0 0;
  }
}

@media (any-hover: hover) {
  .ncce-header__certification-item:hover > .dropdown__expander-content
  {
    visibility: visible;
    opacity: 1;
    display: block;
  }

  .ncce-header__certification-item:last-child:hover > .dropdown__expander-content {
    background-color: yellow;
  }
}

.ncce-header__certification-item {
  border-bottom: 1px solid #CED0D2;
  clear: both;
  flex-grow: 1;
  font-weight: 700;
  margin-bottom: 0;
  padding: 10px 0;
  
  &:first-child {
    border-top: 1px solid #CED0D2;
  }
  
  &:last-child {
    background-image: none;
  }

  @include govuk-media-query($from: desktop) {
    background-image: image-url('line.svg');
    background-position: right center;
    background-repeat: no-repeat;
    background-size: 0.1rem;
    border: none;
    display: inline-block;
    margin-top: 5px;
    padding: 0.3rem;

    &:first-child {
      border-top: none;
    }
  }

  .govuk-header__link {
    @include govuk-media-query($from: desktop) {
      font-size: 19px;
      font-weight: bold !important;
    }
  }
}

.ncce-header__certification-item:hover,
.ncce-header__certification-item:focus-within 
 {
  background-color: $deep-cerulean;
  background-image: none;
  color: $white;
  margin-left: -2px;
  padding: 0.3rem;
}

.ncce-header__certification-item--text {
  background-image: image-url('tick-blue-no-border.svg');
  background-position: right;
  background-repeat: no-repeat;
  background-size: 0.7rem;
  color: $deep-cerulean;
  padding: 0.3rem 20px 0.3rem 0.3rem;
}

.ncce-header__certification-item--text:hover,
.ncce-header__certification-item--text:focus-within {
  background-color: $deep-cerulean;
  background-image: image-url('arrow-down.svg');
  color: $white !important;
  padding: 0.3rem 20px 0.3rem 0.3rem;
}

/// links
.govuk-header__link {
  color: $deep-cerulean;
  font-weight: normal !important;

  &:link,
  &:visited {
    color: $deep-cerulean;
  }
  &:hover {
    border-color: transparent;
    color: $deep-cerulean;
    text-decoration: underline !important;
  }
  &:focus {
    background-color: $deep-cerulean;
    color: $white;
    outline-color: $deep-cerulean;
  }
}

.govuk-skip-link:focus {
  background-color: $deep-cerulean;
  color: $white;
  outline: 3px solid $deep-cerulean;
  outline-offset: 0;
  padding-top: 0;
}

.govuk-header__menu-button {
  color: $deep-cerulean;
}
