.govuk-header {
	background: $ncce-blue;
	border: none;
}
.govuk-header__container {
	border: none;
	margin-bottom: 0;
	padding-bottom: 10px;
	padding-top: 18px;
	padding-bottom: 16px;
}

.ncce-header__content {
	float: right;
	width: 20% !important;
}

.govuk-header__logotype-text {
	font-family: $font-family-heading;
	font-size: 24px;
}

.govuk-header__link--homepage {
	line-height: 1;
	&:hover {
		border-color: transparent;
		color: $ncce-grey-x-light;
	}
	&:focus {
		background-color: $ncce-pink;
		color: $ncce-white;
		outline-color: $ncce-pink;
	}
}
