.govuk-header {
  background: $ncce-blue;
  border: none;
}

.govuk-header__container {
  border: none;
  margin-bottom: 0;
  padding-bottom: 10px;
  padding-top: 18px;
  padding-bottom: 16px;
}

.govuk-header__logotype-text {
  font-family: $font-family-heading;
  font-size: 1.5rem;

  @include govuk-media-query($until: 380px) {
    font-size: 1.25rem;
  }
}

.govuk-header__link {
  &:focus {
    color: $ncce-white;
    background-color: $ncce-pink;
    outline-color: $ncce-pink;
  }

  &--homepage {
    line-height: 1;

    &:hover {
      border-color: transparent;
      color: $ncce-grey-x-light;
    }
  }
}

.ncce-header__navigation {
  float: none;

  @include govuk-media-query($from: desktop) {
    display: grid !important;
    float: right;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
  }
}

.ncce-header__navigation-item {
  border-color: $ncce-white;

  @include govuk-media-query($from: desktop) {
    grid-row: 1/2;
  }
}

.ncce-header__navigation-item-cert {
  padding: 10px 0;
  border-bottom: 1px solid $ncce-white;
  font-weight: 400;
  text-decoration: underline;

  @include govuk-media-query($from: desktop) {
    border: 0;
    display: inline-block;
    grid-row: 2/2;
    margin-right: 15px;
    padding: 5px 0;

  }
}

.govuk-skip-link:focus {
  background-color: $ncce-pink;
  color: $ncce-white;
  outline: 3px solid $ncce-pink;
  outline-offset: 0;
}
