.ncce-stay-in-touch {
  background-color: $ncce-dark-purple;
  background-image: none;
  padding-bottom: 30px;
  padding-top: 20px;

  @include govuk-media-query($from: tablet) {
    background-image: url(/assets/images/triangle-background.jpg);
    background-position: top right;
    background-repeat: no-repeat;
    background-size: 50%;
    padding-bottom: 30px;
    padding-top: 40px;
  }
}

.ncce-stay-in-touch__button {
  background-color: $ncce-pink;
  box-shadow: 0 4px 0 $ncce-dark-pink;
  font-size: 19px;
  font-weight: bold;
  margin: 0;
  padding: 12px 25px;

  &:hover {
    background-color: $ncce-black;
    box-shadow: 0 4px 0 $ncce-black;
    outline-color: $ncce-black;
  }
  &:focus {
    background-color: $ncce-black !important;
    color: $ncce-white !important;
    outline-color: $ncce-black !important;
  }

  @include govuk-media-query($from: desktop) {
    margin-bottom: 20px;
  }
}

.ncce-stay-in-touch__label {
  color: $ncce-white;
  font-weight: bold;
}

.ncce-stay-in-touch__input {
  border: none;
}

.ncce-stay-in-touch__heading,
.ncce-stay-in-touch__body {
  color: $ncce-white;
}

.ncce-stay-in-touch__footnote {
  font-size: 14px;
  color: $ncce-white;

  a {
    color: $ncce-white;
  }
}
