.modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: $ncce-overlay;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal__container {
  background-color: $ncce-white;
  padding: 24px;
  max-width: 500px;
  max-height: 100vh;
  overflow-y: auto;
}

.modal__header-close {
  all: inherit;
  align-items: flex-start;
  border: 0;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  margin: 0;
  width: 100%;
  &:hover {
    text-decoration: underline;
  }
  &-icon {
    width: 20px;
  }
}

.modal {
  display: none;
}

.modal.is-open {
  display: block;
}
