.govuk-tag {
	padding-bottom: 3px;
}

.govuk-phase-banner__content__tag {
	background-color: $deep-cerulean;
}


.ncce-courses__tag {
	margin-bottom: 0.5rem;
	padding-bottom: 5px;
	text-transform: initial;
	letter-spacing: 0;
	background-color: $deep-cerulean;
}
