.text-photo-hero {
  display: grid;
  grid-row-gap: 20px;
  grid-template-areas: "photo" "text";
  grid-template-rows: 1fr auto;
  padding: 10px;
  @include govuk-media-query($from: desktop) {
    grid-column-gap: 20px;
    grid-row-gap: 0;
    grid-template-areas: "text photo";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    padding: 10px 30px;
  }

  &__block--text {
    grid-area: text;
    padding-top: 20px;
    @include govuk-media-query($from: desktop) {
      .govuk-heading-l {
        font-size: 3.5vw;
      }
      .govuk-body-l {
        font-size: 2vw;
      }
    }
    @include govuk-media-query($from: 1000px) {
      .govuk-heading-l {
        font-size: 2.25rem;
      }
      .govuk-body-l {
        font-size: 1.5rem;
      }
    }
  }

  &__block--photo {
    grid-area: photo;
    img {
      width: 100%;
    }
  }
}

.text-photo-hero--home {
  grid-template-rows: 221fr 239fr;

  .govuk-heading-l {
    font-size: 2.5rem;
  }

  @include govuk-media-query($from: desktop) {
    grid-template-areas: "text photo";
    grid-template-columns: 385fr 550fr;
    grid-template-rows: 1fr;
    padding-right: 10px;
    padding-left: 20px;

    .hero-heading--home {
      margin-bottom: 20px;
      font-size: 42px;
    }
  }

  .hero-button--home {
    margin-bottom: 0;
  }

  .hero-video--home {
    height: 100%;
    width: 100%;
  }
}
