---
http_interactions:
- request:
    method: post
    uri: https://staging-curriculum.teachcomputing.org/graphql
    body:
      encoding: UTF-8
      string: '{"query":"mutation GraphQL__Client__OperationDefinition_47168046163740
        {\n  addNegativeLessonRating(id: \"4b2caacf-60d9-456e-a516-f0cb89a7c6fb\",
        userStemAchieverContactNo: \"achieverid\") {\n    id\n  }\n}","operationName":"GraphQL__Client__OperationDefinition_47168046163740","variables":{}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer ***REMOVED***
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"d8813690526239b2d2f5a959172cf382"
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"addNegativeLessonRating":{"id":"058e787c-32b7-4175-89c1-efe793a78a30"}}}'
  recorded_at: Tue, 29 Sep 2020 23:09:10 GMT
recorded_with: VCR 6.0.0
