<div class="light-blue-bg padded-box padded-box--resources">
  <div class="padded-box-item padded-box-item--left">
    <h2 class="govuk-heading-m padded-box-item__title">Help us make these resources better</h2>
    <p class="govuk-body padded-box-item__text">Or email us at <%= link_to 'resourcesfeedback@raspberrypi.org', 'mailto:resourcesfeedback@raspberrypi.org', class: 'govuk-link ncce-link' %></p>
  </div>
  <div class="padded-box-item padded-box-item--right">
    <%= link_to 'Provide your feedback', 'https://forms.gle/qT2XqoCecYjLLohC6', class: 'govuk-button button button--curriculum' %>
  </div>
</div>
