<div class="border-blue padded-box padded-box--resources">
  <%= image_pack_tag 'media/images/icons/light-bulb.svg', class: 'padded-box__img', alt: 'light bulb' %>
  <div>
    <h2 class="govuk-heading-m padded-box__title">Help us make these resources better</h2>
    <%= link_to 'Provide your feedback', 'https://forms.gle/qT2XqoCecYjLLohC6', class: 'govuk-button button padded-box--button' %>
    <p class="govuk-body">Or email us at <%= link_to 'resourcesfeedback@raspberrypi.org', 'mailto:resourcesfeedback@raspberrypi.org', class: 'govuk-link ncce-link' %></p>
  </div>
</div>
