<div class="ncce-aside ncce-aside--tapestry-color bursary-component">
  <h2 class="govuk-heading-s"> GCSE revision</h2>
    <p class="govuk-body-s ncce-aside__text">
      A comprehensive range of content and helpful practice questions are also available for this topic. 
    </p>
    <p class="govuk-body-s bursary-component__link">
      <%= link_to 'View on Isaac Computer Science', "#{isaac_url}",
        class: 'ncce-link axe-skip-a11y-test'
      %>
    </p>
</div>
