<div class="light-grey-bg">
  <div class="govuk-width-container">
		 <div class="govuk-main-wrapper ncce-notice_wrapper">
				<div class="ncce-notice__container">
					<span class="govuk-tag ncce-courses__tag ncce-notice__tag">ANNOUNCEMENT</span>
					<div class="ncce-notice__copy">
						<p class="govuk-body">Tried one of our resources? Please take 10 minutes <a href='http://ncce.io/tccsurvey' class="ncce-link">to complete our survey</a>. Most of the questions are multiple choice and we would love to hear your opinions.</p>
					</div>
    		</div>
		</div>
  </div>
</div>
