<div class="curriculum__rating">
	<p class="govuk-body curriculum__rating--text">How would you rate this lesson?</p>
	<img src="/images/resources/thumb_up.png" alt="thumb up" class="curriculum__rating--thumb">
	<img src="/images/resources/thumb_down.png" alt="thumb down" class="curriculum__rating--thumb">
</div>
