<div class="curriculum__rating">
  <p class="govuk-body curriculum__rating--text">Did you find this unit useful?</p>
  <%= link_to image_tag("/images/resources/thumb_up.png", alt: "thumb up", class: "curriculum__rating--thumb"), send(path, :positive, id), remote: true, data: { disable_with: true } %>
  <%= link_to image_tag("/images/resources/thumb_down.png", alt: "thumb down", class: "curriculum__rating--thumb"), send(path, :negative, id), remote: true, data: { disable_with: true } %>
</div>
