<div class="curriculum__rating">
	<p class="govuk-body curriculum__rating--text">Did you find this content useful?</p>
	<img src="/images/resources/thumb_up.svg" alt="thumb up" class="curriculum__rating--thumb curriculum__rating--thumb-up magda">
	<img src="/images/resources/thumb_down.svg" alt="thumb down" class="curriculum__rating--thumb curriculum__rating--thumb-down">
</div>
