@font-face {
  font-family: Objectivity;
  src: url(./Objectivity-Bold.woff) format("woff"), url(./Objectivity-Bold.woff2) format("woff2"), url(./Objectivity-Bold.otf) format("opentype");
  font-weight: 700
}

@font-face {
  font-family: Objectivity;
  src: url(./Objectivity-Medium.woff) format("woff"), url(./Objectivity-Medium.woff2) format("woff2"), url(./Objectivity-Medium.otf) format("opentype");
  font-weight: 400
  }

.govuk-template {
  background-color: #f3f2f1;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-size-adjust: 100%
}

@media screen {
  .govuk-template {
    overflow-y: scroll
  }
}

.govuk-template__body {
  margin: 0;
  background-color: #fff
}

.govuk-heading-xl {
  color: #130019;
  font-family: Roboto, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 700;
  font-size: 32px;
  font-size: 2rem;
  line-height: 1.09375;
  display: block;
  margin-top: 0;
  margin-bottom: 30px
}

@media print {
  .govuk-heading-xl {
    color: #000;
    font-family: sans-serif
  }
}

@media(min-width:40.0625em) {
  .govuk-heading-xl {
    font-size: 48px;
    font-size: 3rem;
    line-height: 1.0416666667
  }
}

@media print {
  .govuk-heading-xl {
    font-size: 32pt;
    line-height: 1.15
  }
}

@media(min-width:40.0625em) {
  .govuk-heading-xl {
    margin-bottom: 50px
  }
}


.govuk-heading-m {
  color: #130019;
  font-family: Roboto, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 700;
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 1.1111111111;
  display: block;
  margin-top: 0;
  margin-bottom: 15px
}

@media print {

  
  .govuk-heading-m {
    color: #000;
    font-family: sans-serif
  }
}

@media(min-width:40.0625em) {

  
  .govuk-heading-m {
    font-size: 24px;
    font-size: 1.5rem;
    line-height: 1.25
  }
}

@media print {

  
  .govuk-heading-m {
    font-size: 18pt;
    line-height: 1.15
  }
}

@media(min-width:40.0625em) {

  
  .govuk-heading-m {
    margin-bottom: 20px
  }
}


.govuk-body {
  color: #130019;
  font-family: Roboto, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.25;
  margin-top: 0;
  margin-bottom: 15px
}

@media print {

  
  .govuk-body {
    color: #000;
    font-family: sans-serif
  }
}

@media(min-width:40.0625em) {

  
  .govuk-body {
    font-size: 19px;
    font-size: 1.1875rem;
    line-height: 1.3157894737
  }
}

@media print {

  
  .govuk-body {
    font-size: 14pt;
    line-height: 1.15
  }
}

@media(min-width:40.0625em) {

  
  .govuk-body {
    margin-bottom: 20px
  }
}


.govuk-body+.govuk-heading-m {
  padding-top: 5px
}

@media(min-width:40.0625em) {

  
  .govuk-body+.govuk-heading-m {
    padding-top: 10px
  }
}

.govuk-grid-row {
  margin-right: -15px;
  margin-left: -15px
}

.govuk-grid-row:after {
  content: "";
  display: block;
  clear: both
}

.govuk-grid-column-two-thirds {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  padding: 0 15px
}

@media(min-width:40.0625em) {
  .govuk-grid-column-two-thirds {
    width: 66.6666%;
    float: left
  }
}

.govuk-grid-column-full {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  padding: 0 15px
}

@media(min-width:40.0625em) {
  .govuk-grid-column-full {
    width: 100%;
    float: left
  }
}

.govuk-main-wrapper {
  display: block;
  padding-top: 20px;
  padding-bottom: 20px
}

@media(min-width:40.0625em) {
  .govuk-main-wrapper {
    padding-top: 40px;
    padding-bottom: 40px
  }
}

.govuk-width-container {
  max-width: 960px;
  margin-right: 15px;
  margin-left: 15px
}

@supports(margin:max(calc(0px))) {
  .govuk-width-container {
    margin-right: max(15px, calc(15px + env(safe-area-inset-right)));
    margin-left: max(15px, calc(15px + env(safe-area-inset-left)))
  }
}

@media(min-width:40.0625em) {
  .govuk-width-container {
    margin-right: 30px;
    margin-left: 30px
  }

  @supports(margin:max(calc(0px))) {
    .govuk-width-container {
      margin-right: max(30px, calc(15px + env(safe-area-inset-right)));
      margin-left: max(30px, calc(15px + env(safe-area-inset-left)))
    }
  }
}

@media(min-width:1020px) {
  .govuk-width-container {
    margin-right: auto;
    margin-left: auto
  }

  @supports(margin:max(calc(0px))) {
    .govuk-width-container {
      margin-right: auto;
      margin-left: auto
    }
  }
}


.govuk-button {
  font-family: Roboto, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.1875;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  position: relative;
  width: 100%;
  margin: 0 0 22px;
  padding: 8px 10px 7px;
  border: 2px solid transparent;
  border-radius: 0;
  color: #fff;
  background-color: #00703c;
  -webkit-box-shadow: 0 2px 0 #002d18;
  box-shadow: 0 2px 0 #002d18;
  text-align: center;
  vertical-align: top;
  cursor: pointer;
  -webkit-appearance: none
}

@media print {

  
  .govuk-button {
    font-family: sans-serif
  }
}

@media(min-width:40.0625em) {

  
  .govuk-button {
    font-size: 19px;
    font-size: 1.1875rem;
    line-height: 1
  }
}

@media print {

  
  .govuk-button {
    font-size: 14pt;
    line-height: 19px
  }
}

@media(min-width:40.0625em) {

  
  .govuk-button {
    margin-bottom: 32px;
    width: auto
  }
}


.govuk-button:active,
.govuk-button:hover,
.govuk-button:link,
.govuk-button:visited {
  color: #fff;
  text-decoration: none
}


.govuk-button::-moz-focus-inner {
  padding: 0;
  border: 0
}


.govuk-button:hover {
  background-color: #005a30
}


.govuk-button:active {
  top: 2px
}


.govuk-button:focus {
  border-color: #fd0;
  outline: 3px solid transparent;
  -webkit-box-shadow: inset 0 0 0 1px #fd0;
  box-shadow: inset 0 0 0 1px #fd0
}


.govuk-button:focus:not(:active):not(:hover) {
  border-color: #fd0;
  color: #0b0c0c;
  background-color: #fd0;
  -webkit-box-shadow: 0 2px 0 #0b0c0c;
  box-shadow: 0 2px 0 #0b0c0c
}


.govuk-button:before {
  content: "";
  display: block;
  position: absolute;
  top: -2px;
  right: -2px;
  bottom: -4px;
  left: -2px;
  background: transparent
}


.govuk-button:active:before {
  top: -4px
}

.govuk-header {
  font-family: Roboto, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 14px;
  font-size: .875rem;
  line-height: 1.1428571429;
  border-bottom: 10px solid #fff;
  color: #fff;
  background: #0b0c0c
}

@media print {
  .govuk-header {
    font-family: sans-serif
  }
}

@media(min-width:40.0625em) {
  .govuk-header {
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25
  }
}

@media print {
  .govuk-header {
    font-size: 14pt;
    line-height: 1.2
  }
}

.govuk-header__link {
  font-family: Roboto, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-decoration: none
}

@media print {
  .govuk-header__link {
    font-family: sans-serif
  }
}

.govuk-header__link:active,
.govuk-header__link:hover {
  color: hsla(0, 0%, 100%, .99)
}

.govuk-header__link:hover {
  text-decoration: underline;
  text-decoration-thickness: 3px;
  text-underline-offset: .1em
}

.govuk-header__link:focus {
  outline: 3px solid transparent;
  color: #0b0c0c;
  background-color: #fd0;
  -webkit-box-shadow: 0 -2px #fd0, 0 4px #0b0c0c;
  box-shadow: 0 -2px #fd0, 0 4px #0b0c0c;
  text-decoration: none
}

.govuk-header__menu-button {
  font-family: Roboto, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 14px;
  font-size: .875rem;
  line-height: 1.1428571429;
  display: none;
  position: absolute;
  top: 20px;
  right: 0;
  margin: 0;
  padding: 0;
  border: 0;
  background: none;
  cursor: pointer
}

@media print {

  .govuk-header__menu-button {
    font-family: sans-serif
  }
}

@media(min-width:40.0625em) {

  .govuk-header__menu-button {
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25
  }
}

@media print {

  .govuk-header__menu-button {
    font-size: 14pt;
    line-height: 1.2
  }
}

.govuk-header__menu-button:hover {
  -webkit-text-decoration: solid underline 3px;
  text-decoration: solid underline 3px;
  text-underline-offset: .1em
}

.govuk-header__menu-button:focus {
  outline: 3px solid transparent;
  color: #0b0c0c;
  background-color: #fd0;
  -webkit-box-shadow: 0 -2px #fd0, 0 4px #0b0c0c;
  box-shadow: 0 -2px #fd0, 0 4px #0b0c0c;
  text-decoration: none
}

.govuk-header__menu-button:after {
  display: inline-block;
  width: 0;
  height: 0;
  -webkit-clip-path: polygon(0 0, 50% 100%, 100% 0);
  clip-path: polygon(0 0, 50% 100%, 100% 0);
  border-color: transparent;
  border-style: solid;
  border-width: 8.66px 5px 0;
  border-top-color: inherit;
  content: "";
  margin-left: 5px
}

@media(min-width:40.0625em) {

  .govuk-header__menu-button {
    top: 15px
  }
}

@media print {
  .govuk-header {
    border-bottom-width: 0;
    color: #0b0c0c;
    background: transparent
  }

  .govuk-header__link:link,
  .govuk-header__link:visited {
    color: #0b0c0c
  }

  .govuk-header__link:after {
    display: none
  }
}

.govuk-skip-link {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: 0 !important;
  overflow: hidden !important;
  clip: rect(0 0 0 0) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  white-space: nowrap !important;
  font-family: Roboto, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-decoration: underline;
  font-size: 14px;
  font-size: .875rem;
  line-height: 1.1428571429;
  display: block;
  padding: 10px 15px
}

.govuk-skip-link:active,
.govuk-skip-link:focus {
  position: static !important;
  width: auto !important;
  height: auto !important;
  margin: inherit !important;
  overflow: visible !important;
  clip: auto !important;
  -webkit-clip-path: none !important;
  clip-path: none !important;
  white-space: inherit !important
}

@media print {
  .govuk-skip-link {
    font-family: sans-serif
  }
}

.govuk-skip-link:link,
.govuk-skip-link:visited {
  color: #130019
}

@media print {

  .govuk-skip-link:link,
  .govuk-skip-link:visited {
    color: #000
  }
}

.govuk-skip-link:hover {
  color: rgba(19, 0, 25, .99)
}

.govuk-skip-link:active,
.govuk-skip-link:focus {
  color: #130019
}

@media print {

  .govuk-skip-link:active,
  .govuk-skip-link:focus {
    color: #000
  }
}

@media(min-width:40.0625em) {
  .govuk-skip-link {
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.25
  }
}

@media print {
  .govuk-skip-link {
    font-size: 14pt;
    line-height: 1.2
  }
}

@supports(padding:max(calc(0px))) {
  .govuk-skip-link {
    padding-right: max(15px, calc(15px + env(safe-area-inset-right)));
    padding-left: max(15px, calc(15px + env(safe-area-inset-left)))
  }
}

.govuk-skip-link:focus {
  outline: 3px solid #fd0;
  background-color: #fd0
}


.ncce-link,
a:not([class]) {
  font-family: Roboto, sans-serif
}


.ncce-link:link,
.ncce-link:visited,
a:not([class]):link,
a:not([class]):visited {
  color: #1d70b8
}


.ncce-link:hover,
a:not([class]):hover {
  color: #130019
}


.ncce-link:active,
.ncce-link:focus,
a:not([class]):active,
a:not([class]):focus {
  background-color: transparent;
  color: #130019
}


.govuk-heading-m,
.govuk-heading-xl {
  color: #130019;
  font-family: DM Sans, sans-serif;
  font-weight: 500
}


.govuk-body {
  line-height: 1.45
}


.govuk-body {
  color: #130019
}

.govuk-main-wrapper {
  padding-bottom: 30px;
  padding-top: 30px
}

@media(min-width:48.0625em) {
  .govuk-main-wrapper {
    padding-bottom: 40px;
    padding-top: 40px
  }
}

.govuk-header {
  background: #120540;
  border-bottom: none;
  border-top: 10px solid #59ff69
}

@media(min-width:48.0625em) {
  .govuk-header {
    border-top-width: 13px
  }
}

.header__container {
  border: none;
  margin-bottom: 0;
  padding-bottom: 20px;
  padding-top: 20px
}

@media(min-width:48.0625em) {
  .header__container {
    padding-bottom: 0;
    padding-top: 40px
  }
}

.header {
  background: #120540;
  border-bottom: none;
  border-top: 10px solid #59ff69
}

@media(min-width:48.0625em) {
  .header {
    border-top-width: 13px;
    position: relative
  }
}

.ncce-header__logo {
  width: 128px
}

@media(min-width:40.0625em) {
  .ncce-header__logo {
    height: auto;
    width: 160px
  }
}

@media(min-width:48.0625em) {
  .ncce-header__logo {
    height: auto;
    width: 308px
  }
}

.govuk-header__link--logo {
  display: inline-block;
  font-size: 0;
  line-height: 0
}

.govuk-header__link--logo:active {
  border-color: transparent
}

.header-nav {
  position: relative
}

.govuk-header__link {
  color: #fff;
  font-weight: 400 !important
}

.govuk-header__link:link,
.govuk-header__link:visited {
  color: #fff
}

.govuk-header__link:hover {
  border-color: transparent;
  color: #fff;
  text-decoration: underline !important
}

.govuk-header__link:focus {
  background-color: transparent;
  color: #fff;
  outline-color: #fff
}

.govuk-skip-link:focus {
  background-color: #59ff69;
  color: #120540;
  outline: 3px solid #59ff69;
  outline-offset: 0;
  padding-top: 0
}

.govuk-header__menu-button {
  color: #fff;
  font-size: 16px;
  line-height: 18px;
  margin-right: 15px;
  top: 0
}


.govuk-header__menu-button:focus,
.govuk-header__menu-button:hover,
.govuk-header__menu-button:visited {
  color: #fff;
  -webkit-text-decoration: solid underline 1px;
  text-decoration: solid underline 1px
}


.govuk-header__menu-button:focus {
  background-color: #120540;
  -webkit-box-shadow: none;
  box-shadow: none
}

.govuk-header__menu-button:after {
  background-image: url(/packs/media/images/icons/menu-open-8c46fdb7387e3ec6091546299711ad4b.svg);
  background-size: 1rem
}


.govuk-header__menu-button:after {
  background-position: 50%;
  background-repeat: no-repeat;
  border-style: none;
  border-width: none;
  -webkit-clip-path: none;
  clip-path: none;
  height: 1rem;
  line-height: normal;
  vertical-align: middle;
  width: 1rem
}

.button {
  font-family: DM Sans, sans-serif;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-size: 1rem;
  font-weight: 500;
  margin: 0;
  padding: 10px 24px;
  border-color: #130019;
  border-width: 2px 2px 4px;
  color: #130019
}

.button {
  background-color: #59ff69
}

.button:hover {
  background-color: #000;
  color: #fff
}

.button:focus {
  -webkit-box-shadow: none;
  box-shadow: none
}

.button:focus {
  background-color: #000 !important;
  color: #fff !important;
  border-color: #000 !important
}

@media(min-width:40.0625em) {
  .button {
    font-size: 1.1125rem
  }
}

@media(min-width:48.0625em) {
  .button {
    margin-bottom: 20px
  }
}


.govuk-button:active,
.govuk-button:link,
.govuk-button:visited {
  color: #130019
}


.govuk-button:hover {
  color: #fff
}


.govuk-heading-m {
  font-family: Objectivity, sans-serif !important
}

@media(min-width:64em) {
}

@media print {

  body,
  html {
    height: 100%;
    overflow: hidden;
    background: #fff
  }

  @page {
    margin: 0
  }
}
