<div class="ncce-aside landing-page__aside">
  <h2 class="govuk-heading-s ncce-aside__title">Support</h2>
  <p class="govuk-body-s">We are happy to support you along the way. Call 01904 328 300, or email <%= mail_to 'info@teachcomputing.org', 'info@teachcomputing.org', class: 'ncce-link' %></p>
</div>
