<% meta_tag :title, 'Secondary certificate - Teach Computing' %>
<% meta_tag :url, request.original_url %>
<%= render 'pages/certification/hero' %>
<div class="ncce-programmes-activity">
  <div class="govuk-width-container">
    <div class="govuk-main-wrapper">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">
          <p class="govuk-body-l">Welcome to the Teach secondary computing programme! To complete your certificate, you'll need to work through the activities on this dashboard.</p>
        </div>
        <div class="govuk-grid-column-one-quarter">
          <%= render 'aside' %>
        </div>
      </div>
      <%= render 'achievement_list' %>
    </div>
  </div>
</div>
