
.enrichment {
  background-color: $white;
  box-shadow: 0px 0px 8px 0px #00000040;
  padding: 15px;
  border-radius: 4px;
  width: 254px;
  display: none;
  flex-direction: column;
  @include govuk-font($size: 16);

  &.show {
    display: flex;
  }

  &__content {
    flex: 0 0 132px;
  }

  &__type {
    margin-bottom: 5px;
    display: flex;
    flex-direction: row;

    &-label {
      flex: 1 1 auto;
    }
    
    &-icon {
      flex: 0 0 20px;
      img {
        width: 100%;
      }
    }
  }

  &__title {
    span {
      font-size: 20px;
      font-weight: 500;
    }
  }

  &__type-label {
    @include govuk-font($size: 14, $weight: bold);
    text-transform: uppercase;
  }

  &__term-details {
    font-style: italic; 
  }

  &__partner-logo {
    @include govuk-responsive-margin(2, "top");

    img {
      height: 50px;
      width: auto;
      max-width: 100%;
    }
  }
}