
.enrichment {
  box-shadow: 0px 0px 8px 0px #00000040;
  padding: 15px;
  border-radius: 4px;
  
  width: 284px;

  @include govuk-font($size: 16);

  &__type-label {
    @include govuk-font($size: 14, $weight: bold);
    text-transform: uppercase;
  }

  &__term-details {
    font-style: italic; 
  }
}