.ncce-activity-list--programme {
  margin-bottom: 60px;
}

.ncce-activity-list__title {
  font-size: 1.4rem;
  line-height: 1.6rem;

  @include govuk-media-query($until: tablet) {
    font-size: 1.2rem;
  }

  &--complete {
    background-image: url('../images/icons/tick-green-dark.svg');
    background-position: left top;
    background-repeat: no-repeat;
    background-size: 1.9rem;
    padding-left: 2.2rem;
    padding-top: 0.3rem;
    line-height: 1.6rem;
  }
}

.ncce-activity-list__item {
  background-color: $white;
  align-items: flex-start;
  

  &:last-child {
    margin-bottom: 0;
  }

  &--separate {
    margin-top: 8px;
  }

  &--with-gap {
    grid-row-gap: 10px;
  }
  
  .ncce-activity-list__item-content {
    align-items: flex-start;
  
    border-bottom-width: 2px;
    display: grid;
    grid-template-rows: auto auto auto;
    margin-bottom: 2px !important;
    padding: 1.125rem;
    grid-gap: 0;
  
    @include govuk-media-query($from: tablet) {
      padding-bottom: 0.5rem;
    }

    @include govuk-media-query($from: tablet) {
      grid-template-columns: 3fr auto;
      grid-template-rows: auto auto;
      padding: 1.25rem 1.125rem;
    }
  }
}

.ncce-dashboard-activity {
  background-color: $concrete;

  .ncce-activity-list__item {
    grid-template-rows: auto;
  }
}

.ncce-activity-list__item-text {
  align-self: center;
  background-image: url('../images/icons/tick-plain.svg');
  background-position: left center;
  background-repeat: no-repeat;
  background-size: 1.9rem;
  font-size: 1.188rem;
  grid-column: 1;
  grid-row: 1;
  line-height: 1.5rem;
  margin-bottom: 0;
  padding-left: 2.8rem;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;

  @include govuk-media-query($until: tablet) {
    font-size: 1.1rem;
  }

  &--primary-certificate {
    background: none;
    background-position: left top;
    background-image: none;
    padding-left: 0;
    line-height: 1.45rem;
  }

  &--incomplete {
    background-image: url('../images/icons/incomplete-achievement.svg');
  }

  &--complete {
    background-image: url('../images/icons/tick-green-dark.svg');
    background-position: left top;
    background-repeat: no-repeat;
    background-size: 1.9rem;
    padding-left: 2.2rem;
    line-height: 1.8rem;
  }
}

.ncce-activity-list__item--incomplete {
  .ncce-activity-list__item-text {
    background-image: url('../images/icons/incomplete-achievement.svg');
  }

  .ncce-activity-list__item-text--primary-certificate {
    background: none;
    padding-left: 0;
  }
}

.ncce-activity-list__item--inprogress {
  .ncce-activity-list__item-text {
    background-image: url('../images/icons/incomplete-achievement.svg');

    &--primary-certificate {
      background: none;
      padding-left: 0;
    }
  }
}

.ncce-activity-list__item-activity {
  font-size: 1rem;
  grid-column: 1;
  padding: 0.7rem;
  overflow-wrap: anywhere;

  @include govuk-media-query($from: tablet) {
    grid-column-end: 3;
    margin-top: 0.5rem;
    grid-row: 2;
  }

  @include govuk-media-query($from: 900px) {
    width: 500px;
  }
}

.govuk-grid-column-two-thirds {
  .ncce-activity-list__item-activity {
    @include govuk-media-query($from: 900px) {
      width: auto;
      margin-left: 0;
    }
  }
}

.ncce-activity-list__tag {
  float: left;
  float: none;
  margin-bottom: 0;
  text-transform: none;
  width: auto;
  margin-right: 0.2rem;
  margin-bottom: 0.1rem;
}

.ncce-activity-list__course {
  @include govuk-media-query($until: tablet) {
    clear: both;
    float: left;
  }
}

.ncce-activity-list__button-wrapper {
  text-align: center;
}

.activity-list__item {
  align-items: flex-start;
  background-color: $concrete;
  background-image: url('../images/icons/tick-plain.svg');
  background-position: 8px 8px;
  background-repeat: no-repeat;
  background-size: 24px;
  border: 2px solid $grey-light;
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem !important;
  padding: 0.6rem 1.125rem 0.6rem 2.6rem;

  @include govuk-media-query($from: tablet) {
    background-position: 10px 10px;
    background-size: 30px;
    line-height: 1.9rem;
    margin-bottom: 0;
    padding: 0.6rem 1.125rem 0.6rem 3.5rem;
  }

  .icon-map-pin,
  .icon-remote,
  .icon-online {
    background-size: 15px;

    @include govuk-media-query($from: tablet) {
      background-size: 19px;
    }
  }
}

.activity-list__item>* {
  margin-bottom: 0.4rem;
}

.activity-list__item--incomplete {
  background-color: $white;
  background-image: url('../images/icons/incomplete-achievement.svg');
  border: none;
}

.activity-list__item-trn-input {
  width: auto;
}

.activity-list__item-trn-optional {
  opacity: 80%;
}

.ncce-activity-list__item--dashboard {
  border-bottom: none;
  border-left: 9px solid $lime-green;
  border-radius: 5px !important;
  /* Temporary fix until curved borders are discussed */
  grid-row-gap: 0.5rem;
  grid-template-rows: auto auto !important;
  margin-bottom: 1.25rem !important;

  &:last-child {
    margin-bottom: 0;
  }

  @include govuk-media-query($from: tablet) {
    grid-row-gap: 1rem;
  }
}

.dashboard-border {
  border-left-color: $primary-cert-color;
}

.ncce-activity-list__info {
  grid-row: 2;

  div[class*=" icon-"] {
    background-size: 23px;
    padding-left: 2rem;
  }
}

.ncce-activity-list__tags {
  color: $grey-dark-x;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  font-size: 1rem;
  margin-bottom: 0;
  margin-left: 2.8rem;

  strong {
    width: fit-content;
    padding: 5px 16px;
  }
}

.dashboard-tags--subject-knowledge {
  background-color: $secondary-cert-color;
}

.dashboard-tags--primary-certificate {
  background-color: $primary-cert-color;
}

.dashboard-tags--secondary-certificate {
  background-color: $secondary-cert-color;
}

.dashboard-tags--i-belong {
  background-color: $i-belong-cert-color;
}

.ncce-activity-list__subtext {
  display: block;
  font-size: 1rem;
  margin-bottom: 0 !important;
  margin-left: 2.8rem;
  margin-top: 1rem;

  &--provider {
    display: block;
    align-items: center;
    margin-top: 0.5rem;

    img {
      padding: 0.3em;
    }

    @include govuk-media-query($from: tablet) {
      float: right;
      margin-left: 0;
      display: flex;
      margin-top: 0;

      img {
        padding: 0 0.3em;
      }
    }
  }

  &--date {
    margin-top: 0.5rem;
  }

  &--address {
    margin-top: 0.5rem;
  }
}

.ncce-activity-list__completed_badge {
  border: solid 2px #E6A614;
  padding: 2px 8px;
  font-weight: bold;
  font-size: 0.9em;
  width: 4.8rem;
  text-align: center;

  @include govuk-media-query($until: tablet) {
    margin-bottom: 0.3rem;
  }

  @include govuk-media-query($from: tablet) {
    margin-left: 1rem;
    width: auto;
  }
}
