.ncce-pathway-courses {
  background-color: $white;
  border: none;
  padding: 1.25rem 1.125rem;
}

.ncce-pathway-courses__short {
  background-color: $white;
  padding: 1px 1.125rem;
}

.ncce-pathway-courses__course {
  background: $foam;
  margin-bottom: 2px;
  padding: 2px 18px;

  &:last-child {
    margin-bottom: 20px;
  }

  &-no-last-margin {
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.ncce-pathway-courses__buttons {
  margin-top: 0.85rem;
  margin-bottom: 0;
  text-align: center;
}

.ncce-pathway-courses__location {
  font-size: 0.9375rem;
  font-weight: 700;
}

.ncce-pathway-courses__status {
  bottom: 8px;
  position: relative;
}

.ncce-pathway-courses__link {
  @include govuk-media-query($until: desktop ) {
    line-height: 1.2rem;
  }
}
