<%= content_tag :div, class: ['hero-image-component__wrapper', { "#{@class_name}": @class_name.present? }] do %>
  <div class="govuk-width-container">
    <div class="govuk-main-wrapper">
      <div class="hero-image-component white-bg">
        <div class="hero-image-component__text-wrapper">
          <h1 class="govuk-heading-xl hero-image-component__title"><%= @title %></h1>
          <p class="govuk-body-l hero-image-component__text"><%= @text.html_safe %></p>
        </div>
        <div class="hero-image-component__image">
          <%= image_pack_tag @image_url, alt: @image_title %>
        </div>
      </div>
    </div>
  </div>
<% end %>
