<div class="hero-image-component__wrapper <%= @params[:class_name] %>">
  <div class="govuk-width-container">
    <div class="govuk-main-wrapper">
      <div class="hero-image-component white-bg">
        <div class="hero-image-component__text-wrapper">
          <h1 class="govuk-heading-l hero-image-component__text-title"><%= @params[:title] %></h1>
          <p class="govuk-body-l hero-image-component__text"><%= @params[:text].html_safe %></p>
        </div>
        <div class="hero-image-component__image-wrapper">
          <%= image_pack_tag @params[:image], alt: '', class: 'hero-image-component__image' %>
        </div>
      </div>
    </div>
  </div>
</div>
