<ul class='ncce-header__certification'>
  <% @menu_items.each do | nav_item |%>
    <li class="govuk-body  ncce-header__certification-item dropdown__expander" aria-expanded="false" tabindex="0">
      <div class="ncce-header__wrap">
        <span class="ncce-header__certification-item--text"><%= nav_item[:label] %></span>
        <span class="ncce-header__certification-item--icon"></span>
      </div>
      <ul class="govuk-list govuk-body-s dropdown__expander-content">
      <% nav_item[:menu_items].each do | item |%>
        <li class="dropdown__expander-content-item"><%= link_to item[:label], item[:url], class: 'ncce-link--on-dark' %></li>
      <% end %>
      </ul>
    </li>
  <% end %>
</ul>