<p class="govuk-body"><strong>Complete all</strong> of the following activities:</p>
<p class="govuk-body"><strong>Complete one</strong> of the following activities:</p>
<ul class="govuk-list ncce-activity-list ncce-activity-list--programme" role="list">
</ul>
<p class="govuk-body"><strong>Complete one</strong> of the following activities:</p>
<ul class="govuk-list ncce-activity-list ncce-activity-list--programme" role="list">
</ul>
