<%= render 'pages/certification/hero' %>
<div class="ncce-programmes-activity">
  <div class="govuk-width-container">
    <div class="govuk-main-wrapper">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column">
          <h2 class="govuk-heading-l ncce-programmes-activity__title underlined__title">Your progress</h2>
        </div>
      </div>
      <%= render 'programmes/secondary-certificate/achievement_list' %>
    </div>
  </div>
</div>
