.ncce-csa-dash__section {
  background-color: $white;
  border-top: 1px solid $concrete;
  @include bottom-margined;
  &-padded {
    padding: 1.25rem 1.125rem;
  }
}

.ncce-csa-dash__sub-section {
  background: $foam;
  margin-bottom: 1rem;
  padding: 20px 18px 2px;
}

.ncce-csa-dash__trn {
  height: 47px;
  width: 285px;
}

.ncce-csa-dash__pathway-switcher {
  background-color: #e4f9ff;
  border: 3px solid #007fa2;
  padding: 15px;
}

.ncce-csa-dash__objective {
  align-items: flex-start;
  background-color: $white;
  border-top: 1px solid $concrete;
  display: grid;
  grid-template-rows: auto auto;
  padding: 0.5rem 1.125rem 1.125rem;
  @include govuk-media-query($from: tablet) {
    padding-bottom: 0.5rem;
  }

  @include govuk-media-query($from: tablet) {
    padding: 1.25rem 1rem;
  }
}

.ncce-csa-dash__objective-text {
  align-self: center;
  background-image: url('../images/icons/tick-blue.svg');
  background-position: left top;
  background-repeat: no-repeat;
  background-size: 1.9rem;
  font-size: 1.188rem;
  grid-column: 1;
  grid-row: 1;
  line-height: 1.9rem;
  margin-bottom: 0;
  margin-top: 3px;
  padding-left: 2.8rem;

  @include govuk-media-query($until: 640px) {
    font-size: 1rem;
    line-height: 1.2rem;
  }

  &--incomplete {
    background-image: url('../images/icons/incomplete-achievement.svg');
  }
}

.ncce-csa-dash__objective--incomplete {
  .ncce-csa-dash__objective-text {
    background-image: url('../images/icons/incomplete-achievement.svg');
  }
}
