.ncce-csa-dash__section {
  background-color: $white;
  border: none;
  margin-bottom: 30px;
  &-padded {
    padding: 1.25rem 1.125rem 1px;
  }
}

.ncce-csa-dash__sub-section {
  background: #e3f6fc;
  margin-bottom: 1rem;
  padding: 20px 18px 2px;
}

.ncce-csa-dash__trn {
  height: 47px;
  width: 285px;
}
