.ncce-pathway-prompt {
  background-color: $foam;
  border: 3px solid $deep-cerulean;
  padding: $logo-block-mobile / 2;
  @include bottom-margined;

  @include govuk-media-query($from: tablet) {
    padding: 20px 20px 0px 20px;
  }
}

.ncce-pathway-prompt--aside {
  padding: 15px 10px 10px 10px;
}

.ncce-pathway-prompt__flex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include govuk-media-query($from: tablet) {
    flex-direction: row;
  }
}
