.primary-dashboard__help-aside {
  .aside-component__text {
    line-height: 1.7rem;
  }

  .aside-component__heading {
    margin-bottom: 15px;
  }
}

.recommended-courses-wrapper_expander-button {
  font-size: 1.188rem;

  @include govuk-media-query($until: tablet) {
    font-size: 1rem;
  }
}
