.more-courses-component {
  border-top: 2px solid $grey-mid;
  margin: 0 9px;
  padding: 40px 0 20px;
  position: relative;
  text-align: center;
}

.more-courses-component__none {
  margin-top: 4px;
}
