<div class="govuk-grid-row">
	<div class="govuk-grid-column-full">
		<h3 class="govuk-heading-m">Lessons</h3>
			<ul class="govuk-list govuk-body-l govuk-!-padding-bottom-7">
        <% lessons.each do |lesson| %>
          <li class="curriculum__list--item"><%= link_to lesson.title, curriculum_key_stage_unit_lesson_path(key_stage_slug: 'example', unit_slug: '', lesson_slug: lesson.slug), class: 'govuk-link ncce-link' %></li>
        <% end %>
			</ul>
	</div>
</div>
