<div class="govuk-grid-row">
	<div class="govuk-grid-column-full">
		<p class="govuk-body-l">Lessons</p>
		<p class="govuk-body">Click on titles to view lesson</p>
			<ul class="govuk-list govuk-body-l govuk-!-padding-bottom-7">
				<li class="curriculum__list--item"><%= link_to 'Data and Information – Pictograms', '', class: 'govuk-link ncce-link' %></li>
				<li class="curriculum__list--item"><%= link_to 'Computing Systems and Networks – Information Technology Around Us', '', class: 'govuk-link ncce-link' %></li>
				<li class="curriculum__list--item"><%= link_to 'Creating Media – Digital Painting', '', class: 'govuk-link ncce-link' %></li>
				<li class="curriculum__list--item"><%= link_to 'Creating Media – Digital Writing', '', class: 'govuk-link ncce-link' %></li>
			</ul>
	</div>
</div>
