<div class="govuk-grid-row">
	<div class="govuk-grid-column-full">
		<p class="govuk-body">Click on titles to download</p>
		<div class="curriculum__tiles">
			<div class="curriculum__tile">
				<h3 class="govuk-heading govuk-!-padding-left-9"><%= link_to 'Learning graph 1', '', class: 'govuk-link ncce-link' %></h3>
			</div>
			<div class="curriculum__tile">
				<h3 class="govuk-heading govuk-!-padding-left-9"><%= link_to 'Learning graph 2', '', class: 'govuk-link ncce-link' %></h3>
			</div>
			<div class="curriculum__tile">
				<h3 class="govuk-heading govuk-!-padding-left-9"><%= link_to 'Unit overview', '', class: 'govuk-link ncce-link' %></h3>
			</div>
			<div class="curriculum__tile">
				<h3 class="govuk-heading govuk-!-padding-left-9"><%= link_to 'Unit overview', '', class: 'govuk-link ncce-link' %></h3>
			</div>
		</div>
	</div>
</div>
