<style>
  .stem_learning_logo {
    height: 125px;
  }
</style>

<div class='mailer__content'>
  <p class='govuk-body'>Congratulations <%= @user.first_name %>,</p>
  <p class='govuk-body'>You’ve been awarded a new digital badge for completing your first remote or face to face course as part of your National Centre for Computing Education (NCCE) certification journey.</p>

  <h3 class="govuk-heading-m">What are digital badges?</h3>
  <p class='govuk-body'>NCCE digital badges are awarded through a system called Credly. They are a formal record of your CPD and allow you to demonstrate your skills, expertise and commitment to personal development.</p>
  <h3 class="govuk-heading-m">How to accept and view your badge:</h3>
  <p class='govuk-body'>To accept your badge, follow these easy steps:</p>
  <ol class="govuk-list govuk-list govuk-list--number">
    <li>
      You will shortly receive an email from Credly with a link to accept your badge. If you are an existing Credly account holder, follow the link, log in and see your new badge, alongside any other badges you have already been awarded (through us or via other platforms).
      If you don’t have an account with Credly yet, click the link and create a free account.
    </li>
    <li>
      Within Credly, you can share your badge on your social media accounts, including Facebook, Twitter and LinkedIn. Go to “my account” in Credly to add your social media accounts and share your success with your network.
    </li>
    <li>Next time you go to your TeachComputing certificate dashboard for the certificate you have enrolled on, you will be able to see your new badge alongside your certificate progress.</li>
  </ol>
  <h3 class="govuk-heading-m">Not received your email from Credly?</h3>
  <p class='govuk-body'>Check that you have added <%= mail_to('admin@credly.com') %> to your Safe Sender list in your email settings.</p>
  <p class='govuk-body'>If you have any questions about your badge, contact <%= mail_to('info@teachcomputing.org') %></p>
  <p class='govuk-body'>The NCCE Team</p>
  <p class='govuk-body'>Digital badges are part of the offer from STEM Learning.</p>
</div>
  <%= image_pack_tag('media/images/logos/stem_learning_logo.svg', alt: 'stem learning logo', class: 'stem_learning_logo') %>
