<div class='mailer__content'>
  <p class='govuk-body'>Dear <%= @user.first_name %>,</p>
  <p class='govuk-body'>Congratulations! We are delighted to confirm that your community activities have been verified and you have achieved the <%= @official_programme_titles[@programme.slug.to_sym] %>.</p>
  <p class='govuk-body'>To download your certificate please follow this <%= link_to 'link', programme_certificate_url(slug: @programme.slug), class: 'govuk-link' %>. We are planning to arrange for certificates to be presented at local Computing at School Communities of Practice in the future.  When this process is confirmed, we will be in touch with full details.</p>
  <p class='govuk-body'>Congratulations on your achievement and please contact <%= mail_to 'info@teachcomputing.org' %>  if you have any questions.
</div>
