<div class='mailer__content'>
  <p class='govuk-body'>Hi <%= @user.first_name %>, we would like to congratulate you on passing <%= @programme.title %>.</p>
  <%= link_to 'Get your certificate', programme_certificate_url(slug: @programme.slug), class: 'govuk-button button' %>
</div>
